html {
	font-size:$font-size-l;
	font-family:$typo-basic;
	-ms-overflow-style:-ms-autohiding-scrollbar;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
body {
	min-width:$min-width;
	font-size:$font-size-m;
	color:$font-0;
}
h1 {
	margin:0;
}
iframe {
	border:none;
}
img,
video {
	display:block;
	max-width:100%;
	max-height:100%;
}
a {
	color:inherit;
	text-decoration:none;
}
a:hover {
    text-decoration: none;
}
fieldset {
	border:none;
	margin:0;
	padding:0
}
legend {
	display:block;
	width:100%
}
address {
	font-style:normal
}
ul {
	padding-left:1.25em
}
:focus {
	outline-color:#00c3d7;
	outline-offset:-1px;
	outline-style:solid;
	outline-width:1px
}
.set-hide-click-focus :focus {
	outline:none
}
*,
:after,
:before {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0
}
.list-reset {
	padding-left:0
}
.list-reset li {
	list-style-type:none
}
.set-full {
	width:100%
}
.scrollable {
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	-webkit-transform:translateZ(0);
	transform:translateZ(0)
}
.browser-error {
	padding:20px;
	color:#fff;
	background-color:red;
	font-size:16px;
	font-weight:700;
	text-align:center
}
.blur-up {
	-webkit-filter:blur(3px);
	filter:blur(3px);
	-webkit-transition:-webkit-filter 213ms cubic-bezier(.4,.9,.3,1);
	transition:-webkit-filter 213ms cubic-bezier(.4,.9,.3,1);
	transition:filter 213ms cubic-bezier(.4,.9,.3,1);
	transition:filter 213ms cubic-bezier(.4,.9,.3,1),-webkit-filter 213ms cubic-bezier(.4,.9,.3,1)
}
.blur-up.lazyloaded {
	-webkit-filter:blur(0);
	filter:blur(0)
}
.opacity-up {
	-webkit-transition:opacity 213ms ease-out;
	transition:opacity 213ms ease-out
}
.opacity-up.lazyload,
.opacity-up.lazyloading {
	opacity:0
}
.opacity-up.lazyloaded {
	opacity:1
}
.object-position-reset {
	-o-object-position:left top;
	object-position:left top
}
@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none) {
    source.placement {
    	display:none
    }
}
@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) {
    .none-up.lazyload,
    .none-up.lazyloading {
    	opacity:0;
    	visibility:hidden
    }
}
@media (max-width:767px) {
    .set-xs-full {
    	width:100%
    }
}
@media (min-width:768px) {
    .scrollable-small-up {
    	overflow:auto;
    	-webkit-overflow-scrolling:touch
    }
}

.row {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-left:-8px;
	margin-right:-8px
}
.col,
[class*=" col-"],
[class^=col-] {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-flex:0;
	-webkit-flex-grow:0;
	-ms-flex-positive:0;
	flex-grow:0;
	-webkit-flex-shrink:0;
	-ms-flex-negative:0;
	flex-shrink:0;
	min-height:1px;
	padding-left:8px;
	padding-right:8px
}
.flex-justify-start {
	-webkit-box-pack:start;
	-webkit-justify-content:flex-start;
	-ms-flex-pack:start;
	justify-content:flex-start
}
.flex-justify-end {
	-webkit-box-pack:end;
	-webkit-justify-content:flex-end;
	-ms-flex-pack:end;
	justify-content:flex-end
}
.flex-justify-center {
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center
}
.flex-justify-between {
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between
}
.flex-justify-around {
	-webkit-justify-content:space-around;
	-ms-flex-pack:distribute;
	justify-content:space-around
}
.flex-align-start {
	-webkit-box-align:start;
	-webkit-align-items:flex-start;
	-ms-flex-align:start;
	align-items:flex-start
}
.flex-align-end {
	-webkit-box-align:end;
	-webkit-align-items:flex-end;
	-ms-flex-align:end;
	align-items:flex-end
}
.flex-align-center {
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.flex-align-baseline {
	-webkit-box-align:baseline;
	-webkit-align-items:baseline;
	-ms-flex-align:baseline;
	align-items:baseline
}
.flex-align-stretch {
	-webkit-box-align:stretch;
	-webkit-align-items:stretch;
	-ms-flex-align:stretch;
	align-items:stretch
}
.flex-flow-row {
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-flow:row;
	-ms-flex-flow:row;
	flex-flow:row
}
.flex-flow-row-rev {
	-webkit-box-orient:horizontal;
	-webkit-box-direction:reverse;
	-webkit-flex-flow:row-reverse;
	-ms-flex-flow:row-reverse;
	flex-flow:row-reverse
}
.flex-flow-col {
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-flow:column;
	-ms-flex-flow:column;
	flex-flow:column
}
.flex-flow-col-rev {
	-webkit-box-orient:vertical;
	-webkit-box-direction:reverse;
	-webkit-flex-flow:column-reverse;
	-ms-flex-flow:column-reverse;
	flex-flow:column-reverse
}
.flex-flow-wrap {
	-webkit-flex-flow:wrap;
	-ms-flex-flow:wrap;
	flex-flow:wrap
}
.flex-flow-wrap-rev {
	-webkit-box-orient:vertical;
	-webkit-box-direction:reverse;
	-webkit-flex-flow:wrap-reverse;
	-ms-flex-flow:wrap-reverse;
	flex-flow:wrap-reverse
}
.flex-direction-row {
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row
}
.flex-direction-row-rev {
	-webkit-box-orient:horizontal;
	-webkit-box-direction:reverse;
	-webkit-flex-direction:row-reverse;
	-ms-flex-direction:row-reverse;
	flex-direction:row-reverse
}
.flex-direction-col {
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column
}
.flex-direction-col-rev {
	-webkit-box-orient:vertical;
	-webkit-box-direction:reverse;
	-webkit-flex-direction:column-reverse;
	-ms-flex-direction:column-reverse;
	flex-direction:column-reverse
}
.flex-no-gutters {
	margin-left:0;
	margin-right:0
}
.flex-no-gutters>.col,
.flex-no-gutters>[class*=col-] {
	padding-left:0;
	padding-right:0
}
.col-1 {
	-webkit-flex-basis:8.33333%;
	-ms-flex-preferred-size:8.33333%;
	flex-basis:8.33333%;
	max-width:8.33333%
}
.off-1 {
	margin-left:8.33333%
}
.off-1-half {
	margin-left:calc(4.16666% - 8px)
}
.col-2 {
	-webkit-flex-basis:16.66667%;
	-ms-flex-preferred-size:16.66667%;
	flex-basis:16.66667%;
	max-width:16.66667%
}
.off-2 {
	margin-left:16.66667%
}
.off-2-half {
	margin-left:calc(12.5% - 8px)
}
.col-3 {
	-webkit-flex-basis:25%;
	-ms-flex-preferred-size:25%;
	flex-basis:25%;
	max-width:25%
}
.off-3 {
	margin-left:25%
}
.off-3-half {
	margin-left:calc(20.83333% - 8px)
}
.col-4 {
	-webkit-flex-basis:33.33333%;
	-ms-flex-preferred-size:33.33333%;
	flex-basis:33.33333%;
	max-width:33.33333%
}
.off-4 {
	margin-left:33.33333%
}
.off-4-half {
	margin-left:calc(29.16666% - 8px)
}
.col-5 {
	-webkit-flex-basis:41.66667%;
	-ms-flex-preferred-size:41.66667%;
	flex-basis:41.66667%;
	max-width:41.66667%
}
.off-5 {
	margin-left:41.66667%
}
.off-5-half {
	margin-left:calc(37.5% - 8px)
}
.col-6 {
	-webkit-flex-basis:50%;
	-ms-flex-preferred-size:50%;
	flex-basis:50%;
	max-width:50%
}
.off-6 {
	margin-left:50%
}
.off-6-half {
	margin-left:calc(45.83333% - 8px)
}
.col-7 {
	-webkit-flex-basis:58.33333%;
	-ms-flex-preferred-size:58.33333%;
	flex-basis:58.33333%;
	max-width:58.33333%
}
.off-7 {
	margin-left:58.33333%
}
.off-7-half {
	margin-left:calc(54.16666% - 8px)
}
.col-8 {
	-webkit-flex-basis:66.66667%;
	-ms-flex-preferred-size:66.66667%;
	flex-basis:66.66667%;
	max-width:66.66667%
}
.off-8 {
	margin-left:66.66667%
}
.off-8-half {
	margin-left:calc(62.5% - 8px)
}
.col-9 {
	-webkit-flex-basis:75%;
	-ms-flex-preferred-size:75%;
	flex-basis:75%;
	max-width:75%
}
.off-9 {
	margin-left:75%
}
.off-9-half {
	margin-left:calc(70.83333% - 8px)
}
.col-10 {
	-webkit-flex-basis:83.33333%;
	-ms-flex-preferred-size:83.33333%;
	flex-basis:83.33333%;
	max-width:83.33333%
}
.off-10 {
	margin-left:83.33333%
}
.off-10-half {
	margin-left:calc(79.16666% - 8px)
}
.col-11 {
	-webkit-flex-basis:91.66667%;
	-ms-flex-preferred-size:91.66667%;
	flex-basis:91.66667%;
	max-width:91.66667%
}
.off-11 {
	margin-left:91.66667%
}
.off-11-half {
	margin-left:calc(87.5% - 8px)
}
.col-12 {
	-webkit-flex-basis:100%;
	-ms-flex-preferred-size:100%;
	flex-basis:100%;
	max-width:100%
}
.off-reset {
	margin-left:0
}
.col {
	-webkit-box-flex:1;
	-webkit-flex-grow:1;
	-ms-flex-positive:1;
	flex-grow:1;
	-webkit-flex-basis:0;
	-ms-flex-preferred-size:0;
	flex-basis:0;
	max-width:100%
}

@media only screen and (min-width:480px) {
    .col-sm-1 {
        -webkit-flex-basis:8.33333%;
        -ms-flex-preferred-size:8.33333%;
        flex-basis:8.33333%;
        max-width:8.33333%
    }
    .off-sm-1 {
        margin-left:8.33333%
    }
    .off-sm-1-half {
        margin-left:calc(4.16666% - 8px)
    }
    .col-sm-2 {
        -webkit-flex-basis:16.66667%;
        -ms-flex-preferred-size:16.66667%;
        flex-basis:16.66667%;
        max-width:16.66667%
    }
    .off-sm-2 {
        margin-left:16.66667%
    }
    .off-sm-2-half {
        margin-left:calc(12.5% - 8px)
    }
    .col-sm-3 {
        -webkit-flex-basis:25%;
        -ms-flex-preferred-size:25%;
        flex-basis:25%;
        max-width:25%
    }
    .off-sm-3 {
        margin-left:25%
    }
    .off-sm-3-half {
        margin-left:calc(20.83333% - 8px)
    }
    .col-sm-4 {
        -webkit-flex-basis:33.33333%;
        -ms-flex-preferred-size:33.33333%;
        flex-basis:33.33333%;
        max-width:33.33333%
    }
    .off-sm-4 {
        margin-left:33.33333%
    }
    .off-sm-4-half {
        margin-left:calc(29.16666% - 8px)
    }
    .col-sm-5 {
        -webkit-flex-basis:41.66667%;
        -ms-flex-preferred-size:41.66667%;
        flex-basis:41.66667%;
        max-width:41.66667%
    }
    .off-sm-5 {
        margin-left:41.66667%
    }
    .off-sm-5-half {
        margin-left:calc(37.5% - 8px)
    }
    .col-sm-6 {
        -webkit-flex-basis:50%;
        -ms-flex-preferred-size:50%;
        flex-basis:50%;
        max-width:50%
    }
    .off-sm-6 {
        margin-left:50%
    }
    .off-sm-6-half {
        margin-left:calc(45.83333% - 8px)
    }
    .col-sm-7 {
        -webkit-flex-basis:58.33333%;
        -ms-flex-preferred-size:58.33333%;
        flex-basis:58.33333%;
        max-width:58.33333%
    }
    .off-sm-7 {
        margin-left:58.33333%
    }
    .off-sm-7-half {
        margin-left:calc(54.16666% - 8px)
    }
    .col-sm-8 {
        -webkit-flex-basis:66.66667%;
        -ms-flex-preferred-size:66.66667%;
        flex-basis:66.66667%;
        max-width:66.66667%
    }
    .off-sm-8 {
        margin-left:66.66667%
    }
    .off-sm-8-half {
        margin-left:calc(62.5% - 8px)
    }
    .col-sm-9 {
        -webkit-flex-basis:75%;
        -ms-flex-preferred-size:75%;
        flex-basis:75%;
        max-width:75%
    }
    .off-sm-9 {
        margin-left:75%
    }
    .off-sm-9-half {
        margin-left:calc(70.83333% - 8px)
    }
    .col-sm-10 {
        -webkit-flex-basis:83.33333%;
        -ms-flex-preferred-size:83.33333%;
        flex-basis:83.33333%;
        max-width:83.33333%
    }
    .off-sm-10 {
        margin-left:83.33333%
    }
    .off-sm-10-half {
        margin-left:calc(79.16666% - 8px)
    }
    .col-sm-11 {
        -webkit-flex-basis:91.66667%;
        -ms-flex-preferred-size:91.66667%;
        flex-basis:91.66667%;
        max-width:91.66667%
    }
    .off-sm-11 {
        margin-left:91.66667%
    }
    .off-sm-11-half {
        margin-left:calc(87.5% - 8px)
    }
    .col-sm-12 {
        -webkit-flex-basis:100%;
        -ms-flex-preferred-size:100%;
        flex-basis:100%;
        max-width:100%
    }
    .off-sm-reset {
        margin-left:0
    }
    .col-sm {
        -webkit-box-flex:1;
        -webkit-flex-grow:1;
        -ms-flex-positive:1;
        flex-grow:1;
        -webkit-flex-basis:0;
        -ms-flex-preferred-size:0;
        flex-basis:0;
        max-width:100%
    }
}
@media only screen and (min-width:768px) {
    .col-md-1 {
        -webkit-flex-basis:8.33333%;
        -ms-flex-preferred-size:8.33333%;
        flex-basis:8.33333%;
        max-width:8.33333%
    }
    .off-md-1 {
        margin-left:8.33333%
    }
    .off-md-1-half {
        margin-left:calc(4.16666% - 8px)
    }
    .col-md-2 {
        -webkit-flex-basis:16.66667%;
        -ms-flex-preferred-size:16.66667%;
        flex-basis:16.66667%;
        max-width:16.66667%
    }
    .off-md-2 {
        margin-left:16.66667%
    }
    .off-md-2-half {
        margin-left:calc(12.5% - 8px)
    }
    .col-md-3 {
        -webkit-flex-basis:25%;
        -ms-flex-preferred-size:25%;
        flex-basis:25%;
        max-width:25%
    }
    .off-md-3 {
        margin-left:25%
    }
    .off-md-3-half {
        margin-left:calc(20.83333% - 8px)
    }
    .col-md-4 {
        -webkit-flex-basis:33.33333%;
        -ms-flex-preferred-size:33.33333%;
        flex-basis:33.33333%;
        max-width:33.33333%
    }
    .off-md-4 {
        margin-left:33.33333%
    }
    .off-md-4-half {
        margin-left:calc(29.16666% - 8px)
    }
    .col-md-5 {
        -webkit-flex-basis:41.66667%;
        -ms-flex-preferred-size:41.66667%;
        flex-basis:41.66667%;
        max-width:41.66667%
    }
    .off-md-5 {
        margin-left:41.66667%
    }
    .off-md-5-half {
        margin-left:calc(37.5% - 8px)
    }
    .col-md-6 {
        -webkit-flex-basis:50%;
        -ms-flex-preferred-size:50%;
        flex-basis:50%;
        max-width:50%
    }
    .off-md-6 {
        margin-left:50%
    }
    .off-md-6-half {
        margin-left:calc(45.83333% - 8px)
    }
    .col-md-7 {
        -webkit-flex-basis:58.33333%;
        -ms-flex-preferred-size:58.33333%;
        flex-basis:58.33333%;
        max-width:58.33333%
    }
    .off-md-7 {
        margin-left:58.33333%
    }
    .off-md-7-half {
        margin-left:calc(54.16666% - 8px)
    }
    .col-md-8 {
        -webkit-flex-basis:66.66667%;
        -ms-flex-preferred-size:66.66667%;
        flex-basis:66.66667%;
        max-width:66.66667%
    }
    .off-md-8 {
        margin-left:66.66667%
    }
    .off-md-8-half {
        margin-left:calc(62.5% - 8px)
    }
    .col-md-9 {
        -webkit-flex-basis:75%;
        -ms-flex-preferred-size:75%;
        flex-basis:75%;
        max-width:75%
    }
    .off-md-9 {
        margin-left:75%
    }
    .off-md-9-half {
        margin-left:calc(70.83333% - 8px)
    }
    .col-md-10 {
        -webkit-flex-basis:83.33333%;
        -ms-flex-preferred-size:83.33333%;
        flex-basis:83.33333%;
        max-width:83.33333%
    }
    .off-md-10 {
        margin-left:83.33333%
    }
    .off-md-10-half {
        margin-left:calc(79.16666% - 8px)
    }
    .col-md-11 {
        -webkit-flex-basis:91.66667%;
        -ms-flex-preferred-size:91.66667%;
        flex-basis:91.66667%;
        max-width:91.66667%
    }
    .off-md-11 {
        margin-left:91.66667%
    }
    .off-md-11-half {
        margin-left:calc(87.5% - 8px)
    }
    .col-md-12 {
        -webkit-flex-basis:100%;
        -ms-flex-preferred-size:100%;
        flex-basis:100%;
        max-width:100%
    }
    .off-md-reset {
        margin-left:0
    }
    .col-md {
        -webkit-box-flex:1;
        -webkit-flex-grow:1;
        -ms-flex-positive:1;
        flex-grow:1;
        -webkit-flex-basis:0;
        -ms-flex-preferred-size:0;
        flex-basis:0;
        max-width:100%
    }
}
@media only screen and (min-width:1025px) {
    .col-lg-1 {
        -webkit-flex-basis:8.33333%;
        -ms-flex-preferred-size:8.33333%;
        flex-basis:8.33333%;
        max-width:8.33333%
    }
    .off-lg-1 {
        margin-left:8.33333%
    }
    .off-lg-1-half {
        margin-left:calc(4.16666% - 8px)
    }
    .col-lg-2 {
        -webkit-flex-basis:16.66667%;
        -ms-flex-preferred-size:16.66667%;
        flex-basis:16.66667%;
        max-width:16.66667%
    }
    .off-lg-2 {
        margin-left:16.66667%
    }
    .off-lg-2-half {
        margin-left:calc(12.5% - 8px)
    }
    .col-lg-3 {
        -webkit-flex-basis:25%;
        -ms-flex-preferred-size:25%;
        flex-basis:25%;
        max-width:25%
    }
    .off-lg-3 {
        margin-left:25%
    }
    .off-lg-3-half {
        margin-left:calc(20.83333% - 8px)
    }
    .col-lg-4 {
        -webkit-flex-basis:33.33333%;
        -ms-flex-preferred-size:33.33333%;
        flex-basis:33.33333%;
        max-width:33.33333%
    }
    .off-lg-4 {
        margin-left:33.33333%
    }
    .off-lg-4-half {
        margin-left:calc(29.16666% - 8px)
    }
    .col-lg-5 {
        -webkit-flex-basis:41.66667%;
        -ms-flex-preferred-size:41.66667%;
        flex-basis:41.66667%;
        max-width:41.66667%
    }
    .off-lg-5 {
        margin-left:41.66667%
    }
    .off-lg-5-half {
        margin-left:calc(37.5% - 8px)
    }
    .col-lg-6 {
        -webkit-flex-basis:50%;
        -ms-flex-preferred-size:50%;
        flex-basis:50%;
        max-width:50%
    }
    .off-lg-6 {
        margin-left:50%
    }
    .off-lg-6-half {
        margin-left:calc(45.83333% - 8px)
    }
    .col-lg-7 {
        -webkit-flex-basis:58.33333%;
        -ms-flex-preferred-size:58.33333%;
        flex-basis:58.33333%;
        max-width:58.33333%
    }
    .off-lg-7 {
        margin-left:58.33333%
    }
    .off-lg-7-half {
        margin-left:calc(54.16666% - 8px)
    }
    .col-lg-8 {
        -webkit-flex-basis:66.66667%;
        -ms-flex-preferred-size:66.66667%;
        flex-basis:66.66667%;
        max-width:66.66667%
    }
    .off-lg-8 {
        margin-left:66.66667%
    }
    .off-lg-8-half {
        margin-left:calc(62.5% - 8px)
    }
    .col-lg-9 {
        -webkit-flex-basis:75%;
        -ms-flex-preferred-size:75%;
        flex-basis:75%;
        max-width:75%
    }
    .off-lg-9 {
        margin-left:75%
    }
    .off-lg-9-half {
        margin-left:calc(70.83333% - 8px)
    }
    .col-lg-10 {
        -webkit-flex-basis:83.33333%;
        -ms-flex-preferred-size:83.33333%;
        flex-basis:83.33333%;
        max-width:83.33333%
    }
    .off-lg-10 {
        margin-left:83.33333%
    }
    .off-lg-10-half {
        margin-left:calc(79.16666% - 8px)
    }
    .col-lg-11 {
        -webkit-flex-basis:91.66667%;
        -ms-flex-preferred-size:91.66667%;
        flex-basis:91.66667%;
        max-width:91.66667%
    }
    .off-lg-11 {
        margin-left:91.66667%
    }
    .off-lg-11-half {
        margin-left:calc(87.5% - 8px)
    }
    .col-lg-12 {
        -webkit-flex-basis:100%;
        -ms-flex-preferred-size:100%;
        flex-basis:100%;
        max-width:100%
    }
    .off-lg-reset {
        margin-left:0
    }
    .col-lg {
        -webkit-box-flex:1;
        -webkit-flex-grow:1;
        -ms-flex-positive:1;
        flex-grow:1;
        -webkit-flex-basis:0;
        -ms-flex-preferred-size:0;
        flex-basis:0;
        max-width:100%
    }
}
@media only screen and (min-width:1241px) {
    .col-xl-1 {
        -webkit-flex-basis:8.33333%;
        -ms-flex-preferred-size:8.33333%;
        flex-basis:8.33333%;
        max-width:8.33333%
    }
    .off-xl-1 {
        margin-left:8.33333%
    }
    .off-xl-1-half {
        margin-left:calc(4.16666% - 8px)
    }
    .col-xl-2 {
        -webkit-flex-basis:16.66667%;
        -ms-flex-preferred-size:16.66667%;
        flex-basis:16.66667%;
        max-width:16.66667%
    }
    .off-xl-2 {
        margin-left:16.66667%
    }
    .off-xl-2-half {
        margin-left:calc(12.5% - 8px)
    }
    .col-xl-3 {
        -webkit-flex-basis:25%;
        -ms-flex-preferred-size:25%;
        flex-basis:25%;
        max-width:25%
    }
    .off-xl-3 {
        margin-left:25%
    }
    .off-xl-3-half {
        margin-left:calc(20.83333% - 8px)
    }
    .col-xl-4 {
        -webkit-flex-basis:33.33333%;
        -ms-flex-preferred-size:33.33333%;
        flex-basis:33.33333%;
        max-width:33.33333%
    }
    .off-xl-4 {
        margin-left:33.33333%
    }
    .off-xl-4-half {
        margin-left:calc(29.16666% - 8px)
    }
    .col-xl-5 {
        -webkit-flex-basis:41.66667%;
        -ms-flex-preferred-size:41.66667%;
        flex-basis:41.66667%;
        max-width:41.66667%
    }
    .off-xl-5 {
        margin-left:41.66667%
    }
    .off-xl-5-half {
        margin-left:calc(37.5% - 8px)
    }
    .col-xl-6 {
        -webkit-flex-basis:50%;
        -ms-flex-preferred-size:50%;
        flex-basis:50%;
        max-width:50%
    }
    .off-xl-6 {
        margin-left:50%
    }
    .off-xl-6-half {
        margin-left:calc(45.83333% - 8px)
    }
    .col-xl-7 {
        -webkit-flex-basis:58.33333%;
        -ms-flex-preferred-size:58.33333%;
        flex-basis:58.33333%;
        max-width:58.33333%
    }
    .off-xl-7 {
        margin-left:58.33333%
    }
    .off-xl-7-half {
        margin-left:calc(54.16666% - 8px)
    }
    .col-xl-8 {
        -webkit-flex-basis:66.66667%;
        -ms-flex-preferred-size:66.66667%;
        flex-basis:66.66667%;
        max-width:66.66667%
    }
    .off-xl-8 {
        margin-left:66.66667%
    }
    .off-xl-8-half {
        margin-left:calc(62.5% - 8px)
    }
    .col-xl-9 {
        -webkit-flex-basis:75%;
        -ms-flex-preferred-size:75%;
        flex-basis:75%;
        max-width:75%
    }
    .off-xl-9 {
        margin-left:75%
    }
    .off-xl-9-half {
        margin-left:calc(70.83333% - 8px)
    }
    .col-xl-10 {
        -webkit-flex-basis:83.33333%;
        -ms-flex-preferred-size:83.33333%;
        flex-basis:83.33333%;
        max-width:83.33333%
    }
    .off-xl-10 {
        margin-left:83.33333%
    }
    .off-xl-10-half {
        margin-left:calc(79.16666% - 8px)
    }
    .col-xl-11 {
        -webkit-flex-basis:91.66667%;
        -ms-flex-preferred-size:91.66667%;
        flex-basis:91.66667%;
        max-width:91.66667%
    }
    .off-xl-11 {
        margin-left:91.66667%
    }
    .off-xl-11-half {
        margin-left:calc(87.5% - 8px)
    }
    .col-xl-12 {
        -webkit-flex-basis:100%;
        -ms-flex-preferred-size:100%;
        flex-basis:100%;
        max-width:100%
    }
    .off-xl-reset {
        margin-left:0
    }
    .col-xl {
        -webkit-box-flex:1;
        -webkit-flex-grow:1;
        -ms-flex-positive:1;
        flex-grow:1;
        -webkit-flex-basis:0;
        -ms-flex-preferred-size:0;
        flex-basis:0;
        max-width:100%
    }
}

.fix-overflow>* {
	max-width:100%
}
.flex-flow-nowrap {
	-webkit-flex-wrap:nowrap;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap
}
[class*=col-]>* {
	-webkit-flex-shrink:0;
	-ms-flex-negative:0;
	flex-shrink:0
}
.flex {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex
}
.flex-inline {
	display:-webkit-inline-box;
	display:-webkit-inline-flex;
	display:-ms-inline-flexbox;
	display:inline-flex
}
.flex-grow-1 {
	-webkit-box-flex:1;
	-webkit-flex-grow:1;
	-ms-flex-positive:1;
	flex-grow:1
}
.order-0 {
	-webkit-box-ordinal-group:1;
	-webkit-order:0;
	-ms-flex-order:0;
	order:0
}
.order-1 {
	-webkit-box-ordinal-group:2;
	-webkit-order:1;
	-ms-flex-order:1;
	order:1
}
.order-2 {
	-webkit-box-ordinal-group:3;
	-webkit-order:2;
	-ms-flex-order:2;
	order:2
}
.order-3 {
	-webkit-box-ordinal-group:4;
	-webkit-order:3;
	-ms-flex-order:3;
	order:3
}
.order-4 {
	-webkit-box-ordinal-group:5;
	-webkit-order:4;
	-ms-flex-order:4;
	order:4
}
.order-5 {
	-webkit-box-ordinal-group:6;
	-webkit-order:5;
	-ms-flex-order:5;
	order:5
}
.order-6 {
	-webkit-box-ordinal-group:7;
	-webkit-order:6;
	-ms-flex-order:6;
	order:6
}
.order-7 {
	-webkit-box-ordinal-group:8;
	-webkit-order:7;
	-ms-flex-order:7;
	order:7
}
.order-8 {
	-webkit-box-ordinal-group:9;
	-webkit-order:8;
	-ms-flex-order:8;
	order:8
}
.order-9 {
	-webkit-box-ordinal-group:10;
	-webkit-order:9;
	-ms-flex-order:9;
	order:9
}
.order-10 {
	-webkit-box-ordinal-group:11;
	-webkit-order:10;
	-ms-flex-order:10;
	order:10
}
@media (min-width:1025px) {
	.col-double-gutter-right {
    	padding-right:24px
    }
	.col-double-gutter-left {
    	padding-left:24px
    }
}
@media (max-width:767px) {
	.order-sm-0 {
    	-webkit-box-ordinal-group:1;
    	-webkit-order:0;
    	-ms-flex-order:0;
    	order:0
    }
	.order-sm-1 {
    	-webkit-box-ordinal-group:2;
    	-webkit-order:1;
    	-ms-flex-order:1;
    	order:1
    }
	.order-sm-2 {
	    -webkit-box-ordinal-group:3;
	    -webkit-order:2;
	    -ms-flex-order:2;
	    order:2
    }
	.order-sm-3 {
	    -webkit-box-ordinal-group:4;
	    -webkit-order:3;
	    -ms-flex-order:3;
	    order:3
    }
	.order-sm-4 {
    	-webkit-box-ordinal-group:5;
    	-webkit-order:4;
    	-ms-flex-order:4;
    	order:4
    }
	.order-sm-5 {
    	-webkit-box-ordinal-group:6;
    	-webkit-order:5;
    	-ms-flex-order:5;
    	order:5
    }
	.order-sm-6 {
	    -webkit-box-ordinal-group:7;
	    -webkit-order:6;
	    -ms-flex-order:6;
	    order:6
    }
	.order-sm-7 {
	    -webkit-box-ordinal-group:8;
	    -webkit-order:7;
	    -ms-flex-order:7;
	    order:7
    }
	.order-sm-8 {
	    -webkit-box-ordinal-group:9;
	    -webkit-order:8;
	    -ms-flex-order:8;
	    order:8
    }
	.order-sm-9 {
	    -webkit-box-ordinal-group:10;
	    -webkit-order:9;
	    -ms-flex-order:9;
	    order:9
    }
	.order-sm-10 {
    	-webkit-box-ordinal-group:11;
    	-webkit-order:10;
    	-ms-flex-order:10;
    	order:10
    }
}

.hidden {
	display:none!important
}
.visually-hidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px
}
.set-visible {
	opacity:1;
	visibility:inherit
}
.set-invisible {
	opacity:0;
	visibility:hidden
}
.set-no-opacity {
	opacity:0
}
.pointer-none {
	pointer-events:none
}
@media (min-width:768px) {
    .display-small-only {
    	display:none!important
    }
}
@media (min-width:1025px) {
    .display-medium-down,
    .display-medium-only {
	    display:none!important
    }
}
@media (max-width:1024px) {
    .display-medium-up {
	    display:none!important
    }
}
@media (max-width:767px) {
    .display-medium-only,.display-small-up {
    	display:none!important
    }
}



.icon{
	display:inline-block;
	width:1em;
	height:1em;
	fill:currentColor
}
.icon-small{
	width:8px;
	height:8px
}
.icon-medium{
	width:18px;
	height:18px
}
.icon-large{
	width:40px;
	height:40px
}
.icon svg{
	width:100%;
	height:100%;
	fill:inherit
}
.icon-rotate-h{
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1)
}
.icon-rotate-up{
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg)
}
.icon-rotate-down{
	-webkit-transform:rotate(-90deg);
	transform:rotate(-90deg)
}
.icon-set-left{
	margin-right:.6em
}
.icon-set-left-short{
	margin-right:.35em
}
.icon-inline-text{
	display:inline-block;
	position:relative;
	height:.75em;
	width:2em
}
.icon-inline-text svg{
	top:0;
	left:0;
	position:absolute;
	width:100%;
	height:100%
}
.icon-inline-cta{
	position:relative;
	top:.125em;
	display:inline-block;
	width:1.125em;
	height:14px;
	fill:currentColor
}
.icon-quickview-custom-icon{
	position:relative;
	top:.25em;
	width:1.25em;
	height:1.25em;
	left:.0625em;
	margin-right:.75em
}
.icon-instagram-cta{
	position:relative;
	top:.35em;
	right:.4em;
	width:1.25em;
	height:1.25em
}
.icon-instagram-cta svg{
	fill:currentColor;
	position:relative
}
.icon-spatial-tag-pin{
	top:4px;
	left:5px;
	width:16px;
	height:16px
}
.icon-spatial-tag-pin,
.icon-spatial-tag-pin-close{
	pointer-events:none;
	position:absolute;
	fill:currentColor
}
.icon-spatial-tag-pin-close{
	top:7px;
	left:7px;
	width:12px;
	height:12px
}
.icon-video-playback{
	width:44px;
	height:44px;
	fill:currentColor
}
.icon-inline-play-cta{
	display:inline-block;
	position:relative;
	top:-1px;
	left:2px;
	width:14px;
	height:14px;
	fill:currentColor
}
.icon-spinner{
	display:block;
	position:relative;
	width:20px;
	height:20px;
	border:1px solid;
	border-bottom:1px solid #e5e5e5;
	border-radius:50%;
	-webkit-animation-name:loading-spin;
	animation-name:loading-spin;
	-webkit-animation-direction:normal;
	animation-direction:normal;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-duration:1s;
	animation-duration:1s
}
.icon-badge image{
	height:100%
}
@-webkit-keyframes loading-spin{
	0%{
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg)
    }
    to{
        -webkit-transform:rotate(415deg);
        transform:rotate(415deg)
    }
}
@keyframes loading-spin{
	0%{
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg)
    }
    to{
        -webkit-transform:rotate(415deg);
        transform:rotate(415deg)
    }
}

button{
	background-color:transparent;
	border:none;
	border-radius:0;
	color:inherit;
	cursor:pointer;
	font:inherit
}
.button{
	display:inline-block;
	padding-left:16px;
	padding-right:16px;
	border:1px solid;
	font-size:$font-size-m;
	font-weight:600;
	text-align:center;
	-webkit-transition:opacity 426ms cubic-bezier(.4,.9,.3,1),color 426ms cubic-bezier(.4,.9,.3,1),border-color 426ms cubic-bezier(.4,.9,.3,1),background-color 426ms cubic-bezier(.4,.9,.3,1);
	transition:opacity 426ms cubic-bezier(.4,.9,.3,1),color 426ms cubic-bezier(.4,.9,.3,1),border-color 426ms cubic-bezier(.4,.9,.3,1),background-color 426ms cubic-bezier(.4,.9,.3,1)
}
.button:hover:not([disabled]):not(.disabled){
    opacity:.65
}
.button.disabled,.button[disabled]{
	background-color:#e5e5e5;
	border-color:#e5e5e5;
	color:#9b9b9b;
	cursor:not-allowed
}

/*
	uikit 확장 클래스
*/

/* uk-grid */

/*
 * mini gutter
 */
/* Horizontal */

$grid-gutter-mini-horizontal:                   5px !default;
$grid-gutter-mini-vertical:                     5px !default;

/* Horizontal */
.uk-grid-mini { margin-left: -$grid-gutter-mini-horizontal; }
.uk-grid-mini > * { padding-left: $grid-gutter-mini-horizontal; }

/* Vertical co.uk-grid-mini + .uk-grid-mini,
.uk-grid-mini > .uk-grid-margin,
.uk-grid-mini > * > .uk-panel + .uk-panel { margin-top: $grid-gutter-mini-vertical; }


.uk-modal-page {
	body {height:auto;}
}

/* Margin
 ========================================================================== */

$utility-margin-mini:                            5px !default;
$utility-margin-xlarge:                          70px !default;

/*
 * Mini margins
 */
.uk-margin-mini { margin-bottom: $utility-margin-mini; }
* + .uk-margin-mini { margin-top: $utility-margin-mini; }

.uk-margin-mini-top { margin-top: $utility-margin-mini !important; }
.uk-margin-mini-bottom { margin-bottom: $utility-margin-mini !important; }
.uk-margin-mini-left { margin-left: $utility-margin-mini !important; }
.uk-margin-mini-right { margin-right: $utility-margin-mini !important; }


/*
 *  xlarge margins
 */
.uk-margin-xlarge { margin-bottom: $utility-margin-xlarge; }
* + .uk-margin-xlarge { margin-top: $utility-margin-xlarge; }

.uk-margin-xlarge-top { margin-top: $utility-margin-xlarge !important; }
.uk-margin-xlarge-bottom { margin-bottom: $utility-margin-xlarge !important; }
.uk-margin-xlarge-left { margin-left: $utility-margin-xlarge !important; }
.uk-margin-xlarge-right { margin-right: $utility-margin-xlarge !important; }



/* uk-accordion */
.uk-accordion{
	/* 여백 없는 타입 */
	&.uk-accordion-collapse{
		border: 1px solid $border-2;
		font-size: 12px;

		.uk-accordion-title{
			margin-bottom: 0px;
			padding: 10px 15px;
			border-top:1px solid $border-2;
			background-color: $bg-1;
			&:first-child {border-top:none;}
			&.uk-active{
				background-color: $primary-color;
				> * { font-weight: bold; color: $font-6; }
			}
		}
		.uk-accordion-content{
			background-color: $bg-2;
			padding:15px;
		}
	}
}

/* 처음에 content가 노출되었다가 없어지는 상황때문에 처리 */
.uk-accordion-content{
	opacity:0; filter:alpha(opacity=0);
	&.uk-active{
		opacity:1; filter:alpha(opacity=1);
	}
}

.uk-dropdown{
	&.uk-datepicker{
		background-color: $bg-1;
		color: $font-2;

		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;

		border: 1px solid $border-2;
		moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);
		-webkit-box-shadow: 0 0px 5px rgba(0,0,0,.1);
		box-shadow: 0 2px 5px rgba(0,0,0,.1);

		.uk-form-select {
		    display: inline-block;
		    vertical-align: middle;
		    position: relative;
		    overflow: hidden;
		}

		.uk-datepicker-heading{
			.uk-form-select{
				>select{
					position: absolute;
					top: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
					opacity: 0;
					cursor: pointer;
					left: 0;
					-webkit-appearance: none;
				}
			}
		}
	}
}

.uk-modal-dialog-large {width:960px;}
.uk-modal-dialog-small {max-width:500px;}
.uk-modal-dialog{
	transition: opacity .3s linear,transform .3s ease-out;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);

	// modal.alert으로 띄운 팝업
	.uk-modal-content{
		line-height: 1.6;
	}
	//전체 여백 없는 타입
	&.none-padding{
		padding:0px;
		> .uk-close:first-child{
			margin:10px 10px 0 0;
		}
		.uk-modal-header{
			padding-top:15px;
			text-align: center;
		}

	}
	.panel-box{
		border:1px solid $border-1;
		font-size: $font-size-s;
		background-color: $bg-2;
		padding:12px 20px;
	}
	.container{
		padding:12px 20px;
	}

	.option-wrap{
		dl{
			dt{
				color: $font-3;
				font-size: $font-size-s;
			}
			dd{
				color: $font-1;
				font-size: $font-size-s;
			}
		}
		&.horizontal{
			dl{
				clear:both;
				dt{
					float:left;
					line-height: 20px;
					min-width: 70px;
					margin-bottom: 5px;
				}
				dd{
					line-height: 20px;
					margin-left:70px;
				}
			}
		}
	}
}

/* loading */
.loading {
  display: none;
  position: fixed;
  top: -99999px;
  left: -99999px;
  text-indent: -9999;
  width: 0;
  height: 0;
  z-index: 9000;
}

.loading.open {
  display: block;
  top: 0;
  left: 0;
  text-indenet: 0;
  width: 100%;
  height: 100%;
}

.loading .contents {
  width: 250px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -125px;
  padding-top: 20px;
  text-align: center;
  background-color: #ffffff;
}

.loading .dim {
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  display: block;
}

.loading .comment {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

/*
	공통 class
*/
.scroll-box {overflow-y:scroll; height:110px; padding:15px 8px; border:1px solid $border-3; }
.text-align-center {text-align: center;}
/*
	notify
*/

.uk-notify {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 1040;
	box-sizing: border-box;
	width: 700px;
}

.uk-notify-bottom-center, .uk-notify-top-center {
	left: 50%;
	margin-left: -350px;
}

.uk-notify-message {
	position: relative;
	margin-bottom: 10px;
	padding: 15px;
	background: $bg-2;
	color: $font-2;
	font-size: 14px;
	line-height: 22px;
	cursor: pointer;
	border: 0;
	border-radius: 0;
	text-align:center;

	> .uk-close {
		//visibility:hidden;
		float:right;
	}
}

.uk-notify-message-success {
	background: $message_success-bg;
	color: $message_success-color;
	// border-color:rgba(101,159,19,.3);
}

.uk-notify-message-warning {
	background: $message_warning-bg;
	color: $message_warning-color;
	// border-color:rgba(226,131,39,.3);
}

.uk-notify-message-danger{
	background: $message_danger-bg;
	color: $message_danger-color;
	// border-color:rgba(216,80,48,.3);
}


.uk-panel{
	&.uk-panel-box{
		border:1px solid $border-1;
	}
}


/*

	progress

*/

.uk-progress {
	display:none;
	box-sizing: border-box;
	height: 20px;
	margin-top:5px;
	margin-bottom: 15px;
	background: $bg-2;
	overflow: hidden;
	line-height: 20px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.07), inset 0 2px 2px rgba(0,0,0,.07);
	border-radius: 4px;
}


.uk-progress-bar {
	width: 0;
	height: 100%;
	background: #009dd8;
	float: left;
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	font-size: 12px;
	color: $font-6;
	text-align: center;
	background-image: -webkit-linear-gradient(top,#00b4f5,#008dc5);
	background-image: linear-gradient(to bottom,#00b4f5,#008dc5);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.2), inset 0 0 0 1px rgba(0,0,0,.1);
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}


/* lightbox arrow btn */
.uk-slidenav {
	/* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height:1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* font-size */
    &.xsmall {font-size:12px;}
    &.small {font-size:14px;}
    &.medium {font-size:20px;}
    &.large {font-size:28px;}
    &.xlarge {font-size:40px;}
    &.x2large {font-size:86px;}

    /* size */
    &.color-less {color: $font-5;}

	position:absolute;
	top:50%;
	font-size:30px;
}
.uk-slidenav-previous {
	left:10px;
	&:before {
		display: block;
		content: "\e902";
	}
}
.uk-slidenav-next {
	right:10px;
	&:before {
		display: block;
		content: "\e903";
	}
}
