button {
	font: inherit;
	color: $color_1;
	border-radius: 0;
	border: none;
	background-color: $bg-transparent;
	cursor: pointer;
	font-family: $typo-basic;
}
.button {
	display: inline-block;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	border: 1px solid;
	-webkit-transition: opacity 426ms cubic-bezier(.4,.9,.3,1),color 426ms cubic-bezier(.4,.9,.3,1),border-color 426ms cubic-bezier(.4,.9,.3,1),background-color 426ms cubic-bezier(.4,.9,.3,1);
	transition: opacity 426ms cubic-bezier(.4,.9,.3,1),color 426ms cubic-bezier(.4,.9,.3,1),border-color 426ms cubic-bezier(.4,.9,.3,1),background-color 426ms cubic-bezier(.4,.9,.3,1);
	&:hover {
		&:not([disabled]) {
			&:not(.disabled) {
				opacity: .65;
			}
		}
	}
  &.disabled {
    color: $font-1;
    border-color: $border-1;
    background-color: $bg-2;
    cursor: not-allowed;
  }
  &[disabled] {
    color: $font-1;
    border-color: $border-1;
    background-color: $bg-2;
    cursor: not-allowed;
  }
}
.button-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.button-primary {
	color: $font-7;
	border-color: $border-6;
	background-color: $bg-dimmed;
	&:hover {
		&:not([disabled]) {
			&:not(.disabled) {
				color: $font-0;
				background-color: $bg-1;
				opacity: 1;
			}
		}
	}
	.button-icon-right-icon-light {
		border-color: $border-8;
	}
}
.button-primary-alt {
	color: $font-0;
	border-color: $border-7;
	background-color: $bg-1;
	&:hover {
		&:not([disabled]) {
			&:not(.disabled) {
				color: $font-7;
				border-color: $border-6;
				background-color: $bg-dimmed;
				opacity: 1;
			}
		}
		.button-icon-right-icon-light {
			border-color: $border-8;
		}
	}
}
.button-secondary {
	color: $font-0;
	&:hover {
		&:not([disabled]) {
			&:not(.disabled) {
				color: $font-7;
				border-color: $border-6;
				background-color: $bg-dimmed;
				opacity: 1;
			}
		}
	}
}
.button-tertiary {
	border-color: $border-1;
	&:hover {
		&:not([disabled]) {
			&:not(.disabled) {
				color: $font-7;
				border-color: $border-6;
				background-color: $bg-dimmed;
				opacity: 1;
			}
		}
	}
}
.button-secondary-alt {
	&:hover {
		&:not([disabled]) {
			&:not(.disabled) {
				color: $font-7;
				border-color: $border-6;
				background-color: $bg-dimmed;
				opacity: 1;
			}
		}
	}
}
.button-fluid-cta {
	padding: 16px;
	font-size: 18px;
}
.button-wide-cta {
	padding: 12px 43px;
	font-size: 18px;
  &.button-width-cta-full {
    max-width: 424px;
    width: 100%;
  }
  &.button-width-cta-full-no-max {
    width: 100%;
  }
}
.button-icon-right {
	position: relative;
	padding-right: 50px;
	padding-left: 0;
  &.button-small {
    padding-right: 56px;
  }
}
.button-icon-right-icon {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
	border-left: 1px solid;
	-webkit-transition: border-color 426ms cubic-bezier(.4,.9,.3,1);
	transition: border-color 426ms cubic-bezier(.4,.9,.3,1);
}
.button-small {
	.button-icon-right-icon {
		width: 40px;
	}
}
.button-icon-right-icon-light {
	border-color: $border-1;
}
.button-icon-right-text {
	padding-right: 20px;
	padding-left: 20px;
}
.button-play-icon-right-text {
	padding-left: 3px;
	padding-right: 4px;
}
.button-plus-cta {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: 1px solid;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: opacity 426ms cubic-bezier(.4,.9,.3,1);
	transition: opacity 426ms cubic-bezier(.4,.9,.3,1);
	&:hover {
		opacity: .5;
	}
}
.button-plus-cta-icon {
	font-size: 12px;
}
.button-cross-small {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 16px;
	height: 16px;
	line-height: 1;
	border-radius: 50%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	&:focus {
		opacity: .5;
	}
	&:hover {
		opacity: .5;
	}
}
.button-select {
	position: relative;
	padding: 0;
	select {
		min-width: 180px;
		height: auto;
		padding: 16px;
	}
  &.button-small {
    select {
      padding: 11px 16px;
    }
  }
}
.button-social {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1;
	-ms-flex: 1 1;
	flex: 1 1;
	font-weight: 600;
	color: $font-7;
	background-color: $bg-dimmed;
	-webkit-transition: opacity 426ms cubic-bezier(.4,.9,.3,1);
	transition: opacity 426ms cubic-bezier(.4,.9,.3,1);
	&:hover {
		opacity: .65;
	}
}
.button-social-facebook {
	background-color: $bg-converse-2;
}
.button-social-google {
	background-color: $bg-converse-3;
}
.button-social-instagram {
	background-color: $bg-converse-4;
	background-image: linear-gradient(190deg,$bg-converse-4 60%,#f06430);
}
.button-group {
	.button {
		margin-bottom: 8px;
	}
}

@media screen and (max-width : $mc-screen-max) {
	.button {
		&:not(.button-small) {
			&:not(.button-select) {
				padding-top: 18px;
				padding-bottom: 19px;
			}
		}
	}
	.button-secondary-alt {
		color: $font-7;
		border-color: $border-6;
		background-color: $bg-dimmed;
	}
	.button-small {
		padding: 9px 16px;
	}
	.button-social {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 24px;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	.button-fluid-cta {
		font-size: 15px;
	}
	.button-wide-cta {
		font-size: 15px;
	}
}
@media screen and (min-width : $tc-screen-min) {
	.button {
		&:not(.button-small) {
			&:not(.button-small-small-up) {
				&:not(.button-select) {
					padding-top: 16px;
					padding-bottom: 16px;
				}
			}
		}
	}
	.button-secondary-alt {
		color: $font-0;
		border-color: $border-6;
		background-color: $bg-1;
	}
	.button-small {
		padding: 11px 16px;
	}
	.button-small-small-up {
		padding: 11px 16px;
	}
	.button-social {
		padding-top: 18px;
		padding-bottom: 18px;
		font-size: 14px;
		&:not(:last-child) {
			margin-right: 16px;
		}
	}
	.button-social-label {
		margin-left: 10px;
		font-size: 12px;
		line-height: 1.31;
	}
	.button-fluid-cta {
		font-size: calc( 18px + -0.25*(100vw - $mc-screen-max)/42.0625);
	}
	.button-wide-cta {
		font-size: calc( 18px + -0.25*(100vw - $mc-screen-max)/42.0625);
	}

}
@media screen and (min-width : $pc-screen-wide) {
	.button-fluid-cta {
		font-size: 14px;
	}
	.button-wide-cta {
		font-size: 14px;
	}
}
