input,
textarea {
	-webkit-border-radius:1px;
	-webkit-appearance:none;
}
input[type="search"]::-ms-clear {display:none;  width:0; height:0;} /* Remove IE default X */
input[type="search"]::-webkit-search-cancel-button{display:none;}
button {outline:none;}

fieldset {
	> legend {
		text-indent:-9999px;
		position:absolute;
		width:0;
		height:0;
		overflow:hidden;
		visibility:hidden;
	}

	display:block;
	margin:0;
	padding:0;
	border:0;
}

/* ie에서 input의 x 버튼 제거 */
input[type=text]::-ms-clear{
	display: none;
}
input[type=password]::-ms-reveal{
	display: none;
}

.input-price {
	padding:0 5px;
	height:25px;
	border:1px solid $border-2;
	color: $font-3;

	&.small {width:100px;}
	&.medium {width:200px;}
	&.large {width:300px;}
}

.input-radio {
	@include input-reset;
	> input{ -webkit-appearance:checkbox; left:-1000px;}
	> label{
		display: table;
		> i {margin-right:10px; display: table-cell;}
		> .label{
			display: table-cell;
			vertical-align: middle;
		}
	}
	&:hover {i {background-position:-54px -279px;}}
	&.checked {i {background-position:-88px -279px;}}
	&.disabled {i {background-position:-121px -279px;}}
	&.button{
		float:left;
		display:inline-block;
		border:1px solid $border-4;
		//width:25%;
		height:40px;
		margin:-1px 0 0 -1px;
		box-sizing:border-box;
		background-color: $bg-4;
		color: $font-4;

		padding-top:8px;
		//padding-left:10px;

		&.checked {
			border:2px solid  $primary-color;
			background-color: $bg-1;
			color: $primary-color;
		}

		> label {
			width:100%;
		}
	}
}

.input-checkbox {
	@include input-reset;
	> label{
		display: table;
		> i {display: table-cell;}
		> .label{
			display: table-cell;
			vertical-align: middle;
		}
	}
	> input{ -webkit-appearance:checkbox; left:-1000px;}
	&:hover {i {background-position:-55px -318px;}}
	&.checked {i {background-position:-89px -318px;}}
	&.disabled {i {background-position:-122px -318px;}}
}


.input-file_image {
	position:relative;
	label {
		@include box-sizing();
		display:block;
		width:120px;
		height:30px;
		border:2px solid $primary-color;
		text-align:center;
		color: $primary-color;
		padding-top:7px;
		cursor:pointer;
	}
	> input[type="file"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
	> .upload-url {display:none; position:absolute; top:50%; left:60px; margin-top:-10px;border:0; background:none;}
}

.input-submit {
	width:160px;
	height:50px;
	border:0;
	padding:0;
	margin:0;
	color: $font-6;
	background-color: $primary-color;
	cursor:pointer;
}


.input-textarea {
	width:100%;
	min-height:130px;
	position:relative;
	margin:10px 0;
	> label {
		position:absolute;
		padding:15px;
		font-size: 14px;
		color: #808080;
		line-height: 22px;
		&.err {color: $caution-color;}
	}
	> textarea {
		width:100%;
		height:100%;
		padding:15px;
		@include box-sizing();
		border: 1px solid $form_border;
		background-color: $form_bg;
		font-size:13px;
		color:$font-4;
		font-family:$typo-ko;
		line-height:1.8em;
		min-height:130px;
	}

	&.focus {
		> textarea {border-color: $form_border-focus; color: $form_text-color-focus;}
	}
	&.disabled {
		> label {color: $form_text-color-disabled;}
		> textarea {background-color: $form_bg-disabled; color: $form_text-color-disabled;}
		&:hover {
			> textarea {border-color:$border-3;}
		}
	}
	&.value {
		> label {display:none; visibility:hidden; text-indent:-9999px; opacity:0;}
	}
}

select {
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	&::-ms-expand { display: none; }
	border-radius: 0;
	background: $bg-1;
	padding:0 40px 0 11px;
	border: 1px solid $form_border;
	font-size: $font-size-s;
	outline:none;
	color: $form_text-color;
}


.select-box {
	position:relative;
	display:inline-block;
	width:100px;
	cursor:pointer;
	font-size:$font-size-m;
	// select {border: 0;}

	&:before {
		@include icon-selectbox;
	}

	&:first-child {margin-top:0;}
	&.checked {
		.select-body {text-indent:0; left:0;}
	}

	&.right {position:absolute; top:10px; right:0px;}
	&.sort {
		color: $form_text-color;
		.select-head {border:0;}
		.select-body {border-color: $border-4;}
	}
	&.pc {> select {overflow:hidden; position:absolute; left:-9999px; text-indent:-9999px; opacity:0; filter:alpha(opacity=0);}}
	&.qty {width:80px;}

	.select-head {
		position:relative;
		display:inline-block;
		width:100%;
		// padding:11px 11px 11px 11px;
		padding: 15px 11px;
		box-sizing:border-box;
		border:1px solid $form_border;
		color: $form_text-color;
		text-align: left;
		// -webkit-border-radius: 2px;
		// -moz-border-radius: 2px;
		// border-radius: 2px;
		> input {border:0;padding:0;margin:0;}
		> i {position:absolute; top:50%; margin-top:-2px; right:10px; display: none;}
	}

	&.error, &.server-error {
		&:before {
			margin-top:0px;
			top:12px;
		}
		> .select-head{
			border-color: $border-caution;
		}
	}

	.select-body {
		text-indent:-9999px;
		position:absolute;
		left:-9999px;
		width:100%;
		box-sizing:border-box;
		overflow-y:auto;
		margin-top:-1px;
		max-height:130px;
		border:1px solid $border-3;
		background: $select_bg;
		z-index:99;
		text-align: left;

		//select box ul style reset
		list-style:none;margin:0;padding:0;

		.list {
			.label {display:block; padding:10px 8px; color: $select_opt-text-color;}
			&:hover { background-color: $select_opt-bg-over; }
			&.checked { background-color: $select_opt-checked-bg; .label {color: $select_opt-checked-text-color;}}
			&.disabled {background-color:$bg-4; .label {color:$font-3;}}
		}
	}

	> select {width:100%; height:36px; margin:0;}
	a {text-decoration:none; outline:none}
	a:hover, a:active {text-decoration:none;}

	&.width-mini {width:70px;}
	&.width-small {width:100px;}
	&.width-large {width:300px;}
	&.width-max {width:100%;}

	&.small{
		height:30px; font-size:$font-size-mini;
		&:before {
			//margin-top:9px;
		}
		.select-head{
			padding:8px 11px 7px 11px;
		}
		> select{
			height:100%;
		}
	}
}



.search-field {
	position:relative;
	display:table;
	width:100%;
	margin:0;
	padding:0;
	border:0;
	z-index:1;
	box-sizing: border-box;

	&.active {display:block;}

	.input-textfield {
		display:table-cell;
		box-sizing:border-box;
		vertical-align: top;
		&.large {
			label {left:12px;}
			input {
				border-right-width:0;
			}
		}
		&.focus {
			> input {border-color: $form_border-focus}
		}
	}

	.btn_search {
		/* IE에서 크기를 못잡음 */
		/*display:table-cell;*/
		width:68px;
		height:36px;
		background-color: $button_full-bg;
		margin:0;
		border:0;
		padding:13px 0;
		color: $button_full-color;
		i {display:none;}
	}

	//높이값을 일단 고정해놨음 input에 따라 처리 되도록 수정해야함
	.result-wrap {
		display:none;
		width:100%;
		overflow-y:auto;
		position:absolute;
		top:48px;
		left:0;
		max-height:300px;
		border:1px solid $border-2;
		border-top:0;
		border-bottom:0;
		background-color: $bg-1;
		box-sizing:border-box;
		list-style:none;
		margin:0;
		padding:0;

		&.active {display:block;}
		&:after {
			content:'';
			position:absolute;
			bottom:0;
			left:0;
			display:block;
			width:100%;
			border-bottom:1px solid $border-2;
		}

		.list {
			text-align:left;
			// padding:10px 5px;
			border-top:1px solid $border-2;
			> a{display:inline-block; width:100%; padding:15px 20px; color: $primary-color; cursor:pointer; box-sizing:border-box;}

			&:nth-child(odd) {background-color: $bg-2;}
			&:hover {background-color:$bg-2;}

			.address-wrap {
				// dl {margin-top:3px;}
				.zip-code {
					font-size: $font-size-s;
					// color: $primary-color;
					// .postcode6 {color:$font-3;}
				}
				.addr {/*font-size:11px;*/ color:$font-1;}
			}
		}
	}


	//selectbox
	.select-box {
		// .select-head {border-right:0;} /* 1:1 문의하기 셀렉트박스 */
	}

	//1:1문의하기 화면 버튼
	.large.submit-btn {
		height: 48px;
	}
}


.input-textfield {
	display:inline-block;
	position:relative;
	width:200px;
	//vertical-align:top;

	> label {
		position:absolute; top:16px; left:13px; font-size: $font-size-m; color: $font-4; cursor:inherit;
		&.err {color: $caution-color;}
	}
	> input {width:100%; height: 48px; font-size: $font-size-m; color: $font-1; border:1px solid $form_border; padding:9px 12px; outline:none; box-sizing:border-box;}

	> .btn-wrap {
		position:absolute; top:50%; right:10px; margin-top:-11px; border:0; padding:0; background-color:transparent;
		.delete, .btn-search, button, a {border:0; padding:0; margin:0; background-color:transparent;}
		.btn-search {font-size:20px; margin-left:4px;}
		.delete {line-height:24px; vertical-align:top;}
	}


	&:hover {
		> input {border-color: $form_border-hover;}
	}
	&.focus {
		/* keyup 이벤트 발생할때로 변경 */
		/*> label {display:none; visibility:hidden; text-indent:-9999px; opacity:0;}*/
		> input {border-color: $form_border-focus; color: $form_text-color-focus;}
	}
	&.disabled {
		> label {color: $form_text-color-disabled;}
		> input {background-color: $form_bg-disabled; color: $form_text-color-disabled;}
		&:hover {
			> input {border-color: $border-3;}
		}
	}
	&.error, &.server-error {
		> input{border-color: $border-caution;}
	}
	&.value {
		> label {display:none; visibility:hidden; text-indent:-9999px; opacity:0;}
	}

	/* 세로 사이즈 */
	&.mini {
		> input {padding:5px 6px 4px;font-size:$font-size-s; height:26px;}
		> label {top:8px; left:6px;}
	}
	&.small {
		> input {padding:6px 8px;font-size:$font-size-sm; height:32px;}
		> label {top:10px; left:8px;}
	}

	// 사용하나?
	&.large {
		// > input {padding:11px 12px; height:auto;}
		> label {top:15px; left:12px;}
	}

	/* 가로 사이즈 */
	&.width-smini{
		width:70px;
	}

	&.width-mini{
		width:100px;
	}

	&.width-small{
		width:150px;
	}

	&.width-large{
		width:250px;
	}

	&.width-xlarge{
		width:300px;
	}

	&.width-max{
		width:100%;
	}
}



.range {

	padding:10px 10px 30px;

	.slider-range {
		position:relative;
		height:10px;
		background-color: $bg-5;

		.range-handler{
			position:absolute;
			top:-5px;
			margin-left:-10px;
			color:$font-3;
			z-index:10;
			cursor:ew-resize;

			&.min {left:0;}
			&.max {left:100%;}
			&.focus {z-index:1000;}
		}

		.range-track{
			width:100%;
			position:absolute;
			height:10px;
			left:0;
			background: $primary-color;
		}
	}

	.slider-text {
		text-align:center;
		margin-top:30px;
		.input-textfield {
			width:76px;
		}
	}
}

// input 요소 가로 정렬 처리
.input-btn-group{
	display: table;
	> *{
		display:table-cell;
		vertical-align: top;
	}

	&.middle{
		> *{
			vertical-align: middle;
		}
	}
	/*
	.input-textfield, .select-box{
		//display:table-cell;
		vertical-align: top;
	}
	.button{
		//display:table-cell;
	}
	*/
}


// error 메시지 기본 설정
.error-message, .server-error-message{
	margin:7px 0 0 0;
	font-size:$font-size-s;
	color: $caution-color;
	display: block;
}

.uk-form-row{

	> label.uk-form-label{
		display: block;
		margin-bottom:8px;
		font-size:$font-size-s;
	}
	.error-message{
		display:none;
		text-align: left;
	}
	.server-error-message{
		display:none;
	}

	// parsley 에러 메시지 노출
	.error{
		.error-message{
			display:block;
			width: 100%;
			box-sizing: border-box;
		}
	}

	// 서버 에러시 메시지 노출
	.server-error{
		.server-error-message{
			display:block;
		}
	}

	.search-field {
		.btn_search {
			font-size: 12px;
			color: #2a2a2a;
			border-left: 0;
		}
	}
}

.parsley-errors-list {
	margin:7px 0 0 0;
	font-size:$font-size-s;
	color: $caution-color;
}


/*
label{

}
input[type='text'], input[type='email'], input[type='search'], input[type='password']{
	width: 100%;
	height: 36px;
	box-sizing:border-box;
	margin-bottom:15px;
}
button{
	width: 100%;
	margin-bottom:15px;
}
*/


/* review write - option radio */
.radio-style {
	display:inline-block;
	min-height:36px;
	margin-right:7px;
	&:last-child {margin-right:0;}
	input[type=radio]:not(old){
		width:0;
		margin:0;
		padding:0;
		opacity:0;
	}

	input[type=radio]:not(old) + label{
	 	display:inline-block;
	 	width:100%;
		height:16px;
		// border:1px solid $border-3;
		text-align:center;
		// background: $bg-2;
		font-size:13px;
		// line-height:34px;
		color:$font-3;
		cursor:pointer;
		position: absolute;
	 	left: 0;
	 	top: -7px;
	 	z-index: 20;
	}
	input[type=radio]:not(old):checked + label{
		background: $bg-1;
		// border-color: $primary-color;
		// color: $font-6;
		box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
		border: solid 0.5px rgba(0, 0, 0, 0.04);
	}
}

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {


	.search-field {
		position:relative;
		display:table;
		width:100%;
		margin:0;
		padding:0;
		border:0;
		z-index:1;
		box-sizing: border-box;

		&.active {display:block;}

		.input-textfield {
			display:table-cell;
			box-sizing:border-box;
			&.large {
				label {left:52px;}
				input {
					padding-left:51px;
					border-right-width:0;
					border-left-width:0;

				}
			}
			&.focus {
				> input {border-color: $form_border-focus}
			}
		}

		.btn-search-mobile {
			position:absolute;
			top:0;
			left:10px;
			width:40px;
			background-color:transparent;
			color:$font-3;

			i {display:block; font-size:16px;}
			.text {display:none;}
		}
	}

	// 쓰는건가??
	/*
	.select-box {
		.select-head {
			height: 48px;
			padding: 17px 11px;
		}
	}
	*/
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	/*
	select {
		color: $primary-color;
		border: 1px solid $border-3;
	}

	.select-box {
		// > select {height:48px; font-size:13px;}
		&:before {
			position:absolute;
			top: 50%;
			right:15px;
			content: "";
			display: inline-block;
			width: 8px;
			height: 8px;
			margin-top:-6px;
			border-right: 2px solid  $primary-color;
			border-top: 2px solid  $primary-color;
			transform: rotate(135deg);
			color: $primary-color;
		}
		.select-head {
			> i {display:none;}
		}
	}
	*/
}




.flexible-radio {

}
