.quantity-container {
	margin-top:8px;
	.quantity-controller {
		width:132px;
		&:after {content:""; display:block; clear:both;}
		& > * {
			margin-left:-1px;
			&:first-child {
				margin-left:0;
			}
		}
		.btn {
			float:left;
			padding:9px 14px;
			border:1px solid $border-2;
		}

		.label {
			display:inline-block;
			float:left;
			width:60px;
			height:33px;
			padding:0 13px;
			border:1px solid $border-2;
			box-sizing:border-box;
			text-align:center;
		}
	}
}
