.customer-credit-history{
	.credit-amount{
		padding:25px;
		border:1px solid $border-2;
		background-color: $bg-2;
		.price{
			color: $primary-color;
			font-size:$font-size-l;
		}	
	}
	
	.history-list{
		li{
			padding:20px 30px;
			border-bottom:1px solid $border-1;
			.date{
				color:$font-4;
				font-size:$font-size-m;
				display: inline-block;
				width: 100px;
			}
			.type{

			}
			.reason{

			}

			// price 색상은 모두 공통인듯하니 하나로 통합 처리
			.price{
				color: $primary-color;
				&.red{
					color: $caution-color;
				}
			}
		}
	}
}


/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.customer-credit-history{
		.credit-amount {
			padding:16px 20px;
			border-top:0;
			border-left:0;
			border-right:0;

		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}