footer {
	position:relative;
	clear: both;
	min-height:150px;
	margin:0 auto;
	padding:60px 10px;
	font-size:12px;
	color: $footer_text-color;
	background: $footer_bg-color-type1;
}


.footer-contents {
	max-width:$max-width;
	margin:0 auto 0 auto;
	line-height:18px;

	&:after {content:''; display:block; clear:both;}

	.company {
		&:before {content:''; display:block; margin-top:20px;}

		.footer-sns{
			margin-top:20px;
			> a {
				&:first-child {margin-left:0;}
				margin-left:13px;
			}
		}

		a{color: $footer_text-color}
	}

	.footer-nav {
		color: $footer_text-color;
		&:before {content:''; display:block; margin-top:20px;}
		&:after {content:''; display:block; clear:both;}

		dt {
			padding-bottom: 5px;
			font-weight: bold;
			color: $footer_title-color-type1;
		}
		dd {
			margin-top:8px;
		}
		a {
			color: $footer_menu-color-type1;
			&:hover {color: $footer_menu-color-type1-over;}
		}
	}
	.com-divider {padding-left:4px;}
	.copyright {
		color: $footer_copyright-color;
		.copy {display:inline-block; margin-top:20px;}
		&:before {content:''; display:block; margin-top:20px;}
		a {color: $footer_copyright-color;}
	}
	.newsletter-box {
		.newsletter-conts {
			.btn_join {vertical-align:top;}
		}
	}
}

.scrollup {
	display:none;
	position:fixed;
	width:40px;
	height:40px;
	bottom: 72px;
	right: 10px;
	padding-top:10px;
	cursor: pointer;
	background: $bg-4;
	color:$font-3;
	text-align:center;
	font-size:18px;
	box-sizing:border-box;
	&:hover {
		background:$primary-color;
		color: $font-6;
	}
}







/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	footer {
		&.no-footer {display:none;}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {}

/* Large screen and bigger */
@media (max-width: $breakpoint-xlarge) {}
