.location-title {
	height: 110px;
	font-size: 42px;
	color: $default-color;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 30px;
	box-sizing: border-box;
	border-bottom: 1px solid $border-3;
}
.location-map{
	overflow:hidden;
	height:100%;
	min-height:650px;
	margin-left:465px;
	box-sizing:border-box;
}

.location-search {
	position:absolute;
	width:370px;
	top: 140px;
	font-size:12px;
	background-color:$bg-1;
	overflow:hidden;
	.search-field {
		.input-textfield {
			& > label {
				font-size: 20px;
				color: $font-5;
			}
			& > input {
			 	border:0;
			 	border-bottom: 1px solid $default-color;
			 	font-size: 20px;
			}
			& > .btn-wrap {display:none;}
		}
		.btn_search {
			position: absolute;
			top:0;
			right:0;
			height: 52px;
			color: $default-color;
			background: transparent;
			.txt {display: none;}
			i {
				display: block;
				font-size: 20px;
			}
		}
	}
	.search-result {
		overflow:auto;
		height:608px;
		list-style:none;
		border:0;
		padding:0;
		margin:0;
		text-align:left;
		line-height:1;
		font-size:13px;
		min-height:0;
	}

	.search-list {
		position:relative;
		border-top:1px solid $border-2;
		&:first-child {border-top:0}

		// a tag hover&active mixin;
		@mixin active {
			content:'';
			display:block;
			position:absolute;
			top:0;
			left:0;
			bottom:0;
			border-left:4px solid $primary-color;
		}

		> a {
			display:block;
			padding:20px 24px;
			color:$font-3;

			&:hover {
				&:before {
					@include active;
				}
				background-color:$bg-2;
			}

			&.active{
				&:before {
					@include active;
				}
				background-color:$bg-2;
			}
		}
	}

	.tit {
		margin:0 0 5px 0;
		// font-weight:bold;
		color: $default-color;
		font-size:12px;
	}

	.address {
		display:inline-block;
		width:100%;
		margin-top: 5px;
		font-size: 11px;
	}

	.phonenum {
		display:inline-block;
		width:100%;
		margin-top: px;
		font-size: 11px;
	}

	.icon-wrap {
		position:absolute;
		top:50%;
		right:30px;
		margin-top:-14px;
		font-size:25px;
		color: $primary-color;
	}

	.close-btn {
		padding:30px;
		background: transparent;
	}
}


.store-info-view {
	overflow-y:auto;
	position:absolute;
	top:40px;
	left:370px;
	bottom:0;
	width:100%;
	padding:30px;
	box-sizing:border-box;
	background-color: $bg-1;

	> .info {
		margin-top:40px;
		padding-top:40px;
		border-top:1px solid $border-2;
		.key {float:left; width:80px; padding-top:12px; line-height:18px;}
		.value {overflow:hidden; padding-top:12px; line-height:18px;}
	}
}


/* Tablet and bigger */
@media (max-width: $breakpoint-large) {
	.location-title {
		height: 55px;
		padding-top: 17px;
		font-size: 21px;
		border-bottom: 0
	}
	.location-search {
		width: 100%;
		position: inherit;
		.search-field  {
			position: absolute;
			top:56px;
			padding:0 16px;
			width: calc(100% - 32px);
			.input-textfield{
				&.large {
					label {left: 12px; font-size: 20px;}
					input {padding-left: 11px; font-size: 20px;}
				}
			}
		}
		.search-result {
			height: auto;
		}
	}
	.location-map {
		margin-top: 55px;
		margin-left:0;
		min-height: 235px;
	}
	.store-info-view {
		position:relative;
		top: 0;
		& > .info {
			margin-top:0;
			padding-top:0;
			border-top:0;
		}
	}
}