/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {
	

	.popup-layer-wrap {
		max-width:100%;
		margin-left:-50%;

		> * {padding:10px 30px;}
		.layer-body {padding:0 30px;}
	}
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

	.uk-grid {
		margin-left:0;
		> * {padding-left:0;}
	}

	.keyvisual-gallery {
		.imgwrap {
			min-height:400px;
			> img {min-width:630px;}
		}
		.info {
			> .tit {font-size:40px;}
		}
	}

	.contents {
		width:100%;
		padding:0;
		&.news {padding:20px 0;}
		&.margin-large {margin-top:0px;}

		> .contents-title {padding-bottom:30px; font-size:26px;}
		.product-detail_wrap {padding:0;}
		.product-detail_view {padding:0;}

		.list-type {
			margin-top:-20px;
			.product-item {margin-top:20px;}
		}
	}

	.footer-contents {padding:0 20px;}
	.company-agreement {margin-top:20px;}


	





	




	.customer-update{
		padding:10px 10px;
	}

	.customer {
		.title {display:none;}
	}

	.order-item-wrap {
		//display:block;
		//padding:10px;
		padding-bottom: 10px;
		> .item-info, .item-status, .item-btn {display:block; width:100%;}
		> .item-status {margin:20px 0px 0px 20px;}
		> .item-btn {border-top:1px solid $border-2; margin-top:20px; padding:10px 0px 0px 0px; text-align: center;}

		//li {position:relative; overflow: hidden; margin-top:20px; &:first-child {margin-top:0;}}
		// .img-wrap {position:absolute; top:0; left:0;}
		// .info-wrap {width:100%; padding-left:100px; box-sizing:border-box;}

		/*
		&.return-reason-list{
			.return-reason-item{
				padding-top:0px;
				&:first-child {
					padding-top:20px
				}					
				.info-wrap{
					padding-left:15px;
				}				
			}
		}*/
		/*
		&.return-reason-list{
			.return-reason-item{
				padding-top:0px;
				&:first-child {
					padding-top:20px
				}
				.img-wrap{
					
				}
				.info-wrap{
					padding-left:85px;
				}
				.quantity-wrap{
					padding: 0px;
				}				
			}
		}
		*/
	}
	


	/* checkout */
	.order-tab {
		.body {
			.order-field-container {
				padding:10px 0px 0px;
			}
		}

		.footer {
			padding: 0px 30px 50px 30px;
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	//checkout
	.order-wrap {padding:0;}
	.order-tab {
		border-left:none; 
		border-right: none;
	}

	
	.mypage-cart {
		padding-right:0;
		.product-opt_cart {
			padding:20px 40px 20px 20px;
		}
	}
	.product-checkout {
		position:static;
		width:100%;
		padding:30px;
		margin-top:0;

		&.checkout {margin-top:10px;}
	}

	.login {
		text-align:center;
		> .btn-wrap {display:block; width:100%; margin-top:10px;}
	}


	//cart
	.item-container {
		// display:block;

		> .item-list-wrap {display:block; width:100%;}
		> .product-checkout {display:block; width:100%;}
	}



	//checkout
	.order-wrap {
		.product-checkout {
			float:none; 
			width:100%;
			margin: 0;
			padding: 0 20px;
		}
		.order-tab-wrap {
			margin-top:12px;

			> .order-tab {
				width:100%;
			}
		}
	}

	.order-checkout{
		.contents-title {
			.title {display:none;}
			.checkout-status-wrap {float:none; text-align:center;}
		}
	}
}

/* Large screen and bigger */
@media (max-width: $breakpoint-xlarge) {
}