
.pt_post {
	padding-bottom:50px;

	> *:first-child {
		margin-top:0;
	}
	hr {
		border:0;
		border-top:1px solid $border-2;
		margin:40px 0;
	}
}

.post-contents {
	.post-category {
		font-size:11px;
		color:$font-4;
		text-align:center;
		padding:10px 0;
	}
	.post-img {
		padding:20px 0;
	}
	.post-description {
		margin-top:40px;
		padding:0 170px;
		& > * {
			font-size:14px;
			line-height:1.5em;
			color:$font-2;
		}
		p {
			padding-bottom:35px;
		}
		.centered {text-align:center}
	}
	.post-moreview {
		padding:0 170px 20px;
		a {
			display:inline-block;
			position:relative;
			padding-right:18px;
			cursor:pointer;
			color: $primary-color;
			&:after {
				content:' →';
				position:absolute;
				top:0;
				right:0;
			}
		}
	}
	.p-title {
		font-size:18px;
		color: $primary-color;
		padding-bottom:35px;
	}
}
.post-publish {
	max-width:1008px;
	margin:0 auto;

	.post-subject {
		font-size:45px;
		color: $primary-color;
		text-align:center;
		padding:75px 0 20px;
	}
	.post-date {
		font-size:12px;
		color:$font-3;
		text-align:center;
		padding:20px 0;
	}


}

.post-pagenation {
	max-width:657px;
	margin:0 auto;
	padding:0 30px;
	overflow:hidden;

	.post-paging-item {
		max-width:160px;
		span {
			display:block;
			padding-bottom:10px;
			font-size:12px;
			color:$font-3;
			text-align:center;
		}
		.btn-post {
			position:relative;
			display:inline-block;
			font-size:18px;
			color: $primary-color;
			line-height:1.2em;
			margin:10px 0 20px;

			&.prev {
				padding-left:22px;
				&:before {
					content:'← ';
					position:absolute;
					top:0;
					left:0;
				}
			}
			&.next {
				padding-right:22px;
				&:after {
					content:' →';
					position:absolute;
					top:0;
					right:0;
				}
			}
		}
	}
}

/* post small list */
.post-list {
	max-width:1440px;
	margin:40px auto;
	.post-contents {
		.post-description {
			margin-top:0;
			padding:0 20px;
			& > * {
				font-size:12px;
				line-height:2em;
			}
			p {
				padding-bottom:20px;
			}
		}
		.p-title {
			font-size:14px;
			padding-bottom:20px;
		}
		.post-moreview {
			padding:0 20px;
		}
	}
}

/* mediaquery */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

	.post-pagenation {
		padding:0 15px;
		.post-paging-item {
			// width:140px;
		}
	}

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium)  {
	.post-publish {
		.post-subject {
			font-size:30px;
			padding:20px 0 0;
		}

	}
	.post-contents {
		.post-description {
			margin-top:40px;
			padding:0 20px;
		}
		.post-moreview {
			padding:0 15px;
		}
	}
}
