.promotion{
	.promo-error-message {color:$caution-color; font-size: 11px;}
	.promo-list {
		.applied {
			position:relative;
			border:1px solid $border-3;
			padding:10px;
			background-color: $bg-1;
			margin-top:2px;
		}
		.info{
			margin-top:0px;
		}
		.marketing-msg {margin-top:10px; color:$font-2; line-height:16px; font-size:12px;}
		.code {
			// font-weight:bold;
			 font-size:14px; color: $primary-color;}
		.btn-delete {position:absolute; right:10px; top:10px;}
		.price{font-size: 12px; color: $caution-color; float:right; position:absolute; right: 10px; bottom:10px;}
	}
}