.quickview {
	.uk-modal-dialog {
		width:955px;
	}

	.uk-grid {
		margin-left:0;
	}

	.product-detail_wrap {width:100%;}
	.img-detail_product {
		padding-left:0;

		.product-gallery {
			.swipe-container {width:100%;}
			//.bx-controls {display:none;}
		}
	}
}



/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.product-detail_wrap {
		//slide
		.product-gallery {
			.bx-controls {display:block;}
		}

		//thumbWrap
		.product-thumb.show {display:none;}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
