
.ratio-fill {
  position: relative;
  height: 100%;
  .ratio-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.ratio-standard {
  position: relative;
  &::before {
    content: '';
    display: block;
    padding-bottom: 125%;
    width: 100%;
  }
  .ratio-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.ratio-featured {
  position: relative;
  &:before {
    content: '';
    display: block;
    padding-bottom: 62.5%;
    width: 100%;
  }
  .ratio-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.ratio-media.fit {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: $typo-basic-2;
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: $typo-basic-2;
  }
  video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
	font-family: $typo-basic-2;
	background-color: $bg-dimmed;
  }
}
.dashboard-tiles-wrap {
	margin: 0 auto;
	max-width: $pc-screen-wide;
	[class*="heading-type"] {
		line-height: 1.2222em;
	}
	[class*="body-type"] {
		line-height: 1.375em;
	}
	p {
		margin: 0 0 14px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.icon-inline-cta {
		position: relative;
		height: 1.125em;
		display: inline-block;
		fill: currentColor;
	}
	.link-underline {
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	.link-primary {
		&:focus {
			opacity: .7;
		}
		&:hover {
			opacity: .7;
		}
	}
	.link {
		&:focus {
			opacity: .7;
		}
		&:hover {
			opacity: .7;
		}
	}
	.button {
		min-width: 180px;
	}
	.tile-overlay {
		[class^=button] {
			pointer-events: auto;
		}
		a {
			pointer-events: auto;
		}
		button {
			pointer-events: auto;
		}
	}
	.product-badges {
		top: 30px;
		right: 30px;
	}
	.product-wish {
		top: 30px;
		left: 30px;
	}
	.product-tile-details {
		position: absolute;
		bottom: 30px;
		left: 30px;
		max-width: calc( 100% - 60px );
    line-height: 1.3333em;
		.price {
			margin-top: 4px;
			span {
				&:not(:last-child) {
					margin-right: .125em;
				}
			}
      .rate {
        font-weight: 700;
      }
		}
	}
	.media-tile {
		position: relative;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: -.025em;
		word-break: keep-all;
		word-wrap: break-word;
		overflow-wrap: break-word;
		overflow: hidden;
		.tile-overlay {
			position: absolute;
			top: 0;
			left: 0;
			padding: 30px;
			width: 100%;
			height: 100%;
			pointer-events: none;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			.spatial-tags-overlay {
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				position: absolute;
				pointer-events: none;
				overflow: hidden;
				opacity: 1;
				background-color: transparent;
				-webkit-transition: opacity 213ms ease-out,background-color 213ms ease-out;
				transition: opacity 213ms ease-out,background-color 213ms ease-out;
				pointer-events: auto;
				.spatial-tag {
					position: absolute;
					width: 1.875em;
					height: 1.875em;
					font-size: 14px;
					color: $font-0;
					pointer-events: auto;
					cursor: pointer;
					&::before {
						content: '';
						position: absolute;
						width: 1.875em;
						height: 1.875em;
						border-radius: 100%;
						background-color: $bg-1;
						-webkit-transition: background-color 213ms ease-out;
						transition: background-color 213ms ease-out;
					}
					&::after {
						content: '';
						position: absolute;
						top: calc(100% + .625rem);
						left: 0;
						right: 0;
						margin: auto;
						width: 0;
						height: 0;
						border-left: .78125rem solid transparent;
						border-right: .78125rem solid transparent;
						border-bottom: .875rem solid #fff;
						opacity: 0;
						pointer-events: none;
						-webkit-transform: scale(.85);
						transform: scale(.85);
						-webkit-transform-origin: bottom;
						transform-origin: bottom;
						-webkit-transition: opacity 213ms ease-out,-webkit-transform 213ms ease-out;
						transition: opacity 213ms ease-out,-webkit-transform 213ms ease-out;
						transition: opacity 213ms ease-out,transform 213ms ease-out;
						transition: opacity 213ms ease-out,transform 213ms ease-out,-webkit-transform 213ms ease-out;
					}
					&.top-tooltip {
						&::after {
							top: auto;
							bottom: calc(100% + .625rem);
							border-top: .875rem solid #fff;
							border-bottom: none;
							-webkit-transform-origin: top;
							transform-origin: top;
						}
						.product-tooltip {
							top: auto;
							bottom: calc(100% + 1.5rem);
							-webkit-transform-origin: bottom;
							transform-origin: bottom;
						}
					}
					.spatial-tag-icon {
						display: block;
						-webkit-transition: -webkit-transform 213ms ease-out;
						transition: -webkit-transform 213ms ease-out;
						transition: transform 213ms ease-out;
						transition: transform 213ms ease-out,-webkit-transform 213ms ease-out;
						pointer-events: none;
						position: absolute;
						fill: currentColor;
						&.open-icon {
							top: .25rem;
							left: .3rem;
							width: 1rem;
							height: 1rem;
						}
						&.close-icon {
							top: .4375rem;
							left: .4375rem;
							width: .75rem;
							height: .75rem;
							opacity: 0;
    						visibility: hidden;
						}
					}
					.anchor {
						display: block;
						position: absolute;
						top: 0;
						left: 50%;
					}
					.product-tooltip {
						width: 20rem;
						height: 6.25rem;
						background: #fff;
						position: absolute;
						top: calc(100% + 3.125rem);
						left: -10rem;
						pointer-events: none;
						opacity: 0;
						-webkit-transform: scale(.85);
						transform: scale(.85);
						-webkit-transform-origin: top;
						transform-origin: top;
						-webkit-transition: opacity 213ms ease-out,-webkit-transform 213ms ease-out;
						transition: opacity 213ms ease-out,-webkit-transform 213ms ease-out;
						transition: opacity 213ms ease-out,transform 213ms ease-out;
						transition: opacity 213ms ease-out,transform 213ms ease-out,-webkit-transform 213ms ease-out;
						.image-container {
							width: 5rem;
							height: 6.25rem;
							img {
								display: block;
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
						.info {
							padding: .625rem;
							max-width: 13.125rem;
							color: $font-0;
						}
						.tooltip-arrow {
							position: absolute;
							right: 0;
							top: 0;
							height: 100%;
							padding-right: .625rem;
						}
					}
				}
				&.toggle-active {
					background-color: rgba(0,0,0,.3);
					.spatial-tag {
						color: $font-6;
						&::before {
							background-color: $bg-dimmed;
						}
						&::after {
							opacity: 1;
							-webkit-transform: scale(1);
							transform: scale(1);
						}
						.spatial-tag-icon {
							-webkit-transform: rotate(90deg);
							transform: rotate(90deg);
							&.open-icon {
								opacity: 0;
								visibility: hidden;
							}
							&.close-icon {
								opacity: 1;
								visibility: inherit;
							}
						}
						.product-tooltip {
							opacity: 1;
							pointer-events: auto;
							z-index: 1;
							-webkit-transform: scale(1);
							transform: scale(1);
						}
					}
				}
			}
		}
		.tile-text {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}
		.tile-overlay.display-hover {
			pointer-events: auto;
			-webkit-transition: opacity .6s cubic-bezier(.4,.9,.3,1),background-color .6s cubic-bezier(.4,.9,.3,1);
			transition: opacity .6s cubic-bezier(.4,.9,.3,1),background-color .6s cubic-bezier(.4,.9,.3,1);
		}
	}
	.text-tile {
		>.tile-overlay {
			padding: 30px;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
	}
	.tile-list {
		margin: 0;
		li {
			&:not(:first-child) {
				margin: 14px 0 0;
			}
		}
	}
	svg {
		&+.link-text {
			margin-left: .5625em;
		}
	}
	.tile-trigger {
		padding: 22px 16px;
		.tile-list {
			li {
				margin-top: 0;
				&:not(:first-child) {
					margin-top: 3.125vw;
				}
			}
		}
	}
}



@media screen and (max-width : $mc-screen-max){
  .ratio-fill {
    .ratio-media {
      position: relative;
    }
  }
	.dashboard-tiles-wrap {
		p {
			margin-bottom: 1.875vw;
		}
		.product-badges {
			top: 4.6875vw;
			right: 4.6875vw;
		}
		.product-wish {
			top: 4.6875vw;
			left: 4.6875vw;
		}
		.product-tile-details {
			bottom: 4.6875vw;
			left: 4.6875vw;
			max-width: calc( 100% - 9.375vw );
			font-size: 12px;
		}
		.media-tile {
			font-size: 12px;
			.tile-overlay {
				padding: 4.6875vw;
			}
		}
		.text-tile {
			>.tile-overlay {
				padding: 16px;
			}
		}
	}
	.converse-object-links {
		margin: 0 auto;
		padding: 22px 0;
		text-align: center;
		>.title {
			margin: 0;
			font-size: 24px;
			line-height: 1;
		}
		>.content-community {
			padding: 20px 0 30px;
		}
		.link-list {
			margin: 45px 16px 0;
			>li {
				margin: 0;
				&:not(:first-child) {
					margin-top: 16px;
				}
			}
			.link {
				display: flex;
				height: 55px;
				font-size: 15px;
				font-weight: 600;
				line-height: 1;
				color: $font-7;
				background-color: $bg-dimmed;
			}
		}
		.object-list {
			margin: 20px auto 0;
			width: 100%;
			.item {
				display: inline-block;
				width: 120px;
				text-align: center;
			}
			.item-label {
				margin-top: 10px;
				font-size: 12px;
				font-weight: 400;
				line-height: 1;
			}
		}
	}
}

@media screen and (min-width : $tc-screen-min){
	.dashboard-full {
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 100%;
			padding-bottom: 62.5%;
		}
		.dashboard-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.dashboard-half {
		.dashboard-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.dashboard-tile.grow-1 {
		-webkit-box-flex: 1;
		-webkit-flex: 1 0 25%;
		-ms-flex: 1 0 25%;
		flex: 1 0 25%;
	}
	.dashboard-tile.grow-2 {
		-webkit-box-flex: 2;
		-webkit-flex: 2 0 50%;
		-ms-flex: 2 0 50%;
		flex: 2 0 50%;
	}
	.dashboard-tile.grow-3 {
		-webkit-box-flex: 3;
		-webkit-flex: 3 0 75%;
		-ms-flex: 3 0 75%;
		flex: 3 0 75%;
	}
	.dashboard-tile.grow-4 {
		-webkit-box-flex: 4;
		-webkit-flex: 4 0 100%;
		-ms-flex: 4 0 100%;
		flex: 4 0 100%;
	}
	.dashboard-tiles-wrap {
		p {
			margin-bottom: .9722vw;
		}
		.text-link {
			&:hover {
				text-decoration: underline;
			}
		}
		.product-badges {
			top: 2.0833vw;
			right: 2.0833vw;
		}
		.product-wish {
			top: 2.0833vw;
			left: 2.0833vw;
		}
		.product-tile-details {
			bottom: 2.0833vw;
			left: 2.0833vw;
			max-width: calc( 100% - 4.1666vw );
		}
		.media-tile {
			.tile-overlay {
				padding: 2.0833vw;
				background-color: $bg-transparent;
				&:hover.display-hover {
					color: $font-7;
					background-color: $bg-9;
					opacity: 1;
				}
			}
			.tile-overlay.display-hover {
				opacity: 0;
			}
		}
		.text-tile {
			>.tile-overlay {
				padding: 2.0833vw;
				background-color: $bg-transparent;
			}
		}
		.tile-list {
			li {
				&:not(:first-child) {
					margin-top: .9722vw;
				}
			}
		}
	}
	.converse-object-links {
		margin: 0 auto;
		padding: 60px 0;
		text-align: center;
		>.title {
			margin: 0;
			font-size: 36px;
			line-height: 1;
		}
		>.content {
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
		}
		>.content-community {
			padding: 40px 0 60px;
		}
		.link-list {
			margin: 0;
			>li {
				margin: 20px 0 0;
				&:not(:first-child) {
					margin-top: 16px;
				}
			}
			.link {
				display: inline-flex;
				font-size: 16px;
				font-weight: 600;
				line-height: 1;
				.icon {
					height: 1em;
				}
				.text {
					margin-left: 9px;
				}
				&:hover {
					text-decoration: underline;
					opacity: .7;
				}
			}
		}
		.object-list {
			margin: 20px auto 0;
			width: 100%;
			.item {
				display: inline-block;
				width: 180px;
				text-align: center;
			}
			.item-label {
				font-size: 16px;
				font-weight: 600;
				line-height: 1;
			}
		}
	}
}

@media screen and (min-width : $pc-screen-wide){

	.dashboard-tiles-wrap {
		p {
			margin-bottom: 14px;
		}
		.button-wide-cta {
			font-size: 14px;
		}
		.heading-type-h3-fluid {
			font-size: 36px;
		}
		.product-badges {
			top: 30px;
			right: 30px;
		}
		.product-wish {
			top: 30px;
			left: 30px;
		}
		.product-tile-details {
			bottom: 30px;
			left: 30px;
			max-width: calc( 100% - 60px );
		}
		.media-tile {
			.tile-overlay {
				padding: 30px;
			}
		}
		.tile-list {
			li {
				&:not(:first-child) {
					margin-top: 14px;
				}
			}
		}
	}
}
