.about-container {
    .about-intro-content {
      .content-section {
        .title {
          font-weight: 600;
          letter-spacing: -.025em;
          color: $font-0;
        }
        .content {
          margin: 0;
          letter-spacing: -.025em;
          color: $font-0;
        }
      }
      .about-top-visual {
        position: relative;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-image: url(/cmsstatic/bg-about-top.jpg);
        .inner {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: $font-7;
          text-align: center;
          .title {
            font-weight: 400;
            line-height: 1;
          }
          .content {
            font-size: calc( 50px + 3.125*(100vw - #{$mc-screen-max})/42.0625);
            font-weight: 600;
            line-height: 1.6;
          }
        }
      }
      .about-orientation {
        max-width: 1760px;
        .about-orientation-list {
          margin-top: 30px;
          .orientation-item {
            .figcaption {
              font-weight: 600;
              line-height: 1;
              letter-spacing: -.025em;
              color: $font-0;
            }
          }
        }
      }
    }
    .about-legacy-content {
      .about-legacy-section {
        position: relative;
      }
      .figure {
        img {
          display: block;
          width: 100%;
        }
      }
      .legacy-header {
        margin-bottom: 60px;
        .title {
          margin: 0;
          font-weight: 600;
          letter-spacing: -.025em;
          color: $font-0;
        }
        .descr-text {
          margin: 15px 0 0;
          letter-spacing: -.025em;
          color: $font-0;
        }
      }
      .legacy-item {
        margin: 0;
        letter-spacing: -.025em;
        color: $font-0;
        .year {
          font-weight: 500;
          line-height: 1;
          letter-spacing: -.025em;
          color: $font-0;
        }
      }
    }
  }
  
  @media screen and (max-width : $mc-screen-max){
    .about-container {
      padding: 0 16px 85px;
      .about-intro-content {
        .content-section {
          .title {
            margin-bottom: 16px;
            font-size: 28px;
            line-height: 33px;
          }
          .content {
            font-size: 13px;
            line-height: 17px;
          }
        }
        .about-top-visual {
          margin-left: -16px;
          margin-right: -16px;
          &::before {
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 150%;
          }
          .inner {
            position: absolute;
            .title {
              font-size: calc( 38px + 3.125*(100vw - #{$mc-screen-max})/42.0625);
            }
          }
        }
        .about-intro {
          margin-top: 46px;
        }
        .about-value {
          margin-top: 85px;
          .about-value-display {
            margin: 30px auto 0;
            img {
              width: 100%;
            }
          }
        }
        .about-orientation {
          margin: 100px auto 0;
          .content-section {
            margin-bottom: 60px;
          }
          .about-orientation-list {
            .orientation-item {
              margin-bottom: 25px;
              .figcaption {
                margin: 10px 0 0;
                font-size: 15px;
              }
            }
          }
        }
      }
      .about-legacy-content {
        margin-top: 75px;
        .about-legacy-section {
          &:not(:first-child) {
            margin-top: 60px;
          }
        }
        .legacy-header {
          .title {
            font-size: 28px;
            line-height: 33px;
          }
          .descr-text {
            font-size: 13px;
            line-height: 17px;
          }
        }
        .legacy-item {
          font-size: 13px;
          line-height: 17px;
          .year {
            margin-bottom: 17px;
            font-size: 16px;
          }
        }
        .legacy-figure {
          margin-top: 30px;
          .figure {
            &:not(:first-child) {
              margin-top: 16px;
            }
          }
          &:nth-child(3) {
            margin-top: 16px;
          }
        }
      }
    }
  }
  
  @media screen and (min-width : $tc-screen-min){
    .about-container {
      padding-bottom: 100px;
      border-top: 1px solid $border-6;
      .about-intro-content {
        padding: 0 30px;
        .content-section {
          margin: 0 auto;
          max-width: 960px;
          .title {
            margin-bottom: 36px;
            font-size: 56px;
            line-height: 66px;
          }
          .content {
            font-size: 20px;
            line-height: 1.5;
          }
        }
        .about-top-visual {
          margin-left: -30px;
          margin-right: -30px;
          height: 1080px;
          background-color: $bg-dimmed;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
          .inner {
            .title {
              font-size: calc( 18px + 0.75*(100vw - #{$mc-screen-max})/42.0625);
            }
          }
        }
        .about-intro {
          margin-top: 160px;
        }
        .about-value {
          margin-top: 200px;
          .about-value-display {
            margin: 80px auto 0;
            max-width: 1440px;
          }
        }
        .about-orientation {
          margin: 280px auto 0;
          .about-orientation-list {
            .orientation-item {
              .figcaption {
                margin: 15px 0 0;
                font-size: 18px;
              }
            }
          }
        }
      }
      .about-legacy-content {
        margin-top: 200px;
        .legacy-header {
          .title {
            font-size: 56px;
            line-height: 66px;
          }
          .descr-text {
            font-size: 16px;
            line-height: 24px;
          }
        }
        .legacy-item {
          max-width: 630px;
          font-size: 16px;
          line-height: 24px;
          .year {
            margin-bottom: 26px;
            font-size: 24px;
          }
        }
        .legacy-1890 {
          .legacy-content {
            padding-left: 30px;
            padding-right: 30px;
          }
          .legacy-figure {
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
          }
        }
        .legacy-1900 {
          margin-top: 200px;
          .legacy-figure {
            padding-right: 30px;
            .figure {
              margin-bottom: -100px;
            }
          }
          .legacy-content {
            padding: 0 30px 100px;
            min-height: 390px;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            .legacy-item {
              margin-right: 30px;
              margin-left: auto;
            }
          }
        }
        .legacy-1910 {
          margin-left: auto;
          margin-right: 0;
          padding-left: 30px;
          padding-right: 30px;
          width: 50%;
          > .row {
            margin: 0 auto;
            max-width: 622px;
          }
          .legacy-content {
            margin-top: 52px;
          }
        }
        .legacy-1920 {
          margin-top: 22.22vw;
          .legacy-content {
            padding-left: 30px;
            padding-right: 90px;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
          }
          .figure-01 {
            position: absolute;
            left: 30px;
            bottom: 100%;
            max-width: calc( 50% - 90px );
            transform: translateY(-100px);
            -webkit-transform: translateY(-100px);
          }
          .figure-02 {
            transform: translateX(-30px);
            -webkit-transform: translateX(-30px);
          }
        }
        .legacy-1930 {
          margin-top: 200px;
          padding-left: 30px;
          padding-right: 30px;
          .legacy-content {
            padding: 100px 30px 0 0;
            min-height: 410px;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
          }
          .legacy-figure {
            position: relative;
            .figure-01 {
              max-width: calc( 50% - 30px );
            }
            .figure-02 {
              position: absolute;
              left: 30px;
              bottom: 0;
            }
          }
        }
        .legacy-1940 {
          margin-top: 200px;
          .legacy-figure {
            padding-right: 30px;
            .figure {
              margin-bottom: -100px;
            }
          }
          .legacy-content {
            padding: 0 30px 100px;
            min-height: 390px;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            .legacy-item {
              margin-right: 30px;
              margin-left: auto;
            }
          }
        }
        .legacy-1950 {
          margin-left: auto;
          margin-right: 0;
          padding-left: 30px;
          padding-right: 30px;
          width: 50%;
          > .row {
            margin: 0 auto;
            max-width: 622px;
          }
          .legacy-content {
            margin-top: 52px;
          }
        }
        .legacy-1960 {
          margin-top: 22.22vw;
          .legacy-content {
            padding-left: 30px;
            padding-right: 90px;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
          }
          .figure-01 {
            position: absolute;
            left: 30px;
            bottom: 100%;
            max-width: calc( 50% - 90px );
            transform: translateY(-100px);
            -webkit-transform: translateY(-100px);
          }
          .figure-02 {
            transform: translateX(-30px);
            -webkit-transform: translateX(-30px);
          }
        }
        .legacy-1976 {
          margin-top: 200px;
          padding-left: 30px;
          padding-right: 30px;
          .legacy-content {
            padding: 100px 30px 0 0;
            min-height: 410px;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
          }
          .legacy-figure {
            position: relative;
            .figure-01 {
              max-width: calc( 50% - 30px );
            }
            .figure-02 {
              position: absolute;
              left: 30px;
              bottom: 0;
            }
          }
        }
        .legacy-1980 {
          margin-top: 200px;
          .legacy-figure {
            padding-right: 30px;
            .figure {
              margin-bottom: -100px;
            }
          }
          .legacy-content {
            padding: 0 30px 100px;
            min-height: 390px;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            .legacy-item {
              margin-right: 30px;
              margin-left: auto;
            }
          }
        }
        .legacy-1990 {
          margin-left: auto;
          margin-right: 0;
          padding-left: 30px;
          padding-right: 30px;
          width: 50%;
          > .row {
            margin: 0 auto;
            max-width: 622px;
          }
          .legacy-content {
            margin-top: 52px;
          }
        }
        .legacy-2000 {
          margin-top: 22.22vw;
          .legacy-content {
            padding-left: 30px;
            padding-right: 90px;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
          }
          .figure-01 {
            position: absolute;
            left: 30px;
            bottom: 100%;
            max-width: calc( 50% - 90px );
            transform: translateY(-100px);
            -webkit-transform: translateY(-100px);
          }
          .figure-02 {
            transform: translateX(-30px);
            -webkit-transform: translateX(-30px);
          }
        }
        .legacy-2010 {
          margin-top: 200px;
          padding-left: 30px;
          padding-right: 30px;
          .legacy-content {
            padding: 100px 30px 0 0;
            min-height: 410px;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
          }
          .legacy-figure {
            position: relative;
            .figure-01 {
              max-width: calc( 50% - 30px );
            }
            .figure-02 {
              position: absolute;
              left: 30px;
              bottom: 0;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width : $pc-screen-wide){
    .about-container {
      .about-intro-content {
        .about-top-visual {
          .inner {
            .title {
              font-size: 30px;
            }
            .content {
              font-size: 100px;
            }
          }
        }
      }
      .about-legacy-content {
        .legacy-1890 {
          .legacy-content {
            padding-left: 80px;
            padding-right: 80px;
          }
        }
        .legacy-1900 {
          .legacy-figure {
            padding-right: 80px;
          }
          .legacy-content {
            padding: 100px 80px;
            -webkit-box-pack: start;
            -webkit-justify-content: start;
            -ms-flex-pack: start;
            justify-content: start;
            .legacy-item {
              margin-right: 80px;
            }
          }
        }
        .legacy-1920 {
          margin-top: 320px;
          .legacy-content {
            padding-left: 80px;
            padding-right: 240px;
          }
          .figure-01 {
            left: 80px;
            bottom: 100%;
            max-width: calc( 50% - 240px );
          }
          .figure-02 {
            transform: translateX(-80px);
            -webkit-transform: translateX(-80px);
          }
        }
        .legacy-1930 {
          padding-left: 80px;
          padding-right: 80px;
          .legacy-content {
            padding: 100px 240px 100px 0;
          }
          .legacy-figure {
            .figure-01 {
              max-width: calc( 50% - 80px );
            }
            .figure-02 {
              left: 17.5%;
            }
          }
        }
        .legacy-1940 {
          .legacy-figure {
            padding-right: 80px;
          }
          .legacy-content {
            padding: 100px 80px;
            -webkit-box-pack: start;
            -webkit-justify-content: start;
            -ms-flex-pack: start;
            justify-content: start;
            .legacy-item {
              margin-left: 90px;
            }
          }
        }
        .legacy-1960 {
          margin-top: 320px;
          .legacy-content {
            padding-left: 80px;
            padding-right: 240px;
          }
          .figure-01 {
            left: 80px;
            bottom: 100%;
            max-width: calc( 50% - 240px );
          }
          .figure-02 {
            padding-left: 60px;
            transform: translateX(-80px);
            -webkit-transform: translateX(-80px);
          }
        }
        .legacy-1976 {
          padding-left: 80px;
          padding-right: 80px;
          .legacy-content {
            padding: 100px 240px 100px 0;
          }
          .legacy-figure {
            .figure-01 {
              max-width: calc( 50% - 80px );
            }
            .figure-02 {
              left: 17.5%;
            }
          }
        }
        .legacy-1980 {
          .legacy-figure {
            padding-right: 80px;
          }
          .legacy-content {
            padding: 100px 80px;
            -webkit-box-pack: start;
            -webkit-justify-content: start;
            -ms-flex-pack: start;
            justify-content: start;
            .legacy-item {
              margin-left: 90px;
            }
          }
        }
        .legacy-2000 {
          margin-top: 320px;
          .legacy-content {
            padding-left: 80px;
            padding-right: 240px;
          }
          .figure-01 {
            left: 80px;
            bottom: 100%;
            max-width: calc( 50% - 240px );
          }
          .figure-02 {
            padding-left: 60px;
            transform: translateX(-80px);
            -webkit-transform: translateX(-80px);
          }
        }
        .legacy-2010 {
          padding-left: 80px;
          padding-right: 80px;
          .legacy-content {
            padding: 100px 240px 100px 0;
          }
          .legacy-figure {
            .figure-01 {
              max-width: calc( 50% - 80px );
            }
            .figure-02 {
              left: 17.5%;
            }
          }
        }
      }
    }
  }