.pt-cart {
  margin-bottom: auto;
  border-top: 1px solid $border-1;
  .cart-wrap {
    width: 100%;
    overflow: hidden;
  }
  .cart-header {
    border-bottom: 1px solid $border-1;
    background-color: $bg-1;
  }
  .later-cart {
    margin-top: 32px;
    .later-cart-title {
      width: 100%;
      font-weight: 600;
      line-height: 1;
    }
  }
}
.cart-empty {
  .cart-empty-content {
    text-align: center;
  }
}
.cart-main {
  .cart-title {
    font-weight: 600;
  }
  .dynamic-promo {
    line-height: 1.25;
    letter-spacing: -.025em;
    background-color: $bg-10;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .cart-clear {
    .trigger-cart-clear {
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
    }
  }
}
.cart-item {
  .addon-selector {
    background-color: $bg-10;
    .addon-title {
      margin: 0;
      font-weight: 600;
      line-height: 1;
    }
    .i-checkbox {
      position: relative;
      color: $font-1;
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        &:not(:checked) + .icon {
          color: transparent;
        }
      }
      .icon {
        margin-right: 8px;
        padding: 2px;
        width: 14px;
        height: 14px;
        vertical-align: top;
        border: 1px solid $border-4;
        background-color: $bg-1;
      }
      .text {
        line-height: 1;
        vertical-align: top;
      }
    }
    .addon-selector-item {
      .addon-descr {
        margin: 0;
        line-height: 1;
        color: $color-2;
      }
      .addon-selection {
        .input-select-inline {
          padding-left: 20px;
          width: 100%;
          line-height: 1.5;
          color: $font-0;
          border: 1px solid $border-1;
          background-color: $bg-1;
          &.invalid,
          &:invalid {color: $font-0;}
          & > option {
            padding-left: 0;
            &[value=""][disabled] {
              display: none;
            }
          }
        }
      }
      .addon-out-stock {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        //height: 46px;
        //font-size: 12px;
        line-height: 1;
        color: $color-5;
        background-color: $bg-10;
      }
      .addon-list {
        margin-top: 10px;
        .addon-item {
          position: relative;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          padding: 20px;
          width: 100%;
          color: $font-0;
          border: 1px solid $border-1;
          background-color: $bg-1;
          .addon-product {
            margin: 0 0 16px;
            padding-right: 50px;
            width: 100%;
            font-size: 14px;
            line-height: 20px;
          }
          .addon-tool {
            width: 100%;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
          }
          .addon-quantity {
            position: relative;
            .i-text {
              width: 60px;
              height: 36px;
              font-size: 14px;
              text-align: center;
              border: 1px solid $border-1;
              background-color: $bg-1;
            }
            .i-text::-webkit-outer-spin-button,
            .i-text::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            .btn {
              margin-left: -1px;
              width: 36px;
              height: 36px;
              font-size: 12px;
              border: 1px solid $border-1;
              background-color: $bg-1;
            }
          }
          .btn-submit {
            margin-left: 10px;
            width: 60px;
            height: 36px;
            font-size: 14px;
            text-align: center;
            border: 1px solid $border-6;
          }
          .btn-delete {
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            color: $font-3;
            .icon {
              display: block;
            }
          }
          &:not(:first-child) {
            border-top: 0;
          }
        }
      }
    }
  }
  .product-mini {
    position: relative;
    padding: 20px;
    .product-mini {
      position: static;
      padding: 0;
    }
  }
  .addon-mini {
    padding-bottom: 20px;
    .product-mini {
      background-color: $bg-10;
      & + .product-mini {
        border-top: 1px solid $border-1;
      }
    }
  }
  &:not(:first-child):not(.addon) {
    border-top: 1px solid $border-1;
  }
  .image-url {
    margin-right: 16px;
    -webkit-box-flex: 0;
    -webkit-transition: opacity 213ms cubic-bezier(.4,.9,.3,1);
    transition: opacity 213ms cubic-bezier(.4,.9,.3,1);
    background-color: $bg-6;
  }
  .product-mini-details {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    .row {
      width: 100%;
    }
    .product-name {
      font-weight: 600;
      letter-spacing: -.025em;
    }
    .product-options {
      .option {
        &.quantity {
          display: block;
        }
        &:not(:first-child):not(.quantity)::before {
          content: '/';
          padding-right: .25em;
        }
      }
    }
    .product-price {
      line-height: 1;
      letter-spacing: -.025em;
      white-space: nowrap;
      .retail {
        color: $font-3;
        text-decoration: line-through;
      }
      .sale {
        &:not(:first-child) {
          margin-left: .5em;
        }
      }
      .rate {
        font-weight: 400;
        color: $color-5;
      }
    }
    .product-quantity {
      position: relative;
      margin-top: 16px;
      .i-text {
        width: 60px;
        height: 36px;
        font-size: 14px;
        text-align: center;
        border: 1px solid $border-1;
        background-color: $bg-1;
      }
      .i-text::-webkit-outer-spin-button,
      .i-text::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      .btn {
        margin-left: -1px;
        width: 36px;
        height: 36px;
        font-size: 12px;
        border: 1px solid $border-1;
        background-color: $bg-1;
      }
      .print-message {
        display: none;
        margin: 0;
        padding-top: 8px;
        font-size: 12px;
        line-height: 1;
        color: $color-5;
        white-space: nowrap;
        &.active {
          display: block;
        }
      }
    }
    .product-message {
      font-size: 12px;
      line-height: 22px;
      letter-spacing: -.025em;
      &.warning {
        color: $color-5;
      }
      &.apply {
        color: $color-2;
      }
    }
    .product-actions {
      margin-top: auto;
      .icon {
        font-size: 16px;
      }
      .text {
        margin-left: 5px;
      }
      .product-wish {
        position: static;
        top: 0;
        left: 0;
        margin: 0;
        width: auto;
        height: auto;
        font-size: 14px;
        .wish-action {
          position: relative;
          width: auto;
          &:not(.set-active) {
            display: none;
          }
          &.remove:not(.set-active) {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
        &:hover:not(.set-changed) {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      .product-later {
        margin-left: 15px;
        font-size: 14px;
        line-height: 1;
      }
    }
  }
}
.cart-summary {
  background-color: $bg-10;
  .summary-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.025em;
  }
  .summary-content {
    border: 1px solid $border-1;
    background-color: $bg-1;
    .order-totals {
      padding: 20px;
      border-bottom: 1px solid $border-1;
    }
    .order-total-item {
      .label {
        line-height: 1;
        letter-spacing: -.025em;
        color: $font-3;
        white-space: nowrap;
      }
      .value {
        line-height: 1.2;
        letter-spacing: -.025em;
        color: $font-0;
        text-align: right;
        .retail {
          color: $font-3;
          text-decoration: line-through;
          white-space: nowrap;
        }
        .sale {
          margin-left: 5px;
          white-space: nowrap;
        }
      }
    }
    .order-total-highlight {
      .label {
        line-height: 1;
        letter-spacing: -.025em;
      }
      .value {
        line-height: 1;
        letter-spacing: -.025em;
      }
    }
  }
  .print-message {
    margin: 0;
    padding-top: 8px;
    font-size: 12px;
    line-height: 1;
    color: $color-5;
  }
  .cart-entry-promo {
    .promo-message {
      letter-spacing: -.025em;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .input-promo {
      input {
        padding-left: 20px;
        width: 100%;
        height: 100%;
        line-height: 1.5;
        letter-spacing: -.025em;
        border: 1px solid $border-1;
        border-right: 0;
        background-color: $bg-1;
      }
    }
    .submit-promo {
      .btn-submit {
        width: 100%;
        height: 100%;
        line-height: 1;
        letter-spacing: -.025em;
        border: 1px solid $border-1;
        background-color: $bg-1;
      }
    }
  }
  .promo-list {
    margin-top: 20px;
    border: 1px solid $border-1;
    .apply-promo-item {
      position: relative;
      padding: 20px;
      line-height: 1;
      background-color: $bg-1;
      .promo-code {
        display: block;
        color: $color-2;
      }
      .promo-discount {
        display: block;
        font-weight: 600;
      }
      .promo-label {
        display: block;
      }
      .remove-promo-item {
        position: absolute;
        color: $font-1;
      }
      &:not(:first-child) {
        border-top: 1px solid $border-1;
      }
    }
    &.empty,
    &:empty {
      display: none;
    }
  }
  .checkout-guide {
    border: 1px solid $border-1;
    background-color: $bg-1;
    .guide-item {
      .toggle-label {
        margin: 0;
        padding: 0 20px;
        height: 48px;
        font-weight: 600;
        line-height: 1;
        color: $font-3;
        cursor: pointer;
        &:after {
          position: static;
          margin: 0;
        }
      }
      .toggle-content {
        display: none;
        margin: 0;
        padding: 0 20px;
        width: 100%;
        letter-spacing: -.025em;
        color: $font-3;
        ul,
        li {margin: 0;}
        li {
          &:not(:first-child) {
            margin-top: 4px;
          }
        }
        &.active {
          display: block;
          padding: 0 20px 20px;
        }
      }
      &:not(:first-child) {
        border-top: 1px solid $border-1;
      }
    }
  }

}
.cart-recommendations {
  .recommendations-head {
    .title {
      margin: 0;
      font-weight: 900;
      color: $color-1;
      text-align: center;
    }
  }
}
@media screen and (max-width : $mc-screen-max){
  .pt-cart {
    z-index: 1100;
    position: relative;
    .cart-header {
      z-index: 1;
      position: absolute;
      top: -51px;
      left: 0;
      width: 100%;
      height: 51px;
      .cart-title {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
      }
      .button-back {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 0;
        min-width: 28px;
        height: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 2;
        left: 9px;
        padding: 7px;
        font-size: 14px;
      }
      .header-general.fixit-active + .content-area & {
        position: fixed;
        top: 0;
      }
    }
    .later-cart {
      .later-cart-title {
        padding-left: 16px;
        padding-right: 16px;
        height: 20px;
        font-size: 16px;
      }
    }
  }
  .cart-empty {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 16px 16px;
    width: 100%;
    height: calc(100vh - 120px);
    .cart-empty-content {
      margin-top: auto;
      padding: 32px 0;
      .cart-icon {
        margin: 0 auto 28px;
        padding-top: 2px;
        padding-right: 2px;
        width: 40px;
        height: 40px;
        color: $color-2;
        border-radius: 50%;
        border: 1px solid;
        .icon {
          width: 20px;
          height: 20px;
        }
      }
      .message {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
      }
      .sub-message {
        margin-top: 10px;
        font-size: 12px;
        line-height: 16px;
      }
    }
    .cart-empty-action {
      margin-top: auto;
    }
    &+.later-cart {
      margin-top: 16px;
      width: 100%;
    }
  }
  .cart-main {
    .dynamic-promo {
      min-height: 44px;
      font-size: 11px;
      border-bottom: 1px solid $border-1;
    }
    .cart-clear {
      border-top: 1px solid $border-1;
      border-bottom: 1px solid $border-1;
      .trigger-cart-clear {
        height: 47px;
        font-size: 11px;
        text-decoration: underline;
      }
    }
  }
  .cart-item {
    .addon-selector {
      margin: 0 -16px -20px;
      padding: 16px;
      .addon-title {
        font-size: 14px;
      }
      .i-checkbox {
        .text {
          font-size: 12px;
        }
      }
      .addon-selector-item {
        margin-top: 16px;
        .addon-descr {
          font-size: 11px;
        }
        .addon-selection {
          margin-top: 8px;
          .input-select-inline {
            height: 45px;
            font-size: 13px;
          }
        }
        .addon-out-stock {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          padding-left: 0;
        }
        .addon-list {
          margin-top: 5px;
          .addon-item {
            .addon-product {
              font-size: 13px;
              line-height: 16px;
            }
            .addon-quantity {
              position: relative;
              .i-text {
                width: 70px;
                height: 32px;
                font-size: 13px;
              }
              .btn {
                margin-left: -1px;
                width: 32px;
                height: 32px;
              }
            }
            .btn-submit {
              width: 70px;
              height: 32px;
              font-size: 13px;
            }
            .btn-delete {
              padding: 20px;
              color: $font-3;
              .icon {
                display: block;
              }
            }
          }
        }
      }
    }
    .product-mini {
      padding: 20px 16px 60px;
    }
    .addon-mini {
      padding-left: 16px;
      padding-right: 16px;
      .product-mini {
        padding: 14px;
      }
      .image-url {
        max-width: 60px;
      }
      .product-mini-details {
        .product-name {
          padding-right: 0;
        }
        .cart-item-options {
          margin-top: auto;
        }
        .product-price {
          margin-top: 0;
        }
        > .row {
          height: 100%;
        }
      }
    }
    .image-url {
      -webkit-flex: 0 1 30%;
      -ms-flex: 0 1 30%;
      flex: 0 1 30%;
      max-width: 74px;
    }
    .product-mini-details {
      -webkit-flex-basis: calc(70% - 16px);
      -ms-flex-preferred-size: calc(70% - 16px);
      flex-basis: calc(70% - 16px);
      .product-name {
        padding-right: 50px;
        font-size: 12px;
        line-height: 16px;
      }
      .product-options {
        margin-top: 4px;
        font-size: 12px;
        line-height: 16px;
      }
      .cart-item-options {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-flow: column-reverse;
        -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
      }
      .product-price {
        margin-top: 16px;
        font-size: 12px;
      }
      .product-message {
        margin-top: 4px;
        font-size: 11px;
        line-height: 1;
      }
      .product-actions {
        position: absolute;
        bottom: 16px;
        left: 16px;
        .icon {
          font-size: 14px;
        }
        .product-wish {
          font-size: 11px;
        }
        .product-later {
          margin-left: 10px;
          font-size: 11px;
        }
      }
      .product-tools {
        .trigger-remove {
          position: absolute;
          top: 6px;
          right: 0;
          padding: 16px;
          color: $font-1;
          .icon {
            display: block;
          }
        }
        .trigger-change-option {
          position: absolute;
          bottom: 16px;
          right: 16px;
          font-size: 11px;
        }
      }
    }
  }
  .cart-summary {
    padding: 40px 16px 30px;
    .summary-content {
      .order-total-item {
        margin-bottom: 9px;
        .label {
          width: 70px;
          font-size: 12px;
        } 
        .value {
          font-size: 14px;
        }
      }
      .order-total-highlight {
        margin-top: 22px;
        .label {
          font-size: 12px;
        }
        .value {
          font-size: 16px;
        }
      }
      .order-checkout {
        padding: 20px;
      }
    }
    .cart-entry-promo {
      padding-top: 30px;
      .promo-message {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 16px;
      }
      .input-promo {
        width: calc(100% - 90px);
        input {
          font-size: 12px;
        }
      }
      .submit-promo {
        width: 90px;
        .btn-submit {
          font-size: 12px;
        }
      }
    }
    .promo-list {
      margin-top: 20px;
      .apply-promo-item {
        font-size: 12px;
        .promo-code {
          margin-bottom: 4px;
        }
        .promo-discount {
          margin-bottom: 4px;
        }
        .remove-promo-item {
          top: 12px;
          right: 12px;
          width: 30px;
          height: 30px;
          font-size: 14px;
        }
      }
    }
    .checkout-guide {
      margin-top: 16px;
      .guide-item {
        .toggle-label {
          font-size: 12px;
        }
        .toggle-content {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  .cart-recommendations {
    padding-top: 25px;
    padding-bottom: 55px;
    .recommendations-head {
      margin-bottom: 24px;
      .title {
        font-size: 20px;
        line-height: 1;
      }
    }
    .recommendations-container {
      padding-bottom: 30px;
      padding-left: 16px;
      padding-right: 16px;
      .recommendations-grid {
        &.wide-space {
          margin-left: -8px;
          margin-right: -8px;
        }
        .grid-item {
          &.wide-space {
            padding-left: 8px;
            padding-right: 8px;
          }
          &:nth-child(n + 3) {
            margin-top: 12px;
          }
          &:nth-child(2n) {
            -webkit-transform: translateY(30px);
            transform: translateY(30px);
          }
        }
      }
    }
  }
}

@media screen and (min-width : $tc-screen-min) {
  .pt-cart {
    .cart-wrap {
      padding-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1440px;
      width: 100%;
    }
    .cart-header {
      height: 32px;
      .cart-title {
        width: 100%;
        height: 100%;
        font-size: 18px;
        line-height: 1;
      }
      & + .cart-items {
        border-top: 0;
      }
    }
    .later-cart {
      .later-cart-title {
        height: 32px;
        font-size: 18px;
      }
      &:last-child {
        margin-bottom: 100px;
      }
    }
  }
  .cart-empty {
    padding-bottom: 100px;
    max-width: 810px;
    width: 100%;
    .cart-empty-content {
      padding-top: 160px;
      .message {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
      }
      .submessage {
        margin: 16px 0 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
      }
    }
    .cart-empty-action {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      max-width: 330px;
    }
    &+.later-cart {
      max-width: 810px;
      width: 100%;
    }
  }
  .cart-main {
    padding-left: 8px;
    padding-right: 16px;
    .cart-title {
      font-weight: 600;
    }
    .dynamic-promo {
      margin-top: -1px;
      margin-bottom: 20px;
      padding: 16px;
      min-height: 48px;
      font-size: 14px;
    }
    .cart-clear {
      margin-top: 20px;
      .trigger-cart-clear {
        margin-left: auto;
        width: 140px;
        height: 40px;
        font-size: 12px;
        border: 1px solid $border-1;
      }
    }
  }
  .cart-items {
    border: 1px solid $border-1;
  }
  .cart-item {
    .addon-selector {
      padding: 30px;
      .addon-title {
        font-size: 16px;
      }
      .i-checkbox {
        .text {
          font-size: 14px;
        }
      }
      .addon-selector-item {
        margin-top: 18px;
        .addon-descr {
          font-size: 12px;
        }
        .addon-selection {
          margin-top: 10px;
          .input-select-inline {
            width: 100%;
            height: 50px;
            font-size: 14px;
            line-height: 1.5;
            color: $font-0;
            border: 1px solid $border-1;
            background-color: $bg-1;
            &.invalid,
            &:invalid {color: $font-0;}
            & > option {
              padding-left: 0;
              &[value=""][disabled] {
                display: none;
              }
            }
          }
        }
        .addon-list {
          margin-top: 10px;
          .addon-item {
            position: relative;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 20px;
            width: 100%;
            color: $font-0;
            border: 1px solid $border-1;
            background-color: $bg-1;
            .addon-product {
              margin: 0 0 16px;
              padding-right: 50px;
              width: 100%;
            }
            .addon-tool {
              width: 100%;
              -webkit-box-pack: justify;
              -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
              justify-content: space-between;
            }
            .addon-quantity {
              position: relative;
              .i-text {
                width: 60px;
                height: 36px;
                font-size: 14px;
                text-align: center;
                border: 1px solid $border-1;
                background-color: $bg-1;
              }
              .i-text::-webkit-outer-spin-button,
              .i-text::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
              }
              .btn {
                margin-left: -1px;
                width: 36px;
                height: 36px;
                font-size: 12px;
                border: 1px solid $border-1;
                background-color: $bg-1;
              }
            }
            .btn-submit {
              margin-left: 10px;
              width: 60px;
              height: 36px;
              font-size: 14px;
              text-align: center;
              border: 1px solid $border-6;
            }
            .btn-delete {
              position: absolute;
              top: 0;
              right: 0;
              padding: 20px;
              color: $font-3;
              .icon {
                display: block;
              }
            }
          }

        }
      }
    }
    .product-mini {
      padding: 20px;
    }
    .addon-mini {
      padding-left: 20px;
      padding-right: 20px;
      .product-mini {
        background-color: $bg-10;
      }
      .image-url {
        max-width: 78px;
      }
    }
    .image-url {
      -webkit-flex: 0 1 35%;
      -ms-flex: 0 1 35%;
      flex: 0 1 35%;
      max-width: 98px;
    }
    .product-mini-details {
      -webkit-flex-basis: calc(65% - 16px);
      -ms-flex-preferred-size: calc(65% - 16px);
      flex-basis: calc(65% - 16px);
      .product-name {
        font-size: 16px;
        line-height: 20px;
      }
      .product-options {
        margin-top: 8px;
        font-size: 14px;
        line-height: 22px;
      }
      .product-price {
        font-size: 16px;
      }
      .product-message {
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
  .cart-sidebar {
    padding-left: 16px;
    padding-right: 8px;
    margin-bottom: 100px;
  }
  .cart-summary {
    padding: 20px;
    .summary-content {
      .order-total-item {
        margin-bottom: 18px;
        .label {
          width: 80px;
          font-size: 14px;
        }
        .value {
          font-size: 16px;
        }
      }
      .order-total-highlight {
        margin-top: 24px;
        .label {
          font-size: 14px;
        }
        .value {
          font-size: 18px;
        }
      }
      .order-checkout {
        padding: 20px;
      }
    }
    .cart-entry-promo {
      padding-top: 16px;
      .promo-message {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 20px;
      }
      .input-promo {
        width: calc(100% - 80px);
        input {
          font-size: 14px;
        }
      }
      .submit-promo {
        width: 80px;
        .btn-submit {
          font-size: 14px;
        }
      }
    }
    .promo-list {
      margin-top: 20px;
      .apply-promo-item {
        font-size: 14px;
        .promo-code {
          margin-bottom: 6px;
        }
        .promo-discount {
          margin-bottom: 6px;
        }
        .remove-promo-item {
          top: 10px;
          right: 10px;
          width: 20px;
          height: 20px;
          font-size: 10px;
        }
      }
    }
    .checkout-guide {
      margin-top: 20px;
      .guide-item {
        .toggle-label {
          font-size: 14px;
        }
        .toggle-content {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
  .cart-recommendations {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-top: 1px solid;
    .recommendations-head {
      margin-bottom: 16px;
      .title {
        font-size: 32px;
        line-height: 1;
      }
    }
    .recommendations-container {
      padding-bottom: 60px;
      .recommendations-grid {
        &.wide-space {
          margin-left: -14px;
          margin-right: -14px;
        }
        .grid-item {
          &.wide-space {
            padding-left: 14px;
            padding-right: 14px;
          }
          &:nth-child(n + 4) {
            margin-top: 28px;
          }
          &:nth-child(3n + 2) {
            -webkit-transform: translateY(60px);
            transform: translateY(60px);
          }
          &:nth-child(3n + 1) {
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
          }
        }
      }
    }
  }
}


@media screen and (min-width : $tc-screen-min) and (max-width : $tc-screen-max) {
  .cart-item {
    .product-mini {
      padding-bottom: 60px;
    }
    .addon-mini {
      .product-mini {
        padding-bottom: 20px;
      }
      .product-mini-details {
        .product-name {
          padding-right: 0;
        }
        .cart-item-options {
          margin-top: auto;
        }
        .product-price {
          margin-top: 0;
        }
        > .row {
          height: 100%;
        }
      }

    }
    .product-mini-details {
      .cart-item-options {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-flow: column-reverse;
        -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
      }
      .product-name {
        padding-right: 50px;
      }
      .product-price {
        margin-top: 16px;
      }
      .product-actions {
        position: absolute;
        bottom: 20px;
        left: 20px;
      }
      .product-tools {
        .trigger-remove {
          position: absolute;
          top: 8px;
          right: 4px;
          padding: 16px;
          color: $font-1;
          .icon {
            display: block;
          }
        }
        .trigger-change-option {
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
      }
    }
  }
}

@media screen and (min-width : $pc-screen-min) {
  .cart-item {
    .addon-selector {
      .addon-selector-item {
        .addon-list {
          .addon-item {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            .addon-product {
              margin-bottom: 0;
              padding-right: 0;
              width: calc(100% - 240px);
            }
            .addon-tool {
              width: 240px;
              -webkit-box-pack: end;
              -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
              justify-content: flex-end;
            }
            .btn-delete {
              position: static;
              margin-left: 20px;
              padding: 0;
              color: $font-3;
            }
          }
        }
      }
    }
    .product-mini-details {
      .cart-item-options {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
      }
      .product-quantity {
        .print-message {
          position: absolute;
          top: 100%;
          right: 0;
        }
      }
      .product-tools {
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: $font-3;
        a {
          margin-left: 10px;
        }
      }
    }
  }
}