.slim-billboard {
	.tile-overlay {
		.heading-title {
			line-height: 1;
		}
	}
}
.toggle-box {
	>.toggle-label {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		position: relative;
		min-height: 3.25rem;
		cursor: pointer;
		-webkit-transition: background-color 213ms ease-in-out;
		transition: background-color 213ms ease-in-out;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 14px;
			height: 14px;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 40 40'%3E%3Cpath fill='%23000' d='M40 17.857H22.143V0h-4.286v17.857H0v4.286h17.857V40h4.286V22.143H40z' /%3E%3C/svg%3E");
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	}
	>.toggle-label.active {
		&:after {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 40 5'%3E%3Cpath fill='%23000' d='M0 0h40v4.5H0z' /%3E%3C/svg%3E");
		}
	}
	>.toggle-content.active {
		overflow: initial;
		max-height: none;
		visibility: visible;
	}
}
.plp-actions {
  z-index: 10;
	margin-bottom: 16px;
	background-color: $bg-1;
	>.container {
		margin: 0 auto;
    max-width: $pc-screen-wide;
    background-color: $bg-1;
	}
	.filter-toggle {
		position: relative;
		border-right: 1px solid $border-1;
		.icon {
			-webkit-align-self: center;
			-ms-flex-item-align: center;
			align-self: center;
		}
	}
}
.plp-container {
	margin-left: auto;
  margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: $pc-screen-wide;
}
.plp-refinements-container {
	overflow: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	.toggle-box {
    &:not(:last-child) {
      border-bottom: 1px solid $border-1;
    }
    .toggle-label:after {
      right: 29px;
      left: auto;
    }
		>.toggle-content {
      display: none;
			padding: 0;
			>* {
				opacity: 0;
				-webkit-transition: opacity 213ms ease-out;
				transition: opacity 213ms ease-out;
			}
      &.active {
        margin-bottom: -10px;
        padding-top: 2px;
        padding-bottom: 17px;
        display: block;
        >* {
          opacity: 1;
          -webkit-transition-delay: 54ms;
          transition-delay: 54ms;
        }
			}
			&.category-filter {
				padding: 8px 0;
				border-bottom: 8px solid #e5e5e5;
			}
		}
	}
  .refinement-link {
    position: relative;
    cursor: pointer;
    &:after {
      content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 18'%3E%3Cpath fill='%23000' d='M23.543 2.371L21.171 0 8.286 12.886 2.371 6.971 0 9.343l7.629 7.628v-.028l.657.657z' /%3E%3C/svg%3E");
      position: absolute;
      top: 10px;
      left: 3px;
      width: 8px;
      height: 8px;
      font-size: 8px;
      opacity: 0;
      -webkit-transition: opacity 213ms cubic-bezier(.4,.9,.3,1);
      transition: opacity 213ms cubic-bezier(.4,.9,.3,1);
    }
    &.set-checked:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
	}
	.category-item {
		margin-bottom: 10px;
	}
	.refinement-swatches {
		&:not(.colorfamily) {
			border-bottom: 1px solid $border-1;
			border-left: 1px solid $border-1;
			border-right: 1px solid $border-1;
			overflow: hidden;
		}
		.swatch-color {
			margin-left: 2px;
		}
	}
}
.plp-content {
  padding-bottom: 120px;
  padding-left: 34px;
  padding-right: 34px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-transition-property: opacity,visibility;
  transition-property: opacity,visibility;
  &:not(.content-change) {
    -webkit-transition-delay: 213ms;
    transition-delay: 213ms;
    -webkit-transition-duration: .32s;
    transition-duration: .32s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .product-tile-details {
    margin-top: 12px;
  }
}
.product-tile {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
}
.plp-grid-item {
  position: relative;
  margin-bottom: 16px;
}
.search-notfound {
  .search-notfount-content {
    margin: 0 auto;
    text-align: center;
    word-break: keep-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .result-message {
    .search-key {
      display: block;
      font-weight: 600;
      line-height: 1;
      &::before {
        content: '‘';
      }
      &::after {
        content: '’';
      }
    }
    .text {
      display: block;
      margin-top: 16px;
      font-weight: 600;
      line-height: 1;
    }
  }
  .help-message {
    background-color: $bg-10;
    .text {
      letter-spacing: -.025em;
      color: $font-3;
    }
    .popular-keyword {
      margin: 0 auto;
      dt {
        font-weight: 600;
      }
      dd {
        .keyword:not(:last-child) {
          &:after {
            content: ',';
            padding-right: .25em;
          }
        }
      }
    }
  }
  .other-message {
    margin-top: 40px;
    .text {
      margin: 0;
      letter-spacing: -.025em;
    }
  }
}


@media screen and (max-width : $mc-screen-max) {
  .plp-header-wrap {
		padding-right: 16px;
		padding-left: 16px;
	}
	.plp-search-breadcrumb {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		height: 36px;
	}
	.slim-billboard {
		margin-bottom: 16px;
		.tile-overlay {
			.heading-title {
				font-size: 28px;
				font-weight: 600;
			}
			.billboard-link {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				.text {
					opacity: 0;
				}
			}
		}
  }
  .plp-actions {
    height: 52px;
    >.container{
        margin-right: 16px;
        margin-left: 16px;
        border: 1px solid $border-1;
        -webkit-transition: margin 213ms cubic-bezier(.4,.9,.3,1),border 213ms cubic-bezier(.4,.9,.3,1);
        transition: margin 213ms cubic-bezier(.4,.9,.3,1),border 213ms cubic-bezier(.4,.9,.3,1);
    }
    &.fixit-active {
      position: relative;
      >.container{
        position: fixed;
        top: 50px;
        right: 0;
        left: 0;
        margin-right: 0;
        margin-left: 0;
        border-top: none;
        border-left: 0;
        border-right: 0;
      }
    }
    .filter-toggle  {
      width: 50px;
      height: auto;
      min-height: 50px;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .result-count {
      margin-right: 14px;
      color: $font-3;
    }
  }
  .plp-container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .plp-refinements-container {
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
	background-color: $bg-1;
	color: $font-0;
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    &:not(.active) {
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition-duration: 213ms;
      transition-duration: 213ms;
    }
    &.active {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      -webkit-transition-duration: 213ms;
      transition-duration: 213ms;
    }
    .refinements {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%;
    }
    .refinements-header {
      padding: 18px 29px;
      border-bottom: 1px solid $border-1;
      .title {
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
      }
      .button-close {
        position: absolute;
        top: 12px;
        right: 23px;
        padding: 6px;
        .icon {
          display: block;
        }
      }
    }
    .refinements-group {
      -webkit-box-flex: 1;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      .swatch-color:not(:last-child) {
        margin-right: 12px;
      }
    }
    .refinements-footer {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 89px;
      -ms-flex: 1 0 89px;
      flex: 1 0 89px;
      max-height: 89px;
      padding: 16px;
      border-top: 1px solid $border-1;
    }
    .toggle-box {
      padding: 6px 0;
      >.toggle-label {
        padding: 12px 29px;
      }
      >.toggle-content{
        padding: 0 29px;
        &.active {
          margin-bottom: 0;
					padding-bottom: 9px;
					border-bottom: none;
				}
				&.category-filter {
					padding: 0 29px;
					border-bottom: none;
				}
      }
    }
    .refinement-link {
      display: block;
      padding: 6px 0 6px 20px;
      font-size: 14px;
      line-height: 1;
      &:after {
        top: 9px;
        left: 0;
        width: 12px;
        height: 12px;
      }
    }
    .swatches-wrapper {
      padding-bottom: 5px;
    }
  }
  .plp-content {
    padding-bottom: 60px;
    opacity: 1;
    .product-tile-details {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .search-notfound {
    padding-left: 16px;
    padding-right: 16px;
    .search-notfount-content {
      padding-top: 50px;
      padding-bottom: 50px;
      max-width: 100%;
    }
    .result-message {
      .search-key {
        font-size: 36px;
      }
      .text {
        font-size: 16px;
      }
    }
    .help-message {
      margin-top: 30px;
      padding: 16px;
      .text {
        margin: 0 auto 16px;
        max-width: 170px;
        font-size: 12px;
        line-height: 16px;
      }
      .popular-keyword {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 260px;
        font-size: 15px;
        line-height: 19px;
        dt {
          margin-bottom: 6px;
        }
      }
    }
    .other-message {
      margin-top: 30px;
      .text {
        font-size: 12px;
        line-height: 16px;
      }
      .button {
        margin-top: 22px;
        padding: 13px 16px;
        width: 100%;
        height: 45px;
      }
    }
  }
}

@media screen and (min-width : $tc-screen-min) {
	.plp-header-wrap {
		padding-right: 20px;
		padding-left: 20px;
	}
	.slim-billboard {
		margin-bottom: 20px;
		.heading-title {
			margin-bottom: .5em;
			//@at-root: calc( 20px + 1.25*(100vw - $mc-screen-max)/42.0625);
			font-weight: 900;
		}
		.billboard-link {
			display: inline-block;
			padding: 10px 15px;
			font-size: 12px;
			font-weight: 600;
			text-align: center;
			border: 1px solid;
			-webkit-transition: opacity 426ms cubic-bezier(.4,.9,.3,1),color 426ms cubic-bezier(.4,.9,.3,1),border-color 426ms cubic-bezier(.4,.9,.3,1),background-color 426ms cubic-bezier(.4,.9,.3,1);
			transition: opacity 426ms cubic-bezier(.4,.9,.3,1),color 426ms cubic-bezier(.4,.9,.3,1),border-color 426ms cubic-bezier(.4,.9,.3,1),background-color 426ms cubic-bezier(.4,.9,.3,1);
			&:hover {
				&:not([disabled]) {
					&:not(.disabled) {
						opacity: .65;
					}
				}
			}
		}
	}
	.plp-actions {
		border-top: 1px solid $border-1;
		border-bottom: 1px solid $border-1;
		.container {
			padding-left: 20px;
			padding-right: 20px;
		}
		.filter-toggle {
			width: 60px;
			height: 60px;
			overflow: hidden;
			-webkit-box-align: end;
			-webkit-align-items: flex-end;
			-ms-flex-align: end;
			align-items: flex-end;
			-webkit-align-self: stretch;
			-ms-flex-item-align: stretch;
			align-self: stretch;
			-webkit-flex-shrink: 0;
			-ms-flex-negative: 0;
			flex-shrink: 0;
			-webkit-flex-basis: 60px;
			-ms-flex-preferred-size: 60px;
			flex-basis: 60px;
			-webkit-transition: width 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1);
			transition: width 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1);
			transition: flex-basis 426ms cubic-bezier(.4,.9,.3,1),width 426ms cubic-bezier(.4,.9,.3,1);
			transition: flex-basis 426ms cubic-bezier(.4,.9,.3,1),width 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-ms-flex-preferred-size 426ms cubic-bezier(.4,.9,.3,1);
			.icon {
        margin-left: auto;
				margin-right: auto;
			}
			.toggle-text {
				position: absolute;
				top: 0;
				left: 16px;
				bottom: 0;
				margin: auto;
				height: 14px;
				color: $font-3;
				white-space: nowrap;
				opacity: 0;
				-webkit-transition: opacity 426ms cubic-bezier(.4,.9,.3,1);
				transition: opacity 426ms cubic-bezier(.4,.9,.3,1);
			}
			&:not(.active) {
				width: 256px;
				-webkit-flex-basis: 256px;
				-ms-flex-preferred-size: 256px;
				flex-basis: 256px;
				.icon {
					margin-right: 16px;
				}
				.toggle-text {
					display: block;
					opacity: 1;
				}
			}
		}
		.result-count {
			margin-left: 20px;
			margin-right: auto;
			font-size: 14px;
			font-weight: 600;
			line-height: 1;
		}
		.sort-select {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			width: 234px;
			border-left: 1px solid $border-1;
			-webkit-flex-basis: 234px;
			-ms-flex-preferred-size: 234px;
			flex-basis: 234px;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-align-self: stretch;
			-ms-flex-item-align: stretch;
			align-self: stretch;
			>select {
				display: block;
				padding: 0 16px;
				width: 234px;
				height: 100%;
				border: 0;
			}
		}
	}
	.plp-refinements-container {
		padding-top: 20px;
		padding-bottom: 20px;
		&:not(.active) {
			width: 276px;
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 276px;
			-ms-flex: 0 0 276px;
			flex: 0 0 276px;
			opacity: 1;
			visibility: inherit;
			-webkit-transition: opacity 426ms cubic-bezier(.4,.9,.3,1),visibility 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1);
			transition: opacity 426ms cubic-bezier(.4,.9,.3,1),visibility 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1);
			transition: opacity 426ms cubic-bezier(.4,.9,.3,1),visibility 426ms cubic-bezier(.4,.9,.3,1),flex-basis 426ms cubic-bezier(.4,.9,.3,1);
			transition: opacity 426ms cubic-bezier(.4,.9,.3,1),visibility 426ms cubic-bezier(.4,.9,.3,1),flex-basis 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-ms-flex-preferred-size 426ms cubic-bezier(.4,.9,.3,1);
		}
		.refinements {
			width: 224px;
			margin-left: 16px;
			border-top: 1px solid $border-1;
		}
		.refinement {
			padding: 10px 0;
			>.toggle-label {
				padding: 10px 0;
				min-height: 36px;
				font-size: 16px;
				font-weight: 600;
				line-height: 1;
			}
		}
		.toggle-box {
			.toggle-label {
				&:after {
					right: auto;
					left: 210px;
				}
			}
		}
		.refinement-link {
			display: inline-block;
			padding: 8px 0 8px 25px;
			font-size: 14px;
			line-height: 1;
			&:not(.set-checked) {
				color: $font-1;
			}
			&:before {
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				width: 14px;
				height: 14px;
				border: 1px solid $border-4;
			}
		}
		.swatches-wrapper {
			padding: 6px 0 8px;
		}
		.swatches-wrapper.colorfamily {
			padding-top: 3px;
		}
    &.active {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 0;
      -ms-flex: 0 0 0px;
      flex: 0 0 0;
      width: 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 426ms cubic-bezier(.4,.9,.3,1) 213ms,visibility 426ms cubic-bezier(.4,.9,.3,1) 213ms,-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1);
      transition: opacity 426ms cubic-bezier(.4,.9,.3,1) 213ms,visibility 426ms cubic-bezier(.4,.9,.3,1) 213ms,-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1);
      transition: opacity 426ms cubic-bezier(.4,.9,.3,1) 213ms,visibility 426ms cubic-bezier(.4,.9,.3,1) 213ms,flex-basis 426ms cubic-bezier(.4,.9,.3,1);
      transition: opacity 426ms cubic-bezier(.4,.9,.3,1) 213ms,visibility 426ms cubic-bezier(.4,.9,.3,1) 213ms,flex-basis 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-webkit-flex-basis 426ms cubic-bezier(.4,.9,.3,1),-ms-flex-preferred-size 426ms cubic-bezier(.4,.9,.3,1);
    }
  }
  .plp-content {
		.product-tile-main {
			&:hover {
				.product-img {
					opacity: 1;
				}
			}
		}
		.product-tile-details {
      opacity: 1;
		}
  }

  .search-notfound {
    padding-left: 20px;
    padding-right: 20px;
    .search-notfount-content {
      padding-top: 66px;
      padding-bottom: 80px;
      max-width: 750px;
    }
    .result-message {
      .search-key {
        font-size: 60px;
      }
      .text {
        font-size: 20px;
      }
    }
    .help-message {
      margin-top: 40px;
      padding: 28px;
      .text {
        margin-bottom: 18px;
        font-size: 14px;
        line-height: 20px;
      }
      .popular-keyword {
        font-size: 16px;
        line-height: 20px;
        dt {
          margin-right: 16px;
        }
      }
    }
    .other-message {
      margin-top: 40px;
      .text {
        font-size: 14px;
        line-height: 20px;
      }
      .button {
        margin-top: 24px;
        width: 180px;
      }
    }
  }
}

@media screen and (max-width : $tc-screen-max){
  .plp-content {
    padding-left: 0;
    padding-right: 0;
    .product-badges {
      .badge-text {
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width : $pc-screen-wide) {
  .slim-billboard {
    .tile-overlay {
      .heading-title {
        font-size: 40px;
      }
      .billboard-link {
        padding: 15px 25px;
        min-width: 180px;
        font-size: 14px;
      }
    }
  }
}
	// 필터
.swatch-color {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-size: 20px 20px;
	background-position: 50%;
    overflow: hidden;
    cursor: pointer;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 20px;
	-ms-flex: 0 0 20px;
	flex: 0 0 20px;
	-webkit-transition: -webkit-transform 213ms ease-in-out;
	transition: -webkit-transform 213ms ease-in-out;
	transition: transform 213ms ease-in-out;
	transition: transform 213ms ease-in-out, -webkit-transform 213ms ease-in-out;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		border: 1px solid rgba(0,0,0,.1);
		-webkit-box-shadow: inset 0 0 $bg-1;
		box-shadow: inset 0 0 $bg-1;
		-webkit-transition: -webkit-box-shadow 213ms ease-in-out;
		transition: -webkit-box-shadow 213ms ease-in-out;
		transition: box-shadow 213ms ease-in-out;
		transition: box-shadow 213ms ease-in-out, -webkit-box-shadow 213ms ease-in-out;
	}
	&:not(.single) {
		margin-top: 5px;
		margin-bottom: 5px;
	}
&.selected {
	&:after {
	-webkit-box-shadow: inset 0 0 0 2px $bg-1,inset 0 0 0 3px rgba(0,0,0,.1);
	box-shadow: inset 0 0 0 2px $bg-1,inset 0 0 0 3px rgba(0,0,0,.1);
	}
}
&.unselectable {
	opacity: .35;
	-webkit-transform: scale(1);
	transform: scale(1);
}
}
.swatch-color-solid-border {
	border: 1px solid $border-1;
}
.swatch-color-large {
	width: 30px;
	height: 30px;
	font-size: 30px;
}
.swatch-color-list {
	height: 100%;
	border-radius: inherit;
	overflow: hidden;
}
.swatch-color-item {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1;
	-ms-flex: 1 1;
	flex: 1 1;
}
.swatch {
	&:not(.swatch-color) {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-flex: 1;
		-webkit-flex: 1 0 20%;
		-ms-flex: 1 0 20%;
		flex: 1 0 20%;
		position: relative;
		padding: 6px 10px 8px;
		min-height: 48px;
		font-size: 14px;
		line-height: 1;
		text-align: center;
		border-top: 1px solid $border-1;
		border-right: 1px solid $border-1;
		-webkit-transition: color 213ms ease-in-out;
		transition: color 213ms ease-in-out;
		cursor: pointer;
	}
	&:not(.swatch-color).selected {
		color: $font-7;
		background-color: $bg-dimmed;
	}
	&:not(.swatch-color).unselectable {
		color: $font-5;
		background-color: $bg-10;
	}
}
.swatch-amount {
	position: relative;
	max-width: 20%;
	border: none;
	border-right: 1px solid $border-1;
	&:before {
	content: '';
	display: block;
	padding-bottom: 100%;
	width: 100%;
}
	&:last-child {
		border-right: 1px solid $border-1;
	}
	&:nth-child(5n) {
		border-right: none;
	}
	&:nth-child(5n+5) {
		border: none;
	}
	&:first-child {
		&:after {
			content: '';
			z-index: 1;
			position: absolute;
			top: -1px;
			left: 0;
			width: 600%;
			border-top: 1px solid $border-1;
			pointer-events: none;
		}
	}
	&:nth-child(5n+6) {
		&:after {
			content: '';
			z-index: 1;
			position: absolute;
			top: -1px;
			left: 0;
			width: 600%;
			border-top: 1px solid $border-1;
			pointer-events: none;
		}
	}
}
.swatch-size {
&:before {
	content: '';
	display: block;
	padding-bottom: 100%;
	width: 100%;
}
	&:nth-child(5n) {
		border-right: none;
	}
	position: relative;
	max-width: 20%;
	border: none;
	border-right: 1px solid $border-1;
	&:last-child {
		border-right: 1px solid $border-1;
	}
	&:nth-child(5n+5) {
		border: none;
	}
	&:first-child {
		&:after {
			content: '';
			z-index: 1;
			position: absolute;
			top: -1px;
			left: 0;
			width: 600%;
			border-top: 1px solid $border-1;
			pointer-events: none;
		}
	}
	&:nth-child(5n+6) {
		&:after {
			content: '';
			z-index: 1;
			position: absolute;
			top: -1px;
			left: 0;
			width: 600%;
			border-top: 1px solid $border-1;
			pointer-events: none;
		}
	}
}
.swatch-width {
	&:nth-child(5n) {
		border-right: none;
	}
}
.swatch-cut {
	&:nth-child(2n) {
		border-right: 0;
	}
	&:last-child {
		border-right: none;
	}
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0;
	-ms-flex: 1 0 0px;
	flex: 1 0 0;
	min-width: 50%;
}
.swatch-style {
	&:nth-child(2n) {
		border-right: 0;
	}
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0;
	-ms-flex: 1 0 0px;
	flex: 1 0 0;
	min-width: 50%;
}
.swatch-value-amount {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.swatch-value-size {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.swatch-value-style {
	.icon {
		width: 40px;
		height: 40px;
	}
}


@media screen and (max-width : $mc-screen-max) {
	.swatch-color {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 14px;
		-ms-flex: 0 0 14px;
		flex: 0 0 14px;
		width: 14px;
		height: 14px;
		background-size: 14px 14px;
		&:not(:last-child) {
			margin-right: 7px;
		}
		&.selected {
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
			&:after {
				-webkit-box-shadow: inset 0 0 0 3px $bg-1,inset 0 0 0 4px rgba(0,0,0,.1);
				box-shadow: inset 0 0 0 3px $bg-1,inset 0 0 0 4px rgba(0,0,0,.1);
			}
		}
	}
}

@media screen and (min-width : $tc-screen-min) {
	.swatch-color {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 20px;
		-ms-flex: 0 0 20px;
		flex: 0 0 20px;
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
		&:not(:last-child) {
			margin-right: 10px;
		}
		&:hover {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
		&.selected {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
}
