.checkout-container {
  position: relative;
  .i-checkbox {
    position: relative;
    font-size: 12px;
    line-height: 1;
    color: $font-1;
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      &:not(:checked) + .icon {
        color: transparent;
      }
    }
    .icon {
      margin-right: 8px;
      padding: 2px;
      width: 14px;
      height: 14px;
      color: $font-0;
      vertical-align: top;
      border: 1px solid $border-4;
      background-color: $bg-1;
    }
    .text {
      color: $font-3;
      vertical-align: top;
    }
  }
  .input-select-inline {
    padding-left: 20px;
    width: 100%;
    line-height: 1.5;
    color: $font-0;
    border: 1px solid $border-1;
    background-color: $bg-1;
    &.invalid,
    &:required:invalid {color: $font-1;}
    & > option {
      padding-left: 0;
      &[value=""][disabled] {
        display: none;
      }
    }
  }
  .checkout-progress {
    .step {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1;
      -ms-flex: 1 1;
      flex: 1 1;
      min-height: 60px;
      border-top: 2px solid;
      .step-title {
        letter-spacing: -.025em;
        word-break: keep-all;
        word-wrap: break-word;
        overflow-wrap: break-word;
        &:before {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 50%;
          letter-spacing: 0;
          color: #fff;
          content: attr(data-step);
        }
      }
      &:not(:last-child) {
        -webkit-box-shadow: inset -1px 0 #fff;
        box-shadow: inset -1px 0 #fff;
      }
      &:not(.active) {
        background-color: $bg-10;
        border-top-color: $border-1;
        color: $font-1;
        .step-title:before {
          background-color: $bg-6;
        }
      }
      &.active {
        color: $color-2;
        .step-title:before {
          background-color: $color-2;
        }
      }
      &.fulfilled {
        color: $font-0;
        border-top-color: $color-2;
        .step-title:before {
          display: none;
        }
      }
    }
  }
}
.checkout-result {
  color: $font-7;
  background-color: $bg-dimmed;
  p {
    margin: 0;
    letter-spacing: -.025em;
    word-break: keep-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    &:not(:first-child) {
      margin-top: 18px;
    }
  }
  .checkout-result-content {
    padding: 30px 16px;
    height: 100%;
    .result-message {
      line-height: 1.25;
      letter-spacing: -.05em;
      .highlight {
        color: $color-2;
      }
    }
    .notify-message {
      color: $font-1;
      .highlight {
        color: $font-7;
      }
    }
    .button-group {
      .button {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        letter-spacing: -.025em;
        &.button-home {
          color: $font-0;
          border-color: $border-7;
          background-color: $bg-1;
        }
        &.button-history {
          color: $font-7;
          border-color: $color-2;
          background-color: $color-2;
        }
      }
    }
  }
}
.checkout-main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  width: 100%;
  .checkout-order-info {
    p {
      margin: 0;
      letter-spacing: -.025em;
      &.order-number {
        font-weight: 600;
        line-height: 1;
        .number {
          letter-spacing: 0;
        }
      }
      &.order-date {
        font-size: 14px;
        line-height: 1;
        color: $font-3;
        .date {
          letter-spacing: 0;
        }
      }
    }
  }
  .toggle-box {
    >.toggle-label {
      margin: 0;
      .toggle-title {
        width: calc(100% - 14px);
      }
      &:after {
        position: static;
        margin: 0;
        margin-left: auto;
      }
    }
    .toggle-content {
      display: none;
      margin: 0;
      width: 100%;
      letter-spacing: -.025em;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
      ul,
      li {margin: 0;}
      li {
        &:not(:first-child) {
          margin-top: 4px;
        }
      }
      &.active {
        display: block;
      }
    }
    &:not(:first-child) {
      border-top: 1px solid $border-1;
    }
  }
  .checkout-summary {
    .checkout-summary-box {
      color: $font-0;
      background-color: $bg-1;
    }
    .product-mini {
      &:not(:first-child) {
        border-top: 1px solid $border-1;
      }
    }
    .image-url {
      -webkit-box-flex: 0;
      -webkit-transition: opacity 213ms cubic-bezier(.4,.9,.3,1);
      transition: opacity 213ms cubic-bezier(.4,.9,.3,1);
      background-color: $bg-6;
    }
    .product-mini-details {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1;
      -ms-flex: 1 1;
      flex: 1 1;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      .row {
        width: 100%;
      }
      .product-name {
        font-weight: 600;
        letter-spacing: -.025em;
      }
      .product-options {
        .option {
          &.quantity {
            display: block;
          }
          &:not(:first-child):not(.quantity)::before {
            content: '/';
            padding-right: .25em;
          }
        }
      }
      .product-price {
        margin-top: auto;
        line-height: 1;
        letter-spacing: -.025em;
        white-space: nowrap;
        .retail {
          color: $font-3;
          text-decoration: line-through;
        }
        .sale {
          margin-left: .5em;
        }
        .rate {
          font-weight: 400;
          color: $color-5;
        }
      }
    }
    .order-totals {
      border-top: 1px solid $border-1;
      .order-total-item {
        .label {
          line-height: 1;
          letter-spacing: -.025em;
          color: $font-3;
          white-space: nowrap;
        }
        .value {
          line-height: 1.2;
          letter-spacing: -.025em;
          color: $font-0;
          text-align: right;
          .retail {
            color: $font-3;
            text-decoration: line-through;
            white-space: nowrap;
          }
          .sale {
            margin-left: 5px;
            white-space: nowrap;
          }
        }
      }
      .order-total-highlight {
        .label {
          line-height: 1;
          letter-spacing: -.025em;
        }
        .value {
          line-height: 1;
          letter-spacing: -.025em;
        }
      }
    }
  }
  .checkout-content {
    .checkout-content-box {
      color: $font-0;
      background-color: $bg-1;
    }
  }
  .checkout-guide-content {
    padding: 24px 16px;
    background-color: $bg-10;
    .checkout-guide-info {
      border: 1px solid $border-1;
      &:not(:first-child) {
        border-top: 0;
      }
    }
  }
  .checkout-guide-info {
    background-color: $bg-1;
    .toggle-label {
      padding-left: 20px;
      padding-right: 20px;
      height: 48px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: -.025em;
      color: $font-3;
    }
    .toggle-content {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -.025em;
      color: $font-3;
    }
  }
}
.checkout-step-content {
  .checkout-step-box {
    border-top: 1px solid $border-1;
    .step-head {
      height: 64px;
      .step-title {
        margin: 0;
        margin-right: auto;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
      }
      .inactive-display {
        max-width: calc(100% - 140px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &.toggle-label {
        &:after {
          margin-left: 16px;
        }
      }
      &.active {
        .inactive-display {
          display: none;
        }
      }
      &:not(.active) {
        .active-display {
          display: none;
        }
      }
    }
    .step-content {
      &.toggle-content {
        padding-bottom: 24px;
      }
      &.tab-box {
        .tab-item {
          border-color: $border-4;
          &:not(.uk-active) {
            color: $font-1;
            border-color: $bg-10;
            background-color: $bg-10;
          }
        }
        .tab-switcher {
          .tab-content {
            &:not(.uk-active) {
              display: none;
            }
          }
        }
      }
      .fulfilled-content {
        .text {
          margin: 0;
          font-size: 14px;
          line-height: 1.2;
          &:not(:first-child) {
            margin-top: 8px;
          }
        }
        &:not(:last-child) {
          & + .button-modify {
            border-color: $border-4;
          }
        }
      }
      .default-address {
        .address-data {
          .data-text {
            margin: 0;
            font-size: 14px;
            &:not(:first-child) {
              margin-top: 8px;
            }
          }
        }
        .address-tool {
          .trigger-address-list {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            font-size: 12px;
            color: $font-0;
            background-color: $bg-1;
          }
        }
      }
      .field {
        .field-row {
          .error-message {
            display: block;
            margin: 0;
            font-size: 12px;
            line-height: 1;
            letter-spacing: -.025em;
            color: $color-5;
            &:not(.filled) {
              display: none;
            }
          }
          &.self-memo {
            &:not(.active) {
              display: none;
            }
          }
        }
        .field-label {
          display: inline;
          &.error {
            .error-message {
              display: block;
              margin: 0;
              line-height: 1;
              letter-spacing: -.025em;
              color: $color-5;
              // &:not(.active) {
              //   display: none;
              // }
            }
          }
          &.error+.trigger-address-search {
            margin-bottom: 20px;
          }
          &.parsley-success {
            .error-message {
              display: none;
            }
          }
        }

        .field-head {
          margin-bottom: 12px;
          .field-title {
            margin-bottom: 0;
          }
        }
        .field-title {
          display: inline-block;
          margin-bottom: 12px;
          font-weight: 600;
          line-height: 1;
          letter-spacing: -.025em;
          color: $font-3;
        }
        .publish-policy {
          letter-spacing: -.025em;
          color: $font-3;
          border: 1px solid $border-1;
          background-color: $bg-1;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
        }
      }
      .input-text {
        display: block;
        width: 100%;
        line-height: 1.5;
        letter-spacing: -.025em;
        border: 1px solid $border-1;
        &::-webkit-input-placeholder {
          color: $font-1;
        }
        &:-moz-placeholder {
          color: $font-1;
        }
        &::-moz-placeholder {
          color: $font-1;
        }
        &:-ms-input-placeholder {
          color: $font-1;
        }
        &::placeholder {
          color: $font-1;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &:focus {
          &::-webkit-input-placeholder {
            color: $font-6;
          }
          &:-moz-placeholder {
            color: $font-6;
          }
          &::-moz-placeholder {
            color: $font-6;
          }
          &:-ms-input-placeholder {
            color: $font-6;
          }
          &::placeholder {
            color: $font-6;
          }
        }
      }
      .print-message {
        margin: 0;
        line-height: 1;
        letter-spacing: -.025em;
        color: $color-5;
        &:not(.active) {
          display: none;
        }
      }

      .promo-field {
        .promo-head {
          font-size: 14px;
          line-height: 1;
          margin-bottom: 9px;
        }
        .promo-field-content {
          width: 100%;
          .trigger-apply {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            border-color: $border-4;
          }
        }
        .print-message {
          width: 100%;
          &.description {
            display: block;
            line-height: 1.2;
            color: $color-2;
          }
        }
        .promo-list {
          width: 100%;
          border: 1px solid $border-1;
          .apply-promo-item {
            position: relative;
            padding: 20px;
            line-height: 1;
            background-color: $bg-1;
            .promo-code {
              display: block;
              color: $color-2;
            }
            .promo-discount {
              display: block;
              font-weight: 600;
            }
            .promo-label {
              display: block;
            }
            .remove-promo-item {
              position: absolute;
              color: $font-1;
            }
            &:not(:first-child) {
              border-top: 1px solid $border-1;
            }
          }
          &.empty {
            display: none;
          }
        }
      }
      .payment-method {
        .payment-method-item {
          position: relative;
          .payment-item {
            height: 55px;
            border: 1px solid $border-1;
            text-decoration: none;
            .text {
              line-height: 1;
            }
          }
          .payment-content {
            display: none;
            padding: 24px;
            border: 1px solid $border-1;
            border-top: 0;
            .payment-insurance {
              margin-top: 24px;
            }
            .fieldset-legend {
              .title {
                font-size: 16px;
                font-weight: 600;
                line-height: 1;
              }
            }
            .insurance-preview {
              margin-bottom: 8px;
              border: 1px solid $border-1;
            }
            .payment-policy {
              margin-top: 24px;
              .payment-policy-title {
                margin-bottom: 12px;
                font-size: 12px;
                font-weight: 600;
                line-height: 1;
                letter-spacing: -0.025em;
                color: $font-3;
              }
              .payment-policy-content {
                letter-spacing: -0.025em;
                color: $font-3;
              }
            }
            .radio-tabs {
              .i-selector {
                .label {
                  height: 48px;
                  font-size: 14px;
                }
              }
            }
            .field-row {
              .field-title {
                font-size: 12px;
              }
              .input-text {
                padding-left: 20px;
                height: 50px;
                font-size: 14px;
              }
              .descr-message {
                margin-top: 8px;
                line-height: 20px;
              }
              &:not(:first-child) {
                .field-title {
                  margin-top: 24px;
                }
              }
            }

            .radio-tabs {
              border: 1px solid $border-1;
              .i-selector {
                position: relative;
                .label {
                  width: 100%;
                  line-height: 1;
                  color: $font-1;
                  background-color: $bg-10;
                }
                input {
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  visibility: hidden;
                  &:checked + .label {
                    color: $font-0;
                    background-color: $bg-1;
                    outline: 1px solid $border-6;
                    z-index: 2;
                  }
                }
                &:not(:first-child) {
                  border-left: 1px solid $border-1;
                }
              }
            }
            .field-row {
              .field-title {
                margin-bottom: 12px;
                font-weight: 600;
                line-height: 1;
                letter-spacing: -.025em;
                color: $font-3;
              }
              .input-text {
                width: 100%;
                line-height: 1.5;
                letter-spacing: -.025em;
                border: 1px solid $border-1;
                background-color: $bg-1;
                &::-webkit-input-placeholder {
                  color: $font-1;
                }
                &:-moz-placeholder {
                  color: $font-1;
                }
                &::-moz-placeholder {
                  color: $font-1;
                }
                &:-ms-input-placeholder {
                  color: $font-1;
                }
                &::placeholder {
                  color: $font-1;
                }
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &:disabled {
                  color: $font-1;
                  background-color: $bg-10;
                }
              }
              .error-message {
                margin: 0;
                padding-top: 8px;
                font-size: 12px;
                line-height: 1;
                letter-spacing: -.025em;
                color: $color-5;
                text-align: left;
                &:empty {
                  display: none;
                }
              }
              .descr-message {
                margin: 0;
                font-size: 12px;
                color: $font-3;
              }
              &:not(:first-child) {
                margin-top: 10px;
              }
            }
          }
          &.active {
            z-index: 1;
            .payment-item {
              border-color: $border-6;
            }
            .payment-content {
              display: block;
            }
          }
          &:not(:first-child) {
            margin-top: -1px;
          }
        }
      }
      .checkout-agree {
        display: inline-block;
        .text {
          color: $font-0;
        }
      }
    }
    &.order-identity-step {
      .button-login {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 10px;
        width: 80px;
        height: 30px;
        color: $font-7;
        background-color: $bg-dimmed;
      }
      .step-head {
        position: relative;
      }
      .step-descr {
        .text {
          line-height: 1.2;
          letter-spacing: -.025em;
          color: $color-2;
          text-align: right;
        }
      }
    }
  }
}
.checkout-result-info {
  .result-info-box {
    padding-top: 15px;
    padding-bottom: 15px;
    .result-info-title {
      margin-bottom: 24px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
    }
    .text {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -.025em;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
      &:not(:first-child) {
        margin-top: 6px;
      }
    }
    .payment-info {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
      dt {
        width: 140px;
        &:not(:first-child) {
          margin-top: 6px;
        }
      }
      dd {
        width: calc(100% - 140px);
        font-weight: 600;
        &:nth-child(n + 3) {
          margin-top: 6px;
        }
      }
    }
    &:not(:first-child) {
      border-top: 1px solid $border-1;
    }
  }
}
.window-modal {
  &.modal-identity-verify {
    .uk-close {
      margin: 0;
    }
  }
  &.modal-identity-verify-result {
    .uk-close {
      margin: 0;
    }
  }
  .address-selector {
    .address-selector-title {
      font-weight: 600;
      line-height: 1;
      border-bottom: 1px solid $border-1;
    }
    .address-list {
      li {
        padding-top: 24px;
        border-bottom: 1px solid $border-1;
      }
    }
    .customer-address-empty {
      height: 180px;
      .text {
        margin: 0;
      }
    }
  }
  .identity-verify {
    .identity-verify-title {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
      text-align: center;
    }
    .description-section {
      background-color: $bg-10;
      li {
        letter-spacing: -.025em;
      }
    }
    .publish-policy {
      letter-spacing: -.025em;
      text-align: center;
    }
    .action-group {
      margin-top: 36px;
      .button {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .identity-verify-result {
    text-align: center;
    .result-message {
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
    }
    .result-description {
      font-size: 12px;
      line-height: 16px;
    }
    .account-list {
      li {
        font-weight: 600;
        line-height: 1;
        &:not(:first-child) {
          margin-top: 6px;
        }
      }
    }
    .action-group {
      margin-top: 32px;
    }
  }
}

@media screen and (max-width : 375px){
  .checkout-container {
    .checkout-progress {
      .step {
        .step-title {
          -webkit-box-orient:vertical;
          -webkit-box-direction:normal;
          -webkit-flex-direction:column;
          -ms-flex-direction:column;
          flex-direction:column;
          &:before {
            margin-bottom: 5px;
          }
          .icon {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
@media screen and (min-width : 376px) and (max-width : $mc-screen-max){
  .checkout-container {
    .checkout-progress {
      .step {
        .step-title {
          &:before {
            margin-right: 5px;
          }
          .icon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
@media screen and (max-width : $mc-screen-max){
  .checkout-container {
    z-index: 1100;
    &:not(.complete) {
      padding-top: 60px;
    }
    .input-select-inline {
      height: 45px;
    }
    .checkout-header {
      z-index: 2;
      position: absolute;
      top: -51px;
      left: 0;
      width: 100%;
      height: 51px;
      background-color: $bg-1;
      .cart-title {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 0;
      }
      .button-back {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 0;
        min-width: 28px;
        height: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 2;
        left: 9px;
        padding: 7px;
        font-size: 14px;
      }
      .header-general.fixit-active + .content-area & {
        position: fixed;
        top: 0;
      }
    }
    .checkout-progress {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background-color: $bg-1;
      .step {
        .step-title {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          &:before {
            width: 14px;
            height: 14px;
            font-size: 12px;
          }
          .icon {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            box-shadow: inset 0 0 0 1px $bg-dimmed, 0 0 0 1px $bg-dimmed;
          }
        }
      }
      .header-general.fixit-active + .content-area & {
        position: fixed;
        top: 51px;
        height: 61px;
        background-color: #fff;
        border-bottom: 1px solid $border-1;
      }
    }
  }
  .checkout-result {
    height: 335px;
    p {
      font-size: 12px;
      line-height: 1.4166;
      &:not(:first-child) {
        margin-top: 12px;
      }
    }
    .checkout-result-content {
      padding-top: 0;
      .result-message {
        margin-top: auto;
        font-size: 24px;
      }
      .button-group {
        margin-top: auto;
        width: 100%;
      }
    }
  }
  .checkout-main {
    width: 100%;
    > .row {
      margin-left: 0;
      margin-right: 0;
      > [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
      }
    }
    > .row {
      .checkout-order-info {
        padding: 33px 24px 30px;
        border-bottom: 1px solid $border-1;
        p {
          &.order-number {
            font-size: 18px;
          }
          &.order-date {
            margin-top: 11px;
          }
        }
      }
    }
    .checkout-summary {
      .toggle-box {
        >.toggle-label {
          padding-left: 16px;
          padding-right: 16px;
          height: 64px;
        }
        .toggle-content {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
      .order-list {
        .toggle-label {
          font-size: 16px;
        }
      }
      .product-mini {
        padding-bottom: 24px;
        &:not(:first-child) {
          padding-top: 24px;
        }
      }
      .image-url {
        margin-right: 16px;
        -webkit-flex: 0 1 30%;
        -ms-flex: 0 1 30%;
        flex: 0 1 30%;
        max-width: 74px;
      }
      .product-mini-details {
        -webkit-flex-basis: calc(70% - 16px);
        -ms-flex-preferred-size: calc(70% - 16px);
        flex-basis: calc(70% - 16px);
        .product-name {
          font-size: 12px;
          line-height: 16px;
        }
        .product-options {
          margin-top: 4px;
          font-size: 12px;
          line-height: 16px;
        }
        .product-price {
          font-size: 12px;
        }
      }
      .order-totals {
        padding: 16px 16px 20px;
        .order-totals-title {
          font-size: 16px;
          font-weight: 600;
          line-height: 1;
          margin-bottom: 24px;
        }
        .order-total-item {
          margin-bottom: 9px;
          .label {
            width: 66px;
            font-size: 12px;
          }
          .value {
            font-size: 14px;
          }
        }
        .order-total-highlight {
          margin-top: 22px;
          .label {
            font-size: 12px;
          }
          .value {
            font-size: 16px;
          }
        }
        &.finally {
          padding: 25px 32px 0;
          background-color: $bg-10;
          .order-total-item {
            margin-bottom: 9px;
            .label {
              width: 66px;
              font-size: 12px;
            }
            .value {
              font-size: 14px;
            }
          }
          .order-total-highlight {
            margin-top: 24px;
            padding-bottom: 24px;
            height: 64px;
            border-top: 1px solid $border-1;
            .label {
              font-size: 12px;
            }
            .value {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .checkout-step-content {
    z-index: 1;
    position: relative;
    .checkout-step-box {
      .step-head {
        padding-left: 16px;
        padding-right: 16px;
      }
      .step-content {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
        &.tab-box {
          .tab-item {
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 13px;
            line-height: 1;
          }
          .tab-switcher {
            padding-top: 16px;
          }
        }
        .fulfilled-content {
          &:not(:last-child) {
            width: calc(100% - 60px);
            & + .button-modify {
              width: 60px;
              padding-top: 9px;
              padding-bottom: 9px;
              font-size: 12px;
              line-height: 1;
            }
          }
        }
        .default-address {
          position: relative;
          .address-data {
            width: 100%;
          }
          .address-tool {
            position: absolute;
            top: 0;
            right: 0;
            .trigger-address-list {
              height: 32px;
            }
          }
        }
        .field {
          .field-row {
            margin-top: 24px;
            & + .field-row {
              margin-top: 6px;
            }
          }
          .field-label {
            &.error {
              .error-message {
                padding-top: 6px;
                font-size: 10px;
              }
            }
          }
          .field-head {
            .link {
              font-size: 11px;
            }
          }
          .field-title {
            font-size: 11px;
          }
          .publish-policy {
            padding: 12px 16px;
            height: 140px;
            font-size: 12px;
            line-height: 17px;
          }
          &:first-child {
            margin-top: -24px;
          }
        }
        .input-text {
          padding-left: 15px;
          height: 52px;
          font-size: 13px;
        }
        .print-message {
          padding-top: 6px;
          font-size: 10px;
        }
        .address-default-selector {
          margin-top: 16px;
        }
        .checkout-step-action {
          margin-top: 24px;
          .button {
            width: 100%;
          }
        }
        .promo-field {
          .promo-field-content {
            .input-text {
              width: calc(100% - 86px);
            }
            .trigger-apply {
              margin-left: 6px;
              width: 80px;
              font-size: 13px;
            }
          }
          .promo-list {
            margin-top: 20px;
            .apply-promo-item {
              font-size: 12px;
              .promo-code {
                margin-bottom: 4px;
              }
              .promo-discount {
                margin-bottom: 4px;
              }
              .remove-promo-item {
                top: 12px;
                right: 12px;
                width: 30px;
                height: 30px;
                font-size: 14px;
              }
            }
          }
          &:not(:first-child) {
            margin-top: 20px;
          }
        }
        .payment-method {
          .payment-method-item {
            .payment-item {
              padding-left: 16px;
              max-width: 100%;
              .icon {
                margin-right: 16px;
                font-size: 22px;
              }
              .text {
                font-size: 14px;
              }
            }
            .payment-content {
              .payment-policy {
                .payment-policy-content {
                  font-size: 12px;
                  line-height: 16px;
                }
              }
            }
          }
        }
        .checkout-agree {
          margin-top: 16px;
          .text {
            font-size: 12px;
          }
        }
      }
      &.order-identity-step {
        .button-login {
          font-size: 13px;
        }
        .step-head {
          position: relative;
          margin-bottom: 24px;
          padding-bottom: 30px;
          height: 93px;
          border-bottom: 1px solid $border-1;
        }
        .step-descr {
          .text {
            position: absolute;
            bottom: 18px;
            width: calc(100% - 32px);
            font-size: 11px;
          }
        }
      }
      &.check-submit {
        padding: 16px 16px 24px;
        .recaptcha {
          margin-bottom: 24px;
        }
      }
    }
  }
  .checkout-result-info {
    padding: 0 16px 16px;
    background-color: $bg-10;
    >.inner {
      padding: 15px;
      border: 1px solid $border-1;
      background-color: $bg-1;
    }
    .result-info-box {
      padding-top: 15px;
      padding-bottom: 15px;
      .result-info-title {
        font-size: 14px;
        color: $font-3;
      }
      .payment-info {
        dt {
          &:not(:first-child) {
            margin-top: 6px;
          }
        }
        dd {
          text-align: right;
          &:nth-child(n + 3) {
            margin-top: 6px;
          }
        }
      }
    }
  }
  .window-modal {
    &.modal-address-selector {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: center;
      align-items: flex-end;
      .uk-modal-dialog {
        height: 100%;
        overflow: hidden;
      }
      .uk-close {
        right: 10px;
        width: 52px;
        height: 52px;
      }
    }
    &.modal-identity-verify {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
      .uk-modal-dialog {
        max-height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
    &.modal-identity-verify-result {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
      .uk-modal-dialog {
        max-height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
    .address-selector {
      height: 100%;
      .address-selector-title {
        padding-left: 30px;
        height: 52px;
        font-size: 15px;
      }
      .address-list-section {
        height: calc(100% - 52px);
        overflow: auto;
      }
      .address-list {
        li {
          position: relative;
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 90px;
          dl {
            margin: 0;
            dt {
              margin-bottom: 24px;
              .address-subject {
                font-size: 16px;
                font-weight: 600;
                line-height: 1;
              }
            }
            dd {
              margin-top: 8px;
              font-size: 14px;
              line-height: 1;
            }
          }
          .pick-address {
            position: absolute;
            bottom: 20px;
            left: 30px;
            right: 30px;
            width: calc(100% - 60px);
            height: 45px;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid $border-1;
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
    .identity-verify {
      padding: 20px 16px 16px;
      .identity-verify-title {
        height: 60px;
        font-size: 20px;
        font-weight: 600;
      }
      .description-section {
        padding: 16px;
        li {
          font-size: 12px;
          line-height: 16px;
          &:not(:first-child) {
            margin-top: 6px;
          }
        }
      }
      .publish-policy {
        margin-top: 15px;
        font-size: 12px;
      }
    }
    .identity-verify-result {
      padding: 40px 16px 16px;
      .result-message {
        margin-bottom: 12px;
        font-size: 14px;
      }
      .result-description {
        font-size: 12px;
        line-height: 16px;
      }
      .account-list {
        li {
          font-size: 15px;
        }
      }
    }
  }
}
@media screen and (min-width : $tc-screen-min){
  .checkout-container {
    border-top: 1px solid $border-1;
    &:not(.complete) {
      .checkout-main {
        padding-top: 50px;
      }
    }
    .input-select-inline {
      height: 50px;
    }
    .checkout-progress {
      .step {
        .step-title {
          padding-left: 12.24%;
          &:before {
            margin-right: 8px;
            width: 20px;
            height: 20px;
            font-size: 12px;
          }
          .icon {
            margin-right: 8px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            box-shadow: inset 0 0 0 1px $bg-dimmed, 0 0 0 2px $bg-dimmed;
          }
        }
      }
    }
  }
  .checkout-result {
    height: 400px;
    p {
      font-size: 16px;
      line-height: 1.5;
      &:not(:first-child) {
        margin-top: 18px;
      }
    }
    .checkout-result-content {
      .result-message {
        font-size: 34px;
      }
      .button-group {
        margin-top: 30px;
        width: 410px;
      }
    }
  }
  .checkout-main {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    .checkout-order-info {
      padding: 40px 8px;
      p {
        &.order-number {
          font-size: 24px;
        }
        &.order-date {
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
    .checkout-summary {
      padding-bottom: 1px;
      padding-left: 16px;
      padding-right: 8px;
      .toggle-box {
        >.toggle-label {
          padding-left: 20px;
          padding-right: 20px;
          min-height: 48px;
          height: 48px;
        }
        .toggle-content {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      .checkout-summary-box {
        border: 1px solid $border-1;
      }
      .order-list {
        >.toggle-label {
          height: 60px;
          font-size: 18px;
        }
      }
      .product-mini {
        padding-bottom: 20px;
        &:not(:first-child) {
          padding-top: 20px;
        }
      }
      .image-url {
        margin-right: 12px;
        -webkit-flex: 0 1 35%;
        -ms-flex: 0 1 35%;
        flex: 0 1 35%;
        max-width: 98px;
      }
      .product-mini-details {
        -webkit-flex-basis: calc(65% - 12px);
        -ms-flex-preferred-size: calc(65% - 12px);
        flex-basis: calc(65% - 12px);
        .product-name {
          font-size: 14px;
          line-height: 20px;
        }
        .product-options {
          margin-top: 4px;
          font-size: 14px;
          line-height: 22px;
        }
        .product-price {
          font-size: 14px;
        }
      }
      .order-totals {
        padding: 20px;
        .order-total-item {
          margin-bottom: 15px;
          .label {
            width: 80px;
            font-size: 14px;
          }
          .value {
            font-size: 16px;
          }
        }
        .order-total-highlight {
          margin-top: 24px;
          .label {
            font-size: 14px;
          }
          .value {
            font-size: 18px;
          }
        }
      }
    }
    .checkout-content {
      padding-left: 8px;
      padding-right: 16px;
      .checkout-content-box {
        border: 1px solid $border-1;
        border-top: 0;
      }
    }
    .checkout-guide-info {
      .toggle-content {
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.025em;
        color: $font-3;
      }
    }
    .cart-recommendations {
      margin-top: 0;
      padding-top: 60px;
      padding-bottom: 0;
      border-top: 0;
    }
  }
  .checkout-step-content {
    padding: 60px 40px 40px;
    .content-title {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 600;
      line-height: 1;;
    }
    .checkout-step-box {
      .step-content {
        padding-bottom: 32px;
        &.tab-box {
          .tab-switcher {
            padding-top: 32px;
          }
        }
        .fulfilled-content {
          &:not(:last-child) {
            width: calc(100% - 80px);
            & + .button-modify {
              margin-left: 10px;
              width: 70px;
            }
          }
        }
        .default-address {
          .address-data {
            width: calc(100% - 140px);
          }
          .address-tool {
            width: 140px;
            .trigger-address-list {
              height: 40px;
            }
          }
        }
        .field {
          .field-row {
            &:not(:first-child) {
              margin-top: 10px;
            }
          }
          .field-label {
            &.error {
              .error-message {
                padding-top: 8px;
                font-size: 12px;
              }
            }
          }
          .field-head {
            .link {
              font-size: 12px;
            }
          }
          .field-title {
            font-size: 12px;
          }
          .publish-policy {
            padding: 16px 20px;
            height: 150px;
            font-size: 12px;
            line-height: 20px;
          }
          &:not(:first-child) {
            margin-top: 40px;
          }
        }
        .input-text {
          padding-left: 20px;
          height: 50px;
          font-size: 14px;
        }
        .print-message {
          padding-top: 8px;
          font-size: 12px;
        }
        .address-default-selector {
          margin-top: 24px;
        }
        .checkout-step-action {
          margin-top: 32px;
          .button {
            width: 200px;
          }
        }
        .promo-field {
          .promo-field-content {
            .input-text {
              max-width: 250px;
              width: calc(100% - 114px);
            }
            .trigger-apply {
              margin-left: 10px;
              width: 104px;
            }
          }
          .promo-list {
            margin-top: 20px;
            max-width: 364px;
            .apply-promo-item {
              font-size: 14px;
              .promo-code {
                margin-bottom: 6px;
              }
              .promo-discount {
                margin-bottom: 6px;
              }
              .remove-promo-item {
                top: 10px;
                right: 10px;
                width: 20px;
                height: 20px;
                font-size: 10px;
              }
            }
          }
          &:not(:first-child) {
            margin-top: 20px;
          }
        }

        .payment-method {
          .payment-method-item {
            .payment-item {
              padding-left: 20px;
              max-width: 340px;
              .icon {
                margin-right: 20px;
                font-size: 24px;
              }
              .text {
                font-size: 16px;
              }
            }
            .payment-content {
              max-width: 340px;
              .payment-policy {
                .payment-policy-content {
                  font-size: 14px;
                  line-height: 22px;
                }
              }
            }
          }
        }
        .checkout-agree {
          margin-top: 24px;
          .text {
            font-size: 14px;
          }
        }
      }
      &.order-identity-step {
        .button-login {
          font-size: 14px;
        }
        .step-descr {
          .text {
            font-size: 12px;
          }
        }
      }
      &.check-submit {
        padding-top: 32px;
        .recaptcha {
          margin-bottom: 32px;
        }
      }
    }
  }
  .checkout-result-info {
    padding: 40px;
    border: 1px solid $border-1;
    .result-info-box {
      .result-info-title {
        font-size: 16px;
      }
      .payment-info {
        line-height: 1;
        dt {
          &:not(:first-child) {
            margin-top: 14px;
          }
        }
        dd {
          &:nth-child(n + 3) {
            margin-top: 14px;
          }
        }
      }
      &:not(:first-child) {
        padding-top: 24px;
      }
      &:not(:last-child) {
        padding-bottom: 24px;
      }
    }
  }
  .window-modal {
    &.modal-address-selector {
      padding: 90px 32px;
      .uk-modal-dialog {
        max-width: 464px !important;
      }
    }
    &.modal-identity-verify {
      padding: 90px 32px;
      .uk-modal-dialog {
        max-width: 464px;
      }
    }
    &.modal-identity-verify-result {
      padding: 90px 32px;
      .uk-modal-dialog {
        max-width: 464px;
      }
    }
    .address-selector {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
      .address-selector-title {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 94px;
        font-size: 24px;
        font-weight: 600;
        line-height: 1;
        text-align: center;
        border-bottom: 1px solid $border-1;
      }
      .address-list {
        li {
          padding-bottom: 24px;
          dl {
            margin: 0;
            dt {
              margin-bottom: 24px;
              .address-subject {
                font-size: 16px;
                font-weight: 600;
                line-height: 1;
              }
            }
            dd {
              margin-top: 8px;
              font-size: 14px;
              line-height: 1;
            }
          }
          .pick-address {
            text-decoration: underline;
          }
        }
      }
    }
    .identity-verify {
      padding-left: 38px;
      padding-right: 38px;
      padding-bottom: 38px;
      .identity-verify-title {
        height: 94px;
        font-size: 24px;
      }
      .description-section {
        padding: 32px;
        li {
          font-size: 14px;
          line-height: 20px;
          &:not(:first-child) {
            margin-top: 12px;
          }
        }
      }
      .publish-policy {
        margin-top: 20px;
        font-size: 12px;
      }
    }
    .identity-verify-result {
      padding: 38px 20px 20px;
      .result-message {
        margin-bottom: 18px;
        font-size: 18px;
      }
      .result-description {
        font-size: 14px;
        line-height: 20px;
      }
      .account-list {
        li {
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and (max-width : $tc-screen-max){
  .checkout-step-content {
    .checkout-step-box {
      &.order-identity-step {
        .step-head {
          position: relative;
          padding-bottom: 30px;
          height: 93px;
        }
        .step-descr {
          .text {
            position: absolute;
            bottom: 18px;
            width: calc(100% - 32px);
            text-align: right;
          }
        }
      }
    }
  }
}
@media screen and (min-width : $pc-screen-min){
  .checkout-step-content {
    .checkout-step-box {
      .step-content {
        .promo-field {
          .promo-head {
            margin-bottom: 0;
            width: 120px;
            .available {display: inline-block;}
          }
          .promo-field-content {
            width: calc(100% - 120px);
          }
          .print-message {
            padding-left: 120px;
          }
          .promo-list {
            margin-left: 120px;
          }
        }
      }
      &.order-identity-step {
        .step-descr {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
        }
      }
    }
  }
}
