* html {
	section {height:100%;}
}
body {
	position: relative;
}
input {
	font-family: $typo-basic;
}
optgroup {
	font-family: $typo-basic;
}
select {
	font-family: $typo-basic;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&::-ms-expand {
		display: none;
	}
}
textarea {
	font-family: $typo-basic;
}
.input-select-inline {
	background-color: $bg-1;
	background-position: right 16px center;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46.7 36'%3E%3Cpath fill='%23000' d='M23.5 33.333L47 0H0z'/%3E%3C/svg%3E");
	-webkit-transition: color 107ms ease-in-out;
	transition: color 107ms ease-in-out;
	background-repeat: no-repeat;
	background-size: 9px 9px;
}
.input-select {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46.7 36'%3E%3Cpath fill='%23000' d='M23.5 33.333L47 0H0z'/%3E%3C/svg%3E");
	-webkit-transition: color 107ms ease-in-out;
	transition: color 107ms ease-in-out;
	background-repeat: no-repeat;
	background-size: 9px 9px;
}
.input-select-large {
	background-repeat: no-repeat;
	background-size: 9px 9px;
}

.breadcrumb {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.breadcrumb-element {
	font-size: 12px;
	line-height: 1;
	&:not(:last-child) {
		opacity: .5;
		&:after {
			content: '/';
			display: inline-block;
			padding: 0 3px;
		}
	}
}
.parsley-errors-list {
  padding-left: 0;
  li {
    margin: 0;
    padding-top: 8px;
    list-style-type: none;
  }
  &.filled {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -.025em;
    color: #ff0000;
    text-align: left;
  }
}

@media screen and (min-width : $tc-screen-min){
  .breadcrumb {
		height: 30px;
	}
}

// converse
body {position: relative;}
#wrapper {
	min-height: 100vh;
	overflow: hidden;
	&:not(.set-overlay) {
		&::after {
			opacity: 0;
			visibility: hidden;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $bg-8;
			-webkit-transition: opacity 213ms ease-in-out, visibility 213ms ease-in-out;
			transition: opacity 213ms ease-in-out, visibility 213ms ease-in-out;
			content: '';
		}
	}
	&::after {
		position: fixed;
	}
}
.main-page-spacing {
	margin-top: 48px;
}
.set-overlay {
	cursor: pointer;
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $bg-8;
		-webkit-transition: opacity 213ms ease-in-out, visibility 213ms ease-in-out;
		transition: opacity 213ms ease-in-out, visibility 213ms ease-in-out;
    content: '';
    z-index: 2;
	}
}
.set-overlay-all {
	&::after {
		z-index: 1080;
	}
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


@media screen and (max-width : $mc-screen-max){
	body {
		z-index: 1;
	}
	.set-ease-in {
		-webkit-transition: opacity 426ms ease-in-out,visibility 426ms ease-in-out,-webkit-transform 426ms cubic-bezier(.4,.9,.3,1) 426ms;
		transition: opacity 426ms ease-in-out,visibility 426ms ease-in-out,-webkit-transform 426ms cubic-bezier(.4,.9,.3,1) 426ms;
		transition: opacity 426ms ease-in-out,visibility 426ms ease-in-out,transform 426ms cubic-bezier(.4,.9,.3,1) 426ms;
		transition: opacity 426ms ease-in-out,visibility 426ms ease-in-out,transform 426ms cubic-bezier(.4,.9,.3,1) 426ms,-webkit-transform 426ms cubic-bezier(.4,.9,.3,1) 426ms;
	}
}
@media screen and (min-width : $tc-screen-min){

	#wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
	.set-ease-in {
		-webkit-transition: opacity 213ms ease-in-out, visibility 213ms ease-in-out, -webkit-transform 426ms cubic-bezier(.4,.9,.3,1) 213ms;
		transition: opacity 213ms ease-in-out, visibility 213ms ease-in-out, -webkit-transform 426ms cubic-bezier(.4,.9,.3,1) 213ms;
		transition: opacity 213ms ease-in-out, visibility 213ms ease-in-out, transform 426ms cubic-bezier(.4,.9,.3,1) 213ms;
		transition: opacity 213ms ease-in-out, visibility 213ms ease-in-out, transform 426ms cubic-bezier(.4,.9,.3,1) 213ms, -webkit-transform 426ms cubic-bezier(.4,.9,.3,1) 213ms;
	}

}

@media screen and (max-width : $tc-screen-max) and (min-width : $tc-screen-min) {
	body {z-index: 2;}
}

@media screen and (min-width : $pc-screen-min){
	body {z-index: 3;}
}


.address-search {
  position: relative;
  z-index: 2;
  .trigger-address-search {
    border-color: $border-5;
  }
  .result-wrap {
    //display: none;
    position: absolute;
    left: 0;
    width: 100%;
		max-height: 211px;
    background-color: $bg-1;
		overflow: auto;
    .address-item {
      border: 1px solid $border-4;
      a {
        display: block;
        line-height: 1.2;
        letter-spacing: -.025em;
        dl {
          margin: 0;
        }
        dt {
          color: $font-3;
        }
      }
      &:not(:first-child) {
        margin-top: -1px;
      }
    }
  }
  &.active {
    .input-text {
      border-color: $border-4;
    }
    .result-wrap {
      display: block;
    }
  }
  .input-text {
    &.active {
      border-color: $border-4!important;
    }
  }
}


@media screen and (max-width : $mc-screen-max){
  .address-search {
    .field-label {
      width: calc(100% - 86px);
			&.error + .trigger-address-search {
				margin-bottom: 17px;
			}
    }
    .trigger-address-search {
      margin-left: 6px;
      padding: 18px 14px;
      width: 80px;
      font-size: 13px;
    }
    .result-wrap {
      top: 78px;
      max-height: calc(100vh - 180px);
      overflow: auto;
      -webkit-overflow-scrolling: touch;
			&:not(:empty) {
				border-top: 1px solid $border-4;
	      border-bottom: 1px solid $border-4;
			}
      .address-item {
        a {
          padding: 12px 16px;
          font-size: 12px;
          dt {
            padding: 4px 0;
            width: 48px;
          }
          dd {
            padding: 4px 0;
            &:not([class*="col-"]) {
              width: calc(100% - 48px);
            }
          }
        }
        &:first-child {
          border-top: 0;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
@media screen and (min-width : $tc-screen-min){
  .address-search {
    .field-label {
      width: calc(100% - 114px);
			&.error + .trigger-address-search {
				margin-bottom: 20px;
			}
    }
    .trigger-address-search {
      margin-left: 10px;
      width: 104px;
    }
    .result-wrap {
      top: 76px;
      .address-item {
        a {
          padding: 16px 20px;
          font-size: 14px;
          dt {
            padding: 4px 0;
            width: 60px;
          }
          dd {
            padding: 4px 0;
            &:not([class*="col-"]) {
              width: calc(100% - 60px);
            }
          }
        }
      }
    }
  }
}
