
.customer-container {
  .cscenter-section-header {
    .section-title {
      margin-bottom: 0;
      font-weight: 600;
      line-height: 1;
    }
    .anchor {
      line-height: 1;
      color: $font-0;
      .icon {
        font-size: .75em;
      }
    }
  }
}
.faq-filter {
  border-top: 1px solid $border-1;
  .col-4 {
    border-right: 1px solid $border-1;
    border-bottom: 1px solid $border-1;
  }
  .anchor {
    background-color: $bg-1;
    .text {
      margin-top: 6px;
      line-height: 16px;
      text-align: center;
    }
  }
  &.set-filter {
    .anchor {
      &:not(.active) {
        color: $font-1;
        background-color: $bg-10;
      }
      &.active {
        font-weight: 600;
        outline: 1px solid;
      }
    }
  }
}
.faq-list-content {
  .faq-item {
    border-bottom: 1px solid $border-1;
    .toggle-label {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -.025em;
      color: $font-0;
      .text {
        &::before {
          content: 'Q.';
          display: inline-block;
          font-weight: 600;
        }
      }
    }
    .toggle-content {
      position: relative;
      letter-spacing: -.025em;
      a {
        color: $color-2;
      }
      &::before {
        content: 'A.';
        display: inline-block;
        position: absolute;
        font-weight: 600;
      }
      &:not(.active) {display: none;}
    }
  }
}
.notice-latest-content {
  .notice-item {
    border-bottom: 1px solid $border-1;
    .subject  {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -.025em;
      color: $font-0;
      a {
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
        overflow: hidden;
      }
      &::before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        vertical-align: middle;
        border-radius: 50%;
      }
    }
  }
}
.notice-list-container {
  .col-number {
    -webkit-flex-basis: 100px;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    text-align: center;
  }
  .notice-list-header {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: $font-0;
    text-align: center;
    border: 1px solid $border-1;
    background-color: $bg-10;
  }
  .notice-item {
    padding: 22px 0;
    min-height: 56px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $font-3;
    border-bottom: 1px solid $border-1;
    .col-date {
      margin-top: 4px;
    }
    a {
      color: $font-0;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
}
.notice-content-container {
  .notice-content-header {
    .subject {
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -.025em;
      color: $font-0;
    }
    .date {
      line-height: 1;
      color: $font-3;
    }
  }
  .view-contents {
    letter-spacing: -.025em;
    color: $font-3;
    border-bottom: 1px solid $border-1;
    p, ul, ol, dl, blockquote, pre, address, fieldset, figure {
      margin: 0;
    }
  }
  .content-action {
    text-align: center;
    .button {
      margin: 0 auto;
    }
  }
}
.policy-content-container {
  .customer-policy {
    letter-spacing: -.025em;
    color: $font-0;
    word-break: keep-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    a {
      color: $color-2;
      text-decoration: underline;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      background-color: $bg-10;
      p, ul, ol, dl, blockquote, pre, address, fieldset, figure {
        margin: 0;
      }
      th, td {
        border: 1px solid $border-1;
        p {
          &:not(:last-child) {
            margin-bottom: 6px;
          }
        }
      }
      thead { 
        th, td {
          font-weight: 600;
        }
      }
    }
  }
}
.store-content-container {
  .store-head-img {
    position: relative;
    margin-bottom: 30px;
    img {width: 100%;}
    .head-text {
      position: absolute;
      top: 50%;
      right: 115px;
      margin-top: -5%;
      text-align: right;
      h2 {
        font-size: 42px;
        font-weight: 600; 
        color: #fff; 
        line-height: 1.2;
      }
      a {
        margin-top: 25px;
        background: none;
        border-color: #fff;
        font-size: 18px;
        width: 210px;
        padding: 0 !important;
        line-height: 45px;
      }
    }
  }
  .store-content-visual {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(/cmsstatic/img-store-top.jpg);
  }
  .store-content {
    .col-search {
      .search-form-wrap {
        fieldset {
          margin: 0;
        }
        .search-field {
          .input-text {
            display: block;
            padding-left: 16px;
            width: 100%;
            height: 100%;
            border: 1px solid $border-1;
            *::-webkit-input-placeholder {
              color: $font-1;
            }
            *:-moz-placeholder {
              color: $font-1;
            }
            *::-moz-placeholder {
              color: $font-1;
            }
            &:-ms-input-placeholder {
              color: $font-1;
            }
            &::placeholder {
              color: $font-1;
            }
          }
        }
        .filter-list {
          margin-left: -6px;
          .i-checkbox {
            position: relative;
            padding: 6px;
            line-height: 1;
            letter-spacing: -.025em;
            color: $font-1;
            input {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              visibility: hidden;
              &:not(:checked) + .icon {
                color: transparent;
              }
            }
            .icon {
              margin-right: 4px;
              padding: 2px;
              width: 14px;
              height: 14px;
              color: $font-0;
              vertical-align: top;
              border: 1px solid $border-4;
              background-color: $bg-1;
            }
            .text {
              color: $font-3;
              vertical-align: top;
            }
          }
        }
      }
      .search-result-wrap {
        overflow: hidden;
        .search-result {
          .less-items {
            padding: 100px 0;
          }
          .store-item {
            position: relative;
            letter-spacing: -.025em;
            color: $font-3;
            .tit {
              display: block;
              font-weight: 600;
              color: $font-0;
            }
            .address {
              display: block;
            }
            .anchor-style {
              position: absolute;
              top: 50%;
              color: $font-0;
              border-radius: 50%;
              border: 1px solid;
              .icon {
                display: block;
                width: 8px;
                height: 8px;
              }
              &.close-btn {
                color: $font-3;
              }
            }
          }
        }
        .store-info-view {
          width: 100%;
        }
      }
    }
    .col-map {
      .store-mapper-wrap {
        .location-map {
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width : $mc-screen-max){
  .customer-container {
    .cscenter-section-header {
      margin: 0;
      padding-left: 16px;
      padding-right: 16px;
      height: 62px;
      background-color: $bg-10;
      .section-title {
        font-size: 14px;
      }
      .anchor {
        font-size: 12px;
      }
    }
  }
  .faq-filter {
    .col-4 {
      &:last-child {
        border-right: 0;
      }
    }
    .anchor {
      padding: 14px 0;
      .icon {
        width: 58px;
        height: 31px;
        &.icon-card {
          padding: 6px 16px 5px;
        }
        &.icon-exchange {
          padding: 4px 10px 0 17px;
        }
        &.icon-shipping {
          padding-right: 11px;
          padding-bottom: 5px;
        }
        &.icon-orders {
          padding: 5px 17px;
        }
        &.icon-profile {
          padding: 6px 18px;
        }
        &.icon-site {
          padding: 6px 16px;
        }
      }
      .text {
        font-size: 11px;
      }
    }
  }
  .faq-list-content {
    .faq-item {
      .toggle-label {
        height: 62px;
        padding: 22px 16px 22px 38px;
        line-height: 19px;
        .text {
          &::before {
            margin-left: -22px;
            width: 22px;
          }
        }
        &:after {
          display: none;
        }
      }
      .toggle-content {
        padding: 24px 16px 24px 38px;
        font-size: 12px;
        line-height: 16px;
        color: $font-0;
        background-color: $bg-10;
        &::before {
          top: 24px;
          left: 16px;
          width: 22px;
        }
      }
    }
  }
  .notice-latest-content {
    .notice-item {
      height: 62px;
      padding: 22px 16px 22px 38px;
      border-bottom: 1px solid $border-1;
      .subject {
        width: 100%;
        line-height: 19px;
        &::before {
          margin-left: -10px;
          margin-right: 6px;
          background-color: $bg-dimmed;
        }
      }
    }
  }
  .about-intro-section {
    position: relative;
    margin-top: 50px;
    margin-bottom: 67px;
    padding-left: 16px;
    overflow: hidden;
    .intro-pictures {
      margin: 0 0 0 auto;
      width: 304px;
      > .row {
        width: 134%;
      }
      [class*="picture-"] {
        position: relative;
        &::before {
          content: '';
          display: block;
          width: 100%;
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .picture-01 {
        width: 100%;
        &::before {
          padding-bottom: 68.62745%;
        }
      }
      .picture-02 {
        width: 78.43137%;
        &::before {
          padding-bottom: 100%;
        }
      }
      .picture-03 {
        width: 55.88235%;
        &::before {
          padding-bottom: 140.35087%;
        }
      }
      .picture-04 {
        width: 97.05882%;
        &::before {
          padding-bottom: 70.70707%;
        }
      }
    }
    .intro-header {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 16px 90px;
      z-index: 5;
      .title {
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: 600;
        line-height: .9;
        letter-spacing: -.025em;
        color: $font-0;
      }
      .descr-text {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -.025em;
        color: $font-0;
      }
      .link {
        margin-top: 25px;
        font-size: 12px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
        color: $font-0;
        .icon {
          margin-left: .25em;
          font-size: .75em;
        }
      }
    }
  }
  .notice-list-container {
    .col-number {
      max-width: 60px;
    }
    .notice-list-header {
      height: 48px;
    }
    .notice-item {
      padding: 22px 0;
      padding-right: 20px;
      .col-date {
        margin-top: 4px;
      }
    }
  }
  .notice-content-container {
    .notice-content-header {
      padding: 30px 16px 0;
      .subject {
        margin: 12px 0 27px;
        font-size: 16px;
      }
      .date {
        font-size: 12px;
      }
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $bg-2;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
      }
    }
    .view-contents {
      padding: 28px 16px;
      font-size: 12px;
      line-height: 17px;
    }
    .content-action {
      padding: 30px 16px;
      .button {
        padding-top: 19px;
        padding-bottom: 19px;
        width: 100%;
      }
    }
  }
  .policy-content-container {
    padding: 30px 16px;
    .customer-policy {
      font-size: 12px;
      line-height: 17px;
      table {
        margin: 0 -16px;
        width: calc(100% + 32px);
        border-left: 0;
        border-right: 0;
        th, td {
          padding: 12px 16px;
        }
      }
    }
  }
  .store-content-container {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    .store-head-img {
      margin-bottom: 0;
      .head-text {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -15%;
        width: 100%;
        text-align: center;
        h2 {
          font-size: 38px;
          span { font-size: 34px;}
        }
        a {
          border-width: 2px;
          font-size: 24px;
          width: 274px;
          line-height: 54px;
          font-weight: 300;
        }
      }
    }
    .store-content-header {
      z-index: 1050;
      position: absolute;
      top: -51px;
      left: 0;
      width: 100%;
      height: 52px;
      border-bottom: 1px solid $border-1;
      background-color: #fff;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      .title {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
      }
      .button-back {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 0;
        min-width: 28px;
        height: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 2;
        left: 9px;
        padding: 7px;
        font-size: 14px;
      }
      .header-general.fixit-active + .store-container & {
        position: fixed;
        top: 0;
      }
    }
    .store-content-visual {
      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 50%;
      }
    }
    .store-content {
      margin-left: -16px;
      margin-right: -16px;
      .col-search {
        .search-form-wrap {
          padding: 24px 16px;
          .search-field {
            .col-action {
              -webkit-flex-basis: 58px;
              -ms-flex-preferred-size: 58px;
              flex-basis: 58px;
              max-width: 58px;
              padding-left: 6px;
              .button {
                padding: 15px;
                .icon {
                  display: block;
                  font-size: 20px;
                  line-height: 1;
                }
              }
            }
          }
          .filter-list {
            margin-top: 10px;
            margin-bottom: -6px;
          }
        }
        .search-result-wrap {
          .search-result {
            display: none;
            .store-item {
              padding: 20px 64px 20px 16px;
              font-size: 11px;
              line-height: 17px;
              .tit {
                margin-bottom: 6px;
                font-size: 12px;
                line-height: 17px;
              }
              .anchor-style {
                right: 24px;
                margin-top: -11px;
                width: 22px;
                height: 22px;
              }
              &:not(:last-child) {
                border-bottom: 1px solid $border-1;
              }
            }
          }
          .store-info-view {
            width: 100%;
            .search-result {
              display: block;
            }
          }
          &:not(.set-active) {
            .search-result {
              display: block;
            }
            .store-info-view {
              display: none;
            }
          }
        }
      }
      .col-map {
        .store-mapper-wrap {
          width: 100%;
          height: 235px;
          background-color: $bg-10;
        }
      }
    }
  }
}

@media screen and (min-width : $tc-screen-min){
  .customer-container {
    .cscenter-section-header {
      margin-bottom: 30px;
      .anchor {
        font-size: 14px;
      }
    }
  }
  .faq-filter {
    border-left: 1px solid $border-1;
    .anchor {
      padding: 14px 0 20px;
      .icon {
        width: 68px;
        height: 38px;
        &.icon-card {
          padding: 7px 16px;
        }
        &.icon-exchange {
          padding: 2px 12px 0 18px;
        }
        &.icon-shipping {
          padding-right: 12px;
          padding-bottom: 4px;
        }
        &.icon-orders {
          padding: 7px 20px;
        }
        &.icon-profile {
          padding: 7px 20px;
        }
        &.icon-site {
          padding: 6px 18px 6px;
        }
      }
      .text {
        font-size: 14px;
      }
    }
  }
  .faq-list-content {
    border-top: 1px solid $border-1;
    .faq-item {
      .toggle-label {
        height: 74px;
        padding: 25px 54px 25px 42px;
        line-height: 24px;
        .text {
          &::before {
            margin-left: -22px;
            width: 22px;
          }
        }
        &:after {
          right: 20px;
        }
      }
      .toggle-content {
        padding: 0 54px 30px 42px;
        font-size: 14px;
        line-height: 24px;
        color: $font-3;
        &::before {
          top: 0;
          left: 20px;
          width: 22px;
        }
      }
    }
  }
  .notice-latest-content {
    border-top: 1px solid $border-1;
    .notice-item {
      height: 74px;
      padding: 25px 18px 25px 34px;
      border-bottom: 1px solid $border-1;
      .subject  {
        width: calc(100% - 80px);
        line-height: 24px;
        &::before {
          margin-left: -14px;
          margin-right: 10px;
          border: 1px solid $border-6;
          background-color: $bg-7;
        }
      }
      .date {
        font-size: 14px;
        line-height: 1;
        letter-spacing: -.025em;
        color: $font-3;
      }
    }
  }
  .about-intro-section {
    position: relative;
    margin-top: 80px;
    .intro-pictures {
      img {
        display: block;
        width: 100%;
      }
    }
    .intro-header {
      padding: 22px 10px 90px;
      z-index: 5;
      .title {
        margin-bottom: 40px;
        margin-left: -10px;
        font-size: 100px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
        color: $font-0;
      }
      .descr-text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -.025em;
        color: $font-0;
      }
      .link {
        margin-top: 35px;
        font-size: 14px;
        line-height: 1;
        letter-spacing: -.025em;
        color: $font-0;
        .icon {
          margin-left: .25em;
          font-size: .75em;
        }
      }
    }
  }
  .notice-list-container {
    .col-number {
      max-width: 100px;
    }
    .notice-list-header {
      height: 58px;
    }
    .notice-item {
      padding: 16px 0;
    }
  }
  .notice-content-container {
    .notice-content-header {
      padding: 16px 30px;
      min-height: 58px;
      border: 1px solid $border-1;
      background-color: $bg-10;
      .subject {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
      }
      .date {
        font-size: 14px;
        text-align: right;
      }
    }
    .view-contents {
      padding: 30px;
      font-size: 14px;
      line-height: 22px;
    }
    .content-action {
      margin-top: 30px;
      .button {
        width: 140px;
      }
    }
  }
  .policy-content-container {
    padding: 80px 36px 110px;
    .customer-content-header {
      padding-bottom: 30px;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid $border-1;
      .title {
        margin: 0 auto;
      }
    }
    .customer-policy {
      margin-top: 34px;
      font-size: 14px;
      line-height: 24px;
      table {
        th, td {
          padding: 12px 16px;
        }
      }
    }
  }
  .store-content-container {
    margin: 0 auto;
    padding: 0 20px 100px;
    max-width: 1440px;
    .store-content-visual {
      margin-bottom: 80px;
      width: 100%;
      height: 400px;
    }
    .store-content {
      height: 625px;
      .col-search {
        -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
        max-width: 516px;
        padding-right: 30px;
        .search-form-wrap {
          margin: 0 0 0 auto;
          padding-top: 30px;
          padding-bottom: 25px;
          width: 100%;
          max-width: 456px;
          border-top: 2px solid $border-6;
          border-bottom: 1px solid $border-1;
          .search-field {
            .col-action {
              -webkit-flex-basis: 114px;
              -ms-flex-preferred-size: 114px;
              flex-basis: 114px;
              max-width: 114px;
              padding-left: 10px;
            }
          }
          .filter-list {
            margin-top: 16px;
            .i-checkbox {
              margin-right: 10px;
            }

          }
        }
        .search-result-wrap {
          position: relative;
          margin: 0 0 0 auto;
          width: 100%;
          max-width: 456px;
          height: 475px;
          .search-result {
            height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            .store-item {
              position: relative;
              padding: 26px 64px 26px 0;
              font-size: 14px;
              line-height: 24px;
              border-bottom: 1px solid $border-1;
              .tit {
                margin-bottom: 9px;
                font-size: 16px;
                line-height: 24px;
              }
              .anchor-style {
                right: 20px;
                margin-top: -12px;
                width: 24px;
                height: 24px;
              }
            }
          }
          .store-info-view {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bg-1;
            transition: transform 216ms;
            -webkit-transition: -webkit-transform 216ms;
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
          }
          &:not(.set-active) {
            .store-info-view {
              transform: translateX(100%);
              -webkit-transform: translateX(100%);
            }
          }
        }
      }
      .col-map {
        position: relative;
        -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
        max-width: 828px;
        .store-mapper-wrap {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 625px;
          background-color: $bg-10;
        }
      }
    }
  }
}

@media screen and (min-width : $tc-screen-min) and (max-width : $tc-screen-max){
  .about-intro-section {
    position: relative;
    margin-top: 80px;
    margin-right: -30px;
    overflow: hidden;
    .intro-pictures {
      margin: 0 0 0 auto;
      width: 510px;
      > .row {
        width: 134%;
      }
      [class*="picture-"] {
        position: relative;
        &::before {
          content: '';
          display: block;
          width: 100%;
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .picture-01 {
        width: 100%;
        &::before {
          padding-bottom: 68.62745%;
        }
      }
      .picture-02 {
        width: 78.43137%;
        &::before {
          padding-bottom: 100%;
        }
      }
      .picture-03 {
        width: 55.88235%;
        &::before {
          padding-bottom: 140.35087%;
        }
      }
      .picture-04 {
        width: 97.05882%;
        &::before {
          padding-bottom: 70.70707%;
        }
      }
    }
    .intro-header {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
  }
  .notice-list-container {
    .notice-item {
      .col-date {
        margin-top: 4px;
      }
    }
  }
  .store-content-container {
    .store-content {
      .col-search {
        -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
        max-width: 45%;
      }
      .col-map {
        -webkit-flex-basis: 55%;
        -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
        max-width: 55%;
      }
    }
  }
}

@media screen and (min-width : $pc-screen-min){
  .about-intro-section {
    .intro-pictures {
      [class*="picture-"] {
        position: absolute;
      }
      .picture-01 {
        bottom: 0;
        right: 29.13533834586466%;
        width: 290px;
        z-index: 2;
      }
      .picture-02 {
        top: 0;
        left: 46.05263157894737%;
        width: 190px;
        z-index: 4;
      }
      .picture-03 {
        bottom: 0;
        left: 20.86466165413534%;
        width: 200px;
      }
      .picture-04 {
        top: 110px;
        right: 0;
        width: 340px;
        z-index: 3;
      }
    }
    .intro-header {
      position: relative;
    }
  }
  
  .notice-list-container {
    .col-date {
      -webkit-flex-basis: 150px;
      -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
      max-width: 150px;
      text-align: center;
    }
  }
}

@media screen and (max-width : 425px){
  .store-content-container {
    .store-head-img {
      .head-text {
        h2 {
          font-size: 9vw;
          span { font-size: 8vw;}
        }
        a {
          border-width: 2px;
          font-size: 15px;
          width: 50vw;
          line-height: 10vw;
          font-weight: 600;
        }
      }
    }
  }
}