.customer-address-container {
  .customer-address {
    .address-item {
      position: relative;
      dl {
        margin-bottom: 0;
      }
      .address-default {
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
        color: $color-2;
      }
      .address-label {
        font-size: 14px;
        line-height: 1;
        letter-spacing: -.025em;
        color: $font-3;
      }
      .address-info {
        .info-list {
          margin: 0;
          li {
            font-size: 14px;
            letter-spacing: -.025em;
            color: $font-0;
          }
        }
      }
      .address-tools {
        .link {
          font-size: 14px;
          line-height: 1;
          &:not(.trigger-default) {
            margin-right: 15px;
          }
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid $border-1;
      }
    }
    &.empty {
      text-align: center;
      .icon {
        display: block;
        margin: 0 auto;
        color: $font-7;
        border-radius: 50%;
        background-color: $bg-2;
      }
      .text {
        margin: 0;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -.025em;
        color: $font-0;
        text-align: center;
      }
    }
  }
}
.customer-account-container {
  .account-fieldset {
    .fieldset-legend {
      margin-bottom: 24px;
      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
      }
    }
    .radio-tabs {
      border: 1px solid $border-1;
      .i-selector {
        position: relative;
        .label {
          width: 100%;
          line-height: 1;
          color: $font-1;
          background-color: $bg-10;
        }
        input {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          visibility: hidden;
          &:checked + .label {
            color: $font-0;
            background-color: $bg-1;
            outline: 1px solid $border-6;
            z-index: 2;
          }
        }
        &:not(:first-child) {
          border-left: 1px solid $border-1;
        }
      }
    }
    .field-row {
      .field-title {
        margin-bottom: 12px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
        color: $font-3;
      }
      .input-text {
        width: 100%;
        line-height: 1.5;
        letter-spacing: -.025em;
        border: 1px solid $border-1;
        background-color: $bg-1;
        &::-webkit-input-placeholder {
          color: $font-1;
        }
        &:-moz-placeholder {
          color: $font-1;
        }
        &::-moz-placeholder {
          color: $font-1;
        }
        &:-ms-input-placeholder {
          color: $font-1;
        }
        &::placeholder {
          color: $font-1;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &:read-only {
          color: $font-1;
          background-color: $bg-10;
        }
      }
      .print-message, .error-message {
        margin: 0;
        padding-top: 8px;
        font-size: 12px;
        line-height: 1;
        letter-spacing: -.025em;
        color: $color-5;
        text-align: left;
        &:not(.filled) {
          display: none;
        }
      }
      .descr-message {
        margin: 0;
        font-size: 12px;
        color: $font-3;
      }
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
    .data-grid {
      width: 100%;
      border-top: 1px solid $border-1;
      border-left: 1px solid $border-1;
      border-collapse: collapse;
      table-layout: fixed;
      th,
      td {
        padding: 16px;
        letter-spacing: -.025em;
        text-align: center;
        word-break: keep-all;
        word-wrap: break-word;
        overflow-wrap: break-word;
        border-right: 1px solid $border-1;
        border-bottom: 1px solid $border-1;
      }
      thead {
        th {
          font-weight: 400;
          color: $font-3;
          background-color: $bg-10;
        }
      }
      tbody {
        td {
          color: $font-0;
        }
      }
    }
    .policy-agree {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 10px;
      .icon {
        margin-right: 5px;
      }
    }
  }
}
.withdrawal-container {
  .withdrawal-notify {
    color: $font-3;
    word-break: keep-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    p {
      margin: 10px 0 0;
      letter-spacing: -.025em;
    }
    .highlight {
      margin-top: 0;
      font-weight: 600;
      color: $font-0;
    }
    .list {
      margin: 10px 0 0;
      padding-left: 1em;
      >li {
        &::before {
          content: '-';
          display: inline-block;
          margin-left: -1em;
          width: 1em;
        }
      }
    }
  }
  .resign-condition {
    color: $font-0;
    border-top: 1px solid $border-1;
    border-collapse: collapse;
    table-layout: fixed;
    thead {
      th {
        font-weight: 600;
        letter-spacing: -.025em;
        text-align: left;
        border-bottom: 1px solid $border-1;
      }
    }
    tbody {
      td {
        font-weight: 400;
        letter-spacing: -.025em;
        text-align: left;
        border-bottom: 1px solid $border-1;
      }
    }
    .label {
      width: 55%;
    }
  }
  .field-group {
    .i-radio {
      input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        &:checked + .icon::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: $bg-dimmed;
        }
      }
      .icon {
        display: block;
        margin-right: 10px;
        padding: 3px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid $border-4;
      }
      .text {
        line-height: 16px;
        letter-spacing: -.025em;
      }
      & + .error-message {
        margin-top: 20px;
      }
    }
    .input-textarea {
      padding: 16px;
      width: 100%;
      max-width: 720px;
      height: 160px;
      letter-spacing: -.025em;
      border: 1px solid $border-1;
      resize: none;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
      &::-webkit-input-placeholder {
        color: $font-1;
      }
      &:-moz-placeholder {
        color: $font-1;
      }
      &::-moz-placeholder {
        color: $font-1;
      }
      &:-ms-input-placeholder {
        color: $font-1;
      }
      &::placeholder {
        color: $font-1;
      }
    }
  }
  .error-message {
    &.filled {
      display: block;
      margin: 0;
      padding-top: 8px;
      font-size: 12px;
      line-height: 1;
      letter-spacing: -.025em;
      color: $color-5;
      text-align: left;
    }
  }
  .withdrawal-action {
    .button {
      text-align: center;
    }
  }
}

@media screen and (max-width : $mc-screen-max){
  .customer-address-container {
    position: relative;
    .customer-address {
      .address-item {
        padding: 20px 30px 36px;
        .address-default {
          margin-bottom: 12px;
          font-size: 14px;
        }
        .address-info {
          margin-top: 10px;
          .info-list {
            li {
              line-height: 18px;
              &:not(:first-child) {
                margin-top: 4px;
              }
            }
          }
        }
        .address-tools {
          margin-top: 30px;
          .link {
            &.trigger-default {
              -webkit-box-ordinal-group: 2;
              -webkit-order: 1;
              -ms-flex-order: 1;
              order: 1;
            }
          }
        }
      }
      &.empty {
        padding-top: 60px;
        padding-bottom: 30px;
        .icon {
          padding: 12px;
          width: 50px;
          height: 50px;
        }
        .text {
          margin-top: 24px;
          font-size: 15px;
        }
      }
    }
  }
  .customer-account-container {
    .account-fieldset {
      padding: 24px 16px;
      .radio-tabs {
        .i-selector {
          .label {
            width: 100%;
            height: 50px;
            font-size: 13px;
          }
        }
      }
      .field-row {
        .field-title {
          font-size: 11px;
        }
        .input-text {
          padding-left: 16px;
          height: 52px;
          font-size: 13px;
        }
        .descr-message {
          margin-top: 6px;
          line-height: 16px;
        }
        &:not(:first-child) {
          .field-title {
            margin-top: 16px;
          }
        }
      }
      .data-grid {
        margin-bottom: 20px;
        th,
        td {
          padding-left: 8px;
          padding-right: 8px;
          font-size: 11px;
          line-height: 16px;
        }
      }
      .policy-agree {
        margin-top: 10px;
        .icon {
          margin-right: 5px;
        }
      }
    }
    .account-action {
      padding: 16px;
      border-top: 1px solid $border-1;
      .button {
        width: 100%;
      }
    }
  }
  .withdrawal-container {
    padding: 30px 16px 50px;
    .withdrawal-notify {
      font-size: 12px;
      line-height: 17px;
      .highlight {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 22px;
      }
    }
    .resign-condition {
      margin-top: 30px;
      margin-left: -16px;
      margin-right: -16px;
      width: calc(100% + 32px);
      background-color: $bg-10;
      thead {
        th {
          padding: 16px;
          height: 47px;
          font-size: 12px;
          line-height: 17px;
        }
      }
      tbody {
        td {
          padding: 16px;
          height: 47px;
          font-size: 12px;
          line-height: 17px;
        }
      }
    }
    .input-agree {
      margin-top: 15px;
    }
    .field-group {
      margin-top: 30px;
      .i-radio {
        .text {
          font-size: 13px;
        }
        &:not(:first-child) {
          margin-top: 16px;
        }
      }
      .input-textarea {
        font-size: 13px;
        line-height: 17px;
      }
    }
    .withdrawal-action {
      margin-top: 30px;
      .button {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width : $tc-screen-min){
  .customer-address-container {
    .customer-address {
      .address-item {
        padding-top: 30px;
        padding-bottom: 60px;
        .address-default {
          margin-bottom: 16px;
          font-size: 16px;
        }
        .address-info {
          margin-top: 14px;
          .info-list {
            li {
              line-height: 20px;
              &:not(:first-child) {
                margin-top: 8px;
              }
            }
          }
        }
        .address-tools {
          position: absolute;
          top: 30px;
          right: 0;
        }
      }
      &.empty {
        padding-top: 150px;
        .icon {
          padding: 25px;
          width: 100px;
          height: 100px;
        }
        .text {
          margin-top: 30px;
          font-size: 18px;
        }
      }
    }
  }
  .customer-account-container {
    .account-fieldset {
      .fieldset-legend {
        margin-top: 60px;
      }
      .radio-tabs {
        .i-selector {
          .label {
            height: 48px;
            font-size: 14px;
          }
        }
      }
      .field-row {
        .field-title {
          font-size: 12px;
        }
        .field-label {
          max-width: 380px;
        }
        .input-text {
          padding-left: 20px;
          height: 50px;
          font-size: 14px;
        }
        .descr-message {
          margin-top: 8px;
          line-height: 20px;
        }
        &:not(:first-child) {
          .field-title {
            margin-top: 24px;
          }
        }
      }
      &.password {
        .field-row {
          &:not(:first-child) {
            .field-title {
              margin-top: 40px;
            }
          }
        }
      }
      .data-grid {
        max-width: 724px;
        th,
        td {
          padding: 16px;
          font-size: 13px;
          line-height: 24px;
        }
      }
      .policy-agree {
        margin-top: 16px;
      }
    }
    .account-action {
      margin-top: 60px;
      .button {
        width: 180px;
      }
    }
  }
  .withdrawal-container {
    .withdrawal-notify {
      font-size: 14px;
      line-height: 22px;
      .highlight {
        font-size: 20px;
        line-height: 28px;
      }
    }
    .resign-condition {
      margin-top: 40px;
      width: 100%;
      max-width: 720px;
      thead {
        th {
          padding-left: 26px;
          height: 45px;
          font-size: 14px;
          line-height: 20px;
        }
      }
      tbody {
        td {
          padding-left: 26px;
          height: 75px;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    .input-agree {
      margin-top: 20px;
    }
    .field-group {
      margin-top: 40px;
      .i-radio {
        .text {
          font-size: 14px;
        }
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
      .input-textarea {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 22px;
      }
    }
    .withdrawal-action {
      margin-top: 60px;
      .button {
        width: 180px;
      }
    }
  }
}

@media screen and (min-width : $tc-screen-min) and (max-width : $tc-screen-max){
}

@media screen and (min-width : $pc-screen-min){
}

@media screen and (min-width : $pc-screen-wide){

}
