// 마일리지 내역, 이전 주문 내역
.customer-credit-history{
	.credit-amount-wrap {
		margin-bottom: 39px;
		padding: 30px 0 0;
    		border-top: 1px solid $border-2;
    		.cmt {
	    		font-size: $font-size-m;
	    		color: #333;
			line-height: 22px;
	    	}
	}
	.cmt-box {
		font-size: $font-size-m;
		line-height: 22px;
	}
	.credit-amount{
		margin-bottom: 20px;
		font-size: $font-size-sxl;
		font-weight: bold;
		.price{
			padding-left: 10px;
			font-size: 20px;
		}
	}
	.sub-title {
		padding-bottom: 16px;
		font-size: $font-size-sxl;
		font-weight: bold;
	}
	.history-list-wrap {
		.date {width: 15%;}
		.type {width: 20%;}
		.reason {width: 40%;}
		.price {
			width: 25%;
			padding-right: 60px !important;
			text-align: right;
		}
	}
	.history-list{
		li{
			display: table;
			width: 100%;
			padding: 17px 0 16px;
			text-align: left;
			box-sizing: border-box;
			.tbl-td {
				padding: 0 15px;
				box-sizing: border-box;
			}

			.date{}
			.type{}
			.reason{font-weight: bold;}

			// price 색상은 모두 공통인듯하니 하나로 통합 처리
			.price{
				font-size: $font-size-l;
				font-weight: bold;
				// color: $primary-color;
				&.red{
					color: $caution-color;
				}
			}
		}
	}

	.previous-list-wrap {
		.date {width: 15%;}
		.type {width: 20%;}
		.product {width: 40%;}
		.price {
			width: 25%;
			padding-right: 60px !important;
			text-align: right;
		}
	}
	.order-filter {
		&.simple {
			margin-top: 30px;
			padding: 14px 25px;
			.date-set .sort-item {
				width: 164px;
				margin-right: 0;
			}
		}
	}
}

.prev-product-info {
	margin-top: 15px;
	>strong {

	}
	.txt-info {
		margin-top: 5px;
		font-size: $font-size-s;
		color: $font-4;
		span {
			&:after {
				content: '/';
				display: inline-block;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
	&:first-child {margin-top: 0;}
}


/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.customer-credit-history{
		.credit-amount-wrap {
			margin-bottom: 0;
			padding: 0;
			border-top: 0;
		}
		.cmt-box {
			padding: 16px 25px;
			font-size: $font-size-s;
			line-height: 18px;
		}
		.credit-amount {
			display: table;
			width: 100%;
			margin-bottom: 0;
			padding: 30px 0;
			>span {
				display: table-cell;
				width: 60%;
				padding: 0 24px;
				font-size: $font-size-l;
				font-weight: normal;
				vertical-align: middle;
				box-sizing: border-box;
				&.price {
					width: 40%;
					font-size: $font-size-sxl;
					font-weight: bold;
					text-align: right;
				}
			}
		}
		.tbl-header {display: none !important;}
		.history-list {
			border-top: 1px solid $border-2;
			li {
				position: relative;
				padding: 17px 24px 16px;
				.tbl-td {
					float: left;
					position: relative;
					width: auto !important;
					padding: 0;
				}
				.date, .type {
					padding: 0 10px 0 0;
					font-size: $font-size-s;
					color: #999;
				}
				.reason {
					clear: both;
					margin-top: 10px;
				}
				.price {
					position: absolute;
					right: 24px;
					bottom:20px;
					padding-right: 0 !important;
					font-size: $font-size-l;
				}
				.product {
					clear: both;
					margin-top: 15px;
					padding-right: 100px;
					line-height: 18px;
					.txt-info {
						span {
							display: block;
							&:after {display: none;}
						}
					}
				}
			}
		}
		.previous-list-wrap {
			.price {
				top: 45px;
				bottom: initial;
			}
		}
		.order-filter {
			&.simple {
				margin-top: 0;
				border-top: 1px solid $border-2;
				border-bottom: 0;
				.date-set .sort-item {width: 50%;}
			}
		}
		.sort-item span {display: none;}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
