/************************************************************************************************/

/*  필터 css
/************************************************************************************************/

.filter-container {

}

.accordion-wrapper {
	overflow:hidden;
	height:0;
	position:relative;
}	

/*  필터 1depth title */
.f-title-box {
	position:relative;
	font-size: $font-size-l;
	color:$font-1;
	padding:0 0 15px;
	margin:0;
	line-height:1em;
	background:none;

	i {
		display: none;
		font-size: 24px;
		margin-top: -5px;
		color: #767676;
	}

	.tit-text {font-weight: bold;}
	.f-btn-reset {
		position:absolute;
		top:2px;
		right:0;
		font-size:12px;
	}
}

/*  필터 2depth title */
.f-subtitle-box {
	position:relative;
	// font-size:12px;

	/* uikit .uk-accordion-title override*/
	margin-top:0;
	margin-bottom:0;
	padding:0 0 15px 0;
	background:none;
	font-size:14px;
	line-height:1em;

	.tit-text {
		font-weight: bold;
		letter-spacing: 1px;
	}
	i {
		font-size: 24px;
		margin-top: -5px;
		color: $font-3;
	}
	.nf-ic-up {
		display: none;
	}
	&.uk-active {
		.icon-minus,
		.nf-ic-up {display:block;}
		.icon-plus,
		.nf-ic-down {display:none;}
	}
}

.f-btn-toggle {
	position:absolute;
	top:0;
	right:0;
}

/* 필터 category list */
.f-cagetory-sect {
	padding: 0 0 14px;
	border-bottom: 1px solid $border-2;
	&.borderline-top {
		padding-top: 15px;
		border-top:1px solid $border-2;
	}
	>p+ul {
		padding-left: 16px;
		.f-item>a {color: $font-2;}
	}
	.f-item {
		position: relative;
		> a {
			display:inline-block;
			font-size: $font-size-m;
			font-weight: bold;
			color:$font-1;
			padding:13px 0 13px 8px;
			position: relative;
			width: 100%;
		}
		>i {display: none;}
		&:hover, &.active {
			>a {color: $primary-color;}
			>i {
				display: block;
				position: absolute;
				right: 0;
				top: 8px;
				font-size: 18px;
				color: $primary-color;
			}
		}
		&:last-child {margin-bottom:7px;}
		> a.f-btn-more {
			margin-left: 15px;
			color: $button_text-color-type2;
			font-weight: normal;
		}
	}
	.f-subitem {
		padding-left:15px;
		> a {
			display:inline-block;
			font-size:12px;
			color: $font-2;
			padding:5px 0;
		}
	}
	.f-btn-more {
		font-size:12px;
	}
}

/* 필터 옵션 (color, size, price) */
.f-refine-sect {
	margin-top: 14px;
	border-bottom: 1px solid $border-3;
	&.borderline-top {
		padding-top: 15px;
		border-top:1px solid $border-3;
	}

	/* uikit .uk-accordion-content override */
	.uk-accordion-content {
		padding: 0 0 24px 0;
		overflow:hidden;
	}

	.f-style-check {padding-left: 10px;}

	.more-container {
		overflow:hidden;
		height:193px;
	}

	.more-btn {
		margin:0;
		padding:0;
		border:0;

		display:block;
		width:100%;
		padding-top:10px;
		//border-top:1px solid $border-2;
		text-align:center;
		font-size:10px;
		background-color:$bg-1;
		font-size: 13px;

		&.active {
			.plus {display:none;}
			.minus {display:inline;}
		}

		.minus {display:none;}
	}
}

/* 필터 타입 체크박스 & 라디오 */
.f-style-check, .f-style-radio {
	/* uikit .uk-accordion-content override */
	padding: 0 0 30px 0;

	.f-item {
		padding:10px 0;
		label {
			position: relative;
			width: 100%;
			padding-right: 25px;
			box-sizing: border-box;
			>i {
				position: absolute;
				right: 0;
				top: 1px;
				margin: 0 0 0 5px;
			}
		}
	}

	.input-radio { display:block; }
	.input-checkbox {
		>label {
			width: 100%;
			font-size: $font-size-m;
			>i {
				float: none;
				text-align: right;
			}
		}
	}
}

/* 필터 타입 정사각형 모양 */
.f-style-square {
	// overflow:hidden;
	width: 100%;
	margin-left: 0;
	padding: 0 0 0 0;
	&:after {
		content: '';
		clear: both;
		display: block;
	}

	.f-item {
		float:left;
		margin-left: 0;
		padding: 0;

		a, label {
			position: relative;
			display: block;
			min-width:67px;
			height:48px;
			padding:0;
			box-sizing:border-box;
			text-align:center;
			color: $font-1;
			line-height: 48px;
			vertical-align:middle;
			&:hover {
				border-color: $primary-color;
				color: $primary-color;
				&:after {
					border-color: $primary-color;
					z-index: 100;
				}
			}
			&:after {
				border: 1px solid #e5e5e5;
			    	position: absolute;
			    	top: 0;
			    	right: -1px;
			    	left: 0;
			    	bottom: -1px;
			}
		}

		.no-view {display:none;}
	}

	.active, .checked {
		a, label {
			border-width:2px;
			color: $primary-color;
			&:after {
				border: 2px solid $primary-color;
				z-index: 100;
			}
		}
	}

	&.f-color-type {
		.f-item {
			margin: 0 0 16px 8px;
			a, label {
				min-width:24px;
				height:24px;
				line-height: normal;
			}
		}
	}
}

/* 필터 타입 라운드 모양 */
.f-style-round {
	padding-bottom:30px;
	.f-item {padding:3px 0;}
}

.filter-wrap_category {
	position:relative;
	// height:48px;  높이값 지정 필요?
	//margin-bottom:10px;
	padding-bottom: 25px;
	border-bottom: 1px solid $border-2;
	.btn-link, .select-box {width: auto; font-weight: bold;}

	// .btn-filter-open {float:left;}
	// .filter-tagbox {float:left;}

	&:after {content:''; clear:both; display:block;}
	.select-box{
		&.sort{
			.select-head {padding:0 35px 0 10px; text-align: right;}
			.select-body {
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
				border: solid 1px $border-1;
			}
		}
		&.checked {
			.select-body {
				left: initial;
				right: 0;
				min-width: 150px;
			}
		}
	}

	.filter-tit {
		font-size: 26px;
		font-weight: bold;
		color: $title_filter-color;

		.num {
			font-size: $font-size-l;
			color: $font-1;
		}
	}
	.filter-etc {
		position: absolute;
		right: 0;
		bottom: 18px;
		.viewtype, .select-box {display: inline-block;}
		.viewtype {
			li {
				display: inline-block;
				margin-left: 10px;
				vertical-align: middle;
				i {
					font-size: 24px;
					color: #bbb;
				}
				&.active {
					i {color: #111;}
				}
			}
		}
		.select-box.sort {
			position: relative;
			top: 1px;
			right: initial;
			width: auto;
			&.checked {
				&:before {
					margin-top: -1px;
					transform: rotate(-45deg);
				}
			}
		}
	}

	&.srch-type {
		.filter-tit, .filter-tit .num {font-size: 20px;}
		.favorite-search-wrap {text-align: left;}
	}
}

/* filter tag */
.filter-tagbox {
	// .filter-tit {
	// 	font-size: 14px;
	// 	color: $title_filter-color;

	// 	.num {
	// 		font-size: 11px;
	// 		color: $font-3;
	// 	}
	// }
	ul {
		display: inline-block;
		padding:15px 0;
	}
	.tag-item {
		display:inline-block;
		color: $font-1;
		font-size: 13px;
		margin-right: 10px;
		a {
			display: inline-block;
			padding: 8px 8px 6px;
			color: $font-2;
			background-color: $bg-2;
		}
		i {
			padding-right: 4px;
			font-size: 9px;
			color: $font-3;
		}
	}
	.f-btn-reset {
		font-size:12px;
		i {
			font-size: 15px;
			color: $primary-color;
			vertical-align: -2px;
		}
	}
}

.section-filter {
	/*overflow:auto;*/
	position:fixed;
	top:0;
	left:-$filter-width;
	bottom:0;
	width:$filter-width;
	padding-top: 30px;
	padding-right: 60px;
	box-sizing:border-box;
	background: $bg-1;
	z-index:100;
	opacity:0;
	filter:alpha(opacity=0);


	.filter{
		@include filter-field;

		.item{
			> a {
				color: $font-3;
				width:100%;
				text-align:left;
				padding:10px 20px;
				display:inline-block;
				box-sizing: border-box;
			}
			&:hover {background-color: $bg-4}
			&.active {
				color: $font-6;
				background-color: $primary-color;
				> a {color: $font-6;}
			}

			&.btn-type {
				width:45px;
				text-align:center;
				border:1px solid $border-5;
				padding:10px 0;

				> label {text-align:center;}
			}
		}
	}

	.btn-sect {margin-top:20px; text-align:center;}
}


.filter-category-modal-wrap {
	.section-filter {
		overflow-y:scroll;
		width:$filter-width;
		height:auto;
		padding:18px;
		z-index:999;
	}

	.section-category {
		.filter-wrap_category {
			// height:64px;
			padding: 0;
			border: 0;
			// .filter-tagbox {padding:10px 0 0 40px;}
		}
	}
}


.filter-category-wrap{
	overflow: hidden;
	.section-filter {
		opacity:1;
		filter:alpha(opacity=1);
		position: relative;
		left:0;
		float:left;
	}
	.section-category {
		float:left;
		width:calc(100% - 265px);
		.btn-filter-open{
			display: none;
		}

		&.item-list-less {
			// width:100%;
			// padding:20px 0 80px;
		}

		.filter-wrap_category {
			padding: 0;
			border-bottom: 0;
		}
	}
	&.search-conts {
		.section-category {
			&.item-list-less {width:100%;}
		}
	}
}


.filter-field_price {
	@include filter-field;

	text-align:center;
	padding-left:30px;
	padding-right:30px;

	> .filter-tit {text-align:left;}
	> .btn-link {margin-top:20px;}
	> .slider-range {
		height:10px;
		margin-bottom:20px;
	}
	> .filter-tit {
		margin-left:-10px;
		display:block;
	}
}

.filter-field_categories {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}
}

.filter-field_color {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}
}

.filter-field_size {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}

	&.style-btn {
		padding-left:20px;
		padding-right:20px;
		> .input-checkbox {
			float:left;
			margin-top:-1px;
			margin-left:-1px;
		}

		.filter-tit {margin-left:0;}
	}
}


/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

	.f-title-box {
		i {display: block;}
		&.uk-active {
			.nf-ic-up {
				display: block;
			}

			.nf-ic-down {
				display: none;
			}
		}

		.nf-ic-up {
			display: none;
		}
	}

	//filter category
	.filter-wrap_category {
		width:100%;
		padding-bottom: 0;
		.btn-link {
			// display:inline-block;
			// width:50%;
			height:48px;
			// border-width:0 0 1px 0;
			// border-style:solid;
			// border-color:$border-2;
			padding: 17px 35px 17px 10px;
			text-align:right;
			box-sizing:border-box;
			// font-weight:bold;
			position: absolute;
			font-size: $font-size-s;
			color: $default-color;
			&:before {
				@include icon-selectbox;
			}
			i {
				margin-left:10px;
			}
			span {color: $font-4}
		}


		.select-box {
			// width:50%;
			// border-width:0 0 1px 1px;
			height:48px;
			// border-style:solid;
			// border-color:$border-2;
			box-sizing:border-box;
			> select {height: 47px; border:0; font-weight:bold;}
		}

		.filter-tagbox {
			display:none;
		}

		.select-box {
			&.sort{
				// width:auto;
				.select-head {
					height: 48px;
					padding: 17px 35px 17px 10px;
				}
			}
			&.right {
				float: right;
				position: relative;
				bottom: initial;
			}
		}

		.filter-tit {
			padding: 20px 0 18px;
			border-bottom: 1px solid $border-2;
			text-align: center;
			.tit {
				display: block;
				font-size: $font-size-sxl;
			}
			.num {
				display: block;
				font-size: $font-size-s !important;
				margin-top: 10px;
			}
		}

		.filter-etc {
			position: relative;
			bottom: initial;
			right: initial;
			width: 100%;
			text-align: right;
			&:after {
				content: '';
				clear: both;
				display: block;
			}
			.viewtype, .select-box {float: right;}
			.viewtype {
				margin-top: 12px;
				li {
					margin-right: 10px;
					margin-left: 0;
				}
			}
		}

		&.srch-type {
			// .filter-tit {float: left;}
		}
	}

	.filter-category-wrap{
		.section-filter {
			// overflow-y:scroll;
			display: none;
			opacity:1;
			filter:alpha(opacity=1);
			position:fixed;
			// left:-$filter-width;
			left: 0;
			width: 100%;
			padding: 0;
			z-index:999;
			.filter-header {
				position: relative;
				height: 48px;
				background-color: #fff;
				border-bottom: 1px solid $border-2;
				z-index: 110;
				.title {
					margin-bottom: 10px;
					font-size: 18px;
					line-height: 48px;
					text-align: center;
				}
				.close-btn {
					position: absolute;
					left: 16px;
					top: 50%;
					margin-top: -10px;
					opacity: 1;
				}
				.reset-btn {
					position: absolute;
					right: 16px;
					top: 18px;
					font-size: 12px;
					border: 0;
					background-color: transparent;
				}
			}
			.filter-content {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				padding: 78px 18px 70px;
				box-sizing: border-box;
				overflow-y: auto;
				.checked-txt {
					position: absolute;
					right: 40px;
					top: 0;
					max-width: 30%;
					font-size: 12px;
					text-align: right;
					text-overflow:ellipsis;
					overflow:hidden;
					white-space:nowrap;
				}
			}
			.result-btn {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				// width: $filter-width;
				width: 100%;
				z-index: 100;
			}
		}

		.section-category {
			width:100%;
			// .btn-filter-open{
			// 	display: block;
			// }
		}

		.btn-filter-open{
			// float: right;
			// display: block;
		}

		.filter-tit {
			// padding-left: 15px;
			// line-height: 48px;
			// .tit {display:none;}
			// .num {
			// 	font-size: 14px !important;
			// 	padding-left: 0;
			// 	vertical-align: top;
			// }
		}
		.filter-etc {
			// float: right;
			// .btn-filter-open{
			// 	float: right;
			// 	display: block;
			// 	width: auto;
			// 	padding: 17px 50px 17px 11px;
			// 	font-size: 12px;
			// 	color: $default-color;
			// 	border: 0;
			// 	&:before {
			// 		@include icon-down;
			// 	}
			// }
		}
	}

	/* 필터 타입 정사각형 모양 */
	.f-style-square {
		&.f-color-type {
			margin-left: -24px;
			.f-item {
				margin: 0 0 16px 24px;
				a, label {
					min-width:32px;
					height:32px;
				}
			}
		}
	}

	//mc filter
	.mc-category {
		ul {
			margin: 0;
			padding: 8px 3px 0;
		}
		.f-item {
			text-align: center;
			padding: 2px;
			box-sizing: border-box;
			a {
				display: block;
				height: 33px;
				padding: 0;
				line-height: 33px;
				color: #444;
				font-size: 11px;
				font-weight: bold;
				letter-spacing: -1px;
				background: #eee;
			}
			&.active {
				a {
					color: #fff;
					background: #444;
				}
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
