
/*********************************************************************/
/* footer
/*********************************************************************/

.footer {
	color: $font-0;
  background-color: $bg-1;
	overflow: hidden;
}

@media (max-width:767px){
	.footer-container {
		.column-family-sites {
			border-top: 1px solid #e5e5e5;
			>.column-item-title {
				position: relative;
				margin: 0;
				padding: 21px 44px 21px 16px;
				height: 54px;
				font-size: 12px;
				line-height: 1;
				color: $font-3;
				cursor: pointer;
				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					right: 16px;
					margin-top: -6px;
					width: 12px;
					height: 12px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: cover;
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 40 40'%3E%3Cpath fill='%23000' d='M40 17.857H22.143V0h-4.286v17.857H0v4.286h17.857V40h4.286V22.143H40z' /%3E%3C/svg%3E");
				}
			}
			>.column-links {
				display: none;
				margin: 0;
				padding: 0 15px 20px;
				>li {
					&:not(:first-child) {
						margin-top: 10px;
					}
				}
			}
			.text-link {
				font-size: 12px;
				line-height: 18px;
			}
      &.active {
        >.column-links {
          display: block;
        }
        >.column-item-title {
          &::after {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 40 40'%3E%3Cpath fill='%23000' d='M0 17.5h40v4.5H0z' /%3E%3C/svg%3E");
          }
        }
      }
      &.way {
        >.column-item-title {
          &::after {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 40 40'%3E%3Cpath fill='%23000' d='M0 17.5h40v4.5H0z' /%3E%3C/svg%3E");
          }
        }
      }
		}
	}
	.footer-company {
		position: relative;
		border-top: 1px solid #e5e5e5;
		>.content {
			padding-top: 39px;
			text-align: center;
		}
		.text-link {
			color: $font-0;
		}
		.site-payInfo {
			position: absolute;
			right: 0;
			bottom: 73px;
			width: 56px;
		}
		.sites-info {
			font-size: 11px;
			line-height: 1;
			color: $font-3;
			.content {
				margin: 0;
			}
			.company-attr {
				display: block;
				margin-top: 5px;
                &.company-name {
                margin: 0 0 28px;
                font-size: 15px;
                font-weight: 700;
                line-height: 1;
                color: $font-0;
                }
			}
			>.copyright {
				margin-top: 5px;
				margin-bottom: 0;
            }
            .footer-policy {
                margin: 10px 0 5px;
                a { 
                    display: inline-block;
                    color: #000;
                }
            }
		}
		.socialmedia-links {
			padding: 20px;
			.link-social {
				margin: 0 12px;
				width: 25px;
				height: 25px;
				font-size: 15px;
			}
		}
	}
	.footer-legal {
		background-color: $bg-dimmed;
		.col {
			margin: 0;
			padding: 0 16px;
			height: 55px;
			-webkit-flex-basis: 50%;
			-ms-flex-preferred-size: 50%;
			flex-basis: 50%;
		}
		.copyright {
			font-size: 11px;
			color: $font-1;
		}
	}
}

@media (min-width:768px){

	.footer-container {
		color: $font-3;
		border-top: 1px solid #e5e5e5;
		overflow: hidden;
		>.content {
			margin: 0 auto;
			max-width: 1440px;
			>.row {
				margin: 0;
			}
			.col {
				padding: 0;
				-webkit-flex-basis: 20%;
				-ms-flex-preferred-size: 20%;
				flex-basis: 20%;
				max-width: 20%;
				&:not(:first-child) {
					border-left: 1px solid #e5e5e5;
				}
			}
		}
		.column-item {
			padding: 30px 0 0 20px;
			min-height: 160px;
		}
		.column-item-title {
			margin-bottom: 15px;
			font-size: 14px;
			font-weight: 600;
			line-height: 1;
			letter-spacing: -.025em;
			color: $font-0;
		}
		.socialmedia-links {
			.link-social {
				width: 50px;
				height: 50px;
				color: $font-0;
				border-top: 1px solid #e5e5e5;
				border-right: 1px solid #e5e5e5;
				border-bottom: 1px solid #e5e5e5;
				&:first-child {
					border-left: 1px solid #e5e5e5;
				}
			}
		}
		.column-links {
			>li {
				&:not(:first-child) {
					margin-top: 8px;
				}
			}
			.text-link {
				font-size: 12px;
				line-height: 1;
			}
		}
	}
	.footer-company {
		background-color: $bg-dimmed;
		>.content {
			margin: 0 auto;
			padding: 38px 20px;
			max-width: 1440px;
			font-size: 12px;
			line-height: 20px;
			letter-spacing: -.025em;
			color: $font-1;
			>.row {
				>.col {
					margin: 0;
				}
			}
		}
		.site-payInfo {
			max-width: 390px;
		}
		.company-insurance {
			// -webkit-flex-basis: 360px;
			// -ms-flex-preferred-size: 360px;
			// flex-basis: 360px;
			// max-width: 360px;
		}
		.escrow-area {
			display: none; //운영반영시 제거
			position: relative;
			p {margin: 0;}
			img {position: absolute; top: 4px; left: -55px; width: 46px;}
		}
		.text-link {
			color: $font-7;
		}
		.sites-info {
			overflow: hidden;
			>.content {
				margin: 0 0 0 calc(-16px - 1px);
				max-width: 698px;
			}
			.company-attr {
				display: inline-block;
				margin-right: -2px;
				vertical-align: top;
				&::before {
					content: '';
					display: inline-block;
					margin: 0 8px;
					width: 1px;
					height: 12px;
					vertical-align: middle;
					background-color: $bg-7;
				}
			}
			.copyright {
				margin: 22px 0 0;
			}
		}
	}
}
@media (min-width:1025px){

	.footer-container {
		.column-item {
			padding-left: 40px;
		}
	}
	.footer-company {
		>.content {
			padding-left: 40px;
			padding-right: 40px;
		}
		
	}

}

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {
	
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
