.forgot-password{
	.step-container{
		.list-container{
			input[type="radio"]{
		  		-webkit-appearance: radio;
			}
			li {
				padding:10px 0px 10px 0px;
				border-top:1px solid $border-1;
			}
			li:last-child {
				border-bottom:1px solid $border-1;	
			}
			.info-group{
				span{
					display: block;
					color: $font-4;
					font-size: $font-size-s;
				}
				line-height: 1.5;
				.name{
					color: $font-2;
					font-size: $font-size-m;
					margin-bottom: 5px;
				}
			}
			.btn-group{
				float:right;
				button{
					margin-top:11%;
				}
			}

			.action-group{
				.info{
					font-size:$font-size-s;
					.untiltime{
						display: block;
						font-size:$font-size-mini;
						margin-bottom:10px;
						color: $font-3;
					}
				}
				.type{
					display: inline-block;
					margin-right:10px;
				}
			}
		}

		&.step-3, &.step-4{
			i{ 
				font-size: 70px;
			}
			.body{
				margin-top:80px;
				.description{
					line-height: 20px;
					padding-top: 10px;
					font-size: 13px;
				}
			}
		}
	}
	.submit-btn{width:70px;}
}



/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.forgot-password{
		.step-container{
			.list-container{
				.btn-group{
					float:none;
					button{
						width:100%;
						margin-top:15px;
					}
				}

				.action-group{
					.info{
						display: block;
						margin-bottom:5px;
						.untiltime{
							margin-bottom:5px;
						}
					}
					.type{
						margin-top:5px;
						display: block;
					}					
					button{
						margin-top:5px;
						width: 100%;
					}
				}				
			}
		}
	}

}


