/*********************************************************************/
/* header
/*********************************************************************/

	.global-promo-banner {
		z-index: 4;
		position: relative;
		color: $font-0;
		min-height: 50px;
		border-top: 1px solid $border-1;
		border-bottom: 1px solid $border-1;
		background: $bg-2;
		>.content {
			margin: 0 auto;
			padding-right: 16px;
			padding-left: 16px;
			max-width: $pc-screen-wide;
			.slick-list {
				width: 100%;
			}
		}
	}
	.global-gateway {
		.flag-icon {
			margin-right: 10px;
			width: 18px;
			height: 12px;
		}
		.locale {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			position: relative;
			font-size: 12px;
			font-weight: 600;
			line-height: 1;
		}
	}

	.header {
		z-index: 1050;
		position: relative;
	  &.fixit-active {
			position: static;
		.header-content-wrapper {
			z-index: 1050;
			position: fixed;
			border-bottom: 1px solid $border-1;
		}
	  }
	}
	.header-content-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: $bg-1;
		-webkit-transition: background-color 213ms ease-in-out;
		transition: background-color 213ms ease-in-out;
		.minicart-link {
			position: relative;
			&:not(.empty) {
				&::after {
					position: absolute;
					top: -6px;
					right: -6px;
					padding: 0 4px;
					min-width: 16px;
					height: 16px;
					font-size: 10px;
					font-weight: 600;
					line-height: 1.7;
					color: $font-7;
					text-align: center;
					text-indent: -.125em;
					background-color: $bg-converse-1;
					border-radius: 8px;
					-webkit-transition-property: opacity, -webkit-transform;
					transition-property: opacity, -webkit-transform;
					transition-property: opacity,transform;
					transition-property: opacity,transform, -webkit-transform;
					-webkit-transition-duration: 213ms;
					transition-duration: 213ms;
					-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
					content: attr(data-qty);
				}
			}
		}
	}
	.header-navigation {
	  .logo-icon {
	    fill: currentColor;
	  }
	}
	.header-utility {
		.utility {
			.item {
				-webkit-transition: opacity 213ms ease-in-out;
				transition: opacity 213ms ease-in-out;
			}
			&:hover {
				.item {
					&:not(:hover) {
						opacity: .5;
					}
				}
			}
			.header-favorites {
				position: relative;
				.icon-changed {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					-webkit-transform: scale(0);
					transform: scale(0);
					-webkit-transition: opacity .32s ease-in, -webkit-transform .32s ease-in .32s;
					transition: opacity .32s ease-in, -webkit-transform .32s ease-in .32s;
					transition: opacity .32s ease-in,transform .32s ease-in .32s;
					transition: opacity .32s ease-in,transform .32s ease-in .32s, -webkit-transform .32s ease-in .32s;
				}
			}
			.header-favorites.set-changed {
				.icon-changed {
					opacity: 1;
					-webkit-transform: scale(1);
					transform: scale(1);
					-webkit-transition: opacity 213ms ease-out, -webkit-transform 213ms ease-out;
					transition: opacity 213ms ease-out, -webkit-transform 213ms ease-out;
					transition: opacity 213ms ease-out,transform 213ms ease-out;
					transition: opacity 213ms ease-out,transform 213ms ease-out, -webkit-transform 213ms ease-out;
				}
			}
			.header-user {
				.icon {
					padding: 2px;
					&.is-login {
						color: #fff;
						background-color: #000;
						border-radius: 50%;
					}
				}
			}
		}
		.search {
			-webkit-transition: width 426ms cubic-bezier(.4,.9,.3,1);
			transition: width 426ms cubic-bezier(.4,.9,.3,1);
			.toggle {
				width: 100%;
				height: 100%;
				cursor: pointer;
			}
			&:not(.set-search-shown) {
				.toggle-close {
					display: none;
				}
			}
			&.set-search-shown {
				.toggle-icon {
					display: none;
				}
			}
			.icon {
				width: 1.25em;
			}
		}
	}
	.header-flyout {
		cursor: auto;
		&.active {
			.set-ease-in {
				-webkit-transition-delay: 213ms;
				transition-delay: 213ms;
			}
		}
	}
	.header-flyout-container {
		background-color: $bg-1;
		&:not(.active) {
			.set-ease-in {
				opacity: 0;
				visibility: hidden;
				-webkit-transform: translateX(-32px);
				transform: translateX(-32px);
			}
		}
	}
	.header-search-dropdown {
	  position: absolute;
	  top: 100%;
	  left: 0;
	  width: 100%;
	  color: #000;
	  background-color: #fff;
	  cursor: auto;
	  -webkit-transition: -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
	  transition: -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
	  transition: transform 426ms cubic-bezier(.4,.9,.3,1);
	  transition: transform 426ms cubic-bezier(.4,.9,.3,1),-webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
	  .ratio-fill {
	    width: 100%;
	  }
	  .dashboard-tiles-wrap .text-tile > .tile-overlay,
	  .dashboard-tiles-wrap .media-tile .tile-overlay {
	      padding: 20px;
	  }
	  .header-search-contents {
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 1440px;
	  }
	  .header-search-dashboard-col {
	    -webkit-transition: opacity 213ms ease-out,visibility 213ms ease-out;
	    transition: opacity 213ms ease-out,visibility 213ms ease-out;
	    opacity: 0;
	    visibility: hidden;
	    .set-search-shown & {
	      opacity: 1;
	      visibility: inherit;
	    }
	  }
	  .header-search-col-content {
	    overflow: hidden;
	  }
	  .header-search-heading {
	    margin: 0;
	    font-size: 30px;
	    line-height: 1;
	  }
	  .header-search-form {
	    position: relative;
	    .search-input-form-input-wrapper {
	      position: relative;
	      border-bottom: 1px solid $border-4;
	    }
	    .search-input-form-input {
	      width: 100%;
	      font-size: 20px;
	      line-height: 24px;
	      background-color: transparent;
	      border: none;
	    }
	    .search-input-form-submit {
	      position: absolute;
	      top: 0;
	      right: 0;
	      height: 100%;
	    }
	  }
	  .placement {
	    width: 100%;
	    height: 100%;
	  }
	  .search-suggestions-list {
	    .header-search-results-result {
	      padding-top: 12px;
	      padding-bottom: 4px;
	      line-height: 1;
	      letter-spacing: -.025em;
	      color: $font-1;
	      &:first-child {
	        padding-top: 24px;
	      }
	      .hit {
	        display: block;
	        white-space: nowrap;
	        overflow: hidden;
	        text-overflow: ellipsis;
	      }
	      .match {
	        color: $font-0;
	      }
	    }
	  }
	  &:not(.set-search-shown) {
	    pointer-events: none;
	    -webkit-transform: translateX(-100%);
	    transform: translateX(-100%);
	  }
	  &.set-search-shown {
	    .header-search-dashboard-col {
	      opacity: 1;
	      visibility: inherit;
	    }
	  }
	}

	@media screen and (max-width : $mc-screen-max){

		.global-gateway {
			.locale {
				font-size: 11px;
				.text {
					color: $font-7;
				}
				.break-line {
					padding: 0 4px;
					color: $font-7;
				}
			}
		}
		.header {
			height: 50px;
		}
		.header-content-wrapper {
			border-bottom: 1px solid $border-1;
			>.content {
				padding-left: 16px;
				padding-right: 16px;
				>.row {
					height: 50px;
				}
			}
		}
		.header-flyout-toggle {
			-webkit-flex-basis: 25%;
			-ms-flex-preferred-size: 25%;
			flex-basis: 25%;
			max-width: 25%;
			.toggle {
				margin-left: -7px;
				padding: 7px;
				width: 30px;
				height: 30px;
				>.icon {
					width: 100%;
					height: 100%;
				}
			}
		}
		.header-navigation {
			-webkit-flex-basis: 50%;
			-ms-flex-preferred-size: 50%;
			flex-basis: 50%;
			max-width: 50%;
			>.flex {
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				-ms-flex-pack: center;
				justify-content: center;
			}
			.logo {
				-webkit-box-flex: 1;
				-webkit-flex: 1 0 110px;
				-ms-flex: 1 0 110px;
				flex: 1 0 110px;
				max-width: 110px;
				height: 13px;
			}
			.head-profile {
				font-size: 14px;
				font-weight: 600;
				line-height: 17px;
				.icon {
					width: 17px;
					height: 17px;
					padding: 2px;
					color: $font-7;
					vertical-align: top;
					border-radius: 50%;
					background-color: $bg-dimmed;
				}
				.text {
					vertical-align: top;
				}
			}
			.header-flyout {
				z-index: 1;
				position: fixed;
				top: 0;
				width: 100vw;
				height: 100vh;
				color: $font-0;
				&:not(.set-flyout-shown) {
					left: -100%;
					-webkit-transform: translateX(-99.9%);
					transform: translateX(-99.9%);
					-webkit-transition: left 426ms cubic-bezier(.4,.9,.3,1) 426ms, -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
					transition: left 426ms cubic-bezier(.4,.9,.3,1) 426ms, -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
					transition: left 426ms cubic-bezier(.4,.9,.3,1) 426ms,transform 426ms cubic-bezier(.4,.9,.3,1);
					transition: left 426ms cubic-bezier(.4,.9,.3,1) 426ms,transform 426ms cubic-bezier(.4,.9,.3,1), -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
				}
			}
		}
		.header-utility {
			-webkit-flex-basis: 25%;
			-ms-flex-preferred-size: 25%;
			flex-basis: 25%;
			max-width: 25%;
			.utility {
				.item {
					padding: 5px;
					.icon {
						width: 20px;
						height: 20px;
					}
				}
			}
			.search {
				margin-right: -6px;
				margin-left: 3px;
				.toggle {
					padding: 6px;
					width: 30px;
					height: 30px;
					color: $font-0;
				}
				.icon {
	        width: 100%;
	        height: 100%;
	        &.toggle-close {
	          padding: 1px;
	        }
				}
			}
		}
		.header-flyout {
			z-index: 1;
			position: fixed;
			top: 0;
			width: 100vw;
			height: 100vh;
			&:not(.set-flyout-shown) {
				left: -100%;
				-webkit-transform: translateX(-99.9%);
				transform: translateX(-99.9%);
				-webkit-transition: left 426ms cubic-bezier(.4,.9,.3,1) 426ms, -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
				transition: left 426ms cubic-bezier(.4,.9,.3,1) 426ms, -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
				transition: left 426ms cubic-bezier(.4,.9,.3,1) 426ms,transform 426ms cubic-bezier(.4,.9,.3,1);
				transition: left 426ms cubic-bezier(.4,.9,.3,1) 426ms,transform 426ms cubic-bezier(.4,.9,.3,1), -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
				&:not(.active) {
					.set-ease-in {
						opacity: 0;
						visibility: hidden;
						-webkit-transform: translateX(-32px);
						transform: translateX(-32px);
					}
				}
			}
			.container {
				height: 100%;
				background-color: $bg-1;
			}
			.head {
				position: relative;
				height: 52px;
				border-bottom: 1px solid rgba(0,0,0,.1);
				padding: 17px 16px;
				width: 100%;
				background-color: $bg-inherit;
				>.head-back {
					font-size: 20px;
				}
			}
			.head-overlay {
				padding: 17px 16px;
				width: 100%;
				background-color: $bg-inherit;
				z-index: 1;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				-webkit-transition: -webkit-transform .32s cubic-bezier(.4,.9,.3,1);
				transition: -webkit-transform .32s cubic-bezier(.4,.9,.3,1);
				transition: transform .32s cubic-bezier(.4,.9,.3,1);
				transition: transform .32s cubic-bezier(.4,.9,.3,1),-webkit-transform .32s cubic-bezier(.4,.9,.3,1);
				&:not(.active) {
					-webkit-transform: translateX(-100%);
					transform: translateX(-100%);
				}
				.head-title {
					font-size: 16px;
					font-weight: 600;
				}
			}
			.head-back {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				position: absolute;
				top: 0;
				min-width: 28px;
				height: 100%;
				-webkit-box-align: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				.icon {
					display: block;
				}
	    }
	    .head-account {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				position: absolute;
				top: 0;
				min-width: 28px;
				height: 100%;
				-webkit-box-align: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				z-index: 2;
				right: 71px;
				padding: 7px;
				font-size: 20px;
				.icon {
	        display: block;
	        padding: 1px;
				}
	    }
			.head-minicart {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				position: absolute;
				top: 0;
				min-width: 28px;
				height: 100%;
				-webkit-box-align: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				z-index: 2;
				right: 37px;
				padding: 7px;
				font-size: 20px;
				.icon {
					display: block;
				}
			}
			.header-flyout-close {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				position: absolute;
				top: 0;
				min-width: 28px;
				height: 100%;
				-webkit-box-align: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				z-index: 2;
				right: 9px;
				padding: 7px;
				font-size: 14px;
				.icon {
					display: block;
				}
			}
			.head-profile {
				font-size: 14px;
				font-weight: 600;
				line-height: 17px;
				.icon {
					width: 17px;
					height: 17px;
					padding: 2px;
					color: $font-7;
					vertical-align: top;
					border-radius: 50%;
					background-color: $bg-dimmed;
				}
			}
			.body.level-1 {
				padding-top: 40px;
				height: calc(100% - 52px);
				overflow: auto;
				-webkit-overflow-scrolling: touch;
			}
			.list.level-1 {
				position: relative;
				margin-bottom: 0;
				overflow: hidden;
				margin: 0;
				padding-left: 40px;
				padding-right: 40px;
			}
			.list.level-2 {
				margin: 0;
				padding-left: 40px;
				padding-right: 40px;
			}
			.item.level-1 {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 40px;
				}
			}
			.item.level-2 {
				margin-bottom: 18px;
			}
			.item.total.level-2 {
				margin-bottom: 22px;
			}
			.anchor.level-1 {
				font-size: 30px;
				font-weight: 700;
				line-height: 1;
				text-transform: uppercase;
			}
			.anchor.level-2 {
				font-size: 24px;
				font-weight: 700;
				line-height: 1;
			}
			.highlight {
				margin: 40px -40px 0;
				padding: 40px 40px 30px;
				border-top: 1px solid $border-1;
				.title {
					font-size: 14px;
					font-weight: 900;
					line-height: 1;
				}
				.highlight-list {
					margin-top: 16px;
					margin-right: -40px;
					overflow: auto;
				}
				.highlight-row {
					-webkit-flex-wrap: nowrap;
					-ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	        margin-right: 0;
					margin-bottom: 10px;
					padding: 0;
				}
				.name {
					display: block;
					margin-top: 14px;
					font-size: 14px;
					line-height: 18px;
					word-break: keep-all;
				}
			}
			.account-links {
				margin-bottom: -1px;
				>.item {
					border-top: 1px solid $border-1;
					&:last-child {
						border-bottom: 1px solid $border-1;
					}
				}
				.anchor {
					padding: 18px 30px;
					font-size: 14px;
					font-weight: 600;
					line-height: 1;
					.icon {
						display: block;
						margin: 0;
						margin-left: auto;
					}
				}
			}
	    &.set-flyout-shown {
	      left: 0;
	      -webkit-transition: -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
	      transition: -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
	      transition: transform 426ms cubic-bezier(.4,.9,.3,1);
	      transition: transform 426ms cubic-bezier(.4,.9,.3,1), -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
	    }
		}
		.set-flyout-shown {
			.set-ease-in {
				-webkit-transition-delay: 213ms;
				transition-delay: 213ms;
			}
		}
		.header-flyout-container {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			-webkit-transition: -webkit-transform .32s cubic-bezier(.4,.9,.3,1);
			transition: -webkit-transform .32s cubic-bezier(.4,.9,.3,1);
			transition: transform .32s cubic-bezier(.4,.9,.3,1);
			transition: transform .32s cubic-bezier(.4,.9,.3,1), -webkit-transform .32s cubic-bezier(.4,.9,.3,1);
			&:not(.active) {
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
			}
	  }
	  .header-search-dropdown {
	    overflow: auto;
	    //font-size: .75rem;
	    height: calc(100vh - 50px);
	    .header-search-row {
	      -webkit-box-orient: vertical;
	      -webkit-box-direction: reverse;
	      -webkit-flex-flow: column-reverse;
	      -ms-flex-flow: column-reverse;
	      flex-flow: column-reverse;
	    }
	    .header-tile-justify {
	      -webkit-box-pack: end;
	      -webkit-justify-content: flex-end;
	      -ms-flex-pack: end;
	      justify-content: flex-end;
	    }
	    .header-tile-top {
	      .dashboard-tile.grow-2 {
	        -webkit-box-flex: 1;
	        -webkit-flex: 1 0 100%;
	        -ms-flex: 1 0 100%;
	        flex: 1 0 100%;
	      }
	    }
	    .header-tile-bottom {
	      -webkit-box-orient: vertical;
	      -webkit-box-direction: reverse;
	      -webkit-flex-flow: column-reverse;
	      -ms-flex-flow: column-reverse;
	      flex-flow: column-reverse;
	    }
	    .header-tile-sm-reverse {
	      -webkit-box-orient: horizontal;
	      -webkit-box-direction: reverse;
	      -webkit-flex-flow: row-reverse;
	      -ms-flex-flow: row-reverse;
	      flex-flow: row-reverse;
	    }
	    .header-search-results {
	      width: 100%;
	      padding-top: 8px;
	      padding-left: 40px;
	      padding-right: 40px;
	      height: auto;
	      max-height: 320px;
	      -webkit-transition: max-height .6s cubic-bezier(.4,.9,.3,1);
	      transition: max-height .6s cubic-bezier(.4,.9,.3,1);
	      .header-search-input-wrapper {
	        margin: 0 -40px;
	      }
	      .search-input-form-input {
	        padding: 16px 50px 16px 16px;
	        font-size: 16px;
	        height: unset;
	      }
	      .search-input-form-submit {
	        width: 50px;
	        font-size: 18px;
	        .header-search-toggle-icon {
	          width: 1em;
	          height: 1em;
	        }
	      }
	    }
	    .search-suggestions-list {
	      .header-search-results-result {
	          font-size: 16px;
	          &:first-child {
	            padding-top: 18px;
	          }
	      }
	    }
	    .header-search-heading {
	      font-size: 12px;
	    }
	    .header-search-results-col {
	      padding-bottom: 36px;
	    }
	    .header-search-suggestions {
	      position: relative;
	      padding-top: 28px;
	      padding-left: 40px;
	      padding-right: 40px;
	      min-height: 160px;
	      .header-search-results-suggestions {
	        padding-top: 9px;
	      }
	      .header-search-results-single-suggestion {
	        padding-top: 8px;
	        padding-bottom: 8px;
	        font-size: 16px;
	      }
	    }
	    .product-suggestions {
	      margin-top: 16px;
	      margin-left: -40px;
	      margin-right: -40px;
	      padding-left: 40px;
	      -webkit-flex-wrap: nowrap;
	      -ms-flex-wrap: nowrap;
	      flex-wrap: nowrap;
	      overflow: auto;
	      -webkit-overflow-scrolling: touch;
	      .col-product-suggestion {
	        -webkit-flex-basis: 140px;
	        -ms-flex-preferred-size: 140px;
	        flex-basis: 140px;
	        max-width: 140px;
	      }
	      .product-details {
	        margin-top: 16px;
	        font-size: calc(12px + 0.125*(100vw - #{$mc-screen-max})/42.0625);
	        line-height: 1;
	        .name {
	          margin-bottom: 0;
	          white-space: nowrap;
	          overflow: hidden;
	          text-overflow: ellipsis;
	        }
	        .price {
	          margin-top: 8px;
	        }
	      }
	    }
	    .header-search-suggestions-text-cta {
	      margin-top: 16px;
	      font-size: 12px;
	      .icon {
	        width: 1em;
	        height: 1em;
	      }
	    }
	  }
	}

	@media screen and (min-width : $tc-screen-min){

		.global-promo-banner {
			>.content {
				padding-right: 20px;
				padding-left: 20px;
			}
		}
		.global-gateway {
			-webkit-flex-basis: 16.66667%;
			-ms-flex-preferred-size: 16.66667%;
			flex-basis: 16.66667%;
			padding-top: 20px;
			padding-bottom: 20px;
			max-width: 16.66667%;
			.locale {
				.text {
					color: $font-0;
				}
				.break-line {
					padding: 0 2px;
					color: $font-1;
				}
			}
		}
		.header {
			height: 60px;
		}
		.header-content-wrapper {
			>.content {
				margin: 0 auto;
				padding-left: 20px;
				padding-right: 0;
				max-width: $pc-screen-wide;
				>.row {
					margin-right: 0;
					>.col {
						&:last-child {
							padding-right: 0;
						}
					}
				}
			}
		}
		.header-flyout-toggle {
			display: none;
		}
		.header-navigation {
			padding-right: 0;
			-webkit-flex-basis: calc(100% - 220px);
			-ms-flex-preferred-size: calc(100% - 220px);
			flex-basis: calc(100% - 220px);
			max-width: calc(100% - 220px);
			.logo {
				-webkit-box-flex: 1;
				-webkit-flex: 1 0 120px;
				-ms-flex: 1 0 120px;
				flex: 1 0 120px;
				max-width: 120px;
				height: 14px;
			}
		}
		.header-utility {
			padding-left: 0;
			-webkit-flex-basis: 220px;
			-ms-flex-preferred-size: 220px;
			flex-basis: 220px;
			max-width: 220px;
			.utility {
				.item {
					&+.item {
						margin-left: 20px;
					}
					.icon {
						width: 20px;
						height: 20px;
					}
				}
			}
			.search {
				margin-left: 20px;
				height: 60px;
				.toggle {
					padding-right: 20px;
					padding-left: 20px;
					color: $font-7;
					background-color: $bg-dimmed;
				}
			}
		}
		.header-flyout {
			margin-left: 11px;
			.list.level-1 {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				margin: 0;
			}
			.anchor.level-1 {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				position: relative;
				padding: 0 11px;
				height: 60px;
				font-weight: 600;
				white-space: nowrap;
				-webkit-transition: opacity 426ms cubic-bezier(.4,.9,.3,1);
				transition: opacity 426ms cubic-bezier(.4,.9,.3,1);
				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					height: 2px;
					background-color: $bg-current;
					-webkit-transition: width 426ms cubic-bezier(.4,.9,.3,1);
					transition: width 426ms cubic-bezier(.4,.9,.3,1);
				}
			}
			.anchor.level-1.active {
				&::after {
					width: 100%;
					-webkit-transition-delay: .32s;
					transition-delay: .32s;
				}
			}
			&:hover {
				.anchor.level-1 {
					&:not(.active) {
						&:not(:hover) {
							opacity: .5;
						}
					}
				}
			}
			.header-flyout-close {
				display: none;
				position: absolute;
				top: 100%;
				right: 0;
				width: 60px;
				height: 60px;
				color: $font-7;
			}
			.item.active {
				.header-flyout-close {
					display: block;
				}
			}
	    &.active {
	      .anchor.level-1 {
	        &:not(.active) {
	          &:not(:hover) {
	            opacity: .5;
	          }
	        }
	      }
	      .header-flyout-container {
	        -webkit-transform: translateZ(0);
	        transform: translateZ(0);
	        -webkit-transition: max-width .6s cubic-bezier(.4,.9,.3,1), z-index 213ms cubic-bezier(.4,.9,.3,1) 213ms;
	        transition: max-width .6s cubic-bezier(.4,.9,.3,1), z-index 213ms cubic-bezier(.4,.9,.3,1) 213ms;
	      }
	      .header-flyout-container.active {
	        -webkit-transition: max-width .6s cubic-bezier(.4,.9,.3,1), z-index 213ms cubic-bezier(.4,.9,.3,1) 213ms;
	        transition: max-width .6s cubic-bezier(.4,.9,.3,1), z-index 213ms cubic-bezier(.4,.9,.3,1) 213ms;
	      }
	    }
		}
		.header-flyout-container {
			z-index: 1;
			position: absolute;
			top: 100%;
			left: 0;
			width: 90vw;
			max-width: 700px;
			min-width: 660px;
			height: calc(100vh - 60px);
			color: $font-0;
			-webkit-transform: translate3d(-100vw,0,0);
			transform: translate3d(-100vw,0,0);
			-webkit-transition: -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
			transition: -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
			transition: transform 426ms cubic-bezier(.4,.9,.3,1);
			transition: transform 426ms cubic-bezier(.4,.9,.3,1), -webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
			&:not(.active) {
				.set-ease-in {
					opacity: 0;
					visibility: hidden;
					-webkit-transform: translateX(-32px);
					transform: translateX(-32px);
				}
			}
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 100%;
				width: 50vw;
				height: 100%;
				background-color: $bg-inherit;
			}
			>.inner {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				height: 100%;
			}
			.main {
				position: relative;
				padding-bottom: 32px;
				-webkit-box-flex: 1;
				-webkit-flex: 1 1 68.35938%;
				-ms-flex: 1 1 68.35938%;
				flex: 1 1 68.35938%;
				overflow: auto;
				-webkit-overflow-scrolling: touch;
				.list {
					margin-bottom: 0;
				}
				.item {
					&:not(:first-child) {
						margin-top: 18px;
					}
				}
				.item.total {
					margin-bottom: 24px;
				}
				.anchor {
					font-size: 28px;
					font-weight: 600;
					line-height: 1;
					color: $font-0;
				}
			}
			.highlight {
				position: relative;
				margin-top: 80px;
				margin-right: 32px;
				max-width: 560px;
				>.title {
					font-size: 14px;
					font-weight: 600;
					line-height: 1;
					color: $font-0;
				}
			}
			.highlight-row {
				padding-left: 20px;
				.name {
					display: inline-block;
					margin-top: 13px;
					font-size: 14px;
					line-height: 20px;
					color: $font-0;
					word-break: break-word;
				}
			}
			.aside {
				padding: 48px 32px;
				-webkit-box-flex: 1;
				-webkit-flex: 1 1 31.64062%;
				-ms-flex: 1 1 31.64062%;
				flex: 1 1 31.64062%;
				border-left: 1px solid $border-6;
				.subsection {
					&:not(:first-child) {
						margin-top: 46px;
					}
				}
				.extras-title {
					margin-bottom: 16px;
					font-size: 12px;
					font-weight: 700;
					line-height: 1;
					color: $font-0;
				}
				.extras-list {
					margin: 0;
					>.item {
						font-size: 16px;
						font-weight: 400;
						line-height: 1;
						&:not(:first-child) {
							margin-top: 12px;
						}
						a {
							color: $font-0;
						}
					}
				}
			}
	    &.wide {
	      max-width: $tc-screen-max;
	    }
	    &.active {
	      z-index: 2;
	      -webkit-transform: translateZ(0);
	      transform: translateZ(0);
	    }
	  }
	  .header-search-dropdown {
	    height: 740px;
	    border-top: 1px solid;
	    .header-search-contents {
	      height : 100%;
	      overflow-y: hidden;
	    }
	    .header-tile-ratio {
	      position: absolute;
	      top: 0;
	      left: 0;
	      width: 100%;
	      height:100%;
	    }
	    .header-search-row {
	      height: 100%;
	    }
	    .header-tile-justify {
	      -webkit-box-pack: center;
	      -webkit-justify-content: center;
	      -ms-flex-pack: center;
	      justify-content: center;
	    }
	    .header-tile-bottom {
	      .dashboard-tile.grow-4.row {
	        -webkit-flex-direction: column;
	        -ms-flex-direction: column;
	        flex-direction: column;
	      }
	    }
	    .header-search-scrollable-col {
	      overflow-y: auto;
	      height: calc(100vh - 60px);
	    }
	    .header-search-col-content,
	    .header-search-col-results {
	      height: 740px;
	    }
	    .header-search-col-results {
	      border-left: 1px solid;
	    }
	    .header-search-section {
	      .header-search-results {
	        width: 100%;
	      }
	      .header-search-input-wrapper {
	        margin-right: -10px;
	        margin-left: -12px;
	      }
	      &:not(:first-child) {
	        border-top: 1px solid #000;
	      }
	    }
	    .header-search-form {
	      .search-input-form-input {
	        padding: 12px 36px 12px 12px;
	      }
	      .search-input-form-submit {
	        width: 36px;
	      }
	    }
	    .search-suggestions-list {
	      overflow: auto;
	      .header-search-results-result {
	        font-size: calc(18px + 0.125*(100vw - #{$mc-screen-max})/42.0625);
	      }
	    }
	    .header-search-results-suggestions {
	      font-size: 18px;
	      .header-search-results-single-suggestion {
	        &:not(:first-child) {
	          margin-top: 24px;
	        }
	      }
	    }
	    .product-suggestions {
	      margin-top: 24px;
	      .product-details {
	        margin-top: 16px;
	        font-size: calc(12px + 0.125*(100vw - #{$mc-screen-max})/42.0625);
	        line-height: 1;
	        .name {
	          margin-bottom: 0;
	          white-space: nowrap;
	          overflow: hidden;
	          text-overflow: ellipsis;
	        }
	        .price {
	          margin-top: 8px;
	        }
	      }
	    }
	  }
	}

	@media screen and (max-width : $tc-screen-max) and (min-width : $tc-screen-min) {

		.header-flyout-container {
			.main {
				padding-top: 48px;
				padding-left: 32px;
			}
		}
		.header-utility {
			.search {
				width: 60px;
			}
		}
		.header-search-dropdown {
	    .header-search-section {
	      padding-top: 24px;
	      padding-left: 30px;
	      padding-right: 30px;
	      .header-search-form {
	        padding-top: 20px;
	        padding-left: 12px;
	        padding-right: 10px;
	      }
	      .header-search-results-suggestions {
	        padding-top: 36px;
	        padding-left: 20px;
	      }
	    }
	  }
	}

	@media screen and (min-width : $pc-screen-min){
		.header-navigation {
			-webkit-flex-basis: 58.33333%;
			-ms-flex-preferred-size: 58.33333%;
			flex-basis: 58.33333%;
			max-width: 58.33333%;
		}
		.header-utility {
			-webkit-flex-basis: 41.66667%;
			-ms-flex-preferred-size: 41.66667%;
			flex-basis: 41.66667%;
			max-width: 41.66667%;
			.search {
				&:not(.set-search-shown) {
					max-width: 250px;
					width: 50%;
				}
				&:not(.set-shrink) {
					max-width: 250px;
					width: 50%;
				}
				.toggle {
					-webkit-box-pack: justify;
					-webkit-justify-content: space-between;
					-ms-flex-pack: justify;
					justify-content: space-between;
				}
			}
			.search.set-search-shown {
				width: 60px;
			}
			.search.set-shrink {
				width: 60px;
			}
		}
		.header-light-searchtoggle {
			.header-utility {
				.search {
					width: 60px;
				}
			}
		}
		.header.fixit-active {
			.header-utility {
				.search {
					width: 60px;
					.text {
						display: none;
					}
				}
			}
		}
	  .header-utility {
	    .search {
	      &.set-search-shown {
					.text {
						display: none;
					}
				}
			}
		}
		.set-shrink {
			.header-utility {
				.search {
					.text {
						display: none;
					}
				}
			}
		}
		.header-flyout-container {
			.main {
				padding-top: 70px;
				padding-left: 70px;
			}
		}
	  .header-search-dropdown {
	    .header-search-heading {
	      font-size: calc(30px + 1.25*(100vw - #{$tc-screen-max})/26);
	    }
	    .header-search-section {
	      padding-top: 46px;
	      padding-left: 9.72222%;
	      padding-right: 13.23333%;
	      .header-search-form {
	        padding-top: 40px;
	        padding-right: 10px;
	        padding-left: 46px;
	      }
	      .search-suggestions-list {
	        max-height: 200px;
	      }
	      .header-search-results-suggestions {
	        padding-top: 46px;
	        padding-left: 46px;
	      }
	    }
	  }
	}
	@media screen and (min-width : $pc-screen-wide){
	  .header-flyout {
			.header-flyout-container.active {
				left: calc(50vw - 720px);
			}
			.header-flyout-close {
				right: calc(50vw - 720px);
			}
		}
		.header-flyout.active {
			.header-flyout-container {
				left: calc(50vw - 720px);
			}
		}
		.header-flyout-container {
			.aside {
				padding: 70px 50px;
			}
		}
		.header-search-dropdown {
	    .header-search-heading {
	      font-size: 40px;
	    }
	    .header-search-section {
	      .search-suggestions-list {
	        .header-search-results-result {
	          font-size: 20px;
	        }
	      }
	      .product-suggestions {
	        .product-details {
	          font-size: 16px;
	        }
	      }
	    }
	  }
	}


	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {

	}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {

	}

	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {

	}



	// nav.scss
	.uk-offcanvas {
		background: rgba(0,0,0,0.5);
	}

	.uk-nav-header {
		margin: 0 !important;
		padding: 0;
		color: #808080;
	}
	.uk-nav-offcanvas > .uk-open > a,
	html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover,
	html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus {
		background: $primary-color;
		color: $font-6;
	}
	html:not(.uk-touch) .uk-nav-offcanvas ul a:hover {
		color: $default-color;
	}
	.uk-nav-parent-icon > .uk-parent > a:after {
		content: "\f107";
		color: $font-5;
	}
	.uk-nav-parent-icon > .uk-parent.uk-open > a:after {
		content: "\f106";
		color: $font-6;
	}
	.uk-nav-parent-icon > .uk-parent > .link:after {
		display: none;
	}
