.uk-modal {
  &.modal-draw-policy {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.draw-policy-content {
  .policy-title {
    font-weight: 600;
    letter-spacing: -.025em;
  }
  .policy-section {
    .notification {
      letter-spacing: -.025em;
    }
    .policy-content {
      background-color: $bg-10;
      .highlight {
        color: $font-0;
      }
      dl {
        margin: 0;
      }
      dt {
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
      }
      dd {
        margin-top: 5px;
        letter-spacing: -.025em;
        color: $font-3;
      }
    }
    .policy-data-table {
      width: 100%;
      border-collapse: collapse;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
      thead {
        th {
          letter-spacing: -.025em;
          border-top: 1px solid $border-1;
          border-bottom: 1px solid $border-1;
          background-color: $bg-10;
        }
      }
      tbody {
        th,
        td {
          letter-spacing: -.025em;
          text-align: center;
          border-bottom: 1px solid $border-1;
          background-color: $bg-1;
        }
      }
    }
    .description {
      margin: 0;
      letter-spacing: -.025em;
      word-break: break-word;
      word-break: keep-all;
    }
  }
}
.draw-result-content {
  .result-text {
    margin: 0;
    font-weight: 600;
    letter-spacing: -.025em;
    text-align: center;
  }
  .descr-text {
    letter-spacing: -.025em;
    text-align: center;
  }
  .draw-content-section {
    .draw-data {
      width: 100%;
      border-collapse: collapse;
      border-top: 1px solid $border-1;
      table-layout: fixed;
      th {
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
        text-align: left;
        vertical-align: middle;
        border-bottom: 1px solid $border-1;
        background-color: $bg-10;
      }
      td {
        letter-spacing: -.025em;
        text-align: left;
        vertical-align: middle;
        border-bottom: 1px solid $border-1;
      }
    }
}
}
.slider-content-wrapper {
  .slick-slide {
    .picture {
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
.limited-edition-container {
  margin: 0 auto;
  max-width: 1440px;
  .limited-edition-list {
    .filter-list {
      .filter-item {
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
        text-decoration: underline;
        &:not(.active) {
          font-weight: 400;
          color: $font-1;
          text-decoration: none;
        }
      }
    }
    .list-content-container {
      .limited-edition-item {
        position: relative;
        .product-tile {
          -webkit-box-flex: 0;
          -webkit-flex-grow: 0;
          -ms-flex-positive: 0;
          flex-grow: 0;
        }
        .product-countdown {
          position: absolute;
          top: 0; 
          left: 0;
          width: 100%;
          height: 100%;
          color: $font-7;
          background-color: rgba(0,0,0,.3);
          .countdown-display {
            margin: 0 0 .1em;
            line-height: 1;
          }
          .countdown-text {
            margin: 0;
            line-height: 1;
          }
        }
        .product-application {
          position: absolute;
          top: 0; 
          left: 0;
          width: 100%;
          height: 100%;
          line-height: 1;
          color: $font-0;
        }
        .product-badge-date {
          position: absolute;
          top: 0;
          left: 0;
          font-weight: 600;
          line-height: 1;
          color: $font-7;
          background-color: $bg-dimmed;
          .month {
            padding-right: 60%;
            text-align: right;
          }
          .day {
            margin-top: auto;
            text-align: right;
          }
          &::before {
            content: '';
            display: block;
            position: absolute;
            background-color: $bg-1;
          }
        }
        .product-tile-details {
          margin-bottom: auto;
          .filter {
            font-weight: 600;
            line-height: 1;
            letter-spacing: -.025em;
            color: $color-4;
            &.draw {
              color: $color-2;
            }
          }
          .name {
            letter-spacing: -.025em;
          }
        }
      }
    }
  }
  .limited-edition-content {
    img {
      width: 100%;
    }
    .product-tile-details {
      position: static;
      bottom: 0;
      left: 0;
      max-width: 100%;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      .price {
        margin-top: auto;
      }
    }
  }
  .empty-container {
    margin-bottom: 80px;
    text-align: center;
    .empty-content-line {
      margin: 0;
      opacity: .2;
    }
    .empty-content {
      padding: 100px 0;
      .icon {
        font-size: 100px;
      }
      .text {
        margin: 40px 0 0;
        font-size: 24px;
        line-height: 1;
        letter-spacing: -.025em;
      }
    }
  }
  &.set-full {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.limited-edition-content {
  .product-tile {
    padding: 8px;
  }
}

@media screen and (max-width : $mc-screen-max) {
  .uk-modal {
    &.modal-draw-policy {
      background-color: #fff;
      .uk-modal-dialog {
        min-height: 100%;
        padding-bottom: 16px;
      }
    }
  }
  .draw-policy-content {
    .policy-title {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      height: 90px;
      font-size: 20px;
    }
    .policy-section {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 80px;
      .notification {
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 16px;
      }
      .policy-content {
        padding: 16px;
        dl {
          margin: 0;
        }
        dt {
          font-size: 12px;
          &:not(:first-child){
            margin-top: 14px;
          }
        }
        dd {
          font-size: 12px;
          line-height: 16px;
        }
      }
      .policy-data-table {
        thead {
          th {
            padding: 15px;
            font-size: 12px;
          }
        }
        tbody {
          th,
          td {
            padding: 14px;
            font-size: 12px;
            line-height: 17px;
          }
        }
      }
      .description {
        margin-top: 13px;
        font-size: 12px;
        line-height: 16px;
      }
      .agree-policy-action {
        position: absolute;
        bottom: 24px;
        left: 15px;
        right: 15px;
        width: calc(100% - 30px);
      }
    }
  }
  .draw-result-content {
    padding: 37px 16px 16px;
    .result-text {
      font-size: 16px;
      line-height: 22px;
    }
    .descr-text {
      margin: 7px 0 30px;
      font-size: 12px;
      line-height: 16px;
    }
    .draw-content-section {
      margin-top: 22px;
      .draw-data {
        margin-bottom: 30px;
        th {
          padding: 15px;
          width: 100px;
          font-size: 12px;
        }
        td {
          padding: 15px;
          font-size: 12px;
          line-height: 17px;
        }
      }
  }
  }
  .limited-edition-container {
    padding: 0 16px 100px;
    .slider-content-wrapper {
      margin-left: -16px;
      margin-right: -16px;
      border-bottom: 1px solid $border-1;
    }
    .limited-edition-list {
      .filter-list {
        margin: 30px 0;
        //height: 77px;
        .filter-item {
          font-size: 12px;
          &:not(:first-child) {
            margin-left: 11px;
          }
          &:not(:last-child) {
            margin-right: 11px;
          }
        }
      }
      .list-content-container {
        margin-bottom: -40px;
        margin-top: 30px;
        .limited-edition-item {
          margin-bottom: 40px;
          .product-countdown {
            .countdown-display {
              font-size: 5.625vw;
            }
            .countdown-text {
              font-size: 2.5vw;
            }
          }
          .product-application {
            padding: 1.25em 1.5em;
            font-size: calc( 16px + 0.75*(100vw - #{$mc-screen-max})/42.0625);
          }
          .product-badge-date {
            padding: 10px;
            width: 45px;
            height: 45px;
            font-size: 11px;
            &::before {
              top: 22px;
              left: 22px;
              margin: 0 -11px;
              width: 23px;
              height: 1px;
              border-radius: 1px;
              -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
            }
          }
          .product-tile-details {
            margin-top: 13px;
            .filter {
              font-size: 11px;
            }
            .name {
              margin-top: 7px;
              font-size: 12px;
              line-height: 17px;
            }
          }
          .product-action {
            margin-top: 14px;
            .button {
              width: 100%;
              font-size: 12px;
            }
          }
        }
      }
    }
    .limited-edition-content {
      .product-tile {
        &:not(:first-child) {
          margin-top: 70px;
        }
      }
      .product-tile-details {
        margin-top: 10px;
        font-size: 12px;
        .name {
          margin-bottom: 6px;
          font-size: 12px;
          line-height: 17px;
        }
      }
    }
    .empty-container {
      margin-bottom: 0;
      .empty-content {
        .icon {
          font-size: 60px;
        }
        .text {
          margin: 20px 0 0;
          font-size: 14px;
        }
      }
    }
    .marquee3k {
      margin: 60px 0;
    }
  }

  .limited-edition-content {
    .product-tile {
      padding: 4px;
      //padding-bottom: 8px;
    }
  }
}

@media screen and (min-width : $tc-screen-min) {
  .uk-modal {
    &.modal-draw-policy {
      padding: 90px 32px;
      .uk-modal-dialog {
        max-width: 464px;
      }
    }
    &.modal-draw-result {
      padding: 90px 32px;
      .uk-modal-dialog {
        max-width: 464px;
      }
    }
  }
  .draw-policy-content {
    .policy-title {
      margin: 0;
      padding-left: 38px;
      padding-right: 38px;
      height: 94px;
      font-size: 24px;
    }
    .policy-section {
      padding: 0 38px 38px;
      .notification {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
      }
      .policy-content {
        padding: 32px;
        dl {
          margin: 0;
        }
        dt {
          font-size: 14px;
          &:not(:first-child){
            margin-top: 16px;
          }
        }
        dd {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .policy-data-table {
        thead {
          th {
            padding: 15px;
            font-size: 14px;
          }
        }
        tbody {
          th,
          td {
            padding: 25px;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      .description {
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
      }
      .agree-policy-action {
        margin-top: 32px;
      }
    }
  }
  .draw-result-content {
    padding: 34px 20px 20px;
    .result-text {
      font-size: 18px;
      line-height: 26px;
    }
    .descr-text {
      margin: 16px 0 0;
      font-size: 14px;
      line-height: 20px;
    }
    .draw-content-section {
      margin-top: 28px;
      .draw-data {
        margin-bottom: 32px;
        th {
          padding: 18px;
          width: 120px;
          font-size: 14px;
        }
        td {
          padding: 18px;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  .slider-content-wrapper {
    .slick-arrow {
      z-index: 1;
      position: absolute;
      top: 50%;
      margin-top: -.5em;
      font-size: 36px;
      color: $font-5;
      &.slick-prev {
        left: 40px;
      }
      &.slick-next {
        right: 40px;
      }
    }
  }
  .limited-edition-container {
    padding: 0 20px 100px;
    .slider-content-wrapper {
      margin-top: 40px;
      margin-left: -20px;
      margin-right: -20px;
    }
    .marquee3k {
      margin: 120px 0;
    }
    .limited-edition-list {
      margin-top: 40px;
      .filter-list {
        padding: 60px 20px;
        height: 144px;
        .filter-item {
          font-size: 20px;
          &:not(:first-child) {
            margin-left: 20px;
          }
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
      .list-content-container {
        margin-bottom: -80px;
        .limited-edition-item {
          margin-bottom: 80px;
          .product-countdown {
            .countdown-display {
              font-size: 5.625vw;
            }
            .countdown-text {
              font-size: 2.5vw;
            }
          }
          .product-application {
            padding: 1.25em 1.5em;
            font-size: calc( 16px + 1.5*(100vw - #{$mc-screen-max})/42.0625);
          }
          .product-badge-date {
            padding: 18px;
            width: 100px;
            height: 100px;
            font-size: 24px;
            &::before {
              top: 50%;
              left: 50%;
              margin: -1px -32px;
              width: 64px;
              height: 2px;
              border-radius: 2px;
              -webkit-transform: rotate(-57deg);
              transform: rotate(-57deg);
            }
          }
          .product-tile-details {
            margin-top: 26px;
            .filter {
              font-size: 14px;
            }
            .name {
              margin-top: 14px;
              font-size: 16px;
              line-height: 26px;
            }
          }
          .product-action {
            margin-top: 28px;
            .button {
              width: 120px;
            }
          }
        }
      }
    }
    .limited-edition-content {
      .product-tile-details {
        position: static;
        bottom: 0;
        left: 0;
        margin-top: 20px;
        max-width: 100%;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        .name {
          margin-bottom: 12px;
          font-size: 16px;
          line-height: 26px;
        }
        .price {
          margin-top: auto;
        }
      }
    }
  }
}

@media (max-width: $tc-screen-max) and (min-width: $tc-screen-min) {

}

@media screen and (max-width : $tc-screen-max) {

}

@media screen and (min-width : $pc-screen-min) {
  .limited-edition-container {
    .limited-edition-list {
      .list-content-container {
        .limited-edition-item {
          .product-countdown {
            .countdown-display {
              font-size: 60px;
            }
            .countdown-text {
              font-size: 25px;
            }
          }
          .product-application {
            padding: 36px 40px;
            font-size: 24px;
          }
          .product-badge-date {
            padding: 28px;
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
}

@media screen and (min-width : $pc-screen-wide) {
}