.uk-modal {
  &.modal-account-auth {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    fieldset {
      margin: 0;
    }
    .field-row {
      .input-text {
        width: 100%;
        line-height: 1.5;
        letter-spacing: -.025em;
        border: 1px solid $border-1;
        background-color: $bg-1;
        &::-webkit-input-placeholder {
          color: $font-1;
        }
        &:-moz-placeholder {
          color: $font-1;
        }
        &::-moz-placeholder {
          color: $font-1;
        }
        &:-ms-input-placeholder {
          color: $font-1;
        }
        &::placeholder {
          color: $font-1;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
      }
      .print-message, .error-message {
        margin: 0;
        padding-top: 8px;
        font-size: 12px;
        line-height: 1;
        letter-spacing: -.025em;
        color: $color-5;
        text-align: left;
      }
      .print-message {
        &:empty {
          display: none;
        }
      }
      .error-message {
        display: block;
        &:empty {
          display: none;
        }
      }
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
    .link {
      line-height: 1;
      letter-spacing: -.025em;
    }
    .social-login-container {
      .button {
        &.button-kakaotalk {
          text-decoration: none;
          border-color: #f5ca0f;
          background-color: #f5ca0f;
          .icon {
            color: #381e1f;
          }
        }
      }
    }
    .other-action {
      margin-top: 20px;
    }
  }
}
.account-container {
  border-top: 1px solid $border-1;
  fieldset {
    margin: 0;
  }
  .field-row {
    .input-text {
      width: 100%;
      line-height: 1.5;
      letter-spacing: -.025em;
      border: 1px solid $border-1;
      background-color: $bg-1;
      &::-webkit-input-placeholder {
        color: $font-1;
      }
      &:-moz-placeholder {
        color: $font-1;
      }
      &::-moz-placeholder {
        color: $font-1;
      }
      &:-ms-input-placeholder {
        color: $font-1;
      }
      &::placeholder {
        color: $font-1;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
    }
    .print-message, .error-message {
      margin: 0;
      padding-top: 8px;
      font-size: 12px;
      line-height: 1;
      letter-spacing: -.025em;
      color: $color-5;
      text-align: left;
    }
    .print-message {
      &:empty {
        display: none;
      }
    }
    .error-message {
      display: block;
      &:empty {
        display: none;
      }
    }
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  .link {
    line-height: 1;
    letter-spacing: -.025em;
  }
  .button {
    &.button-kakaotalk {
      text-decoration: none;
      border-color: #f5ca0f;
      background-color: #f5ca0f;
      .icon {
        color: #381e1f;
      }
    }
  }
  .other-action {
    margin-top: 20px;
  }
  .account-auth-content {
    padding: 40px 16px 50px;
    .content-title {
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
    }
    .content-form {
      margin-top: 20px;
      .descr-text {
        line-height: 1;
        letter-spacing: -.025em;
      }
      .message-text {
        letter-spacing: -.025em;
        color: $font-3;
      }
    }
    .content-result {
      .icon {
        &.complete {
          color: $color-2;
        }
      }
      .result-text {
        margin: 0;
        letter-spacing: -.025em;
        color: $font-0;
        &.warning {
          color: $color-5;
        }
      }
      .descr-text {
        margin: 0;
        letter-spacing: -.025em;
        color: $font-0;
      }
      .message-text {
        letter-spacing: -.025em;
        color: $font-3;
      }
      .notify-text {
        line-height: 1;
        letter-spacing: -.025em;
        color: $color-2;
      }
      .forgot-result-list {
        li {
          .result-item {
            line-height: 1;
            letter-spacing: -.025em;
            background-color: $bg-10;
            .date {
              color: $font-3;
            }
          }
        }
      }
      .account-forgot-action {
        [class*="col"] {
          .button {
            margin-top: 0;
          }
        }
      }
    }
    &.kakao-sync {
      .content-title {
        color: $font-0;
        .logo-icon {
          height: 1em;
        }
      }
      .message-text {
        &:last-child {
          margin-bottom: 0;
        }
      }
      .social-login-container {
        margin-top: 45px;
        .button {
          margin-top: 0;
          padding-left: 8px;
          padding-right: 8px;
          line-height: 20px;
          letter-spacing: -.025em;
          height: 100%;
          &.flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
          }
        }
      }
    }
  }

  .order-list-container {
    .order-info-item {
      .order-info {
        .info-row {
          font-size: 14px;
          line-height: 1;
          letter-spacing: -.025em;
          word-break: keep-all;
          word-wrap: break-word;
          overflow-wrap: break-word;
          .label {
            text-align: left;
          }
          .value {
            text-align: right;
          }
        }
      }
      .confirm-action {
        .button {
          &:first-child {
            margin-top: 0;
          }
        }
        &.account-auth-order {
          .descr-content {
            margin-bottom: 20px;
            letter-spacing: -.025em;
            text-align: left;
            background-color: $bg-10;
            .text {
              margin: 0 0 5px;
            }
            .descr-list {
              margin: 0;
              color: $font-3;
            }
          }
        }
        &:not(.active) {
          display: none;
        }
      }
    }
  }
}
.account-auth {
  position: relative;
  text-align: center;
  .account-auth-content-title {
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.025em;
    color: $font-0;
  }
  .account-tools {
    .i-checkbox {
      position: relative;
      font-size: 12px;
      line-height: 1;
      color: $font-1;
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        &:not(:checked) + .icon {
          color: transparent;
        }
      }
      .icon {
        margin-right: 4px;
        padding: 2px;
        width: 14px;
        height: 14px;
        color: $font-0;
        vertical-align: top;
        border: 1px solid $border-4;
        background-color: $bg-1;
      }
      .text {
        color: $font-3;
        vertical-align: top;
      }
    }
    & + .account-forgot-tools {
      position: relative;
      margin: 0;
      .forgot-account {
        top: -1em;
        right: 0;
        position: absolute;
      }
    }
  }
  .gift-promo {
    margin-top: 20px;
    background-color: $bg-10;
    .text {
      margin: 0;
      font-weight: 400;
      letter-spacing: -.025em;
      color: $font-0;
      text-align: left;
    }
  }
}
.account-forgot {
  text-align: center;
  .account-forgot-header {
    .anchor {
      font-weight: 600;
      line-height: 1;
      color: $font-1;
      background-color: $bg-10;
      &.active {
        color: $font-0;
        background-color: $bg-1;
      }
    }
  }
  .account-forgot-content {
    .message-text {
      letter-spacing: -.025em;
      color: $font-3;
    }
    .social-login-container {
      .text {
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -.025em;
      }
      .button-kakaotalk {
        margin-top: 0;
      }
    }
  }
  .field-row {
    &.id + .field-action {
      margin-top: 10px;
    }
  }
  .account-forgot-certify {
    .message-text {
      letter-spacing: -.025em;
    }
    .notify-text {
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
      color: $font-3;
    }
  }
  .account-certify-actions {
    .description {
      margin: 0;
      margin-top: 20px;
      line-height: 1;
      letter-spacing: -.025em;
      color: $font-3;
    }
  }
  .account-forgot-title {
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.025em;
  }
  .account-forgot-result {
    .icon {
      &.complete {
        color: $color-2;
      }
    }
    .result-text {
      margin: 0;
      letter-spacing: -.025em;
      color: $font-0;
    }
    .descr-text {
      margin: 0;
      letter-spacing: -.025em;
      color: $font-0;
    }
    .message-text {
      letter-spacing: -.025em;
      color: $font-3;
    }
    .notify-text {
      line-height: 1;
      letter-spacing: -.025em;
      color: $color-2;
    }
    .forgot-result-list {
      li {
        .result-item {
          line-height: 1;
          letter-spacing: -.025em;
          background-color: $bg-10;
          .date {
            color: $font-3;
          }
        }
      }
    }
    .account-forgot-action {
      [class*="col"] {
        .button {
          margin-top: 0;
        }
      }
    }
  }
  .account-reset-password {
    .descr-text {
      line-height: 1;
      letter-spacing: -.025em;
      color: $color-2;
    }
  }
}
.account-signup-head {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .inner {
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
    .display {
      margin: 0 0 0 auto;
      width: 100%;
      height: 100%;
      text-align: center;
      .title {
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
        color: $font-7;
      }
      .descr-text {
        letter-spacing: -.025em;
        color: $font-7;
      }
    }
  }
}
.account-signup-body {
  .account-signup-field {
    .account-signup-fieldset {
      &:not(:first-child) {
        margin-top: 30px;
      }
      .field-label {
        &.parsley-success + .server-error-message,
        &.error + .server-error-message {
          display: none;
        }
      }
      .btn-kakao {
        margin-top: 0;
      }
      .other-break-line {
        margin-top: 25px;
        font-size: 14px;
        line-height: 1;
        color: $font-2;
        text-align: center;
        &::before {
          content: '';
          display: block;
          width: calc(50% - 1.1em);
          height: 1px;
          background-color: $bg-2;
        }
        &::after {
          content: '';
          display: block;
          width: calc(50% - 1.1em);
          height: 1px;
          background-color: $bg-2;
        }
      }
    }
  }
  .fieldset-legend {
    .title {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
      &.long {
        line-height: 1.6;
      }
    }
  }
  .radio-tabs {
    display: block;
    font-size: 0;
    .i-selector {
      display: inline-block;
      position: relative;
      width: 50%;
      .label {
        width: 100%;
        line-height: 1;
        color: $font-1;
        background-color: $bg-10;
        border: 1px solid $border-1;
      }
      &:not(:first-child) {
        input + .label{
          border-left: 0 none;
        }
      }
      input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        &:checked {
          z-index: 2;
          + .label {
            color: $font-0;
            background-color: $bg-1;
            border: 1px solid $border-6;
          }
        }
      }
    }
  }
  .i-checkbox {
    position: relative;
    line-height: 1;
    letter-spacing: -.025em;
    color: $font-1;
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      &:not(:checked) + .icon {
        color: transparent;
      }
    }
    .icon {
      margin-right: 4px;
      padding: 2px;
      width: 14px;
      height: 14px;
      color: $font-0;
      vertical-align: top;
      border: 1px solid $border-4;
      background-color: $bg-1;
    }
    .text {
      color: $font-3;
      vertical-align: top;
    }
  }
  .descr-message {
    margin: 0;
    margin-top: 8px;
    font-size: 12px;
    line-height: 1;
    color: $font-3;
    &.top {
      margin-bottom: 8px;
    }
  }
  .policy-link {
    line-height: 1;
    letter-spacing: -.025em;
    color: $font-3;
  }
  .descr-promo {
    margin: 0;
    line-height: 1;
    letter-spacing: -.025em;
    color: $color-2;
  }
  .account-total-agree {
    .i-checkbox {
      display: inline-block;
      font-weight: 600;
      .text {
        color: $font-0;
      }
    }
    .agree-text {
      margin: 0;
      letter-spacing: -.025em;
      color: $font-0;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .descr-list {
      margin: 0;
      margin-top: 6px;
      color: $font-3;
      li {
        padding-left: 1em;
        &::before {
          content: '-';
          display: inline-block;
          margin-left: -1em;
          width: 1em;
        }
      }
    }
  }
  .account-auth-action {
    .button {
      margin-top: 0;
    }
  }
}
.register-complete {
  text-align: center;
  .result-text {
    margin: 0;
    font-weight: 600;
    letter-spacing: -.025em;
    color: $font-0;
  }
  .descr-text {
    margin-top: 18px;
    margin-bottom: 0;
    color: $font-3;
  }
  .register-complete-action {
    .button {
      margin-top: 0;
    }
  }
}


@media screen and (max-width : $mc-screen-max){
  .uk-modal {
    &.modal-account-auth {
      background-color: #fff;
      .uk-modal-dialog {
        padding: 40px 16px 50px;
        min-height: 100%;
      }
      .uk-close {
        width: 40px;
        height: 40px;
      }
      .field-row {
        .input-text {
          padding-left: 16px;
          height: 52px;
          font-size: 13px;
        }
        .print-message, .error-message {
          margin-bottom: 15px;
        }
      }
      .link {
        font-size: 12px;
      }
      .field-action {
        margin-top: 24px;
      }
      .social-login-container {
        .button {
          margin-top: 5px;
          &.button-kakaotalk {
            .icon {
              margin-right: 5px;
              width: 18px;
              height: 16px;
            }
          }
        }
      }
    }
  }
  .account-container {
    position: relative;
    .account-small-header {
      z-index: 2;
      position: absolute;
      top: -51px;
      left: 0;
      width: 100%;
      height: 51px;
      background-color: $bg-1;
      border-bottom: 1px solid $border-1;
      .account-title {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 0;
      }
      .button-back {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 0;
        min-width: 28px;
        height: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 2;
        left: 9px;
        padding: 7px;
        font-size: 14px;
      }
      .header-general.fixit-active + .content-area & {
        position: fixed;
        top: 0;
      }
    }
    .field-row {
      .input-text {
        padding-left: 16px;
        height: 52px;
        font-size: 13px;
      }
      .print-message, .error-message {
        margin-bottom: 15px;
      }
    }
    .link {
      font-size: 12px;
    }
    .field-action {
      margin-top: 24px;
    }
    .button {
      margin-top: 5px;
      &.button-kakaotalk {
        .icon {
          margin: -3px 5px -3px 0;
          width: 18px;
          height: 16px;
        }
      }
    }
    .account-auth-content {
      padding: 40px 16px 50px;
      .content-title {
        margin-bottom: 30px;
        font-size: 25px;
      }
      .content-form {
        margin-top: 20px;
        .descr-text {
          margin-bottom: 17px;
          font-size: 13px;
        }
        .message-text {
          margin-bottom: 17px;
          font-size: 12px;
          line-height: 17px;
        }
        .field-action {
          margin-top: 20px;
        }
      }
      .content-result {
        .icon {
          margin-bottom: 30px;
          width: 60px;
          height: 60px;
          &.kakaotalk {
            width: 67px;
          }
        }
        .result-text {
          font-size: 14px;
          line-height: 18px;
        }
        .message-text {
          margin: 20px 0 0;
          font-size: 12px;
          line-height: 17px;
        }
        .notify-text {
          margin: 20px 0 0;
          font-size: 12px;
        }
        .forgot-result-list {
          margin-top: 20px;
          li {
            .result-item {
              padding: 0 16px;
              height: 52px;
              font-size: 12px;
            }
            &:not(:first-child) {
              margin-top: 10px;
            }
          }
        }
        .account-forgot-action {
          [class*="col"] {
            &:not(:first-child) {
              margin-top: 10px;
            }
          }
        }
      }
      .content-action {
        margin-top: 30px;
      }
      &.kakao-sync {
        .social-login-container {
          margin-top: 35px;
          .button {
            padding-top: 11px;
            padding-bottom: 11px;
            line-height: 17px;
          }
        }
      }
    }
    .order-list-container {
      margin-top: -20px;
      padding-left: 16px;
      padding-right: 16px;
      .order-info-item {
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid $border-1;
        .order-info {
          margin-bottom: 20px;
          .info-row {
            &:not(:first-child) {
              margin-top: 10px;
            }
          }
        }
        .confirm-action {
          &.order-search-confirm {
            margin-top: 30px;
          }
          &.account-auth-order {
            .descr-content {
              padding: 13px 16px;
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
        &:last-child {
          padding-bottom: 50px;
        }
      }
    }
    &.has-small-header {
      z-index: 1100;
    }
  }
  .account-auth {
    .account-auth-content {
      padding: 40px 16px 50px;
    }
    .account-auth-content-title {
      margin-bottom: 20px;
      font-size: 25px;
    }
    .account-forgot-tools,
    .account-tools {
      margin-top: 16px;
    }
    .button {
      font-size: 14px;
    }
    .gift-promo {
      padding: 14px 20px;
      .icon {
        margin-right: 14px;
        width: 28px;
        height: 28px;
      }
      .text {
        width: calc(100% - 50px);
        max-width: 220px;
        font-size: 11px;
        line-height: 16px;
      }
    }
  }
  .account-forgot {
    .account-forgot-header {
      .anchor {
        height: 58px;
        font-size: 14px;
      }
    }
    .account-forgot-content {
      padding: 40px 16px;
      .message-text {
        font-size: 12px;
        line-height: 17px;
      }
      .social-login-container {
        margin-bottom: 15px;
        .text {
          font-size: 13px;
        }
      }
    }
    .account-forgot-certify {
      .icon {
        margin-bottom: 28px;
        width: 58px;
        height: 60px;
      }
      .message-text {
        font-size: 13px;
        line-height: 18px;
      }
      .notify-text {
        margin-top: 18px;
        font-size: 12px;
      }
    }
    .account-certify-actions {
      margin-top: 30px;
      .description {
        font-size: 11px;
      }
    }
    .account-forgot-title {
      margin-bottom: 30px;
      font-size: 25px;
    }
    .account-forgot-result {
      .icon {
        margin-bottom: 30px;
        width: 60px;
        height: 60px;
        &.kakaotalk {
          width: 67px;
        }
      }
      .result-text {
        font-size: 14px;
        line-height: 18px;
      }
      .message-text {
        margin: 20px 0 0;
        font-size: 12px;
        line-height: 17px;
      }
      .notify-text {
        margin: 20px 0 0;
        font-size: 12px;
      }
      .forgot-result-list {
        margin-top: 20px;
        li {
          .result-item {
            padding: 0 16px;
            height: 52px;
            font-size: 12px;
          }
          &:not(:first-child) {
            margin-top: 10px;
          }
        }
      }
      .account-forgot-action {
        [class*="col"] {
          &:not(:first-child) {
            margin-top: 10px;
          }
        }
      }
    }
    .account-forgot-action {
      margin-top: 30px;
    }
    .account-reset-password {
      .descr-text {
        margin-bottom: 20px;
        font-size: 13px;
      }
    }
  }
  .account-signup-head {
    height: 169px;
    background-image: url('/cmsstatic/bg-register-top-mc.jpg');
    .inner {
      .display {
        .title {
          font-size: 25px;
        }
        .descr-text {
          margin: 12px 0 0;
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
  }
  .account-signup-body {
    padding: 30px 16px 50px;
    .col-entry-field {
      width: 100%;
    }
    .col-agree-field {
      margin-top: 30px;
      width: 100%;
    }
    .account-signup-field {
      .account-signup-fieldset {
        &:not(:first-child) {
          margin-top: 30px;
        }
      }
      .other-break-line {
        margin-top: 14px;
        font-size: 13px;
      }
    }
    .fieldset-legend {
      margin-bottom: 24px;
    }
    .radio-tabs {
      .i-selector {
        .label {
          height: 50px;
          font-size: 13px;
        }
      }
    }
    .i-checkbox {
      font-size: 12px;
    }
    .policy-link {
      font-size: 12px;
    }
    .descr-promo {
      margin-top: 4px;
      font-size: 12px;
    }
    .account-total-agree {
      .i-checkbox {
        margin-bottom: 24px;
        font-size: 14px;
      }
      .agree-text {
        font-size: 12px;
        line-height: 17px;
      }
      .descr-list {
        font-size: 12px;
        line-height: 17px;
      }
    }
    .account-auth-action {
      margin-top: 24px;
      .button {
        font-size: 14px;
      }
    }
  }
  .register-complete {
    padding: 40px 16px 50px;
    .icon {
      margin-bottom: 28px;
      width: 89px;
      height: 60px;
    }
    .result-text {
      font-size: 25px;
      line-height: 30px;
    }
    .descr-text {
      font-size: 14px;
      line-height: 19px;
    }
    .register-complete-action {
      margin: 30px auto 0;
      max-width: 100%;
    }
  }
}

@media screen and (min-width : $tc-screen-min){
  .uk-modal {
    &.modal-account-auth {
      padding: 90px 32px;
      .uk-modal-dialog {
        padding: 40px;
        max-width: 464px;
      }
      .account-auth-content-title {
        margin-bottom: 32px;
        font-size: 24px;
      }
      .field-row {
        .input-text {
          padding-left: 20px;
          height: 50px;
          line-height: 14px;
        }
        .print-message, .error-message {
          margin-bottom: 20px;
        }
      }
      .link {
        font-size: 14px;
      }
      .field-action {
        margin-top: 40px;
      }
      .social-login-container {
        .button {
          margin-top: 10px;
          &.button-kakaotalk {
            .icon {
              margin-right: 5px;
              width: 22px;
              height: 20px;
            }
          }
        }
      }
    }
  }
  .account-container {
    padding-top: 80px;
    padding-bottom: 100px;
    .account-auth {
      margin: 0 auto;
      max-width: 540px;
      border: 1px solid $border-1;
      background-color: $bg-1;
      .account-auth-content {
        padding: 60px 40px;
      }
    }
    .field-row {
      .input-text {
        padding-left: 20px;
        height: 50px;
        line-height: 14px;
      }
      .print-message, .error-message {
        margin-bottom: 20px;
      }
    }
    .link {
      font-size: 14px;
    }
    .field-action {
      margin-top: 40px;
    }
    .button {
      margin-top: 10px;
      &.button-kakaotalk {
        .icon {
          margin: -3px 5px -3px 0;
          width: 22px;
          height: 20px;
        }
      }
    }
    .account-auth-content {
      padding: 60px 40px;
      .content-title {
        margin-bottom: 40px;
        font-size: 40px;
      }
      .content-form {
        margin-top: 40px;
        .descr-text {
          margin-bottom: 16px;
          font-size: 16px;
        }
        .message-text {
          margin-bottom: 26px;
          font-size: 14px;
          line-height: 22px;
        }
        .field-action {
          margin-top: 0;
        }
      }
      .content-result {
        .icon {
          margin-bottom: 40px;
          width: 80px;
          height: 80px;
          &.kakaotalk {
            width: 87px;
          }
        }
        .result-text {
          font-size: 18px;
          line-height: 24px;
        }
        .descr-text {
          font-size: 16px;
          line-height: 24px;
        }
        .message-text {
          margin: 12px 0 0;
          font-size: 14px;
          line-height: 22px;
        }
        .notify-text {
          margin: 16px 0 0;
          font-size: 14px;
        }
        .forgot-result-list {
          margin-top: 30px;
          li {
            .result-item {
              padding: 0 20px;
              height: 60px;
              font-size: 14px;
            }
            &:not(:first-child) {
              margin-top: 5px;
            }
          }
        }
      }
      .content-action {
        margin-top: 40px;
      }
    }
    .order-list-container {
      padding-left: 40px;
      padding-right: 40px;
      border-top: 1px solid $border-1;
      .order-info-item {
        padding-top: 40px;
        padding-bottom: 40px;
        .order-info {
          margin-bottom: 25px;
          .info-row {
            &:not(:first-child) {
              margin-top: 14px;
            }
          }
        }
        .confirm-action {
          &.account-auth-order {
            .descr-content {
              padding: 16px 20px;
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
        &:not(:first-child) {
          border-top: 1px solid $border-1;
        }
      }
    }
    &.signup-container {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .account-auth {
    .account-auth-content-title {
      margin-bottom: 40px;
      font-weight: 600;
      line-height: 1;
      color: $font-0;
    }
    .account-forgot-tools,
    .account-tools {
      margin-top: 20px;
    }
    .button {
      font-size: 16px;
    }
    .gift-promo {
      padding: 20px 30px;
      .icon {
        margin-right: 20px;
        width: 32px;
        height: 32px;
      }
      .text {
        width: calc(100% - 60px);
        max-width: 280px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .account-forgot {
    margin: 0 auto;
    max-width: 540px;
    border: 1px solid $border-1;
    background-color: $bg-1;
    .account-forgot-header {
      .anchor {
        height: 50px;
        font-size: 16px;
      }
    }
    .account-forgot-content {
      padding: 60px 40px;
      .message-text {
        font-size: 14px;
        line-height: 22px;
      }
      .social-login-container {
        margin-bottom: 15px;
        .text {
          font-size: 16px;
        }
      }
    }
    .account-forgot-certify {
      .icon {
        margin-bottom: 36px;
        width: 70px;
        height: 80px;
      }
      .message-text {
        font-size: 16px;
        line-height: 24px;
      }
      .notify-text {
        margin-top: 12px;
        font-size: 14px;
      }
    }
    .account-certify-actions {
      margin-top: 40px;
      .description {
        font-size: 14px;
      }
    }
    .account-forgot-title {
      margin-bottom: 40px;
      font-size: 40px;
    }
    .account-forgot-result {
      .icon {
        margin-bottom: 40px;
        width: 80px;
        height: 80px;
        &.kakaotalk {
          width: 87px;
        }
      }
      .result-text {
        font-size: 18px;
        line-height: 24px;
      }
      .descr-text {
        font-size: 16px;
        line-height: 24px;
      }
      .message-text {
        margin: 12px 0 0;
        font-size: 14px;
        line-height: 22px;
      }
      .notify-text {
        margin: 16px 0 0;
        font-size: 14px;
      }
      .forgot-result-list {
        margin-top: 30px;
        li {
          .result-item {
            padding: 0 20px;
            height: 60px;
            font-size: 14px;
          }
          &:not(:first-child) {
            margin-top: 5px;
          }
        }
      }
    }
    .account-forgot-action {
      margin-top: 40px;
    }
    .account-reset-password {
      .descr-text {
        margin-bottom: 30px;
        font-size: 16px;
      }
    }
  }
  .account-signup-head {
    height: 260px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('/cmsstatic/bg-register-top-pc.jpg');
    .inner {
      .display {
        margin: 0 0 0 auto;
        max-width: 833px;
        width: 65%;
        .title {
          font-size: 40px;
        }
        .descr-text {
          margin: 20px 0 0;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  .account-signup-body {
    margin: 60px auto 0;
    max-width: 1440px;
    .col-entry-field {
      padding-left: 30px;
      padding-right: 30px;
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%;
      padding-bottom: 30px;
    }
    .col-agree-field {
      padding-left: 30px;
      padding-right: 30px;
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%;
      border-left: 1px solid $border-1;
    }
    .account-signup-field {
      margin: 0 auto;
      max-width: 384px;
      width: 100%;
      .account-signup-fieldset {
        &:not(:first-child) {
          margin-top: 40px;
        }
      }
    }
    .fieldset-legend {
      margin-bottom: 20px;
    }
    .radio-tabs {
      .i-selector {
        .label {
          height: 48px;
          font-size: 14px;
        }
      }
    }
    .i-checkbox {
      font-size: 14px;
    }
    .policy-link {
      font-size: 14px;
    }
    .descr-promo {
      margin-top: 8px;
      font-size: 14px;
    }
    .account-total-agree {
      .i-checkbox {
        margin-bottom: 14px;
        font-size: 16px;
        .icon {
          margin-top: 1px;
        }
      }
      .agree-text {
        font-size: 16px;
        line-height: 24px;
      }
      .descr-list {
        font-size: 14px;
        line-height: 24px;
      }
    }
    .account-auth-action {
      margin-top: 40px;
      .button {
        font-size: 16px;
      }
    }
  }
  .register-complete {
    .icon {
      margin-bottom: 60px;
      width: 170px;
      height: 114px;
    }
    .result-text {
      font-size: 36px;
      line-height: 1;
    }
    .descr-text {
      font-size: 18px;
      line-height: 26px;
    }
    .register-complete-action {
      margin: 56px auto 0;
      max-width: 280px;
    }
  }
}

@media screen and (min-width : $pc-screen-min){

  .account-signup-body {
    margin: 60px auto 0;
    max-width: 1440px;
    .col-entry-field {
      -webkit-flex-basis:58.33333%;
      -ms-flex-preferred-size:58.33333%;
      flex-basis:58.33333%;
      max-width:58.33333%;
      padding-bottom: 30px;
    }
    .col-agree-field {
      -webkit-flex-basis:41.66667%;
      -ms-flex-preferred-size:41.66667%;
      flex-basis:41.66667%;
      max-width:41.66667%;
      border-left: 1px solid $border-1;
    }
  }
}
