
// 메인 하단 마케팅 Tile
.marketing-tiles {
	margin: 60px 0;
	border-top: 1px solid $border-1;
	border-bottom: 1px solid $border-1;
	>.content {
		overflow: hidden;
	}
	.row {
		margin: 0;
	}
	.tile-item {
		padding: 36px 0 46px;
		min-height: 258px;
		&:not(:first-child) {
			border-left: 1px solid $border-1;
		}
		.icon {
			width: 54px;
			height: 36px;
		}
		.socialmedia-links {
			height: 36px;
			.link-social {
				margin: 0 7px;
				width: 30px;
				height: 30px;
			}
			.icon {
				width: 20px;
				height: 20px;
			}
		}
	}
	.tile-title {
		margin: 20px 0 0;
		font-size: 18px;
		font-weight: 600;
		line-height: 1;
	}
	.tile-text {
		margin: 8px auto 0;
		max-width: 200px;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: -.025em;
		color: $font-3;
		word-break: keep-all;
	}
	.text-link {
		margin-top: auto;
		padding-bottom: 3px;
		font-size: 12px;
		line-height: 1;
		letter-spacing: -.025em;
		color: $font-0;
		border-bottom: 1px solid;
	}
}

@media screen and (max-width:767px){
	.marketing-tiles {
		margin-bottom: -1px;
		.tile-item {
			padding: 28px 0 27px;
			min-height: 236px;
			&:nth-child(2n+1) {
				border-left: 0;
			}
			&:nth-child(2n) {
				&~.tile-item {
					border-top: 1px solid $border-1;
				}
			}
			.icon {
				width: 60px;
				height: 40px;
			}
			.socialmedia-links {
				height: 40px;
			}
		}
		.tile-title {
			margin: 26px 0 0;
			font-size: 16px;
		}
		.tile-text {
			margin: 7px auto 0;
			padding: 0 12px;
			font-size: 12px;
			line-height: 15px;
		}
		.text-link {
			margin-top: auto;
			padding-bottom: 3px;
			font-size: 12px;
			line-height: 1;
			letter-spacing: -.025em;
			color: $font-0;
			border-bottom: 1px solid;
		}
	}
}

@media screen and (min-width:768px){

	.marketing-tiles {
		>.content {
			margin: 0 auto;
			max-width: 1440px;
		}
	}
}
