.minicart-dropdown {
  position: fixed;
  height: 100%;
  z-index: 1100;
  top: 0;
  right: 0;
  background-color: $bg-1;
  -webkit-transition: top 426ms cubic-bezier(.4,.9,.3,1),-webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
  transition: top 426ms cubic-bezier(.4,.9,.3,1),-webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
  transition: top 426ms cubic-bezier(.4,.9,.3,1),transform 426ms cubic-bezier(.4,.9,.3,1);
  transition: top 426ms cubic-bezier(.4,.9,.3,1),transform 426ms cubic-bezier(.4,.9,.3,1),-webkit-transform 426ms cubic-bezier(.4,.9,.3,1);
  overflow: auto;
  &:not(.active) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  // &:not(.empty) {
  //   .minicart-empty {
  //     display: none;
  //   }
  // }
  // &.empty {
  //   .minicart-products,
  //   .minicart-totals {
  //     display: none;
  //   }
  // }
  .minicart-header,
  .minicart-totals {
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
  }
  .minicart-header {
    .header-item {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
    }
    .header-actions,
    .minicart-action-close {
      height: 100%;
    }
  }
  .minicart-products {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid $border-1;
    .minicart-item {
      &:not(:first-child) {
        border-top: 1px solid $border-1;
      }
      .image-url {
        margin-right: 16px;
        -webkit-box-flex: 0;
        -webkit-transition: opacity 213ms cubic-bezier(.4,.9,.3,1);
        transition: opacity 213ms cubic-bezier(.4,.9,.3,1);
        background-color: $bg-6;
      }
      .product-mini-details {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1;
        -ms-flex: 1 1;
        flex: 1 1;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        .product-name {
          padding-right: 40px;
          font-weight: 600;
          letter-spacing: -.025em;
        }
        .product-options {
          font-size: 12px;
          line-height: 20px;
          .option {
            &.quantity {
              display: block;
            }
            &:not(:first-child):not(.quantity)::before {
              content: '/';
              padding-right: .25em;
            }
          }
        }
        .product-price {
          line-height: 1;
          .retail {
            color: $font-3;
            text-decoration: line-through;
          }
          .rate {
            font-weight: 400;
            color: $color-5;
          }
          .sale {
            margin-left: 0.125em;
          }
        }
        .product-mini-remove {
          position: absolute;
          top: 0;
          right: 0;
          .icon {
            display: block;
            color: $font-1;
          }
        }
      }
    }
  }
  .minicart-totals {
    margin-top: auto;
    .subtotals {
      border-top: 1px solid $border-1;
      .subtotals-calc {
        .label {
          line-height: 1;
        }
        .value {
          font-weight: 600;
          line-height: 1;
        }
      }
      .subtotals-message {
        line-height: 1.5;
        letter-spacing: -.025em;
        color: $font-3;
        text-align: center;
        word-break: keep-all;
        background-color: $bg-10;
      }
    }
    .minicart-actions {
      border-top: 1px solid $border-1;
    }
  }
  .minicart-empty {
    text-align: center;
    border-top: 1px solid $border-1;
    .cart-icon {
      color: $color-2;
      border-radius: 50%;
      border: 1px solid;
    }
    .message {
      font-size: 18px;
    }
    .sub-message {
      margin: 0;
      font-size: 12px;
    }
    .minicart-empty-action {
      width: 100%;
    }
  }
}
.uk-modal {
  &.modal-confirm {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.confirm-conent-wrap {
  .content {
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -.025em;
    text-align: center;
    p {
      margin: 0;
    }
  }
  .button-group {
    margin-top: 38px;
  }
}

@media screen and (max-width : $mc-screen-max){
  .minicart-dropdown {
    width: 100%;
    .minicart-header {
      height: 52px;
      padding-left: 30px;
      padding-right: 10px;
      .header-actions {
        .minicart-link {
          display: none;
        }
      }
      .minicart-action-close {
        width: 52px;
        .icon {
          width: 14px;
          height: 14px;
        }
      }
    }
    .minicart-products {
      .minicart-item {
        padding: 16px 30px;
        .image-url {
          -webkit-flex: 0 1 30%;
          -ms-flex: 0 1 30%;
          flex: 0 1 30%;
          max-width: 70px;
        }
        .product-mini-details {
          -webkit-flex-basis: calc(70% - 16px);
          -ms-flex-preferred-size: calc(70% - 16px);
          flex-basis: calc(70% - 16px);
          .product-name {
            font-size: 12px;
            line-height: 16px;
          }
          .product-options {
            margin-top: 4px;
            line-height: 18px;
          }
          .product-price {
            margin-top: 4px;
            font-size: 12px;
          }
          .product-mini-remove {
            .icon {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
    .minicart-totals {
      .subtotals {
        padding: 16px 30px 30px;
        .subtotals-calc {
          .label {
            font-size: 12px;
          }
          .value {
            font-size: 16px;
          }
        }
        .subtotals-message {
          margin-top: 16px;
          padding: 12px;
          min-height: 59px;
          font-size: 11px;
        }
      }
      .minicart-actions {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 16px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        .button {
          width: calc(50% - 5px);
        }
      }
    }
    .minicart-empty {
      .cart-icon {
        margin: 0 auto 28px;
        padding-top: 2px;
        padding-right: 2px;
        width: 40px;
        height: 40px;
      }
      .message {
        font-size: 18px;
        line-height: 22px;
      }
      .sub-message {
        margin-top: 10px;
        font-size: 12px;
        line-height: 16px;
      }
      .minicart-empty-content {
        margin-top: auto;
      }
      .minicart-empty-action {
        margin-top: auto;
        padding: 0 16px 16px;
        width: 100%;
      }
    }
  }
  .uk-modal {
    &.modal-confirm {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
      .uk-modal-dialog {
        padding: 40px 16px 16px;
        max-height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
  .confirm-conent-wrap {
    .content {
      min-height: 60px;
      font-size: 18px;
    }
  }
}

@media screen and (min-width : $tc-screen-min){
  .minicart-dropdown {
    width: 372px;
    border-left: 1px solid $border-1;
    .minicart-header {
      height: 60px;
      padding-left: 26px;
      .header-actions {
        >*:not(:first-child) {
          margin-left: 20px;
        }
      }
      .minicart-action-close {
        width: 61px;
        border-left: 1px solid $border-1;
        .icon {
          width: 12px;
          height: 12px;
        }
      }
    }
    .minicart-products {
      .minicart-item {
        padding: 20px;
        .image-url {
          -webkit-flex: 0 1 35%;
          -ms-flex: 0 1 35%;
          flex: 0 1 35%;
          max-width: 98px;
        }
        .product-mini-details {
          -webkit-flex-basis: calc(65% - 16px);
          -ms-flex-preferred-size: calc(65% - 16px);
          flex-basis: calc(65% - 16px);
          .product-name {
            font-size: 14px;
            line-height: 20px;
          }
          .product-options {
            margin-top: 10px;
          }
          .product-price {
            margin-top: 12px;
            font-size: 14px;
            span:not(:last-child) {
              margin-right: 5px;
            }
          }
          .product-mini-remove {
            .icon {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
    .minicart-totals {
      .subtotals {
        padding: 20px;
        .subtotals-calc {
          .label {
            font-size: 14px;
          }
          .value {
            font-size: 20px;
          }
        }
        .subtotals-message {
          margin-top: 20px;
          padding: 12px;
          min-height: 46px;
          font-size: 12px;
          line-height: 1.2;
          letter-spacing: -.025em;
          color: $font-3;
          text-align: center;
          word-break: keep-all;
          background-color: $bg-10;
        }
      }
      .minicart-actions {
        padding: 20px;
        .button:not(:first-child) {
          margin-top: 10px;
        }
      }
    }
    .minicart-empty {
      .cart-icon {
        margin: 0 auto 26px;
        padding-top: 3px;
        padding-right: 3px;
        width: 44px;
        height: 44px;
      }
      .message {
        font-size: 18px;
        line-height: 26px;
      }
      .sub-message {
        margin-top: 12px;
        font-size: 12px;
        line-height: 18px;
      }
      .minicart-empty-action {
        margin-top: 26px;
        padding: 0 20px 20px;
      }
    }
  }
  .uk-modal {
    &.modal-confirm {
      padding: 90px 32px;
      .uk-modal-dialog {
        padding: 38px 20px 20px;
        max-width: 464px;
      }
    }
  }
  .confirm-conent-wrap {
    .content {
      min-height: 60px;
      font-size: 18px;
    }
  }
}
