.uk-modal {
  z-index: 10000;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $font-0;
  word-break: keep-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: $bg-8;
  -webkit-overflow-scrolling: touch;
  -webkit-transition-property: opacity,visibility;
  transition-property: opacity,visibility;
  &:not(.uk-open) {
    pointer-events: none;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 213ms;
    transition-duration: 213ms;
    opacity: 0;
    visibility: hidden;
  }
  &.uk-open {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: .32s;
    transition-duration: .32s;
    .uk-modal-dialog {
      -webkit-transition-duration: .32s;
      transition-duration: .32s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
  }
  &.window-modal {
    .uk-modal-dialog {
      padding: 0;
      max-width: 928px;
    }
  }
  .uk-modal-dialog {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    max-width: 464px;
    min-height: 100px;
    border-radius: 0;
    background-color: $bg-1;
    -webkit-transition-property: top,bottom,right,left,height,opacity,visibility,-webkit-transform;
    transition-property: top,bottom,right,left,height,opacity,visibility,-webkit-transform;
    transition-property: top,bottom,right,left,height,transform,opacity,visibility;
    transition-property: top,bottom,right,left,height,transform,opacity,visibility,-webkit-transform;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 213ms;
    transition-duration: 213ms;
    .uk-modal-title {
      display:-webkit-box;
      display:-webkit-flex;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 20px;
      height: 60px;
      font-size: 24px;
      line-height: 1;
      color: $font-0;
    }
    .uk-modal-content {
      display:-webkit-box;
      display:-webkit-flex;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      min-height: 100px;
      height: 1px; //IE 중앙정렬 대응
      font-size: 18px;
      font-weight: normal;
      line-height: 1.25;
      letter-spacing: -.025em;
      text-align: center;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .uk-modal-footer {
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
      display:-webkit-box;
      display:-webkit-flex;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
      -webkit-flex-direction:row;
      -ms-flex-direction:row;
      flex-direction:row;
      -webkit-flex-wrap:wrap;
      -ms-flex-wrap:wrap;
      flex-wrap:wrap;
      margin-top: 20px;
      margin-left: -5px;
      margin-right: -5px;
      .uk-button {
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex:1;
        -webkit-flex-grow:1;
        -ms-flex-positive:1;
        flex-grow:1;
        -webkit-flex-basis:0;
        -ms-flex-preferred-size:0;
        flex-basis:0;
        -webkit-flex-shrink:0;
        -ms-flex-negative:0;
        flex-shrink:0;
        min-height:1px;
        margin-left: 5px;
        margin-right: 5px;
        height: 50px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
        color: inherit;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid;
        background-color: $bg-1;
        &.uk-button-primary {
          color: $font-7;
          border-color: $border-6;
          background-color: $bg-dimmed;
        }
      }
    }
  }
  .uk-close {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font: inherit;
    color: inherit;
    border-radius: 0;
    border: none;
    background-color: transparent;
    opacity: 1;
    &:after {
      content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 37 37'%3E%3Cpath fill='%23000' d='M36.533 3.533L33 0 18.267 14.733 3.533 0 0 3.533l14.733 14.734L0 33l3.533 3.533L18.267 21.8 33 36.533 36.533 33 21.8 18.267z' /%3E%3C/svg%3E");
      display: block;
      margin: 0 auto;
      width: 14px;
      height: 14px;
    }
    &:first-child {
      margin: 0;
      float: none;
    }
  }
  .scrollable {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .row {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}
.uk-notify {
  z-index: 10010;
}
@media screen and (max-width : $mc-screen-max){
  .uk-modal {
    &.window-modal {
      &.uk-open {
        .uk-modal-dialog {
          top: 0 !important;
        }
      }
      .uk-close {
        width: 60px;
        height: 60px;
      }
    }
  }
  .uk-modal {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    .uk-modal-dialog {
      .uk-modal-title {
        margin-bottom: 0;
        font-size: 20px;
      }
      .uk-modal-content {
        font-size: 16px;
      }
      .uk-modal-footer {
        margin-top: 16px;
        .uk-button {
          height: 55px;
        }
      }
    }
  }
  .uk-modal-dialog {
    padding: 16px;
  }
}

@media screen and (min-width : $tc-screen-min) {
  .uk-modal {
    &.window-modal {
      &.uk-open {
        .uk-modal-dialog {
          -webkit-transition-delay: 107ms;
          transition-delay: 107ms;
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1;
          visibility: inherit;
        }
      }
      &.modal-slide-up {
        .uk-modal-dialog {
          -webkit-transform: translateY(25vh);
          transform: translateY(25vh);
        }
        &.uk-open {
          .uk-modal-dialog {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
      }
      .uk-modal-dialog {
        margin: auto;
        -webkit-transform: scale(.9);
        transform: scale(.9);
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
