
.floating-bar {
	z-index: 1;
	position: fixed;
	right: 0;
	overflow: hidden;
	.anchor {
		color: $font-7;
		background-color: $bg-dimmed;
	}
}

@media screen and (max-width : $mc-screen-max){
	.floating-bar {
		bottom: 16px;
		.anchor {
			padding-left: 15px;
			padding-right: 10px;
			height: 50px;
			border-radius: 25px 0 0 25px;
			.icon {
				margin-right: 10px;
				font-size: 22px;
			}
			.content {
				margin: 0;
				font-size: 12px;
				font-weight: 600;
				line-height: 16px;
			}
		}
	}
}

@media screen and (min-width : $tc-screen-min){
	.floating-bar {
		bottom: 50px;
		.anchor {
			padding-left: 20px;
			padding-right: 10px;
			height: 80px;
			border-radius: 40px 0 0 40px;
			-webkit-transform: translateX(calc(100% - 70px));
			transform: translateX(calc(100% - 70px));
			-ms-transform: translateX(100%) translateX(-70px);
			-webkit-transition: -webkit-transform .32s cubic-bezier(.4,.9,.3,1);
			transition: -webkit-transform .32s cubic-bezier(.4,.9,.3,1);
			transition: transform .32s cubic-bezier(.4,.9,.3,1);
			transition: transform .32s cubic-bezier(.4,.9,.3,1), -webkit-transform .32s cubic-bezier(.4,.9,.3,1);
			.icon {
				margin-right: 10px;
				font-size: 40px;
			}
			.content {
				margin: 0;
				font-size: 14px;
				font-weight: 600;
				line-height: 20px;
			}
			&:hover {
				-webkit-transform: translateX(0%);
				transform: translateX(0%);
			}
		}
	}
}

/* main review popup redefinition*/
.main-review-popup {

	.review-write-wrap {
		position:fixed;
		bottom:0;
		right:0;
		overflow-y:auto;
		max-width:430px;
		max-height:450px;
		border:1px solid $border-1;
		background-color:$bg-1;
		z-index:100;

		.review-write {
			display:none;
			padding:0 40px 30px;
		}

		.review-summary-group {
			display:none;
		}
	}
}

/* main review summary list */
.review-summary-group {
	padding:0 15px;
	li {
		&:last-child {border:0;}
		border-bottom:1px solid $border-2;
	}
	.order-lanscape-list {
		padding:35px 25px 10px;
	}
	.rating-star-data {
		padding:10px 0;
		text-align:center;
	}

	.rating-description {
		&.review-done {color:$font-4;}
		padding:15px 0;
	}
}

/* main review notice popup */
.review-main-msg {
	padding:30px 40px;

	.noti-txt-big {
		width:100%;
		color: $primary-color;
		text-align:center;
		padding-bottom:10px;
		line-height: 1.3;
	}
	.noti-txt-sm {
		width:100%;
		text-align:center;
		color:$font-3;
		font-size:11px;
		line-height:18px;
	}

	.review-btnarea {
		margin-top:10px;
	}
}


/* uk popup */
.uk-close {
	&:after {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'icomoon' !important;
		content:'\e90a';

	}
}




/* edition 동영상 팝업 */
#edition-video-popup {

}
