.promotion{
	margin-top: 60px;
	.btn-submit {
		border-left: 0;
		font-size: $font-size-m;
		border-color: $form_border !important;
	}
	.promo-error-message {color:$caution-color; font-size: 11px;}
	.promo-list {
		.applied {
			position:relative;
			border:1px solid $form_border;
			padding:13px 24px 16px;
			background-color: $bg-1;
			margin-top:2px;
			.discount-amount {margin-top: 7px;}
		}
		.info{
			margin: 0;
			padding: 0;
			border: 0;
			background-color: $bg-1;
		}
		.marketing-msg {margin-top:10px; line-height:16px; font-size:$font-size-m; font-weight:bold; color: #333;}
		.code {
			font-weight:bold;
			font-size:$font-size-l; color: $primary-color;}
		.btn-delete {position:absolute; right:10px; top:10px;}
		.price{font-size: 12px; color: $caution-color; float:right; position:absolute; right: 10px; bottom:10px;}
	}
}