.opacity-up {
  -webkit-transition: opacity 213ms ease-out;
  transition: opacity 213ms ease-out;
}
.pdp-header-wrap {
  z-index: 1;
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.pdp-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1440px;
  .pdp-primary-image {
    position: relative;
    margin-top: -100px;
    margin-left: -20px;
    width: calc(100% + 40px);
    &:before {
      content: '';
      display: block;
      padding-bottom: 93.361%;
      width: 100%;
    }
  }
  .gallery-media {
    cursor: default;
    &.video {
      cursor: default;
      pointer-events: none;
    }
    &.primary {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      font-family: "object-fit: cover;";
    }
  }
}
.pdp-media-gallery {
  position: relative;
  color: $font-7;
  .pdp-images,
  .media-item {
    position: relative;
  }
  .media-item {
    &:before {
      content: '';
      display: block;
      padding-bottom: 125%;
      width: 100%;
    }
    .gallery-media {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      object-fit: cover;
    }
  }
  .pdp-media-gallery-controls {
    .slick-arrow {
      &.slick-disabled {
        visibility: hidden;
      }
    }
  }
}
.product-information {
  .pdp-info {
    padding-bottom: 40px;
  }
  .product-summary {
    .product-name {
      color: inherit;
    }
  }
  .draw-pdp-info {
    .product-summary {
      .product-price {
        margin-top: 40px;
      }
    }
    .product-entry-info {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -.025em;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
      .row {
        height: 56px;
        border-bottom: 1px solid $border-1;
        .col-label {
          -webkit-flex-basis: 70px;
          -ms-flex-preferred-size: 70px;
          flex-basis: 70px;
          max-width: 70px;
          color: $font-3;
        }
      }
      .descr-text {
        margin-top: 16px;
      }
    }
    .product-draw-inputs {
      margin-top: 30px;
      .field-row {
        border-bottom: 1px solid $border-1;
        font-size: 14px;
        line-height: 1;
        .policy-title {
          margin: 0;
          word-break: keep-all;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
        .link {
          color: $font-3;
        }
        .agree-selector {
          margin-top: 20px;
        }
        &.agree {
          padding-top: 20px;
          padding-bottom: 20px;
        }
        &.input {
          padding-bottom: 30px;
        }
      }
      .i-radio {
        input {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          visibility: hidden;
          &:checked + .icon::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $bg-dimmed;
          }
        }
        .icon {
          display: block;
          margin-right: 10px;
          padding: 3px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 1px solid $border-4;
          background-color: $bg-1;
        }
        .text {
          line-height: 16px;
          letter-spacing: -.025em;
          color: $font-1;
        }
        &:not(:first-child) {
          margin-left: 20px;
        }
      }
      .input-text {
        padding-left: 20px;
        width: 100%;
        height: 50px;
        line-height: 1.5;
        letter-spacing: -.025em;
        border: 1px solid $border-1;
        background-color: $bg-1;
        &::-webkit-input-placeholder {
          color: $font-1;
        }
        &:-moz-placeholder {
          color: $font-1;
        }
        &::-moz-placeholder {
          color: $font-1;
        }
        &:-ms-input-placeholder {
          color: $font-1;
        }
        &::placeholder {
          color: $font-1;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
      }
      .parsley-errors-list {
        padding: 0;
        margin: 0;
      }
      .print-message, .error-message, .parsley-required {
        margin: 0;
        padding-top: 8px;
        font-size: 12px;
        line-height: 1;
        letter-spacing: -.025em;
        color: $color-5;
        text-align: left;
      }
      .print-message {
        &:not(.active) {
          display: none;
        }
      }
      .error-message {
        display: block;
      }
      .parsley-required {
        margin-bottom: 1.25em;
      }
    }
  }
}
.rating-icon:not(:last-child) {
  margin-right: 5px;
}
.product-variations {
  .variation-selector {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: $font-0;
    &.selector-size {
      padding-right: 1px;
      padding-bottom: 1px;
    }
    &.selector-addon {
      .input-select-inline {
        padding-left: 20px;
        width: 100%;
        font-size: 14px;
        color: $font-0;
        border: 1px solid $border-1;
        background-color: $bg-1;
        &:required:invalid {color: $font-0;}
        & > option {
          padding-left: 0;
          &[value=""][disabled] {
            display: none;
          }
        }
      }
      .addon-promo-text {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 1;
        letter-spacing: -.025em;
        color: $color-2;
      }
    }
    .print-message {
      display: none;
      margin: 0;
      padding-top: 8px;
      font-size: 12px;
      line-height: 1;
      color: $color-5;
      &.active {
        display: block;
      }
    }
    .variation-color {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      position: relative;
      max-width: 18.8172%;
      width: 100%;
      background-color: $bg-1;
      &:before {
        content: '';
        display: block;
        padding-bottom: 100%;
        width: 100%;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 2px;
        right: 2px;
        margin: 0 auto;
        height: 2px;
        background-color: $bg-2;
        -webkit-transition: background-color 426ms cubic-bezier(.4,.9,.3,1);
        transition:background-color 426ms cubic-bezier(.4,.9,.3,1);
      }
      &.selected {
        &:after {
          background: $bg-dimmed;
        }
      }
    }
    .variation-size {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin: 0 -1px -1px 0;
      position: relative;
      max-width: calc(18.8172% + 1px);
      width: 100%;
      border: 1px solid $border-1;
      background-color: $bg-1;
      &:before {
        content: '';
        display: block;
        width: 100%;
      }
      &.selected {
        &:after {
          background: $bg-dimmed;
        }
      }
      input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        &:checked + .variation-anchor {
          color: $font-7;
          background-color: $bg-dimmed;
        }
        &:disabled + .variation-anchor {
          color: $font-1;
          background-color: $bg-10;
          cursor: not-allowed;
        }
      }
    }
    .variation-anchor {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
  .thefit-wrap {
    .thefitshoes-div {
      width: 100%;
      max-width: 64.32432%;
      height: 28px;
      &:empty {
        display: none;
      }
    }
  }
  .enter-quantity {
    .i-text {
      font-size: 14px;
      text-align: center;
      border: 1px solid $border-1;
      background-color: $bg-1;
    }
    .i-text::-webkit-outer-spin-button,
    .i-text::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .btn {
      margin-left: -1px;
      font-size: 12px;
      border: 1px solid $border-1;
      background-color: $bg-1;
    }
  }
  .addon-state {
    position: relative;
    margin-top: 12px;
    background-color: $bg-10;
    .addon-info {
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
      span {display: block;}
    }
    .addon-quantity {
      &.fix {
        display: none;
      }
    }
    .btn-addon-remove {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
    }
  }
  .addon-out-stock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    height: 46px;
    font-size: 12px;
    line-height: 1;
    color: $color-5;
    background-color: $bg-10;
  }
}
.product-variations-action {
  .col {
    background-color: $bg-1;
    &:first-child:last-child {
      padding: 0;
    }
  }
  .col-action-wish {
    background-color: $bg-1;
  }
  .btn-buy {
  }
  .btn-wish {
    display: block;
    position: relative;
    border: 1px solid $border-6;
    .product-wish {
      position: relative;
      top: 0;
      left: 0;
    }
  }
}
.isAbleExchangeText {
  font-size:12px; 
  color: red; 
  margin-bottom:15px;
}
.product-custom-message {
  font-size: 12px;
  line-height: 1.2;
  border: 1px solid $border-1;
}
.product-etc-action {
  .link {
    font-size: 18px;
    line-height: 1;
    .icon {
      margin-right: 5px;
    }
    .link-text {
      font-size: 12px;
    }
  }
  .delivery-links {
    .link {
      margin-left: 10px;
      color: $font-3;
    }
  }
}
.product-promo-container {
  .pdp-details-section {
    padding-top: 24px;
    border-top: 1px solid;
    -webkit-transition: opacity .6s ease-out,visibility .6s ease-out;
    transition: opacity .6s ease-out,visibility .6s ease-out;
    &.pdp-more-info {
      position: relative;
      padding-top: 40px;
      border-top-color: $border-1;
      padding-bottom: 50px;
      .pdp-details-toggle {
        bottom: 20px;
        display: inline-block;
        position: absolute;
        cursor: pointer;
        color: $font-3;
        .more-text {
          display: inline-block;
        }
      }
      .pdp-details-content {
        overflow: hidden;
      }
      &:not(.active) {
        .pdp-details-content {
          max-height: 448px;
        }
      }
    }
    &.product-tags {
      padding-top: 0;
      .inner {
        overflow: hidden;
      }
      .product-tags-head {
        .title {
          margin: 0;
          font-weight: 700;
          color: $color-1;
        }
        .icon {
          cursor: pointer;
          &.minus {display: none;}
          &.plus {display: block;}
        }
      }
      .product-tags-contents {
        letter-spacing: -.025em;
        .tag-key {
          color: $font-3;
          word-break: keep-all;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
        .tag-value {
          color: $font-0;
          word-break: keep-all;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
        .row {
          &::before {
            display: none;
          }
          &::after {
            display: none;
          }
        }
      }
      &.active {
        .product-tags-head {
          .icon.minus {display: block;}
          .icon.plus {display: none;}
        }
      }
    }
    &.draw-progress-guide {
      padding-bottom: 30px;
      border-top-color: $border-1;
      .guide-head {
        margin-bottom: 20px;
        .title {
          font-weight: 800;
          line-height: 1;
          letter-spacing: -.025em;
          color: $font-0;
        }
        .normal-guide {
          padding-left: 16px;
          li {
            letter-spacing: -.025em;
          }
        }
      }
      .guide-progress {
        border: 1px solid $border-1;
        .step-item {
          .step-icon {
            margin-right: 20px;
            .icon {
              color: $font-7;
              border-radius: 50%;
              background-color: $bg-7;
            }
          }
          .step-content {
            letter-spacing: -.025em;
            .step-title {
              font-weight: 600;
              color: inherit;
            }
            .descr-text {
              margin: 0 0 5px;
            }
            .descr-list {
              margin: 0 0 5px;
              padding-left: 16px;
              li {
                padding: 2px 0;
                letter-spacing: -.025em;
              }
            }
            .button {
              padding-top: 7px;
              padding-bottom: 7px;
              font-size: 13px;
            }
          }
          &:not(:first-child) {
            border-top: 1px solid $border-1;
          }
        }
      }
      .readme {
        .title {
          font-weight: 600;
          line-height: 1;
          letter-spacing: -.025em;
          color: inherit;
        }
        .list {
          li {
            letter-spacing: -.025em;
            word-break: keep-all;
            word-wrap: break-word;
            overflow-wrap: break-word;
            &::before {
              content: '-';
              display: inline-block;
            }
          }
        }
      }
    }
    .section-head {
      position: relative;
      .section-title {
        margin: 0;
        font-size: 24px;
        line-height: 1;
        letter-spacing: -.025em;
        color: $color-1;
      }
      .section-description {
        margin-bottom: 0;
        letter-spacing: -.025em;
      }
      .slick-arrows {
        position: absolute;
        top: 4px;
        right: 0;
        .slick-arrow {
          width: 28px;
          height: 1em;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          vertical-align: top;
          &.slick-disabled {
            opacity: .25;
            cursor: not-allowed;
          }
          .icon {
            display: block;
            margin-right: 0;
            margin-left: auto;
          }
        }
      }
    }
  }
}
.product-recommendations {
  border-top: 1px solid;
  .recommendations-head {
    .title {
      margin: 0;
      font-weight: 900;
      color: $color-1;
      text-align: center;
    }
  }
  .recommendations-container {
    margin: 0 auto;
    max-width: 1220px;
  }
}
.slick-slider-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  .slick-list {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .slick-track{
    height: 100%;
    min-width: 100%;
  }
}
.slick-slider-flex-align-items {
  &.slick-initialized {
    .slick-slide {
      -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      height: auto;
    }
  }
  .slick-track {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.review-teaser-slider {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  .slider {
    width: 100%;
    overflow: hidden;
  }
  a.flex {
    > .picture {
        min-height:1px;
      //   display:flex;
      //   align-items:flex-start;
      //   flex:1;
      // > img {
      //   width:100%;
      //   max-height:none;
      // }
      img {
        width: 100%;
        max-height: 300px;
      }
    }
  }
}
.review-teaser-card {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%;
  border: 1px solid $border-1;
  word-break: break-word;
  .review-score {
    line-height: 1;
    letter-spacing: -.025em;
  }
  .review-stars-rating-avg-card {
    letter-spacing: -0.025em;
  }
  .review-stars-descr {
    margin: 0;
    letter-spacing: -.025em;
    text-align: center;
  }
  .title {
    margin: 0 0 4px;
    font-weight: 900;
    &:before {
      content: '“';
    }
    &:after {
      content: '”';
    }
  }
  .rating-bottom {
    margin-top: auto;
  }
  .reviewer {
    margin: 4px 0 0;
    font-size: 12px;
  }
}
.review-teaser-empty {
  .empty-text {
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.025em;
  }
  .descr-text {
    margin: 0;
    line-height: 1;
    letter-spacing: -.025em;
  }
  .button {
    min-width: 200px;
  }
}
.pdp-guide-list {
  padding-left: 1.25em;
  font-weight: 400;
  letter-spacing: -.025em;
  text-align: left;
  word-break: keep-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  .descr-text {
    color: $font-3;
  }
}

@media screen and (max-width : $mc-screen-max) {
  .pdp-container {
    .information-header {
      padding-top: 15px;
      padding-bottom: 14px;
      p {margin: 0;}
      .pdp-product-name {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -.025em;
      }
      .pdp-product-badge {
        margin-top: 2px;
        font-size: 10px;
        line-height: 16px;
        color: $font-3;
      }
      .pdp-product-price {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -.025em;
        text-align: right;
        .retail {
          display: block;
          color: $font-3;
          text-decoration: line-through;
        }
        .rate {
          font-weight: 400;
          color: $color-5;
        }
        .sale {
          margin-left: 0.125em;
        }
        .promo {
          display: block;
          font-size: 10px;
          font-weight: 600;
          color: $color-2;
        }
      }
    }
  }
  .pdp-media-gallery {
    margin-left: -16px;
    margin-right: -16px;
    .gallery-media {
      bottom: 0;
    }
    .pdp-media-gallery-controls {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: $font-0;
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 1;
      .slick-arrow {
        .icon {
          vertical-align: top;
        }
      }
      .slick-dots {
        margin: 0 22px;
        padding: 0;
        &>li {
          list-style-type: none;
          &:not(.slick-active) {
            display: none;
          }
        }

      }
    }
  }
  .product-variations {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    >*{
      &:nth-child(n + 2){
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
      }
    }
    .variation-information {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      margin-bottom: 16px;
      padding-top: 22px;
      padding-bottom: 22px;
      border-bottom: 1px solid #e5e5e5;
      .label {
        display: none;
      }
      .product-style {
        font-size: 14px;
        line-height: 1;
        text-align: center;
      }
      .product-unique {
        margin-top: 6px;
        font-size: 12px;
        line-height: 1;
        color: $font-3;
        text-align: center;
      }
    }
    .variation-selector {
      &.selector-color {
        -webkit-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        margin-left: -16px;
        margin-right: -16px;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
      &.selector-size {
        margin-top: 16px;
      }
      &.enter-quantity {
        margin-top: 16px;
      }
      &.selector-addon {
        margin-top: 16px;
        .input-select-inline {
          height: 45px;
        }
      }
      .variation-size {
        max-width: calc(20% + 1px);
        &:before {
          padding-bottom: 45px;
        }
      }
      .variation-anchor {
        font-size: 12px;
      }
    }
    .enter-quantity {
      margin-top: 7px;
      .i-text {
        width: 70px;
        height: 45px;
      }
      .btn {
        width: 45px;
        height: 45px;
      }
    }
    .addon-state {
      margin-top: 16px;
      padding: 13px 34px 13px 16px;
      .addon-info {
        font-size: 12px;
        line-height: 16px;
      }
    }
    .addon-out-stock {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-left: 0;
    }
  }
  .product-variations-action {
    z-index: 1;
    width: 100%;
    padding: 30px 0 0;
    &:not(.draw-action) {
      padding: 16px;
      position: fixed;
      left: 0;
      bottom: 0;
    }
    .col {
      &:not(.action-signin){
        padding-right: 1px;
      }
    }
    .btn-signin {
      height: 55px;
    }
    .btn-cart {
      height: 55px;
    }
    .btn-buy {
      height: 55px;
    }
    .btn-wish {
      padding: 18px;
      width: 55px;
      height: 55px;
    }
  }
  .product-variations-share {
    margin-top: 16px;
  }
  .product-custom-message {
    margin-top: 16px;
    height: 44px;
  }
  .product-etc-action {
    margin-top: 16px;
    .link {
      font-size: 14px;
    }
  }
  .product-promo-container {
    .pdp-details-section {
      padding-bottom: 32px;
      &.pdp-more-info {
        .pdp-details-toggle {
          margin-top: 24px;
        }
      }
      &.product-tags {
        .product-tags-head {
          height: 60px;
          .title {
            font-size: 16px;
            line-height: 20px;
          }
        }
        .product-tags-contents {
          font-size: 12px;
          line-height: 16px;
          .tag-key {
            padding-top: 2px;
            padding-bottom: 2px;
            min-height: 20px;
          }
          .tag-value {
            padding-top: 2px;
            padding-bottom: 2px;
            min-height: 20px;
          }
        }
      }
      &.draw-progress-guide {
        .guide-head {
          .title {
            font-size: 24px;
          }
          .normal-guide {
            margin: 17px 0 0;
            li {
              padding: 4px 0;
              font-size: 14px;
              line-height: 19px;
            }
          }
        }
        .guide-progress {
          padding-left: 15px;
          padding-right: 15px;
          .step-item {
            padding-top: 25px;
            padding-bottom: 25px;
            .step-icon {
              -webkit-flex-basis: 54px;
              -ms-flex-preferred-size: 54px;
              flex-basis: 54px;
              max-width: 54px;
              .icon {
                padding: 15px;
                width: 54px;
                height: 54px;
              }
            }
            .step-content {
              font-size: 12px;
              line-height: 17px;
              .step-title {
                margin: 0 0 7px;
                font-size: 14px;
                line-height: 1;
                .step {
                  display: block;
                  margin-bottom: 5px;
                }
              }
              .descr-list {
                li {
                  font-size: 12px;
                  line-height: 17px;
                }
              }
              .button {
                margin-top: 15px;
                width: 100%;
              }
            }
            &:not(:first-child) {
              border-top: 1px solid $border-1;
            }
          }
        }
        .readme {
          margin-top: 25px;
          .title {
            margin-bottom: 10px;
            font-size: 14px;
          }
          .list {
            padding-left: 16px;
            li {
              font-size: 12px;
              line-height: 17px;
              &:not(:first-child) {
                margin-top: 4px;
              }
              &::before {
                margin-left: -16px;
                width: 16px;
              }
            }
          }
        }
      }
      .section-head {
        margin-bottom: 16px;
        .section-description {
          margin-top: 6px;
          font-size: 12px;
          line-height: 16px;
        }
      }
      .review-teaser-list {
        margin-top: 22px;
      }
      .review-teaser-actions {
        margin-top: 32px;
        &.row {
          &::before {
            display: none;
          }
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .product-recommendations {
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 22px;
    padding-bottom: 50px;
    .recommendations-head {
      margin-bottom: 20px;
      .title {
        font-size: 20px;
        line-height: 26px;
      }
    }
    .recommendations-container {
      .recommendations-grid {
        .grid-item {
          &:nth-child(n + 3) {
            margin-top: 12px;
          }
          &:nth-child(2n) {
            -webkit-transform: translateY(30px);
            transform: translateY(30px);
          }
        }
      }
    }
  }
  .review-teaser-card {
    .title {
      font-size: 14px;
    }
  }
  .review-teaser-empty {
    height: 168px;
    .empty-text {
      margin: auto 0 10px;
      font-size: 16px;
    }
    .descr-text {
      font-size: 11px;
    }
    .button {
      margin-top: 60px;
      width: 100%;
      color: $font-7;
      background-color: $bg-dimmed;
    }
  }
  .pdp-guide-list {
    font-size: 12px;
    line-height: 17px;
    li {
      &:not(:first-child) {
        margin-top: 4px;
      }
    }
  }
}

@media screen and (min-width : $tc-screen-min) {
  .fixit-container {
    position: relative;
    .fixit-element {
      &.fixit-active {
        position: fixed;
        // -webkit-transform: translateZ(0);
        // transform: translateZ(0);
        top: 0;
        &:not(.fixit-respond-to-parent){
          width: 100%;
        }
      }
      &.fixit-docked {
        -webkit-transform: none;
        transform: none;
      }
      &.fixit-bottom,
      &.fixit-docked {
        top: auto;
        bottom: 0;
      }
      &.fixit-docked,
      &.fixit-frozen {
        position: absolute;
      }
    }
    .fixit-element-overlay {
      z-index: 1010;
    }
  }
  .pdp-container {
    padding-left: 20px;
    padding-right: 20px;
    .pdp-main {
      position: relative;
    }
  }
  .pdp-media-gallery {
    margin-top: -40px;
    padding-left: 48px;
    padding-right: 48px;
    .gallery-media {
      top: 0;
    }
  }
  .pdp-gallery-carousel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .item-container {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0;
      -ms-flex: 1 0;
      flex: 1 0;
      -webkit-flex-basis: calc(50% - 8px);
      -ms-flex-preferred-size: calc(50% - 8px);
      flex-basis: calc(50% - 8px);
      max-width: calc(50% - 8px);
      margin-bottom: 16px;
    }
  }
  .product-information {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .fixit-active {
      position: fixed;
      // -webkit-transform: translateZ(0);
      // transform: translateZ(0);
      top: 0;
      &.docked {
        position: absolute;
        top: auto;
        bottom: 0;
      }
    }
    .product-summary {
      padding-bottom: 24px;
      border-bottom: 1px solid $border-1;
      .product-name {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -.025em;
        word-break: keep-all;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
      .product-price {
        margin: 12px 0 0;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -.025em;
        span {margin-right: .5em;}
        .retail {
          color: $font-3;
          text-decoration: line-through;
        }
        .rate {
          font-weight: 400;
          color: $color-5;
        }
        .promo {
          font-size: 14px;
          letter-spacing: -.025em;
          color: $color-2;
        }
      }
      .product-badge {
        margin-top: 1em;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -.025em;
        color: $font-3;
      }
      .product-showdetails {
        margin-top: 1em;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -.025em;
        .product-description {
          display: inline;
          margin: 0;
        }
        .product-description-lead {
          margin-left: .5em;
          font-size: 14px;
          color: $font-3;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      .product-review {
        margin-top: 1em;
        font-size: 16px;
        line-height: 1;
        .reviews-stars-link {
          display: inline-block;
        }
        .review-average {
          margin-left: 10px;
          font-size: 14px;
          color: $font-3;
        }
      }
    }
  }
  .product-variations {
    .variation-information {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 16px;
      padding-bottom: 10px;
      width: 100%;
      font-size: 14px;
      line-height: 1;
      .product-style {
        .label {
          margin-right: 4px;
          color: $font-3;
        }
      }
      .product-unique {
        font-size: 12px;
        color: $font-3;
      }
    }
    .variation-selector {
      width: 100%;
      &.selector-color {
        padding-bottom: 30px;
        margin-bottom: 16px;
        border-bottom: 1px solid $border-1;
      }
      &.selector-size {
        margin-top: 30px;
      }
      &.enter-quantity {
        margin-top: 30px;
      }
      &.selector-addon {
        margin-top: 30px;
        .input-select-inline {
          height: 50px;
        }
        & + .selector-addon {
          margin-top: 20px;
        }
      }
      .variation-size {
        &:before {
          padding-bottom: 50px;
        }
      }
      .variation-anchor {
        font-size: 14px;
      }
    }
    .enter-quantity {
      margin-top: 14px;
      .i-text {
        width: 70px;
        height: 50px;
      }
      .btn {
        width: 50px;
        height: 50px;
      }
    }
    .addon-state {
      margin-top: 12px;
      padding: 20px 34px 20px 24px;
      .addon-info {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .addon-out-stock {
      padding-left: 20px;
    }
  }
  .product-variations-action {
    margin-top: 24px;
    .col {
      &:not(.action-signin){
        margin-right: 5px;
      }
    }
    .btn-signin {
      height: 50px;
    }
    .btn-cart {
      height: 50px;
    }
    .btn-buy {
      height: 50px;
    }
    .btn-wish {
      display: block;
      position: relative;
      padding: 16px;
      width: 50px;
      height: 50px;
      border: 1px solid $border-6;
    }
  }
  .product-variations-share {
    margin-top: 24px;
  }
  .product-custom-message {
    margin-top: 24px;
    height: 46px;
  }
  .product-etc-action {
    margin-top: 24px;
  }
  .product-promo-container {
    .pdp-details-section {
      padding-bottom: 70px;
      &.pdp-more-info {
        margin-top: 34px;
        .pdp-details-toggle {
          margin-top: 40px;
        }
      }
      &.product-tags {
        .product-tags-head {
          height: 74px;
          .title {
            font-size: 24px;
            line-height: 28px;
          }
        }
        .product-tags-contents {
          font-size: 14px;
          line-height: 20px;
          .tag-key {
            padding-top: 8px;
            padding-bottom: 2px;
            min-height: 30px;
          }
          .tag-value {
            padding-top: 8px;
            padding-bottom: 2px;
            min-height: 30px;
          }
        }
      }
      &.draw-progress-guide {
        margin-top: 86px;
        .guide-head {
          .title {
            font-size: 32px;
          }
          .normal-guide {
            margin: 25px 0 0;
            li {
              padding: 2px 0;
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
        .guide-progress {
          padding-left: 30px;
          padding-right: 30px;
          .step-item {
            padding-top: 40px;
            padding-bottom: 40px;
            .step-icon {
              -webkit-flex-basis: 112px;
              -ms-flex-preferred-size: 112px;
              flex-basis: 112px;
              max-width: 112px;
              .icon {
                padding: 20px;
                width: 72px;
                height: 72px;
              }
            }
            .step-content {
              font-size: 14px;
              line-height: 22px;
              .step-title {
                margin: 0 0 10px;
                font-size: 16px;
                line-height: 24px;
              }
              .descr-list {
                li {
                  font-size: 14px;
                  line-height: 22px;
                }
              }
              .button {
                margin-top: 10px;
                width: 128px;
              }
            }
            &:not(:first-child) {
              border-top: 1px solid $border-1;
            }
          }
        }
        .readme {
          margin-top: 30px;
          .title {
            margin-bottom: 12px;
            font-size: 16px;
          }
          .list {
            padding-left: 10px;
            li {
              font-size: 14px;
              line-height: 20px;
              &:not(:first-child) {
                margin-top: 6px;
              }
              &::before {
                margin-left: -10px;
                width: 10px;
              }
            }
          }
        }
      }
      .section-head {
        margin-bottom: 32px;
        .section-title {
          font-size: calc( 24px + 0.75*(100vw - $mc-screen-max)/42.0625);
        }
        .section-description {
          margin-top: 10px;
          font-size: 14px;
          line-height: 18px;
        }
      }
      .review-teaser-actions {
        margin-top: 40px;
        &.row {
          &::before {
            display: none;
          }
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .product-recommendations {
    padding-top: 70px;
    padding-bottom: 70px;
    .recommendations-head {
      margin-bottom: 30px;
      .title {
        font-size: 32px;
        line-height: 36px;
      }
    }
    .recommendations-container {
      padding-bottom: 60px;
      padding-left: 36px;
      padding-right: 36px;
      .recommendations-grid {
        &.wide-space {
          margin-left: -35px;
          margin-right: -35px;
        }
        .grid-item {
          &.wide-space {
            padding-left: 35px;
            padding-right: 35px;
          }
          &:nth-child(n + 4) {
            margin-top: 70px;
          }
          &:nth-child(3n + 2) {
            -webkit-transform: translateY(60px);
            transform: translateY(60px);
          }
        }
      }
    }
  }
  .review-teaser-empty {
    height: 215px;
    .empty-text {
      margin: 0 0 15px;
      font-size: 24px;
    }
    .descr-text {
      font-size: 14px;
    }
    .button {
      margin-top: 30px;
    }
  }
  .pdp-guide-list {
    font-size: 14px;
    line-height: 24px;
    li {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }
}

@media (max-width: $tc-screen-max) and (min-width: $tc-screen-min) {
  .product-information {
      padding-left: 32px;
  }
  .review-teaser-card {
    .title {
      font-size: calc(14px + 0.75*(100vw - #{$mc-screen-max})/42.0625);
    }
  }
}

@media screen and (max-width : $tc-screen-max) {
  .product-recommendations {
    .product-badges {
      .badge-text {
        font-size: 12px;
      }
    }
  }
  .review-teaser-slider {
    .slick-list {
      max-width: 100%;
      padding-right: 18.5%;
    }
  }
  .review-teaser-card {
    padding: 10px;
    .review-score {
      margin-top: .8em;
      margin-left: -10px;
      margin-right: -10px;
    }
    .review-stars-rating-avg-card {
        font-size: 14px;
    }
    .review-stars-descr {
      margin-top: 5px;
      margin-bottom: 8px;
      font-size: 11px;
      line-height: 15px;
    }
    .review-state-card {
      margin-top: 30px;
      margin-left: -10px;
      margin-right: -10px;
      font-size: 11px;
      line-height: 1;
      .state-title {
        margin: 0 0 20px;
        font-weight: 600;
      }
      .sate-data {
        margin: 8px 0 0;
        .label {
          &::after {
            content: ':';
            padding: 0 .25em;
          }
        }
      }
    }
    .picture {
      &+.title {
        margin-top: 6px;
      }
    }
    .title {
      margin-bottom: 6px;
      line-height: 1.285;
    }
  }
}

@media screen and (min-width : $pc-screen-min) {
  .product-information {
    padding-left: 3.54%;
    padding-right: 3.54%;
    padding-top: 0;
  }
  .product-promo-container {
    padding-left: 48px;
    padding-right: 48px;
  }
  .product-promo-container {
    .pdp-details-section {
      .section-head {
        .section-title {
          font-size: 36px;
        }
      }
    }
  }
  .review-teaser-card {
    padding: 20px;
    .review-score {
      margin-left: -20px;
      margin-right: -20px;
    }
    .review-stars-rating-avg-card {
      font-size: 20px;
      letter-spacing: -.025em;
    }
    .review-stars-descr {
      margin-top: 10px;
      margin-bottom: 18px;
      font-size: 12px;
      line-height: 16px;
    }
    .review-bar-card {
      margin-top: 6px;
      .review-bar-type {
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
        text-align: center;
      }
      .review-bar-range {
        position: relative;
        height: 8px;
        margin-top: 12px;
        border: 1px solid;
        overflow: hidden;
        .review-bar-range-puck {
          position: absolute;
          top: 0;
          width: 20%;
          height: 100%;
          background-color: currentColor;
          -webkit-transform: translate3d(-50%,0,0);
          transform: translate3d(-50%,0,0);
        }
      }
      .review-bar-labels {
        margin-top: 10px;
        font-size: 12px;
        line-height: 1;
        letter-spacing: -.025em;
        color: #9b9b9b;
      }
    }
    .review-teaser-card-button {
      margin-top: 26px;
    }
    .picture {
      &+.title {
        margin-top: 18px;
        font-size: 14px;
        line-height: 20px;
        &:before {
          display: inline;
        }
      }
    }
    .title {
      font-size: 30px;
      line-height: 38px;
      &:before {
        display: block;
      }
    }
  }
}

@media screen and (min-width : $pc-screen-wide) {
}

.product-wish {
	position: absolute;
	top: 0;
	left: 0;
	margin: -13px;
	width: 44px;
	height: 44px;
  font-size: 18px;
  color: $font-0;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 213ms cubic-bezier(.4,.9,.3,2.25);
	transition: -webkit-transform 213ms cubic-bezier(.4,.9,.3,2.25);
	transition: transform 213ms cubic-bezier(.4,.9,.3,2.25);
	transition: transform 213ms cubic-bezier(.4,.9,.3,2.25),-webkit-transform 213ms cubic-bezier(.4,.9,.3,2.25);
	&:hover {
		&:not(.set-changed) {
			-webkit-transform: scale(1.25);
			transform: scale(1.25);
		}
	}
}
.wish-action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.add {
    &:not(.set-active) {
      pointer-events: none;
    }
  }
  &.remove {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 213ms ease-in-out;
    transition: -webkit-transform 213ms ease-in-out;
    transition: transform 213ms ease-in-out;
    transition: transform 213ms ease-in-out,-webkit-transform 213ms ease-in-out;
    &:not(.set-active) {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
}
.product-tile {
  position: relative;
  overflow: hidden;
  .product-tile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: .88;
    color: $font-7;
    background-color: rgba(0,0,0,.2);
  }
}
.product-img {
  -webkit-transition: opacity 426ms cubic-bezier(.4,.9,.3,1),visibility 426ms cubic-bezier(.4,.9,.3,1);
  transition: opacity 426ms cubic-bezier(.4,.9,.3,1),visibility 426ms cubic-bezier(.4,.9,.3,1);
  &:not(:first-child) {
    opacity: 0;
  }
}
.product-badges {
  position: absolute;
  top: 14px;
  right: 14px;
  flex-direction: column;
  .badge-text {
    font-size: 14px;
    line-height: 1.2;
    color: $font-0;
  }
}
.product-wish {
  top: 14px;
  left: 14px;
}
.product-tile-details {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -.025em;
  word-break: keep-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  .name {
    margin: 0;
  }
  .price {
    margin: 0;
    span {
      &:not(:last-child) {
        margin-right: .125em;
      }
    }
    .retail {
      color: $font-3;
      text-decoration: line-through;
    }
    .rate {
      font-weight: 400;
      color: $color_11;
    }
  }
  .promos {
    margin: 0;
    color: $color_7;
  }
}
.product-tile-swatches {
  margin-top: auto;
  .swatch-list {
    padding-left: 3px;
    padding-right: 3px;
  }
  .product-tile-swatch-list {
    overflow: hidden;
    white-space: nowrap;
  }
  .product-tile-swatch-list-count {
    margin-left: 4px;
    font-size: 12px;
    color: $font-3;
    white-space: nowrap;
  }
}

.wish-success {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	line-height: .8;
  pointer-events: none;
}
.wish-success-item {
	display: block;
	width: 100%;
	max-height: 20.5%;
	margin-bottom: .25rem;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 213ms;
	transition-duration: 213ms;
	-webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  .set-wish-success & {
    opacity: 1;
    -webkit-transition-duration: 426ms;
    transition-duration: 426ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:nth-child(0) {
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
  }
  &:first-child {
    -webkit-transition-delay: 60ms;
    transition-delay: 60ms;
  }
  &:nth-child(2) {
    -webkit-transition-delay: .12s;
    transition-delay: .12s;
  }
  &:nth-child(3) {
    -webkit-transition-delay: .18s;
    transition-delay: .18s;
  }
  &:nth-child(4) {
    -webkit-transition-delay: .24s;
    transition-delay: .24s;
  }
  &:nth-child(5){
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
  }
  &:nth-child(6){
    -webkit-transition-delay: .36s;
    transition-delay: .36s;
  }
  &:nth-child(7){
    -webkit-transition-delay: .42s;
    transition-delay: .42s;
  }
  &:nth-child(8){
    -webkit-transition-delay: .48s;
    transition-delay: .48s;
  }
}
.wish-success-text{
	display: block;
	width: 100%;
	fill: transparent;
	stroke: currentColor;
  stroke-width: .0125rem;
}
.wish-success-test {
  position: absolute
}

.featured-tile-single {
  position: relative;
  height: 100%;
  &:before {
    content: '';
    display: block;
    padding-bottom: 157.69231%;
    width: 100%;
  }
}
.featured-tile-double {
  position: relative;
  height: 100%;
  &:before {
    content: '';
    display: block;
    padding-bottom: 77.02312%;
    width: 100%;
  }
}
.featured-tile {
  position: relative;
  width: 100%;
  height: 100%;
  color: $font-7;
  background-color: $bg-dimmed;
  -webkit-transition: all .6s cubic-bezier(.4,.9,.3,1);
  transition: all .6s cubic-bezier(.4,.9,.3,1);
}
.featured-tile-image-wrapper,
.featured-tile-image-wrapper-persist-visibility {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .6s cubic-bezier(.4,.9,.3,1);
  transition: all .6s cubic-bezier(.4,.9,.3,1);
}
.featured-tile-contents {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  p {
    margin: 0;
  }
}
.product-set-tile-contents-single {
  padding: 20px;
}

@media screen and (max-width : $mc-screen-max){
  .product-tile-swatches {
    .product-tile-swatch-list {
      width: calc(100% - 25px);
    }
    .product-tile-swatch-list-count {
      &:before {
        content: '+' attr(data-swatch-count);
      }
    }
  }
  .featured-tile-double {
    &:before {
      padding-bottom: 119.42029%;
    }
  }
}
@media screen and (min-width : $tc-screen-min){
	.product-tile-main {
    &:hover {
      .product-img {
        opacity: 1;
      }
    }
  }
  .product-tile-swatches {
    position: relative;
    //padding-top: 6px;

    .product-tile-swatch-list {
      width: calc(100% - 80px);
    }
    .product-tile-swatch-list-count {
      &:before {
        content: attr(data-swatch-count) ' ';
      }
    }
    .product-tile-swatch-text {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      .product-tile:hover & {
        opacity: 0;
        visibility: hidden;
      }
    }
    .product-tile-swatch-list,
    .product-tile-swatch-list-count {
      opacity: 0;
      visibility: hidden;
    }
    .product-tile-swatch-list,
    .product-tile-swatch-list-count,
    .product-tile-swatch-text {
      -webkit-transition: opacity 213ms cubic-bezier(.4,.9,.3,1),visibility 213ms cubic-bezier(.4,.9,.3,1);
      transition: opacity 213ms cubic-bezier(.4,.9,.3,1),visibility 213ms cubic-bezier(.4,.9,.3,1);
      .product-tile:hover &:not(.product-tile-swatch-text) {
        opacity: 1;
        visibility: inherit;
      }
    }
    &.set-has-secondary-badge {
      padding-top: 0;
      .product-tile-swatch-text {
        top: 8px;
      }
    }
  }
  .product-set-tile-image-wrapper {
    opacity: 1;
  }
  .featured-tile-double {
    &:before {
      padding-bottom: 77.02312%;
    }
  }
}

// pswp Cutom
.pswp {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  img {
    max-width: none;
    max-height: none;
    object-fit: cover;
  }
  &,
  .pswp__counter {
    color: $font-0;
  }
  &,
  .pswp__ui {
    -webkit-font-smoothing: auto;
    visibility: visible;
    opacity: 1;
    z-index: 1550;
  }
}
.pswp__button {
  width: 2.875rem;
  height: 2.875rem;
  &.pdp-zoom-close {
    z-index: 1;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    will-change: opacity;
    -webkit-transition: opacity 333ms cubic-bezier(.4,0,.22,1);
    transition: opacity 333ms cubic-bezier(.4,0,.22,1);
    background: none;
    .icon {
      pointer-events: none;
    }
  }
  &,
  &.pswp__button--arrow--left:before,
  &.pswp__button--arrow--right:before {
    background: none;
  }
  &.set-invisible {
    visibility: hidden;
  }
}
.pswp__top-bar {
  &,
  .pswp__ui--fit & {
    z-index: 1;
    top: auto;
    height: auto;
    background-color: transparent;
  }
}
.pswp--svg {
  .pswp__button--arrow--left,
  .pswp__button--arrow--right {
    position: static;
    color: transparent;
    text-indent: -9999px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJwZHAtcmlnaHQtYXJyb3ciIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzEuNDkgMzEuNDkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMxLjQ5IDMxLjQ5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIHN0eWxlPSJmaWxsOiMwMDAwMDA7IiBkPSJNMjEuMjA1LDUuMDA3Yy0wLjQyOS0wLjQ0NC0xLjE0My0wLjQ0NC0xLjU4NywwYy0wLjQyOSwwLjQyOS0wLjQyOSwxLjE0MywwLDEuNTcxbDguMDQ3LDguMDQ3SDEuMTExICBDMC40OTIsMTQuNjI2LDAsMTUuMTE4LDAsMTUuNzM3YzAsMC42MTksMC40OTIsMS4xMjcsMS4xMTEsMS4xMjdoMjYuNTU0bC04LjA0Nyw4LjAzMmMtMC40MjksMC40NDQtMC40MjksMS4xNTksMCwxLjU4NyAgYzAuNDQ0LDAuNDQ0LDEuMTU5LDAuNDQ0LDEuNTg3LDBsOS45NTItOS45NTJjMC40NDQtMC40MjksMC40NDQtMS4xNDMsMC0xLjU3MUwyMS4yMDUsNS4wMDd6Ii8+Cjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 1.375rem;
    height: .8125rem;
    margin: 0;
  }
  .pswp__button--arrow--left {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
.pswp__counter {
  font-size: .75rem;
  line-height: 1.15;
  text-align: center;
  width: 3rem;
  height: auto;
  margin: 0;
  padding: 0;
  position: static;
}
.pswp__caption {
  padding: 2.25rem 1.875rem 4.25rem;
  -webkit-transition: opacity 213ms ease-in-out,visibility 213ms ease-in-out;
  transition: opacity 213ms ease-in-out,visibility 213ms ease-in-out;
  &,
  .pswp__ui--fit & {
    background-color: $bg-1;
  }
}
.pswp__top-bar {
  bottom: 1.34375rem;
}


@media screen and (min-width : $tc-screen-min) {
  .pswp__top-bar {
    bottom: 1.5rem;
  }
}

.uk-modal {
  &.modal-size-guide {
    display: block;
    textarea {
      overflow: hidden;
    }
    .uk-modal-dialog {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      overflow: hidden;
      max-width: 680px;
    }
    .uk-close {
      width: 60px;
      height: 60px;
    }
  }
}
.size-guide-container {
  color: $font-0;
  .size-guide-title {
    margin: 0;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.025em;
  }
  .size-guide-intro-content {
    .title {
      margin: 0;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
      .target {
        &::before {
          content: '';
          display: block;
          width: 1px;
          background-color: $bg-dimmed;
        }
      }
    }
    .descr-text {
      padding-bottom: 30px;
      border-bottom: 1px solid $border-1;
      p {
        margin: 0;
        font-weight: 400;
        letter-spacing: -.025em;
        color: $font-3;
        word-break: keep-all;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
    }
  }
  .size-guide-step-content {
    .picture {
      display: block;
      img {
        display: block;
        width: 100%;
      }
    }
    .step-count {
      line-height: 1;
      letter-spacing: -.025em;
    }
    .step-content {
      letter-spacing: -.025em;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
  .size-guide-descr {
    margin-top: 30px;
    .title {
      margin: 0;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
      color: $font-0;
    }
    .text {
      font-weight: 400;
      letter-spacing: -.025em;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
  .size-guide-content {
    .size-guide-content-header {
      .title {
        margin: 0;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
        color: $font-0;
      }
      .text {
        letter-spacing: -.025em;
        color: $font-3;
        word-break: keep-all;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
      .display-unit {
        margin: 0;
        li {
          &:not(:first-child) {
            &::before {
              content: '';
              display: block;
              margin: 0 10px;
              width: 1px;
              background-color: $bg-2;
            }
          }
          a {
            display: block;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -.025em;
            color: $font-3;
            &.active {
              font-weight: 600;
              color: $font-0;
            }
          }
        }
      }
    }
    .size-guide-chart {
      width: 100%;
      border: 0;
      border-collapse: collapse;
      table-layout: fixed;
      thead {
        th {
          height: 49px;
          font-weight: 600;
          line-height: 1.45;
          letter-spacing: -.025em;
          color: $font-3;
          word-break: keep-all;
          word-wrap: break-word;
          overflow-wrap: break-word;
          border-bottom: 1px solid $border-1;
          background-color: $bg-10;
          &.standard {
            border-right: 1px solid $border-1;
          }
          &.sibling-hover {
            color: $font-7;
            border-color: #62d7e3;
            background-color: #62d7e3;
          }
          &.exception {
            width: 50px;
          }
        }
      }
      tbody {
        tr {
          th {
            height: 49px;
            &.exception {
              width: 50px;
              border: 1px solid $border-1;
              border-top: 0;
              .row-text {
                display: block;
                padding: 7px 0;
              }
            }
          }
          td {
            height: 48px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -.025em;
            color: $font-0;
            text-align: center;
            vertical-align: middle;
            &.hover {
              color: $font-7;
              background-color: $color-2;
            }
            &.sibling-hover {
              color: $font-7;
              background-color: #66dbe7;
            }
            &.standard {
              border-right: 1px solid $border-1;
            }
          }
          &:nth-child(even) {
            td {
              background-color: $bg-10;
              &.hover {
                color: $font-7;
                background-color: $color-2;
              }
              &.sibling-hover {
                color: $font-7;
                background-color: #62d7e3;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width : $mc-screen-max){
  .uk-modal {
    &.modal-size-guide {
      background-color: $bg-1;
      .uk-modal-dialog {
        height: 100%;
        overflow: auto;
      }
    }
  }
  .size-guide-container {
    padding: 40px 30px 30px;
    .size-guide-title {
      margin-bottom: 30px;
      font-size: 20px;
    }
    .size-guide-intro-content {
      .title {
        font-size: 15px;
        .target {
          &::before {
            margin: 0 8px;
            height: 14px;
          }
        }
      }
      .descr-text {
        margin-top: 14px;
        p {
          font-size: 12px;
          line-height: 17px;
          &:not(:first-child) {
            margin-top: 6px;
          }
        }
      }
    }
    .size-guide-step-content {
      margin: 30px -30px 0;
      padding: 0 30px;
      overflow: auto;
			-webkit-overflow-scrolling: touch;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      .step-count {
        margin: 15px 0 0;
        font-size: 13px;
      }
      .step-content {
        margin: 6px 0 0;
        font-size: 12px;
        line-height: 17px;
      }
    }
    .size-guide-descr {
      padding-top: 30px;
      border-top: 1px solid $border-1;
      .title {
        font-size: 15px;
      }
      .text {
        margin: 14px 0 0;
        font-size: 12px;
        line-height: 17px;
      }
      & + .size-guide-content {
        margin-top: 50px;
      }
    }
    .size-guide-content {
      margin-top: 80px;
      .size-guide-content-header {
        margin-bottom: 15px;
        .title {
          font-size: 15px;
        }
        .text {
          margin: 8px 0 0;
          font-size: 12px;
          line-height: 17px;
        }
        .display-unit {
          li {
            &:not(:first-child) {
              &::before {
                height: 12px;
              }
            }
            a {
              font-size: 12px;
            }
          }
        }
      }
      .size-guide-chart {
        thead {
          th {
            font-size: 11px;
          }
        }
        tbody {
          tr {
            td {
              font-size: 11px;
            }
          }
        }
      }
      & + .size-guide-content {
        margin-top: 50px;
      }
    }
  }
}

@media screen and (min-width : $tc-screen-min) {
  .uk-modal {
    &.modal-size-guide {
      padding: 32px;
    }
  }
  .size-guide-container {
    padding: 38px 38px 60px;
    .size-guide-title {
      margin-bottom: 50px;
      font-size: 24px;
      text-align: center;
    }
    .size-guide-intro-content {
      .title {
        font-size: 16px;
        .target {
          &::before {
            margin: 0 10px;
            height: 16px;
          }
        }
      }
      .descr-text {
        margin-top: 20px;
        p {
          font-size: 14px;
          line-height: 24px;
          &:not(:first-child) {
            margin-top: 8px;
          }
        }
      }
    }
    .size-guide-step-content {
      margin-top: 30px;
      .step-count {
        margin: 20px 0 0;
        font-size: 18px;
      }
      .step-content {
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 22px;
      }
    }
    .size-guide-descr {
      .title {
        font-size: 16px;
      }
      .text {
        margin: 16px 0 0;
        font-size: 14px;
        line-height: 24px;
      }
    }
    .size-guide-content {
      margin-top: 60px;
      .size-guide-content-header {
        margin-bottom: 30px;
        .title {
          font-size: 16px;
        }
        .text {
          margin: 10px 0 0;
          font-size: 14px;
          line-height: 24px;
        }
        .display-unit {
          li {
            &:not(:first-child) {
              &::before {
                height: 16px;
              }
            }
            a {
              font-size: 16px;
            }
          }
        }
      }
      .size-guide-chart {
        thead {
          th {
            font-size: 14px;
          }
        }
        tbody {
          tr {
            td {
              font-size: 14px;
            }
          }
        }
      }
      & + .size-guide-content {
        margin-top: 40px;
      }
    }
  }
}
