.modal-quickview {
  .product-wish {
    z-index: 2;
  }
  .quickview {
    z-index: 1;
    position: relative;
  }
}
.quickview-media {
  position: relative;
  .carousel-count {
    z-index: 1;
    position: absolute;
    font-size: 14px;
    line-height: 1;
    color: $font-7;
    mix-blend-mode: exclusion;
  }
}
.quickview-details {
  position: relative;
  .product-summary {
    .product-name {
      margin: 0;
      font-weight: 600;
      letter-spacing: -.025em;
      word-break: keep-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .product-price {
      letter-spacing: -.025em;
      span {margin-right: .5em;}
      .retail {
        color: $font-3;
        text-decoration: line-through;
      }
      .rate {
        font-weight: 400;
        color: $color-5;
      }
      .promo {
        letter-spacing: -.025em;
        color: $color-2;
      }
    }
    .product-link {
      line-height: 1;
      letter-spacing: -.025em;
      color: $font-3;
    }
    .product-badge {
      margin-bottom: 0;
      color: $font-3;
    }
  }
  .toggle-box {
    > .toggle-label {
      height: 3.25rem;
      .variation-information {
        padding: 0;
        .product-style {
          .value {
            font-weight: 600;
          }
        }
      }
      &:after {
        position: static;
        margin: 0;
        margin-left: auto;
      }
    }
    .toggle-content {
      display: none;
      overflow: hidden;
      &.active {
        display: block;
      }
    }
  }
}
#quickview-wrap {
  &.cart_opt_chg {
    .product-option_radio {
  		&.selector-color {
  			display: none;
  		}
  	}
  }
}


@media screen and (max-width : $mc-screen-max){
  .uk-modal {
    &.modal-quickview {
      background-color: $bg-1;
      .uk-modal-dialog {
        height: 100%;
      }
    }
  }
  .modal-quickview {
    .uk-modal-dialog {
      > .product-wish {
        top: 16px;
        left: 16px;
        margin: 0;
      }
    }
  }
  .quickview-media {
    padding: 16px 41.875% 16px 14px;
    border-bottom: 1px solid $border-1;
    overflow: hidden;
    .slick-list {
      overflow: visible;
    }
    .pdp-gallery-item {
      padding-left: 2px;
      padding-right: 2px;
    }
    .slick-dots {
      display: none!important;
    }
    .carousel-count {
      left: 26px;
      bottom: 26px;
    }
  }
  .quickview-details {
    padding: 16px;
    > .scrollable {
      overflow: visible;
    }
    .product-summary {
      .product-name {
        font-size: 16px;
        line-height: 20px;
      }
      .product-price {
        margin: 8px 0 0;
        font-size: 12px;
        line-height: 14px;
        .promo {
          font-size: 12px;
        }
      }
      .product-link {
        margin-top: 8px;
        font-size: 11px;
      }
      .product-badge {
        margin-top: 6px;
        font-size: 10px;
        line-height: 1;
      }
      .product-showdetails {
        display: none;
      }
      .product-review {
        display: none;
      }
      &.preview {
        .product-price {
          margin: 6px 0 0;
        }
      }
    }
    .toggle-box-list {
      margin-top: 20px;
    }
    .toggle-box {
      margin-left: -16px;
      margin-right: -16px;
      border-top: 1px solid $border-1;
      border-bottom: 1px solid $border-1;
      > .toggle-label {
        padding-left: 16px;
        padding-right: 16px;
        .variation-information {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          margin: 0;
          padding: 0;
          width: 100%;
          max-width: calc(100% - 24px);
          font-size: 12px;
          line-height: 1;
          border-bottom: 0;
          -webkit-box-ordinal-group: 1;
          -webkit-order: 0;
          -ms-flex-order: 0;
          order: 0;
          .label {
            display: inline-block;
            color: $font-3;
          }
          .product-style {
            .value {
              font-weight: 600;
            }
          }
          .product-unique {
            margin: 0;
          }
        }
        &:after {
          position: static;
          margin: 0;
          margin-left: auto;
        }
      }

      &:not(:first-child) {
        margin-top: -1px;
      }
      &.active {
        border-bottom: 0;
      }
    }
    .product-variations {
      .toggle-content {
        .variation-selector {
          margin: 0 0 1px;
          .variation-color {
            max-width: 20%;
          }
          &.selector-color {
            margin-bottom: 0;
            padding: 0 16px 20px;
            border: 0;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
          }
          &.selector-size {
            margin-top: 0;
            padding: 0 16px;
            .variation-size {
              max-width: calc(20% + 1px);
            }
          }
          &.enter-quantity {
            margin-top: 20px;
          }
        }
      }
    }
    .product-variations-action {
      position: static;
      margin-top: 34px;
      padding: 0;
    }
  }
}
@media screen and (min-width : $tc-screen-min) {
  .uk-modal {
    &.modal-quickview {
      padding: 40px;
    }
  }
  .quickview-media {
    .slick-dots {
      display: -webkit-box!important;
      display: -webkit-flex!important;
      display: -ms-flexbox!important;
      display: flex!important;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 9px;
      margin: 0;
      padding-left: 0;
      list-style-type: none;
      color: #fff;
      mix-blend-mode: exclusion;
      li {
        margin: 0 2px;
        font-size: 0;
        &:not(.slick-active) {
          opacity: .25;
        }
        button {
          width: 30px;
          height: 25px;
          font-size: 0;
          &:after {
            display: block;
            height: 3px;
            background-color: currentColor;
            content: "";
          }
        }
      }
    }
    .carousel-count {
      left: 20px;
      bottom: 16px;
    }
  }
  .quickview-details {
    height: 100%;
    > .scrollable {
      position: absolute;
      top: 0;
      left: 0;
      padding: 40px;
      width: 100%;
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    .product-summary {
      .product-name {
        font-size: 20px;
        line-height: 28px;
      }
      .product-price {
        margin: 12px 0 0;
        font-size: 18px;
        line-height: 24px;
        .promo {
          font-size: 14px;
        }
      }
      .product-link {
        margin-top: 12px;
        font-size: 12px;
      }
      .product-badge {
        margin-top: 7px;
        font-size: 14px;
        line-height: 20px;
      }
      .product-showdetails {
        margin-top: 8px;
        font-size: 14px;
        line-height: 20px;
        .product-description {
          display: inline;
          margin: 0;
        }
      }
      .product-review {
        margin-top: 10px;
        font-size: 16px;
        line-height: 1;
        .reviews-stars-link {
          display: inline-block;
        }
        .review-average {
          margin-left: 10px;
          font-size: 14px;
          color: $font-3;
        }
      }
      &.preview {
        margin-bottom: 24px;
        .product-name {
          font-size: 18px;
          line-height: 22px;
        }
        .product-price {
          margin: 7px 0 0;
          font-size: 18px;
          line-height: 22px;
        }
      }
      &:not(.preview) {
        margin-bottom: 30px;
        padding-bottom: 40px;
        border-bottom: 1px solid $border-1;
      }
    }
    .toggle-box {
      border: 1px solid $border-1;
      > .toggle-label {
        padding-left: 20px;
        padding-right: 20px;
        .variation-information {
          max-width: calc(100% - 44px);
        }
      }
      .toggle-content {
        display: none;
        .variation-selector {
          margin: 0 -1px -1px;
          width: calc(100% + 3px);
        }
        &.active {
          display: block;
        }
      }
      &:not(:first-child) {
        border-top: 0;
      }
    }
    .product-variations {
      margin-bottom: 30px;
      .variation-selector {
        .variation-color {
          max-width: 20%;
        }
        &.selector-color {
          margin-bottom: 0;
          padding: 0 20px 20px;
          border: 0;
        }
        &.selector-size {
          margin-top: 0;
          .variation-size {
            max-width: calc(20% + 1px);
          }
          .print-message {
            padding: 10px;
          }
        }
        &.enter-quantity {
          margin-top: 20px;
        }
      }
      .toggle-content {
        .variation-selector {
          &.selector-size {
            &::before {
              content: '';
              display: block;
              margin-bottom: -1px;
              width: 100%;
              height: 1px;
              background-color: $bg-2;
            }
          }
        }
      }
    }
    .product-variations-action {
      margin-top: auto;
    }
  }
}
