.uk-modal {
  &.modal-restock {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  &.modal-restock-policy {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.request-restock-notify {
  .restock-notify-title {
    font-weight: 600;
    line-height: -.025em;
  }
  .request-restock-section {
    .product-restock {
      border-bottom: 1px solid $border-1;
      .product-name {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
      }
      .product-options {
        margin-top: 8px;
        font-size: 14px;
        line-height: 1;
        .label {
          color: $font-3;
        }
      }
    }
    .product-variations {
      border-bottom: 1px solid $border-1;
      .print-message {
        display: none;
        margin: 0;
        font-size: 12px;
        line-height: 1;
        color: $color-5;
        &.active {
          display: block;
        }
      }
      .variation-selector {
        .variation-size {
          max-width: calc(20% + 1px);
        }
      }
      .request-restock-input {
        margin-top: 32px;
        .input-label {
          margin-bottom: 12px;
          font-size: 12px;
          line-height: 1;
        }
        .input-field {
          input {
            padding-left: 1em;
            width: 100%;
            line-height: 1.5;
            border: 1px solid $border-1;
          }
        }
      }
      .agree-policy {
        margin-bottom: 32px;
        .agree-checkbox {
          position: relative;
          cursor: pointer;
          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            &:not(:checked) + .icon {
              color: transparent;
            }
          }
          .icon {
            vertical-align: top;
            border: 1px solid $border-4;
          }
          .text {
            font-size: 12px;
            line-height: 1;
            vertical-align: top;
          }
        }
        .print-message {
          padding-top: 8px;
        }
      }
    }
    .restock-guide {
      .restock-guide-title {
        margin-bottom: 1em;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
      }
      .restock-guide-list {
        margin: 0;
        > li {
          letter-spacing: -.025em;
          word-break: keep-all;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
      }
    }
    .request-restock-action {
      margin-top: 32px;
    }
  }
}
.request-restock-policy {
  .restock-policy-title {
    font-weight: 600;
    letter-spacing: -.025em;
  }
  .restock-policy-section {
    .notification {
      letter-spacing: -.025em;
    }
    .policy-content {
      background-color: $bg-10;
      dl {
        margin: 0;
      }
      dt {
        font-weight: 600;
        line-height: 1;
        letter-spacing: -.025em;
      }
      dd {
        margin-top: 5px;
        letter-spacing: -.025em;
        color: $font-3;
      }
    }
    .description {
      margin: 0;
      letter-spacing: -.025em;
      word-break: break-word;
      word-break: keep-all;
    }
  }
}
.request-restock-success {
  .request-success-title {
    font-weight: 600;
    letter-spacing: -.025em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .request-success-section {
    text-align: center;
    .result-message {
      margin-bottom: 1em;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
    }
    .description {
      margin: 0;
      letter-spacing: -.025em;
    }
  }
}

@media screen and (max-width : $mc-screen-max){

  .uk-modal {
    &.modal-restock {
      background-color: #fff;
      .uk-modal-dialog {
        min-height: 100%;
        padding-bottom: 16px;
      }
    }
    &.modal-restock-policy {
      background-color: #fff;
      .uk-modal-dialog {
        min-height: 100%;
        padding-bottom: 16px;
      }
    }
    &.modal-request-restock-success {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
      .uk-modal-dialog {
        padding-bottom: 16px;
      }
    }
  }
  .request-restock-notify {
    .restock-notify-title {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      height: 90px;
      font-size: 20px;
    }
    .request-restock-section {
      padding-left: 30px;
      padding-right: 30px;
      .product-restock {
        padding-bottom: 15px;
        .product-image {
          margin-right: 15px;
          -webkit-flex: 0 1 90px;
          -ms-flex: 0 1 90px;
          flex: 0 1 90px;
          max-width: 90px;
        }
        .product-restock-details {
          -webkit-flex-basis: calc(100% - 105px);
          -ms-flex-preferred-size: calc(100% - 105px);
          flex-basis: calc(100% - 105px);
        }
      }
      .product-variations {
        .variation-selector {
          &.selector-size {
            margin-top: 15px;
          }
        }
        .request-restock-input {
          .input-field {
            input {
              height: 45px;
              font-size: 13px;
            }
          }
        }
        .agree-policy {
          margin-top: 15px;
          margin-bottom: 32px;
          .agree-checkbox {
            .icon {
              margin-right: 5px;
              padding: 4px;
              width: 22px;
              height: 22px;
            }
          }
        }
      }
      .restock-guide {
        padding-top: 15px;
        .restock-guide-title {
          font-size: 13px;
        }
        .restock-guide-list {
          > li {
            font-size: 12px;
            line-height: 17px;
            &:not(:first-child) {
              margin-top: 4px;
            }
          }
        }
      }
      .request-restock-action {
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
      }
    }
  }
  .request-restock-policy {
    .restock-policy-title {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      height: 90px;
      font-size: 20px;
    }
    .restock-policy-section {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 80px;
      .notification {
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 16px;
      }
      .policy-content {
        padding: 16px;
        dl {
          margin: 0;
        }
        dt {
          font-size: 12px;
          &:not(:first-child){
            margin-top: 14px;
          }
        }
        dd {
          font-size: 12px;
          line-height: 16px;
        }
      }
      .description {
        margin-top: 13px;
        font-size: 12px;
        line-height: 16px;
      }
      .agree-policy-action {
        position: absolute;
        bottom: 24px;
        left: 15px;
        right: 15px;
        width: calc(100% - 30px);
      }
    }
  }
  .request-restock-success {
    .request-success-title {
      padding-top: 10px;
      height: 90px;
      font-size: 20px;
    }
    .request-success-section {
      padding: 0 20px 20px;
      text-align: center;
      .result-message {
        font-size: 14px;
      }
      .description {
        font-size: 12px;
        line-height: 16px;
      }
      .action-group {
        margin-top: 38px;
      }
    }
  }
}

@media screen and (min-width : $tc-screen-min) {
  .uk-modal {
    &.modal-restock {
      padding: 90px 32px;
      .uk-modal-dialog {
        max-width: 464px;
      }
    }
    &.modal-restock-policy {
      padding: 90px 32px;
      .uk-modal-dialog {
        max-width: 464px;
      }
    }
    &.modal-restock-policy {
      padding: 90px 32px;
      .uk-modal-dialog {
        max-width: 464px;
      }
    }
    &.modal-request-restock-success {
      padding: 90px 32px;
      .uk-modal-dialog {
        max-width: 464px;
      }
    }
  }
  .request-restock-notify {
    .restock-notify-title {
      height: 94px;
      font-size: 24px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .request-restock-section {
      padding: 0 38px 38px;
      .product-restock {
        padding-bottom: 24px;
        .product-image {
          margin-right: 18px;
          -webkit-flex: 0 1 100px;
          -ms-flex: 0 1 100px;
          flex: 0 1 100px;
          max-width: 100px;
        }
        .product-restock-details {
          -webkit-flex-basis: calc(100% - 118px);
          -ms-flex-preferred-size: calc(100% - 118px);
          flex-basis: calc(100% - 118px);
          padding-top: 8px;
        }
      }
      .product-variations {
        .variation-selector {
          &.selector-size {
            margin-top: 24px;
          }
        }
        .request-restock-input {
          .input-field {
            input {
              height: 50px;
              font-size: 14px;
            }
          }
        }
        .agree-policy {
          margin-top: 20px;
          margin-bottom: 32px;
          .agree-checkbox {
            .icon {
              margin-right: 8px;
              padding: 1px;
              width: 12px;
              height: 12px;
            }
          }
        }
      }
      .restock-guide {
        padding-top: 18px;
        .restock-guide-title {
          font-size: 14px;
        }
        .restock-guide-list {
          > li {
            font-size: 14px;
            line-height: 20px;
            &:not(:first-child) {
              margin-top: 6px;
            }
          }
        }
      }
    }
  }
  .request-restock-policy {
    .restock-policy-title {
      padding-left: 38px;
      padding-right: 38px;
      height: 94px;
      font-size: 24px;
    }
    .restock-policy-section {
      padding: 0 38px 38px;
      .notification {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
      }
      .policy-content {
        padding: 32px;
        dl {
          margin: 0;
        }
        dt {
          font-size: 14px;
          &:not(:first-child){
            margin-top: 16px;
          }
        }
        dd {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .description {
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
      }
      .agree-policy-action {
        margin-top: 32px;
      }
    }
  }
  .request-restock-success {
    .request-success-title {
      height: 94px;
      font-size: 24px;
    }
    .request-success-section {
      padding: 0 20px 20px;
      text-align: center;
      .result-message {
        font-size: 18px;
      }
      .description {
        font-size: 14px;
        line-height: 20px;
      }
      .action-group {
        margin-top: 30px;
      }
    }
  }
}
