.uk-modal {
  &.modal-reviews-display {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  &.modal-reviews-submit {
    .uk-modal-dialog {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      overflow: hidden;
    }
    .uk-close {
      width: 60px;
      height: 60px;
    }
    .contents { height: 100%; }
  }
}
.reviews-summary {
  .reviews-summary-product-name {
    letter-spacing: -.025em;
  }
  .review-stars-rating-icon:not(:last-child) {
    margin-right: .45em;
  }
  .review-stars-num-rating {
    margin-left: 10px;
    line-height: 1;
  }
  .review-stars-descr {
    margin-top: 10px;
    margin-bottom: 28px;
    font-size: 12px;
    line-height: 16px;
  }
  .review-bar {
    margin-bottom: 0;
    &:not(:first-child) {
      margin-top: 18px;
    }
    .review-bar-type {
      margin-bottom: 12px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
    }
    .review-bar-range {
      position: relative;
      height: 8px;
      margin-top: 12px;
      border: 1px solid;
      overflow: hidden;
      .row {
        margin-left: -1px;
        margin-right: -1px;
        height: 100%;
        .range {
          &.active {
            background-color: $bg-dimmed;
          }
        }
      }
      .review-bar-range-puck {
        position: absolute;
        top: 0;
        width: 20%;
        height: 100%;
        background-color: currentColor;
        -webkit-transform: translate3d(-50%,0,0);
        transform: translate3d(-50%,0,0);
      }
    }
    .review-bar-labels {
      margin-top: 10px;
      font-size: 12px;
      line-height: 1;
      letter-spacing: -.025em;
      color: #9b9b9b;
    }
  }
  .reviews-summary-product-actions {
    margin-top: 24px;
  }
  .reviews-summary-product-media {
    position: relative;
    &::before {
      display: block;
      content: '';
      padding-bottom: 93.361%;
      width: 100%;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      object-fit: cover;
    }
  }
  .reviews-summary-options {
    border-top: 1px solid $border-1;
    border-bottom: 1px solid $border-1;
    .button-review-sort {
      font-weight: 600;
      border: 1px solid $border-1;
      &:not(.active) {
        color: $font-1;
        background-color: $bg-2;
      }
    }
  }
  .reviews-summary-item {
    -webkit-transition: background-color 213ms ease-in-out 213ms;
    transition: background-color 213ms ease-in-out 213ms;
    &:not(:first-child) {
      border-top: 1px solid $border-1;
    }
    &.set-highlighted {
      background-color: #fef5e6;
    }
  }
  .reviews-summary-item-title {
    font-weight: 900;
  }
  .review-stars-summary-item {
    line-height: 1;
  }
  .reviews-summary-item-description {
    margin-top: 30px;
    font-size: 14px;
    letter-spacing: -.025em;
  }
  .reviews-summary-item-user-info {
    line-height: 1;
    letter-spacing: -.025em;
    .date {
      margin-left: 8px;
      color: $font-1;
    }
  }
  &.customer-review-container {
    position: static;
  }
}
.review-submit-head {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
  height: 60px;
  word-break: keep-all;
  text-align: center;
  background-color: $bg-1;
  border-bottom: 2px solid $border-1;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform .6s cubic-bezier(.4,.9,.3,1);
  transition: -webkit-transform .6s cubic-bezier(.4,.9,.3,1);
  transition: transform .6s cubic-bezier(.4,.9,.3,1);
  transition: transform .6s cubic-bezier(.4,.9,.3,1),-webkit-transform .6s cubic-bezier(.4,.9,.3,1);
  .step-progress-active & {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .review-submit-head-title {
    margin: 0;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -.025em;
  }
  .review-submit-progress {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: $color-2;
    -webkit-transition: width 1s ease-in-out 426ms;
    transition: width 1s ease-in-out 426ms;
  }
}
.review-submit-steps {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: 100%;
  padding-top: 0;
  -webkit-transition: padding .6s cubic-bezier(.4,.9,.3,1);
  transition: padding .6s cubic-bezier(.4,.9,.3,1);
  .step-progress-active & {
    padding-top: 60px;
  }
  .gutter-normal {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.review-submit-step {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 0;
  &:not(.step-delay-fade) {
    -webkit-transition: height 426ms ease-in-out,margin-top 426ms ease-in-out,opacity 426ms ease-in-out,visibility 426ms ease-in-out;
    transition: height 426ms ease-in-out,margin-top 426ms ease-in-out,opacity 426ms ease-in-out,visibility 426ms ease-in-out;
  }
  &:not(:first-child)+.active:not(.step-hide-previous) {
    margin-top: -75px;
  }
  &,
  &.complete-hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  &.active {
    height: 100%;
    opacity: 1;
    visibility: inherit;

    .step-actions {
      opacity: 1;
      visibility: inherit;
    }
  }
  &.complete {
    opacity: 1;
    visibility: inherit;
    z-index: 3;
    &:not(.active){
      height: 95px;
      &.step-review {
        height: 75px;
      }
      &.step-media {
        height: 230px;
      }
      .step-contents {
        -webkit-transform: scale(.5) translateZ(0);
        transform: scale(.5) translateZ(0);
      }
    }
    &:after {
      width: 100%;
      -webkit-transition-delay: 213ms;
      transition-delay: 213ms;
    }
    > * {
      pointer-events: none;
    }
    .step-element-complete-collapse {
      overflow: hidden;
      opacity: 0;
    }
    .step-element-complete-collapse,
    .step-element-complete-collapse-visible {
      max-height: 0;
      margin-top: 0;
      margin-bottom: 0;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      overflow: hidden;
    }
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1px;
    margin: auto;
    height: 1px;
    max-width: 0;
    background-color: $bg-2;
    -webkit-transition: max-width .6s ease-in-out;
    transition: max-width .6s ease-in-out;
  }
  &.set-media-added {
    .review-submit-sign-skip {
        display: none;
    }
    .review-submit-media-container {
      .review-submit-media-file {
        display: none;
      }
    }
  }
  &:not(.set-media-added) {
    .review-submit-sign-next {
      display: none;
    }
    .step-element-complete-collapse-visible {
      opacity: 0;
      visibility: hidden;
    }
  }
}
.step-contents {
  width: 100%;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 426ms ease-in-out;
  transition: -webkit-transform 426ms ease-in-out;
  transition: transform 426ms ease-in-out;
  transition: transform 426ms ease-in-out,-webkit-transform 426ms ease-in-out;
  .step-element-complete-collapse,
  .step-element-complete-collapse-visible {
    max-height: 512px;
    -webkit-transition: margin 213ms ease-in-out,max-height 213ms ease-in-out,opacity 213ms ease-in-out 213ms;
    transition: margin 213ms ease-in-out,max-height 213ms ease-in-out,opacity 213ms ease-in-out 213ms;
    &.set-collapsed {
      max-height: 0;
      margin-top: 0;
      margin-bottom: 0;
      overflow: hidden;
      opacity: 0;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
  }
  .step-title {
    margin-bottom: 1em;
    line-height: 1;
  }
  .step-title-small {
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 1;
  }
  .step-descr {
    line-height: 1.5;
    &.intro-descr {
      line-height: 1;
      margin-bottom: 16px;
    }
  }
  textarea {
    display: block;
    width: 100%;
    font-family: inherit;
    letter-spacing: -.025em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    outline: none;
    overflow-x: hidden;
    resize: none;
  }
}
.step-contents-description {
  max-width: 720px;
  -webkit-transform: translate3d(0,-5rem,0);
  transform: translate3d(0,-5rem,0);
}
.review-submit-step-preview {
  -webkit-transition: margin 213ms ease-in-out;
  transition: margin 213ms ease-in-out;
  .review-submit-rating-item {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 8px;
    &.set-checked {
      .icon {
        background-position: 100%;
      }
    }
    .review-submit-rating-radio {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      &:checked + .icon {
        background-position: 100%;
      }
    }
    .icon {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NS41IDM4IiBpZD0ic3ZnIj48cGF0aCBkPSJNMTUuNSAxNmwtMTAuMi4xIDguMiA2LjdMMTAuNiAzM2w4LjMtNi4xIDguNCA2LjEtMi45LTEwLjIgOC4yLTYuNy0xMC41LS4xLTMuMy0xMC0zLjMgMTB6bTMuMy0xNmw0LjcgMTQuMSAxNC4yLjEtMTEuMyA5LjIgNC4xIDE0LjMtMTEuNy04LjYtMTEuNiA4LjcgNC4xLTE0LjNMMCAxNC4ybDE0LjItLjFMMTguOCAwek01Ni41IDBsNC43IDE0LjEgMTQuMy4xLTExLjQgOS4yIDQuMSAxNC40LTExLjctOC42LTExLjYgOC42TDQ5IDIzLjRsLTExLjMtOS4yIDE0LjItLjFMNTYuNSAweiIvPjwvc3ZnPg==);
      background-position: 0;
      background-size: 200%;
      background-repeat: no-repeat;
    }
  }
}
.review-submit-range-bar {
  margin: 0 auto;
  max-width: 406px;
  .review-submit-range {
    height: 20px;
    border: 1px solid;
    .review-submit-range-item {
      display: inline-block;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      &:not(:last-child) {
        border-right: 1px solid;
      }
      &.set-checked {
        .icon {
          background-color: $bg-dimmed;
        }
      }
      .review-submit-range-selection {
        display: block;
        position: relative;
        height: 100%;
        cursor: pointer;
        -webkit-transition: background-color 426ms cubic-bezier(.4,.9,.3,1);
        transition: background-color 426ms cubic-bezier(.4,.9,.3,1);
        &:hover {
          background-color: $bg-2;
        }
        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          visibility: hidden;
          &:checked+.icon {
            background-color: $bg-dimmed;
          }
        }
        .icon {
          display: block;
          width: 100%;
          height: 100%;
          cursor: pointer;
          -webkit-transition: background-color 426ms cubic-bezier(.4,.9,.3,1);
          transition: background-color 426ms cubic-bezier(.4,.9,.3,1);
        }
      }
    }
  }
  .review-submit-range-labels {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1;
    color: $font-3;
  }
}
.review-submit-media-container {
  margin: 0 auto;
  max-width: 260px;
  &.set-border {
    -webkit-box-shadow: inset 0 0 0 1px $bg-dimmed;
    box-shadow: inset 0 0 0 1px $bg-dimmed;
  }
  .review-submit-media-file {
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }
  .review-submit-media-add {
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    .review-submit-media-add-icon {
      margin-bottom: 16px;
    }
  }
  .warning-copyright {
    position: absolute;
    right: 0;
    left: 0;
    max-width: 100%;
    margin: auto;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -.025em;
    bottom: 18px;
  }
}
.review-submit-media-change {
  display: inline-block;
  margin-top: 1em;
  font-size: 12px;
  cursor: pointer;
  .review-submit-media-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
}
.review-submit-descr-section {
  position: relative;
  &.review-submit-descr-section-more {
    margin: 80px auto 0;
  }
  .review-submit-descr-subtitle-intro {
    margin-bottom: 56px;
    .review-submit-step-subtitle {
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
    }
    .review-submit-step-subtext {
      margin-top: 15px;
      font-size: 14px;
      line-height: 1;
      color: $font-3;
      letter-spacing: -.025em;
    }
  }
  .review-submit-descr {
    border: none;
    outline: none;
  }
  .review-submit-descr-intro {
    margin: 0 auto;
    max-width: 600px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    *::-webkit-input-placeholder {
      color: $font-1;
    }
    *:-moz-placeholder {
      color: $font-1;
    }
    *::-moz-placeholder {
      color: $font-1;
    }
    &:-ms-input-placeholder {
      color: $font-1;
    }
    &::placeholder {
      color: $font-1;
    }
    &:focus {
      *::-webkit-input-placeholder {
        color: $font-6;
      }
      *:-moz-placeholder {
        color: $font-6;
      }
      *::-moz-placeholder {
        color: $font-6;
      }
      &:-ms-input-placeholder {
        color: $font-6;
      }
      &::placeholder {
        color: $font-6;
      }
    }
  }
  .review-submit-descr-count {
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 100%;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -.025em;
    color: $font-1;
  }
  .review-submit-descr-trigger-container,
  .review-submit-descr-trigger-target {
    -webkit-transition: opacity 213ms cubic-bezier(.4,.9,.3,1),visibility 213ms cubic-bezier(.4,.9,.3,1);
    transition: opacity 213ms cubic-bezier(.4,.9,.3,1),visibility 213ms cubic-bezier(.4,.9,.3,1);
  }
  .review-submit-descr-trigger-container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &.active {
      opacity: 0;
      visibility: hidden;
    }
    .review-submit-descr-subtitle-more {
      margin-bottom: 1em;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .review-submit-descr-trigger-target{
    &:not(.active) {
      opacity: 0;
    }
  }
}
.step-actions {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-transition: opacity .6s ease-in-out 1s;
  transition: opacity .6s ease-in-out 1s;
  opacity: 0;
  visibility: hidden;
  .set-invisible {
    opacity: 0;
    visibility: hidden;
  }
  .button-submit {
    width: 160px;
  }
}
.dump-input-image {
  display: none;
}

@media screen and (max-width : $mc-screen-max){
  .uk-modal {
    &.modal-reviews-display {
      background-color: $bg-1;
      .uk-modal-dialog {
        min-height: 100%;
        padding-bottom: 60px;
      }
    }
    &.modal-reviews-submit {
      background-color: $bg-1;
      .uk-modal-dialog {
        height: 100%;
      }
    }
  }
  .reviews-summary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .reviews-summary-sticky {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 60px;
      -ms-flex: 1 0 60px;
      flex: 1 0 60px;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.025em;
    }
    .reviews-summary-scrollable {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .reviews-summary-product-name {
      margin-bottom: 14px;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      text-align: center;
    }
    .reviews-summary-head {
      padding-left: 16px;
      padding-right: 16px;
      text-align: center;
    }
    .review-stars-summary {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 20px;
    }
    .review-stars-rating-summary {
      font-size: 14px;
      line-height: 1;
    }
    .review-stars-num-rating-summary {
      font-size: 18px;
      line-height: 14px;
    }
    .review-stars-descr {
      margin-bottom: 22px;
    }
    .review-bar {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
    .reviews-summary-product-actions {
      margin-top: 28px;
    }
    .reviews-summary-options {
      margin-top: 30px;
      margin-left: -16px;
      margin-right: -16px;
      padding: 30px 16px 0;
      border-bottom: 0;
      .button-review-sort {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
        height: 45px;
        font-size: 13px;
      }
    }
    .reviews-summary-item {
      padding: 30px;
    }
    .reviews-summary-item-media {
      margin-bottom: 28px;
    }
    .reviews-summary-item-title {
      margin-bottom: 32px;
      font-size: 16px;
      line-height: 20px;
      -webkit-flex-basis: calc(100% - 96px);
      -ms-flex-preferred-size: calc(100% - 96px);
      flex-basis: calc(100% - 96px);
      max-width: calc(100% - 96px);
    }
    .review-stars-summary-item {
      -webkit-flex-basis: 96px;
      -ms-flex-preferred-size: 96px;
      flex-basis: 96px;
      max-width: 96px;
      font-size: 14px;
    }
    .review-bar-summary-item {
      .review-bar-type {
        font-size: 12px;
      }
    }
    .reviews-summary-item-user-info {
      margin-top: 16px;
    }
  }
  .review-submit-head-sm-fixed {
    position: fixed;
  }
  .review-submit-steps {
    .gutter-normal {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .review-submit-step {
    &.step-option,
    &.step-size,
    &.step-color {
      padding-left: 20px;
      padding-right: 20px;
    }
    &.complete {
      &:after {
        max-width: 100%;
      }
    }
  }
  .step-contents {
    .step-title {
      font-size: 25px;
    }
    .step-title-small {
      font-size: 25px;
    }
    .step-descr {
      .intro-descr {
        margin-bottom: 22px;
      }
    }
    .review-submit-card {
      margin: 0 auto 30px;
      width: 75%;
      max-width: 430px;
    }
  }
  .review-submit-media-container {
    .warning-copyright {
      font-size: 10px;
      line-height: 14px;
    }
  }
  .review-submit-descr-section {
    .review-submit-descr-subtitle-intro {
      .review-submit-step-subtitle {
        font-size: 16px;
      }
      .review-submit-step-subtext {
        margin-top: 8px;
        font-size: 12px;
      }
    }
    .review-submit-descr-intro {
      font-size: 25px;
      line-height: 33px;
    }
  }
  .step-actions {
    .button-submit {
      width: calc(100% - 32px);
    }
  }
}

@media screen and (min-width : $tc-screen-min) {

  .uk-modal {
    &.modal-reviews-display {
      padding: 90px 32px;
    }
    &.modal-reviews-submit {
      padding: 32px;
      .uk-modal-dialog {
        height: 580px;
      }
    }
  }
  .reviews-summary {
    .reviews-summary-row {
      padding: 50px;
    }
    .reviews-summary-product-name {
      margin-top: -6px;
      font-size: 30px;
      font-weight: 600;
      line-height: 38px;
    }
    .reviews-summary-item-title,
    .reviews-summary-product-details {
      max-width: 228px;
    }
    .review-stars-summary {
      margin-top: 28px;
    }
    .review-stars-num-rating-summary,
    .review-stars-rating-summary {
      font-size: 24px;
    }
    .review-bar-summary-item {
      max-width: 228px;
    }
    .reviews-summary-options  {
      padding: 10px 50px;
      .button-review-sort {
        -webkit-flex-basis: 140px;
        -ms-flex-preferred-size: 140px;
        flex-basis: 140px;
        max-width: 140px;
        height: 40px;
        font-size: 14px;
      }
    }
    .reviews-summary-item-title {
      margin-bottom: 28px;
      font-size: 18px;
      line-height: 26px;
    }
    .review-stars-summary-item {
      font-size: 18px;
    }
    .reviews-summary-item-description {
      margin-top: 30px;
      max-width: 288px;
      font-size: 14px;
      line-height: 20px;
    }
    .reviews-summary-item-user-info {
      margin-top: 24px;
    }
    .reviews-summary-item-media {
      padding-left: 50px;
    }
  }
  .review-submit-head {
    zoom: 1;
  }
  .review-submit-step {
    &.complete {
      &:after {
        max-width: 340px;
      }
    }
  }
  .step-contents {
    .step-title {
      font-size: 40px;
    }
    .step-descr {
      .intro-descr {
        margin-bottom: 16px;
      }
    }
    .review-submit-card {
      margin: 0 auto 16px;
      max-width: 234px;
    }
    .review-submit-start {
      max-width: 340px;
    }
  }
}
