.content-container{
	overflow: hidden;
	// margin-bottom: 50px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	.content-title{
		font-size: 30px;
		color: $title_main-color;
		text-align: center;
		padding-bottom: 24px;
	}

	.image-container{
		width: 100%;
		text-align: center;
		img {
			width:100%;
		}
	}

	// tab에서는 title을 따로 사용하기 때문에 숨김
	.tab-container{
		.content-title{ display: none;}
	}

	.tab-title-container{
		margin: 0px auto 20px auto;
		text-align: center;
	}

	// 중복 여백 제거
	.content-container{
		margin-bottom: 0px;
	}

	&.category-banner{
		.primary-image{
			 position:absolute;
			 left:33.33334%;
			 width:33.33334%;
			 text-align: center;
		}
		.product-item{
			&.margin-item{
				margin-right:33.33334%;
			}
		}
	}

	.header-title{
		color: $title_main-color;
		text-align: center;
		padding-bottom:20px;
		font-size:$font-size-xl;
		display: block;
	}

	.imageList-container{
		// 처음에는 생성된 dom에 js로 class를 적용하기 전이라 숨김
		display: none;
		margin-left:auto;
		margin-right:auto;
		.image-item{
			position: relative;
			.hover{
				position:absolute;
				top:0px;
				left:0px;
				display: none;
				width: 100%;
			}
			img{
				width:100%;
			}
		}
	}

	.text-banner-container{
		position: relative;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		background:#000;

		li:not(:first-child){
			display: none;
		}

		.text-wrap{
			display: table;
			width: 100%;
			height:48px;
			.text-content{
				display: table-cell;
				vertical-align: middle;
				> *{
					font-size: $font-size-l;
					color:#fff;
					font-weight: lighter;
				}
			}
		}
		.bx-wrapper {
			height: 48px;
			.bx-viewport {
				height: 48px !important;
			}
		}

		.bx-controls-direction{
			display: none;
		}

		.bxslider-controls{
			a{
				position: absolute;
			    top: 50%;
					margin-top: -15px;
			    outline: 0;
			    display: block;
			    width: 30px;
			    height: 30px;
			    line-height: 30px;
			    color: #fff;
			    i:before{
			    	font-size: $font-size-s;
			    }
			}
			.btn-prev{
				left:36px;
			}
			.btn-next{
				right:64px;
			}
		}
		.btn-bnr-close {
			position: absolute;
			right: 36px;
			top: 50%;
			margin-top: -8px;
			z-index: 100;
			span {
				font-size: 16px;
				color: #fff;
				vertical-align: middle;
			}
		}

	}
}
.imgdown_mobile-content {
	ul {
		padding: 0;
		li {
			padding: 0 10px;
			a {
				display: block;
				color: $default-color;
				text-decoration: none;
				padding-bottom: 20px;
				border-bottom: 5px solid #e8e8e8;
				img {
					width: 100%;
				}
				div {
					padding: 20px;
					height: 140px;
					margin-bottom: 0;
					font-size: $font-size-m;
					font-weight: bold;
					color: $font-2;
					.text_tlt {
						display: block;
						font-size: 28px;
						font-weight: bold;
						margin-bottom: 15px;
						color: $default-color;
						line-height: 1em;
					}
				}
			}
		}
	}
}

// 191018 _ new 글로벌 배너
.promo-content-wrapper {
	-webkit-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;
	>.content {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		margin: 0 auto;
		max-width: 552px;
		width: 100%;
		opacity: 0;
		-webkit-transition: opacity 1s cubic-bezier(.4,.9,.3,1);
		transition: opacity 1s cubic-bezier(.4,.9,.3,1);
		.promo-slide {
			padding-top: 18px;
			padding-bottom: 18px;
			height: 100%;
			font-size: 12px;
			line-height: 16px;
		}
		.slick-arrow {
			position: absolute;
			width: 14px;
			height: 100%;
		}
		.slick-prev {
			left: -14px;
		}
		.slick-next {
			right: -14px;
		}
	}
	>.content.slick-initialized {
		opacity: 1;
	}
}

@media screen and (min-width:768px){
	.promo-content-wrapper {
		-webkit-flex-basis: 66.66667%;
		-ms-flex-preferred-size: 66.66667%;
		flex-basis: 66.66667%;
		max-width: 66.66667%;
		>.content {
			.promo-slide {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: $breakpoint-medium) {
	.content-container{
		.content-title{
			margin:0px 0 10px !important;
			font-size: 18px;
		}

		&.category-banner{
			.primary-image{
				 position:relative;
				 left:0;
				 width:100%;
			}
			.product-item{
				&.margin-item{
					margin-right:0;
				}
			}
		}
		.text-banner-container{
			.text-wrap{
				height: 38px;
				.text-content{
					> *{
						font-size: $font-size-sm;
					}
				}
			}
			.bx-wrapper {
				height: 38px;
				.bx-viewport {
					height: 38px !important;
				}
			}
			.bxslider-controls{
				display: none;
			}
			.btn-bnr-close {
				right: 8px !important;
			}
		}
	}

	.tab-title-container{
		margin: 0 auto -1px;
	}

}
@media (max-width: $breakpoint-small) {
	.imgdown_mobile-content {
		ul {
			li {
				padding: 0;
				a {
					div {
						height: auto;
					}
				}
			}
		}
	}
}
