.theme-white {
  color: $font-0;
  background-color: $bg-1;
}

.theme-black {
  $theme-color-0: $font-7;
  $theme-color-1: $font-1;
  $theme-color-2: $font-0;
  $theme-border-0: $border-8;
  $theme-border-1: $border-9;
  $theme-border-2: $border-7;
  $theme-bg-0: $bg-dimmed;
  $theme-bg-1: $bg-7;
  $theme-bg-2: $bg-1;
  $theme-bg-dimmed: $bg-1;

  color: $theme-color-0;
  background-color: $theme-bg-0;
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }
  .header {
    .header-content-wrapper {
      background-color: $theme-bg-0;
      border-bottom: 1px solid $theme-border-0;
    }
    &.fixit-active {
      .header-content-wrapper {
        border-color: $theme-border-0;
      }
    }
  }
  .header-navigation {
    .logo {
      color: $theme-color-0;
    }
  }
  .header-utility {
    .search {
      border-left: 1px solid $theme-border-0;
      .toggle {
        color: $theme-color-0;
      }
    }
  }
  .marketing-tiles {
    border-color: $theme-border-0;
    .tile-item {
      &:not(:first-child) {
        border-color: $theme-border-0;
      }
    }
  }
  .pdp-header-wrap {
    .breadcrumb-element {
      color: #000;
    }
  }
  .product-promo-container {
    .pdp-details-section {
      border-color: $theme-border-0;
      &.pdp-more-info {
        border-color: $theme-border-0;
      }
      &.product-tags {
        .product-tags-contents {
          .tag-key {
            color: $theme-color-1;
          }
          .tag-value {
            color: $theme-color-0;
          }
        }
      }
      &.draw-progress-guide {
        border-top-color: $theme-border-0;
        .guide-head {
          .title {
            color: $theme-color-0;
          }
        }
        .guide-progress {
          border-color: $theme-border-0;
          .step-item {
            &:not(:first-child) {
              border-color: $theme-border-0;
            }
          }
        }
      }
    }
  }
  .product-variations {
    .variation-selector {
      .variation-size {
        color: $theme-color-0;
        border-color: $theme-border-0;
        background-color: $theme-bg-0;
        input {
          &:checked + .variation-anchor {
            color: $theme-color-2;
            background-color: $theme-bg-dimmed;
          }
          &:disabled + .variation-anchor {
            color: $theme-color-1;
            background-color: $theme-bg-1;
          }
        }
      }
      &.selector-color {
        border-color: $theme-border-0;
      }
    }
  }
  .product-variations-action {
    .col {
      background-color: $theme-bg-0;
    }
    :not(a.button){
      .btn-buy {
        color: $theme-color-2;
        background-color: $theme-bg-2;
      }
    }
    .btn-wish {
      border: 1px solid $theme-border-2;
      background: $theme-bg-0;
      .product-wish{
        color:$theme-color-0;
      }
    }
  }
  .product-recommendations {
    border-color: $theme-border-0;
  }
  .product-information {
    .product-summary {
      border-color: $theme-border-0;
    }
    .draw-pdp-info {
      .product-entry-info {
        .row {
          border-color: $theme-border-0;
        }
      }
      .product-draw-inputs {
        .field-row {
          border-color: $theme-border-0;
        }
        .input-text {
          color: $theme-color-0;
          background-color: $theme-bg-0;
        }
      }
    }
  }
  .plp-actions {
    border-color: $theme-border-0;
    background-color: $theme-bg-0;
    >.container {
      background-color: $theme-bg-0;
    }
    .filter-toggle {
      border-color: $theme-border-0;
    }
    .sort-select {
      border-color: $theme-border-0;
      .input-select-inline {
        color: $theme-color-0;
        background-color: $theme-bg-0;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46.7 36'%3E%3Cpath fill='%23FFF' d='M23.5 33.333L47 0H0z'/%3E%3C/svg%3E");
      }
    }
  }
  .plp-refinements-container {
    .refinements {
      border-color: $theme-border-0;
    }
    .refinement-link {
      &::after {
        content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 18'%3E%3Cpath fill='%23FFF' d='M23.543 2.371L21.171 0 8.286 12.886 2.371 6.971 0 9.343l7.629 7.628v-.028l.657.657z' /%3E%3C/svg%3E");
      }
    }
    .toggle-box {
      > .toggle-label {
        &::after {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 40 40'%3E%3Cpath fill='%23FFF' d='M40 17.857H22.143V0h-4.286v17.857H0v4.286h17.857V40h4.286V22.143H40z' /%3E%3C/svg%3E");
        }
        &.active::after {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 40 5'%3E%3Cpath fill='%23FFF' d='M0 0h40v4.5H0z' /%3E%3C/svg%3E");
        }
      }
    }
    &:not(.active) {
      .swatch {
        &:not(.swatch-color).selected {
          color: $theme-color-2;
          background-color: $theme-bg-2;
        }
      }
      .toggle-box {
        &:not(:last-child) {
          border-color: $theme-border-0;
        }
      }
    }
    
  }
  .limited-edition-container {
    .slider-content-wrapper {
      border-color: $theme-border-0;
    }
    .limited-edition-list {
      .filter-list {
        .filter-item {
          &:not(.active) {
            color: $theme-color-1;
          }
        }
      }
      .list-content-container {
        .limited-edition-item {
          .product-badge-date {
            color: $theme-color-2;
            background-color: $theme-bg-dimmed;
            &::before {
              background-color: $theme-bg-0;
            }
          }
          .product-action {
            .button {
              &.disabled {
                color: $theme-color-1;
              }
            }
          }
        }
      }
    }
  }
  .plp-grid-item {
    .product-tile {color: #fff}
  }
  // 이벤트 페이지 상품 안 텍스트 색상변경
  .product-tile {color: $font-0;}

  .reviews-summary {
    .reviews-summary-item-title {color: #444;}
    .reviews-summary-product-name {color: #444;}
  }
  
  
  
  .footer {
    color: $theme-color-0;
    background-color: $theme-bg-0;
  }
  .footer-container {
    color: $theme-color-1;
    border-color: $theme-border-0;
    &>.content {
      .col {
        &:not(:first-child) {
          border-color: $theme-border-0;
        }
      }
    }
    .column-item-title {
      color: $theme-color-0;
    }
    .socialmedia-links {
      .link-social {
        color: $theme-color-1;
        border-color: $theme-border-0;
        &:first-child {
          border-color: $theme-border-0;
        }
      }
    }
    .column-family-sites {
      &>.column-item-title::after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 40 40'%3E%3Cpath fill='%23fff' d='M40 17.857H22.143V0h-4.286v17.857H0v4.286h17.857V40h4.286V22.143H40z' /%3E%3C/svg%3E");
      }

      @media screen and (max-width: $mc-screen-max) {
        border-color: $theme-border-0;
      }
    }
  }
  .footer-company {
    border-top: 1px solid $theme-border-0;
    .sites-info {
      .company-attr.company-name {
        @media screen and (max-width: $mc-screen-max) {
          color: $theme-color-0;
        }
      }
      .footer-policy {
        a { 
            color: #fff;
        }
    }
    }
    .text-link {
      @media screen and (max-width: $mc-screen-max) {
        color: $theme-color-0;
      }
    }


  }
  main {
    .button {
      color: $theme-color-0;
      &.disabled {
        color: $theme-color-0;
        border-color: $theme-bg-1;
        background-color: transparent;
      }
    }
    .button-primary {
      color: $theme-color-2;
      border-color: $theme-bg-dimmed;
      background-color: $theme-bg-dimmed;
      &.disabled {
        color: $theme-color-0;
        border-color: $theme-bg-1;
        background-color: $theme-bg-1;
      }
      &:hover:not([disabled]):not(.disabled) {
        color: $theme-color-0;
        background-color: $theme-bg-0;
        opacity: 1;
      }
    }
    @media screen and (max-width: $mc-screen-max) {
      .plp-refinements-container {
        .button-primary {
          color: $theme-color-0;
          border-color: $theme-bg-0;
          background-color: $theme-bg-0;
        }
      }
    }
    [class*=modal] {
      .button-primary {
        color: $theme-color-0;
        border-color: $theme-bg-0;
        background-color: $theme-bg-0;
        &:hover:not([disabled]):not(.disabled) {
          color: $theme-color-2;
          background-color: $theme-bg-2;
          opacity: 1;
        }
      }
      .product-variations {
        .variation-selector {
          .variation-size {
            color: $theme-color-2;
            border-color: $theme-bg-0;
            background-color: $theme-bg-2;
            input:checked + .variation-anchor {
              color: $theme-color-0;
              background-color: $theme-bg-0;
            }
          }
        }
      }
    }
    .button-secondary {
      &:hover:not([disabled]):not(.disabled) {
        color: $theme-color-2;
        border-color: $theme-bg-dimmed;
        background-color: $theme-bg-dimmed;
        opacity: 1;
      }
    }
  }
  & ~ .loading {
    .dim {
      background-color: $theme-bg-dimmed;
      opacity: .3;
    }
  }
}

// 어떤 테마 적용시에도 공통 적용돼야 하는 스타일
.wrapper {
  &[class*=theme-]:not([class*=white]) {
    .product-etc-action {
      .delivery-links {
        .link {
          color: $font-7;
        }
      }
    }
    .product-promo-container {
      .pdp-details-section.pdp-more-info {
        .pdp-details-toggle {
          color: $font-7;
        }
      }
    }
    .footer-company {
      .socialmedia-links {
        color: $font-7;
      }
    }
    :not(.plp-refinements-container){
      .swatch-color {
        &:after {
          border: 1px solid $border-9;
        }
      }
    }
    .plp-refinements-container.active{
      .swatch-color {
        &:after {
          border: 1px solid rgba(0,0,0,.1);
        }
      }
    }
    .plp-actions {
      .result-count {
        color: $font-7;
      }
      .filter-toggle {
        .toggle-text {
          color: $font-7;
        }
      }
    }
  }
}
