
video.video-js {
    visibility: hidden;
}
.video-js {
    color: $font-0;
    background-color: $bg-dimmed;
    video {
        height: 100%;
        object-fit: cover;
    }
    .vjs-big-play-button {
        display: none;
    }
    .vjs-control-text {display:block;position:absolute;margin:-1px;padding:0;width:1px;height:1px;border:0;clip:rect(0 0 0 0);overflow:hidden;}
    .vjs-play-control {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: auto;
        .vjs-icon-placeholder {
            display: block;
            width: 38px;
            height: 44px;
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='video--play' viewBox='0 0 25 28'%3E%3Cpath fill-rule='evenodd' fill='%23fff' d='M0 0v28l24.248-14z'%3E%3C/path%3E%3C/svg%3E");
        }
    }
    .vjs-text-track-display,
    .vjs-loading-spinner,
    .vjs-time-control,
    .vjs-spacer,
    .vjs-hidden,
    .vjs-control:not(.vjs-play-control) {
        display: none;
    }
    &:not(.vjs-paused) {
        .vjs-play-control {
            display: none;
        }
    }
    &.vjs-playing {
        background-color: transparent;
    }
    .pdp-media-gallery &.gallery-media {
        height: 100%;
    }
}